@model KGERP.Service.Implementation.Configuration.VMCommonProduct
@using KG.Core.Services
@{
    ViewData["Title"] = "Requisition Materials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>
        Requisition Materials
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Requisition Materials</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("CommonRawProduct", "Configuration", FormMethod.Post, new { id = "commonProductFormId", @class = "formValidator", @enctype = "multipart/form-data" }))
            {
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box-danger">

                        <!-- /.box-header -->
                        <div class="box-body">
                            @Html.HiddenFor(model => model.Image, new { Value = "", id = "txtPhoto" })
                            @Html.HiddenFor(model => model.ID, new { id = "productId" })
                            @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
                            @Html.HiddenFor(model => model.CompanyFK, new { id = "CompanyFK" })

                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Requisition Type:</label>
                                        @Html.DropDownListFor(model => model.Common_ProductCategoryFk, Model.ProductCategoryList as SelectList, "==Select Requisition Type==", new { id = "ddlCommonProductCategoryFk", @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(model => model.ProductCategoryId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Requisition Subtype :</label>
                                        @Html.DropDownListFor(model => model.Common_ProductSubCategoryFk, Model.ProductSubCategoryList as SelectList, "=Select Requisition Subtype=", new { id = "ddlCommonProductSubCategoryFk", @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(model => model.ProductSubCategoryId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Material Name :</label>
                                        @Html.TextBoxFor(model => model.Name, new { id = "txtProductName", @class = "form-control", @placeholder = "Materials Name", required = "required" })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Select Unit :</label>
                                        @Html.DropDownListFor(model => model.Common_UnitFk, Model.UnitList as SelectList, "===Select Unit===", new { id = "ddlCommonUnitFk", @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(model => model.Common_UnitFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            <button type="button" onclick="resetForm()" class="btn btn-secondary btn-block" data-dismiss="modal">Reset</button>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="submit" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-plus'></i> Add</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="box-footer">
                        </div>
                        <div class="box">
                            <div class="box-danger">
                                <div class="box-header">
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="table-responsive text-nowrap">
                                        <table id="KgErpDataTable" style="100%; background-color:#ddd;" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>SL</th>
                                                    <th>Requisition Type</th>
                                                    <th>Requisition Subtype</th>
                                                    <th>Material Name</th>
                                                    <th>Unit Name</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>

                                            @{int sl = 0;
                                            }
                                            <tbody>
                                                @if (Model.DataList != null)
                                                {
                                                    foreach (var item in Model.DataList)
                                                    {
                                                        <tr>
                                                            <td>@(++sl)</td>
                                                            <td>
                                                                @item.CategoryName
                                                            </td>
                                                            <td>
                                                                @item.SubCategoryName
                                                            </td>
                                                            <td>
                                                                @item.Name
                                                            </td>
                                                            <td>
                                                                @item.UnitName
                                                            </td>
                                                            <td>
                                                                <a id="@item.ID" onclick=" makeEditble(@item.ID);" class="linkPointer" title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                                <a id="@item.ID" onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                                                   data-placement="top">
                                                                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="box-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>

@using (Html.BeginForm("CommonRawProduct", "Configuration", FormMethod.Post, new { id = "commonProductFormId", @class = "formValidator", @enctype = "multipart/form-data" }))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(model => model.ID, new { Value = "", id = "productIdDelete" })
    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionIdDelete" })
    @Html.HiddenFor(model => model.CompanyFK, new { Value = "", id = "CompanyFKDelete" })

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Raw Materials Delete</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete this raw materials?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i>Confirm</button>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        function makeEditble(id) {
            if (id !== null) {
                $.ajax({
                type: "get",
                url: "@Url.Action("CommonProductByIDGet", "Configuration")",
                    data: { id: id },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {

                        $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                        $('#productId').val(data.ID);
                        $('#txtCategoryName').val(data.CategoryName)
                        $('#ActionId').val(2);
                        $('#txtProductName').val(data.Name);
                        $('#ddlCommonUnitFk').val(data.Common_UnitFk);
                        $('#txtMRPPrice').val(data.MRPPrice);
                        $('#txtSalePrice').val(data.MRPPrice);
                        $('#txtTradePrice').val(data.TPPrice);
                        $('#txtTradePrice').val(data.TPPrice);
                        $('#ddlCommonProductCategoryFk').val(data.Common_ProductCategoryFk).trigger('change');

                        $.ajax({
                            type: "GET",
                            url: "@Url.Action("CommonProductSubCategoryGet","Configuration")",
                            datatype: "Json",
                            data: { companyId : "@Model.CompanyFK", categoryId: data.Common_ProductCategoryFk },
                            success: function (data2) {
                                if (data2) {
                                    $("#ddlCommonProductSubCategoryFk").empty();
                                    $("#ddlCommonProductSubCategoryFk").append("<option value=''>==Select Requisition Subtype==</option>");

                                    $(data2).each(function (index2, item2) {
                                        $("#ddlCommonProductSubCategoryFk").append("<option value='" + item2.Value + "'>" + item2.Text + "</option>");
                                    });

                                    $('#ddlCommonProductSubCategoryFk').val(data.Common_ProductSubCategoryFk);
                                }
                            }
                        });
                        window.scrollTo({ top: 0, behavior: 'smooth' });
                    }
                });
            }
        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#productIdDelete').val(id);
                $('#ActionIdDelete').val(3);
                $('#CompanyFKDelete').val("@Model.CompanyFK");

            }
        }

        function resetForm() {
            $('#commonProductFormId')[0].reset();
            $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Add");

        }

    </script>
}