

@model KGERP.Service.Implementation.Configuration.VMCommonSupplier

@{
    ViewData["Title"] = "Dealer / Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>
        Dealer / Customer
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Dealer / Customer</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("CommonCustomer", "Configuration", FormMethod.Post, new { id = "commonCustomerformId", @class = "formValidator", @enctype = "multipart/form-data" }))
            {
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box-danger">

                        <!-- /.box-header -->
                        <div class="box-body">

                            @Html.HiddenFor(model => model.ID, new { id = "customerId" })
                            @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
                            @Html.HiddenFor(model => model.CompanyFK, new { id = "CompanyFK" })

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Dealer/Customer Name:</label>
                                        @Html.TextBoxFor(model => model.Name, new { id = "txtCustomerName", @class = "form-control", @autocomplete = "off", @placeholder = "Customer Name", required = "required" })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Phone:</label>
                                        @Html.TextBoxFor(model => model.Phone, new { id = "txtPhone", @class = "form-control", @placeholder = "Contact" })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Email:</label>
                                        @Html.TextBoxFor(model => model.Email, new { id = "txtEmail", @class = "form-control", @autocomplete = "off", @placeholder = "Email" })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Payment Mode:</label>
                                        @Html.DropDownListFor(model => model.PaymentType, Model.PaymentTypeList as SelectList, "--Payment Mode--", new { id = "txtPaymentType", @class = "form-control", required = "true" })
                                        @Html.ValidationMessageFor(model => model.PaymentType, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Division:</label>
                                        @Html.DropDownListFor(model => model.Common_DivisionFk, Model.DivisionList as SelectList, "--Division--", new { id = "ddlCommon_DivisionFk", @class = "form-control", required = "true" })
                                        @Html.ValidationMessageFor(model => model.Common_DivisionFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">District:</label>
                                        @Html.DropDownListFor(model => model.Common_DistrictsFk, Model.DistrictList as SelectList, "--District--", new { id = "ddlCommon_DistrictsFk", @class = "form-control", required = "true" })
                                        @Html.ValidationMessageFor(model => model.Common_DistrictsFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Upazila:</label>
                                        @Html.DropDownListFor(model => model.Common_UpazilasFk, Model.UpazilasList as SelectList, "--Upazila--", new { id = "ddlCommon_UpazilasFk", @class = "form-control", required = "true" })
                                        @Html.ValidationMessageFor(model => model.Common_UpazilasFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Zone:</label>
                                        @Html.DropDownListFor(model => model.ZoneId, Model.ZoneList as SelectList, "--Select Zone--", new { id = "ddlZoneId", @class = "form-control", required = "true" })
                                        @Html.ValidationMessageFor(model => model.ZoneId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Propietor:</label>
                                        @Html.TextBoxFor(model => model.ContactPerson, new { id = "txtContactPerson", @class = "form-control", @placeholder = "Contact Person" })
                                        @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Security Amount:</label>
                                        @Html.TextBoxFor(model => model.SecurityAmount, new { id = "txtSecurityAmount", @class = "form-control", @placeholder = "Security Amount" })
                                        @Html.ValidationMessageFor(model => model.SecurityAmount, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Customer Type:</label>
                                        @Html.DropDownListFor(model => model.CustomerTypeFk, Model.CustomerTypeList as SelectList, new { id = "ddCustomerTypeFk", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CustomerTypeFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">NID NO:</label>
                                        @Html.TextBoxFor(model => model.NID, new { id = "txtNID", @class = "form-control", @placeholder = "NID NO" })
                                        @Html.ValidationMessageFor(model => model.NID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Credit Limit:</label>
                                        @Html.TextBoxFor(model => model.CreditLimit, new { id = "txtCreditLimit", @class = "form-control", @placeholder = "Credit Limit" })
                                        @Html.ValidationMessageFor(model => model.CreditLimit, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Address:</label>
                                        @Html.TextAreaFor(model => model.Address, new { id = "txtAddress", @class = "form-control", @placeholder = "Address" })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Business Address:</label>
                                        @Html.TextAreaFor(model => model.BusinessAddress, new { id = "txtBusinessAddress", @class = "form-control", @placeholder = "Business Address" })
                                        @Html.ValidationMessageFor(model => model.BusinessAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Nominee Name:</label>
                                        @Html.TextBoxFor(model => model.NomineeName, new { id = "txtNomineeName", @class = "form-control", @placeholder = "Nominee Name" })
                                        @Html.ValidationMessageFor(model => model.NomineeName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Nominee Phone:</label>
                                        @Html.TextBoxFor(model => model.NomineePhone, new { id = "txtNomineePhone", @class = "form-control", @placeholder = "Nominee Phone" })
                                        @Html.ValidationMessageFor(model => model.NomineePhone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Nominee Relation:</label>
                                        @Html.DropDownListFor(model => model.NomineeRelation, Model.NomineeRelationList as SelectList,"--Select Relation--", new { id = "ddNomineeRelation", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.NomineeRelation, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Nominee NID NO:</label>
                                        @Html.TextBoxFor(model => model.NomineeNID, new { id = "txtNomineeNID", @class = "form-control", @placeholder = "Nominee NID NO" })
                                        @Html.ValidationMessageFor(model => model.NomineeNID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-9">
                                    @*<button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>*@
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-plus'></i> Add</button>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                        </div>
                        <div class="box">
                            <div class="box-danger">
                                <div class="box-header">

                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="table-responsive text-nowrap">
                                        <table id="KgErpDataTable" style="background-color:#ddd;" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>SL</th>
                                                    <th>Acc Info</th>
                                                    <th>Code</th>
                                                    <th>

                                                        Name
                                                    </th>
                                                    <th>
                                                        Propietor
                                                    </th>
                                                    <th>
                                                        Customer Type
                                                    </th>
                                                    <th>
                                                        Phone
                                                    </th>
                                                    <th>
                                                        Email
                                                    </th>
                                                    <th>
                                                        NID
                                                    </th>
                                                    <th>
                                                        Credit Limit
                                                    </th>
                                                    <th>
                                                        Address
                                                    </th>
                                                    <th>
                                                        Zone
                                                    </th>

                                                    <th>
                                                        Security Amount
                                                    </th>

                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            @{int sl = 0;
                                            }
                                            <tbody>
                                                @foreach (var item in Model.DataList)
                                                {
                                                    <tr>
                                                        <td>@(++sl)</td>
                                                        <td>@item.Common_CountriesFk || @item.HeadGLId || @item.NomineeName</td>
                                                        <td>
                                                            @item.Code
                                                        </td>
                                                        <td>
                                                            <a href="~/Configuration/CommonCustomerByID?customerId=@item.ID" target="_blank">@item.Name</a>

                                                        </td>
                                                        <td>
                                                            @item.ContactPerson
                                                        </td>
                                                        <td>
                                                            <span class="bg-gray-light">
                                                                @item.CustomerType
                                                            </span>
                                                        <td>
                                                            @item.Phone
                                                        </td>
                                                        <td>
                                                            @item.Email
                                                        </td>
                                                        <td>
                                                            @item.NID
                                                        </td>
                                                        <td>
                                                            @item.CreditLimit
                                                        </td>
                                                        <td>
                                                            @item.Address, @item.Upazila, @item.Division @item.District, @item.Country
                                                        </td>
                                                        <td>
                                                            @item.ZoneName
                                                        </td>
                                                        <td>
                                                            @item.SecurityAmount
                                                        </td>

                                                        <td>
                                                            <button id="@item.ID" type="button" onclick="makeEditble(@item.ID);" class="linkPointer btn btn-warning" title="Edit"><i class="fa fa-pencil-square-o"></i></button>
                                                            <button id="@item.ID" type="button" onclick="makeDeletable(@item.ID);" class="linkPointer btn btn-danger" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                                                    data-placement="top">
                                                                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                            </button>

                                                            @if (item.VendorTypeId == 2)
                                                            {
                                                                <a href="@Url.Action("Index","VendorOffer", new { vendorId = item.ID , productType ='F'})" title="Customer Offer" class="btn btn-primary btn-xs">
                                                                    <i class="fa fa-wrench" aria-hidden="true"></i>
                                                                </a>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>




                                </div>
                                <div class="box-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>

    </div>
</section>


@using (Html.BeginForm("CommonCustomer", "Configuration", FormMethod.Post, new { id = "commonCustomerformId", @class = "formValidator", @enctype = "multipart/form-data" }))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(model => model.ID, new { Value = "", id = "customerIdDelete" })
    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionIdDelete" })
    @Html.HiddenFor(model => model.CompanyFK, new { id = "CompanyFKDelete" })

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Customer Delete</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete this customer?</h3>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i>Confirm</button>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">


        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();


        });
        $("#ddlZoneId").change(function (e) {
            var zoneId = $("#ddlZoneId :selected").val();
                $.ajax({
                type: "GET",
                url: "@Url.Action("CommonSubZonesGet", "Configuration")",
                datatype: "Json",
                    data: { id: zoneId },
                    success: function (data) {
                    var items = "";
                        if (data) {
                            $("#ddlSubZoneId").empty();
                            $("#ddlSubZoneId").append("<option value=''>==Select Territory==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlSubZoneId").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                            });

                        }
                    }
                });
       });

         $("#ddlCommon_DivisionFk").change(function (e) {
                var commonDivisionFk = $("#ddlCommon_DivisionFk :selected").val();
                $.ajax({
                type: "GET",
                url: "@Url.Action("CommonDistrictsGet","Configuration")",
                datatype: "Json",
                data: { id:  commonDivisionFk },
                    success: function (data) {
                    var items = "";
                        if (data) {
                            $("#ddlCommon_DistrictsFk").empty();
                            $("#ddlCommon_DistrictsFk").append("<option value=''>==Select District==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommon_DistrictsFk").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                            });

                        }
                    }
                });
       });


        $("#ddlCommon_DistrictsFk").change(function (e) {
                var commonDistrictsFk = $("#ddlCommon_DistrictsFk :selected").val();
                $.ajax({
                type: "GET",
                url: "@Url.Action("CommonUpazilasGet", "Configuration")",
                datatype: "Json",
                data: { id:  commonDistrictsFk},
                    success: function (data) {
                    var items = "";
                        if (data) {
                            $("#ddlCommon_UpazilasFk").empty();
                            $("#ddlCommon_UpazilasFk").append("<option value=''>==Select Police Station==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommon_UpazilasFk").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                            });

                        }
                    }
                });
        });


        @*$("#ddlCommon_UpazilasFk").change(function (e) {
                var policeStationsFk = $("#ddlCommon_PoliceStationsFk :selected").val();
                $.ajax({
                type: "GET",
                url: "@Url.Action("CommonPostOfficesGet","Configuration")",
                datatype: "Json",
                data: { id:  policeStationsFk},
                    success: function (data) {
                    var items = "";
                        if (data) {
                            $("#ddlCommon_PostOfficesFk").empty();
                            $("#ddlCommon_PostOfficesFk").append("<option value=''>==Select Post Office==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommon_PostOfficesFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });

                        }
                    }
                });
        });*@




        function makeEditble(id) {
           
            if (id !== null) {
                $.ajax({
                type: "get",
                url: "@Url.Action("FeedCommonCustomerByIDGet", "Configuration")",
                    data: { id: id },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                      
                        $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                        $('#customerId').val(data.ID);
                        $('#ActionId').val(2);
                        $('#CompanyFK').val(data.CompanyFK);
                        $('#txtCustomerName').val(data.Name);
                        $('#txtContactPerson').val(data.ContactPerson);
                        $('#txtPhone').val(data.Phone);


                        $('#txtEmail').val(data.Email);
                        $('#ddlCommon_DivisionFk').val(data.Common_DivisionFk);

                        $('#ddlCommon_DistrictsFk').val(data.Common_DistrictsFk);
                        $('#ddlCommon_UpazilasFk').val(data.Common_UpazilasFk);
                        $('#ddlZoneId').val(data.ZoneId);
                        $('#ddlSubZoneId').val(data.SubZoneId);
                        $('#txtAddress').val(data.Address);
                        $('#txtNID').val(data.NID);
                        $('#txtCreditLimit').val(data.CreditLimit);
                        $('#ddCustomerTypeFk').val(data.CustomerTypeFk);
                        $('#ddNomineeRelation').val(data.NomineeRelation);
                        $('#txtSecurityAmount').val(data.SecurityAmount);
                        $('#ddlCustomerStatus').val(data.CustomerStatus);
                        //$('#txtPropietor').val(data.Propietor);
                        $('#txtPaymentType').val(data.PaymentType);
                        $('#txtBusinessAddress').val(data.BusinessAddress);
                        $('#txtNomineeNID').val(data.NomineeNID);
                        $('#txtNomineePhone').val(data.NomineePhone);
                        $('#txtNomineeName').val(data.NomineeName);



                        window.scrollTo({ top: 0, behavior: 'smooth' });
                    },
                    error: function (error) {
                        console.error(error);
                    }

            });
            }
        }
        function resetForm() {
            $('#commonCustomerformId')[0].reset();
            $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Add");

        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#customerIdDelete').val(id);
                $('#ActionIdDelete').val(3);

            }
        }


    </script>
}
