@using KG.Core.Services;

@model KGERP.Service.Implementation.Configuration.VMCommonSupplier
@{
    Layout = null;
    decimal totalPrice = 0m;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Supplier Details</title>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.10.6/css/ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <style>
       /* h4 {
            border-bottom: 2px solid black;
            display: inline;
        }
*/
        /*.footer {
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
        }*/

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px;
        }

        #page {
            background-color: #fff;
            width: 900px;
            margin: 0px auto;
           /* padding: 0 30px;
            font-size: 13px;*/
        }



        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px;
            }

            body {
                margin-top: 5px;
            }
            /*body {
                margin: 1.6cm;
            }*/
            #haderTitle {
                color: white !important;
                background-color: black !important;
                font-weight: bold !important;
                border-radius: 25px;
                padding: 5px;
            }

            #haderTitleh3 {
                background-color: black !important;
                padding: 4px;
            }

            a[href]:after {
                content: none !important;
            }

            #print, #print * {
                display: none !important;
            }
        }
        /*div.divfooter {
                margin-top: 15px;
                bottom: 0;
                display: inherit;
            }*/
        /*#divfooter {
                display: block !important;
            }*/
        }
    </style>

    <script>
        function printDiv() {
            window.print();
        }
    </script>
</head>


<body>
    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-default">
        Print
    </span>
    <div id="page">
        <div style="min-height: 900px;">                
            <div class="text-center">
                <table style="width:100%">
                    <tr style="text-align:center">
                        <td style="border-bottom:double;font-size:22px"><b>Info of <span style="color:greenyellow;">@Model.Name</span>(@Model.CustomerType)</b></td>
                    </tr>
                </table>
            </div>
         <br />
            <table style="width: 100%" border="1">
                <thead>                   
                    <tr>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 31%"></td>
                       
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 31%"></td>
                    </tr>
                </thead>
                <tbody>
                   

                    <tr>
                        <td style="font-weight: bold;padding:5px;">Supplier</td>
                        <td style="font-weight: bold;padding:5px;">:</td>
                        <td style="padding-left: 5px;padding:5px;"><b>@Model.Name</b></td>
                       
                        <td style="font-weight: bold;padding:5px;">Code</td>
                        <td style="font-weight: bold;padding:5px;">:</td>
                        <td style="padding-left: 5px;padding:5px;">@Model.Code</td>
                    </tr>


                    <tr>
                        <td style="font-weight: bold;padding:5px;">Phone</td>
                        <td style="font-weight: bold;padding:5px;">:</td>
                        <td style="padding-left: 5px;padding:5px;">@Model.Phone</td>
                      
                        <td style="font-weight: bold;padding:5px;">Email</td>
                        <td style="font-weight: bold;padding:5px;">:</td>
                        <td style="padding-left: 5px;padding:5px;">@Model.Email</td>
                    </tr>

                    <tr>
                        <td style="font-weight: bold;padding:5px;">NID</td>
                        <td style="font-weight: bold;padding:5px;">:</td>
                        <td style="padding-left: 5px;padding:5px;">@Model.NID</td>
                       
                        <td style="font-weight: bold;padding:5px;">CreditLimit</td>
                        <td style="font-weight: bold;padding:5px;">:</td>
                        <td style="padding-left: 5px;padding:5px;">@Model.CreditLimit</td>
                    </tr>

                    <tr>
                        <td style="font-weight: bold;padding:5px;">Address</td>
                        <td style="font-weight: bold;padding:5px;">:</td>
                        <td style="padding-left: 5px;padding:5px;">@Model.Address</td>
                       
                        <td style="font-weight: bold;padding:5px;">Division</td>
                        <td style="font-weight: bold;padding:5px;">:</td>
                        <td style="padding-left: 5px;padding:5px;">@Model.Division</td>
                    </tr>

                    <tr>
                        <td style="font-weight: bold;padding:5px;">District</td>
                        <td style="font-weight: bold;padding:5px;">:</td>
                        <td style="padding-left: 5px;padding:5px;">@Model.District</td>
                     
                        <td style="font-weight: bold;padding:5px;">Upazila</td>
                        <td style="font-weight: bold;padding:5px;">:</td>
                        <td style="padding-left: 5px;padding:5px;">@Model.Upazila</td>
                    </tr>

                    <tr>
                        <td style="font-weight: bold;padding:5px;">Zone</td>
                        <td style="font-weight: bold;padding:5px;">:</td>
                        <td style="padding-left: 5px;padding:5px;">@Model.ZoneName</td>
                       
                        <td style="font-weight: bold;padding:5px;">Incharge</td>
                        <td style="font-weight: bold;padding:5px;">:</td>
                        <td style="padding-left: 5px;padding:5px;">@Model.ZoneIncharge</td>
                    </tr>

                </tbody>

            </table>

            
        </div>




</div>

</body>


</html>




