@model KGERP.Service.Implementation.Configuration.VMCommonZone
@{
    ViewData["Title"] = "Zone";
}

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    @*<h1>
            Zone&nbsp;
            @using (Html.BeginForm("CompanyZoneAndTerritoryReport", "Report", FormMethod.Get))
            {
                @Html.Hidden("companyId", new { companyId = Request.QueryString["companyId"] })
                @Html.Hidden("reportName", "CompanyZoneAndTerritory")
                <input type="submit" name="EXPORT" value="EXPORT" class="btn btn-success pull-right" formtarget="_blank" />
                <select class="pull-right" style="color:#ffffff; background-color:#dd4b39;height:34px;font-size:15px" name="ReportType" id="ReportType">
                    <option value="PDF">PDF</option>
                    <option value="EXCEL">EXCEL</option>
                    <option value="WORD">WORD</option>
                </select>
            }
        </h1>*@
    <ol class="breadcrumb ">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>DashboardD</a></li>
        <li class="active">Zone</li>
    </ol>
</section>

@using (Html.BeginForm("CommonZone", "Configuration", FormMethod.Post, new { id = "commonZoneFormId", @class = "formValidator", onreset = "resetDDL();" }))
{
    <section class="content" style="margin-top:5px;">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box-danger">
                        <div class="box-header">
                            <h4>Add Zone</h4>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            @Html.HiddenFor(model => model.ID, new { id = "ZoneId" })
                            @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
                            @Html.HiddenFor(model => model.CompanyFK, new { id = "CompanyFK" })
                            @Html.HiddenFor(model => model.Code, new { id = "Code" })


                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group" style="padding:0px">
                                        <label for="message-text" class="col-form-label">Zone:</label>
                                        @Html.TextBoxFor(model => model.Name, new { id = "txtZoneName", @class = "form-control input-sm", @placeholder = "Zone Name", required = "true", })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="" class="form-control-label">Employee:</label>
                                        <div class="">
                                            @Html.DropDownListFor(model => model.EmployeeId, new SelectList(Model.EmployeeList, "Value", "Text"), "---Select---",
                                                new { @class = "dropdownsize form-control", @id = "employeeId" })
                                            @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" style="padding:0px">
                                        <label for="message-text" class="col-form-label">Zone Incharge:</label>
                                        @Html.TextBoxFor(model => model.ZoneIncharge, new { id = "txtZoneIncharge", @class = "form-control input-sm", @placeholder = "Zone Incharge" })
                                        @Html.ValidationMessageFor(model => model.ZoneIncharge, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group" style="padding:0px">
                                        <label for="message-text" class="col-form-label">Designation:</label>
                                        @Html.TextBoxFor(model => model.Designation, new { id = "txtDesignation", @class = "form-control input-sm", @placeholder = "Designation", required = "true" })
                                        @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" style="padding:0px">
                                        <label for="message-text" class="col-form-label">Email:</label>
                                        @Html.TextBoxFor(model => model.Email, new { id = "txtEmail", @class = "form-control input-sm", @placeholder = "Email", required = "true" })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group" style="padding:0px">
                                        <label for="message-text" class="col-form-label">Mobile Office:</label>
                                        @Html.TextBoxFor(model => model.MobileOffice, new { id = "txtMobileOffice", @class = "form-control input-sm", @placeholder = "Mobile Office", required = "true" })
                                        @Html.ValidationMessageFor(model => model.MobileOffice, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group" style="padding:0px">
                                        <label for="message-text" class="col-form-label">Mobile Personal:</label>
                                        @Html.TextBoxFor(model => model.MobilePersonal, new { id = "txtMobilePersonal", @class = "form-control input-sm", @placeholder = "Mobile Personal", required = "true" })
                                        @Html.ValidationMessageFor(model => model.MobilePersonal, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                                    </div>
                                    <div class="col-md-7">
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-edit'></i> Add</button>

                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="box-footer">
                        </div>
                    </div>
                </div>
                <div class="box">

                    <div class="box-danger">
                        <div class="box-header">
                            <h4>Territory List</h4>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">

                            <div class="table-responsive col-md-12">
                                <table id="KgErpDataTable" style="background-color:#ddd; width:100%;" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width:5%;">SL</th>
                                            <th style="width:20%;">Name</th>
                                            <th hidden="hidden"></th>
                                            <th style="width:15%;">Zone Incharge</th>
                                            <th style="width:10%;">Designation</th>
                                            <th style="width:10%;">Email</th>
                                            <th style="width:10%;">Mobile Office</th>
                                            <th style="width:15%;">Mobile Personal</th>
                                            <th style="width:15%;">Action</th>
                                        </tr>
                                    </thead>
                                    @{int sl = 0;
                                    }
                                    <tbody>
                                        @foreach (var item in Model.DataList)
                                        {

                                            <tr>
                                                <td>@(++sl)</td>
                                                <td id="tdZoneName_@item.ID">@item.Name</td>
                                                <td hidden="true" id="tdEmployeeId_@item.ID">@item.EmployeeId</td>
                                                <td id="tdZoneIncharge_@item.ID">@item.ZoneIncharge</td>
                                                <td id="tdDesignation_@item.ID">@item.Designation</td>
                                                <td id="tdEmail_@item.ID">@item.Email</td>
                                                <td id="tdMobileOffice_@item.ID">@item.MobileOffice</td>
                                                <td id="tdMobilePersonal_@item.ID">@item.MobilePersonal</td>
                                                <td>

                                                    <a id="@item.ID" onclick="makeEditble(this);" class="linkPointer" title="Edit"><i class="fa fa-pencil-square-o"></i></a>

                                                    <a id="@item.ID" onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#productCategoryDeleteModal" title="Delete"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                    </a>
                                                    @if (Model.CompanyFK.Value == 8)
                                                    {
                                                        <a href="~/Configuration/CommonFeedCustomer?companyId=@item.CompanyFK&zoneId=@item.ID" style="padding:0px 0px 0px 0px" class="btn btn-success btn-sm">Customer</a>

                                                    }
                                                    else
                                                    {
                                                        <a href="~/Configuration/CommonRegion?companyId=@item.CompanyFK&zoneId=@item.ID" style="padding:0px 0px 0px 0px" class="btn btn-success btn-sm">Region</a>
                                                        <a href="~/Configuration/CommonSubZone?companyId=@item.CompanyFK&zoneId=@item.ID" style="padding:0px 0px 0px 0px" class="btn btn-success btn-sm">Territory</a>
                                                        <a href="~/Configuration/CommonCustomer?companyId=@item.CompanyFK&zoneId=@item.ID&subZoneId=0" style="padding:0px 0px 0px 0px" class="btn btn-success btn-sm">Customer</a>
                                                    }

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="box-footer">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


}


@using (Html.BeginForm("CommonZone", "Configuration", FormMethod.Post, new { id = "commonZoneDeleteFormId", @class = "formValidator", onreset = "resetDDL();" }))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(model => model.ID, new { Value = "", id = "zoneIdDelete" })
    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionIdDelete" })
    @Html.HiddenFor(model => model.CompanyFK, new { Value = "", id = "CompanyFKDelete" })

    <div class="modal fade" id="productCategoryDeleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Zone Delete</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete this zone?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                </div>
            </div>
        </div>
    </div>
}



@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            $('#employeeId').change(function () {
                var selectedEmployeeId = $('#employeeId').val();
                $.ajax({
                    type: "get",
                    url: "/Employee/GetEmployeeInformationById",
                    data: { id: selectedEmployeeId },
                    datatype: "json",
                    traditional: true,
                    success: function (result) {
                        $('#txtZoneIncharge').val(result.Name);
                        $('#txtDesignation').val(result.DesignationName);
                        $('#txtMobileOffice').val(result.MobileNo);
                        $('#txtMobilePersonal').val(result.MobileNo);
                        $('#txtEmail').val(result.OfficeEmail);
                    }
                });
            });
        });

        function makeEditble(elem) {
            if (elem !== null) {
                var rowId = elem.id;
                $('#ZoneId').val(rowId);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#txtZoneName').val($('#tdZoneName_' + rowId).text().trim());
                $('#txtDesignation').val($('#tdDesignation_' + rowId).text().trim());
                $('#txtEmail').val($('#tdEmail_' + rowId).text().trim());
                $('#txtMobileOffice').val($('#tdMobileOffice_' + rowId).text().trim());
                $('#txtMobilePersonal').val($('#tdMobilePersonal_' + rowId).text().trim());
                $('#txtZoneIncharge').val($('#tdZoneIncharge_' + rowId).text().trim());
                $('#employeeId').val($('#tdEmployeeId_' + rowId).text().trim());

                window.scrollTo({ top: 0, behavior: 'smooth' });

            }
        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#zoneIdDelete').val(id);
                $('#ActionIdDelete').val(3);
                $('#CompanyFKDelete').val("@Model.CompanyFK");

            }
        }
        function resetForm() {
            $('#commonZoneFormId')[0].reset();
            $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Add");

        }

    </script>

}
