@using KG.Core.Services
@model KGERP.Service.Implementation.Configuration.VMrealStateProductsForList

@{
    ViewBag.Title = "ProductPlotOrFlatView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .content-header {
        position: relative;
        padding: 15px 15px 15px 15px;
        margin-bottom: 30px;
    }

    .skin-blue .content-header {
        background: #b5f5b7;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border-top: 1px solid #99999926;
        padding: 14px 4px;
        font-weight: 900;
        font-size:17px;
    }
</style>
<section class="content-header">
    <h1>
        @if (Model.CompanyId == 7)
        {<b> @Model.CompanyName (Plot's)  </b> }
    else
    { <b> @Model.CompanyName (Flat's)  </b>}
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">
            @if (Model.CompanyId == 7)
            {<b>   Plot's  </b> }
            else
            { <b> Flat's  </b>}
        </li>
    </ol>
</section>

@if (Model.CompanyId == 9)
{
    <table class="table">
        <tr>
            <th style="width:18%">
                Project
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                <label class="col-form-label">@Model.realStateProducts.CategoryName</label>
            </td>
            <th style="width:18%"> Floor</th>
            <th style="width:2%">:</th>
            <td style="width:30%">@Model.realStateProducts.SubCategoryName </td>
        </tr>

        <tr>
            <th style="width:18%">
                Flat
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                <label class="col-form-label">@Model.realStateProducts.Name </label>
            </td>
            <th style="width:18%"> Unit </th>
            <th style="width:2%">:</th>
            <td style="width:30%">@Model.realStateProducts.UnitName </td>
        </tr>

        <tr>
            <th style="width:18%">
                Size
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                @Model.realStateProducts.PackSize
            </td>
            <th style="width:18%"> Unit Price </th>
            <th style="width:2%">:</th>
            <td style="width:30%">@Model.realStateProducts.MRPPrice </td>
        </tr>

        <tr>
            <th style="width:18%">
                Facing
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                <label class="col-form-label"> @Model.realStateProducts.FacingTitle</label>
            </td>
            <th style="width:18%"> Lift </th>
            <th style="width:2%">:</th>
            <td style="width:30%"> @Model.realStateProducts.FlatProp.LiftCount</td>
        </tr>

        <tr>
            <th style="width:18%">
                Bed Room
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                @Model.realStateProducts.FlatProp.BedRoomCount
            </td>
            <th style="width:18%"> Washroom Room </th>
            <th style="width:2%">:</th>
            <td style="width:30%">@Model.realStateProducts.FlatProp.WashroomRoomCount </td>
        </tr>


        <tr>
            <th style="width:18%">
                Verandah
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                @Model.realStateProducts.FlatProp.verandahCount
            </td>
            <th style="width:18%"> Code </th>
            <th style="width:2%">:</th>
            <td style="width:30%">  @Model.realStateProducts.Code </td>
        </tr>

        <tr>
            <th style="width:18%">
                Land Facing
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                <label class="col-form-label">@Model.realStateProducts.LandFacingTitle </label>
            </td>
            <th style="width:18%">  Completion Status </th>
            <th style="width:2%">:</th>
            <td style="width:30%">@if (Model.realStateProducts.FlatProp.CompletionStatus == 1)
            {<span>On Going</span>}
            else
            {<span>Full Ready </span>} </td>

        </tr>


        <tr>

            <th style="width:18%">
                Is Duplex
            </th>
            <th style="width:2%">:</th>

            <td style="width:30%">
                @if (Model.realStateProducts.FlatProp.IsDuplex == true)
                {<span>Yes</span>}
                else
                {<span>No </span>}
            </td>
            <th style="width:18%">  Floors</th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                @foreach (var item in Model.GetList)
                {
                    if (Model.realStateProducts.FlatProp.Floors.Where(e => e == item.Value.ToString()).Count() > 0)
                    {
                        <span> @item.Text</span>
                    }

                }
            </td>
        </tr>


        <tr>
            <th style="width:18%">
                Dining Drawing Combined
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                @if (Model.realStateProducts.FlatProp.IsDiningDrawingCombined == true)
                {<span>Yes</span>}
                else
                {<span>No </span>}
            </td>
            <th style="width:18%">  Dining Room</th>
            <th style="width:2%">:</th>
            <td style="width:30%"> @Model.realStateProducts.FlatProp.DiningRoomCount </td>
        </tr>

        <tr>
            <th style="width:18%">
                Drawing Room
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                @Model.realStateProducts.FlatProp.DrawingRoomCount
            </td>
            <th style="width:18%">Has-Parking</th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                @if (Model.realStateProducts.FlatProp.HasParking == true)
                {<span>Yes</span>}
                else
                {<span>No </span>}
            </td>
        </tr>

        <tr>
            <th style="width:18%">
                Has-Gas
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                @if (Model.realStateProducts.FlatProp.Utilies.HasGas == true)
                {<span>Yes</span>}
                else
                {<span>No </span>}
            </td>
            <th style="width:18%">Has-Electricity</th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                @if (Model.realStateProducts.FlatProp.Utilies.HasElectricity == true)
                {<span>Yes</span>}
                else
                {<span>No </span>}
            </td>
        </tr>

        <tr>
            <th style="width:18%">
                Has-WaterSupply
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                @if (Model.realStateProducts.FlatProp.Utilies.HasWaterSupply == true)
                {<span>Yes</span>}
                else
                {<span>No </span>}
            </td>
            <th style="width:18%">HasSolarPanel</th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                @if (Model.realStateProducts.FlatProp.Utilies.HasSolarPanel == true)
                {<span>Yes</span>}
                else
                {<span>No </span>}
            </td>
        </tr>


        <tr>
            <th style="width:18%">
                Remarks
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">

            </td>
            <th style="width:18%">Create Date</th>
            <th style="width:2%">:</th>
            <td style="width:30%"> </td>
        </tr>


    </table>

}
else
{
    <table class="table">
        <tr>
            <th style="width:18%">
                Project
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                <label class="col-form-label">@Model.realStateProducts.CategoryName</label>
            </td>
            <th style="width:18%"> Floor</th>
            <th style="width:2%">:</th>
            <td style="width:30%">@Model.realStateProducts.SubCategoryName </td>
        </tr>

        <tr>
            <th style="width:18%">
                Plot
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                <label class="col-form-label">@Model.realStateProducts.Name </label>
            </td>
            <th style="width:18%"> Unit </th>
            <th style="width:2%">:</th>
            <td style="width:30%">@Model.realStateProducts.UnitName </td>
        </tr>

        <tr>
            <th style="width:18%">
                Size
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                @Model.realStateProducts.PackSize
            </td>
            <th style="width:18%"> Unit Price </th>
            <th style="width:2%">:</th>
            <td style="width:30%">@Model.realStateProducts.MRPPrice </td>
        </tr>
        <tr>
            <th style="width:18%">
                Facing
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                <label class="col-form-label">@Model.realStateProducts.FacingTitle </label>
            </td>
            <th style="width:18%"> Code </th>
            <th style="width:2%">:</th>
            <td style="width:30%"> @Model.realStateProducts.Code </td>
        </tr>
        <tr>
            <th style="width:18%">
                Remarks
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                <label class="col-form-label"> </label>
            </td>
            <th style="width:18%">Create Date</th>
            <th style="width:2%">:</th>
            <td style="width:30%"> </td>
        </tr>


    </table>
}
