@using KG.Core.Services

@{
    ViewData["Title"] = "Project's";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
@model KGERP.Service.Implementation.Configuration.VMCommonProductCategory
<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>
<section class="content-header">
    <h1>
        Project's
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Project's</li>
    </ol>
</section>
@using (Html.BeginForm("ProductCategoryProject", "Configuration", FormMethod.Post, new { id = "commonFinishProductCategoryFormId", @class = "formValidator", onreset = "resetDDL();" }))
{
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="box">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="box-danger">
                            <div class="box-header">
                                <h4>Add Project</h4>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                @Html.HiddenFor(model => model.ID, new { id = "productCategoryId" })
                                @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
                                @Html.HiddenFor(model => model.ProductType, new { id = "ProductType" })
                                @Html.HiddenFor(model => model.CompanyFK, new { id = "CompanyFK" })

                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Name, new { id = "txtProductCategoryName", @class = "form-control input-sm", @placeholder = "Project Name", required = "true" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                                @*<div class="form-group">
                                        @Html.TextBoxFor(model => model.Code, new { id = "txtProductCategorycode", @class = "form-control input-sm", @placeholder = "Code", required = "true" })
                                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                    </div>*@

                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Description, new { id = "txtDescription", @class = "form-control input-sm", @placeholder = "Address" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <div class="col-md-5">
                                        <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                                    </div>
                                    <div class="col-md-7">
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-edit'></i> Add</button>

                                    </div>

                                </div>
                            </div>
                            <div class="box-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="box">

                        <div class="box-danger">
                            <div class="box-header">
                                <h4>Project List</h4>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">

                                <div class="table-responsive col-md-12">
                                    <table id="KgErpDataTable" style="background-color: #ddd;" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th>Name</th>
                                               @if(Model.CompanyFK ==7 || Model.CompanyFK == 9)
                                                {
                                                   <th>Project Type</th> 
                                                }
                                                
                                                @*<th>Code</th>*@
                                                <th>Address</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        @{int sl = 0;
                                        }
                                        <tbody>
                                            @foreach (var item in Model.DataList)
                                            {
                                                


                                                <tr>
                                                    <td>@(++sl)</td>
                                                    <td id="tdProductCategoryName_@item.ID">@item.Name</td>
                                                    @if (Model.CompanyFK == 7 || Model.CompanyFK == 9)
                                                    {
                        if (item.IsCrm)
                        {
                            <td>S.C.</td>
                        }
                        else
                        {
                            <td>C.C.</td>
                        }

                                                    }
                                                    <td id="tdDescription_@item.ID">@item.Description</td>
                                                    <td>

                                                        <a id="@item.ID" onclick="makeEditble(this);" class="linkPointer" title="Edit"><i class="fa fa-pencil-square-o"></i></a>

                                                        <a id="@item.ID" onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#productCategoryDeleteModal" title="Delete"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                        </a>
                                                        @if (Model.CompanyFK == 7)
                                                        {<a href="~/Configuration/ProductSubCategoryBlock?companyId=@item.CompanyFK&categoryId=@item.ID&productType=@Model.ProductType" class="btn btn-success btn-sm">Block's</a>
                                                            <a href="~/Configuration/ProductPlotOrFlat?companyId=@item.CompanyFK&categoryId=@item.ID&productType=@Model.ProductType" class="btn btn-warning btn-sm">Plot's</a>

                                                        }
                                                        else
                                                        {
                                                            <a href="~/Configuration/ProductSubCategoryBlock?companyId=@item.CompanyFK&categoryId=@item.ID&productType=@Model.ProductType" class="btn btn-success btn-sm">Floor's</a>
                                                            <a href="~/Configuration/ProductPlotOrFlat?companyId=@item.CompanyFK&categoryId=@item.ID&productType=@Model.ProductType" class="btn btn-warning btn-sm">Flat's</a>

                                                        }

                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="box-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


}


@using (Html.BeginForm("ProductCategoryProject", "Configuration", FormMethod.Post, new { id = "commonFinishProductCategoryDeleteFormId", @class = "formValidator", onreset = "resetDDL();" }))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(model => model.ID, new { Value = "", id = "productCategoryIdDelete" })
    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionIdDelete" })
    @Html.HiddenFor(model => model.CompanyFK, new { Value = "", id = "CompanyFKDelete" })

    <div class="modal fade" id="productCategoryDeleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Project Delete</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete this Project?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                </div>
            </div>
        </div>
    </div>
}



@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });

        function makeEditble(elem) {
            if (elem !== null) {
                var rowId = elem.id;
                $('#productCategoryId').val(rowId);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#txtProductCategoryName').val($('#tdProductCategoryName_' + rowId).text().trim());
                $('#txtDescription').val($('#tdDescription_' + rowId).text().trim());
                $('#txtProductCategorycode').val($('#tdProductCategoryCode_' + rowId).text().trim());

                window.scrollTo({ top: 0, behavior: 'smooth' });

            }
        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#productCategoryIdDelete').val(id);
                $('#ActionIdDelete').val(3);
                $('#CompanyFKDelete').val("@Model.CompanyFK");

            }
        }
        function resetForm() {
            $('#commonFinishProductCategoryFormId')[0].reset();
            $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Add");

        }

    </script>
}





