@using KG.Core.Services
@using KGERP.Utility

@{

    string ProductType = Model.CompanyId == (int)CompanyNameEnum.GloriousLandsAndDevelopmentsLimited ? "Plot" :
Model.CompanyId == (int)CompanyNameEnum.KrishibidPropertiesLimited ? "Flat" : "";
    ViewData["Title"] = $"{ProductType}'s List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string textfor = "";

}
@model KGERP.Service.Implementation.Configuration.VMrealStateProductsForList
<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }

    .dataTables_wrapper .dataTables_filter input {
        margin-left: 0.5em;
        height: 40px;
        width: 302px;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    input[type="search"]:focus {
        outline: thick solid #32a1ce !important;
    }
</style>
<section class="content-header">
    <h1>
        @ProductType's List
    </h1>
    <ol class="breadcrumb">
        <li><a style="color:aliceblue;margin-bottom:12px" class="btn btn-success" href="/Configuration/ProductPlotOrFlatCreate?companyId=@Model.CompanyId&&productType=@Model.ProductType"><i class="fa fa-plus"></i>@ProductType's Create</a></li>
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">@ProductType's</li>
    </ol>
</section>
<section class="content mt-2">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("ProductPlotOrFlat", "Configuration", FormMethod.Post, new { id = "commonProductformId", @class = "formValidator", @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.CompanyId)
                @Html.HiddenFor(m => m.ProductType)
                <div class="box-danger">
                    <div class="box">
                        <div class="box-danger">
                            <div class="box-header">
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="table-responsive text-nowrap">
                                    <table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
                                        <thead>
                                            @if (Model.CompanyId == (int)CompanyNameEnum.GloriousLandsAndDevelopmentsLimited)
                                            {
                                                <tr>
                                                    <th>SL</th>
                                                    <th>Project - Block</th>
                                                    <th>Plot No</th>
                                                    <th>Size (Unit)</th>
                                                    <th>Road No</th>
                                                    <th>Land Facing</th>
                                                    <th>Status</th>
                                                    <th>Remark</th>
                                                    <th>Action</th>
                                                </tr>
                                            }
                                            @if (Model.CompanyId == (int)CompanyNameEnum.KrishibidPropertiesLimited)
                                            {
                                                <tr>
                                                    <th>SL</th>
                                                    <th>Project - Floor</th>
                                                    <th>Flat No</th>
                                                    <th>Size (Unit)</th>
                                                    <th>Flat Type</th>
                                                    <th>Flat Facing</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            }

                                        </thead>
                                        @{int sl = 0;
                                        }
                                        <tbody>
                                            @if (Model.DataList != null)
                                            {
                                                foreach (var item in Model.DataList)
                                                {

                                            <tr>
                                                <td>@(++sl)</td>
                                                <td>@item.CategoryName - @item.SubCategoryName</td>
                                                <td>@item.Name</td>
                                                <td>@item.PackSize -  @item.UnitName</td>
                                                <td>
                                                    @if (Model.CompanyId == (int)CompanyNameEnum.KrishibidPropertiesLimited)
                                                    {

                                                        if (item.FlatProp.IsDuplex)
                                                        {
                                                            <span> Duplex Floors</span>

                                                            @*if (item.GetList != null)
                    {
                        textfor = "";

                        foreach (var item2 in item.GetList)
                        {
                            if (item.FlatProp.Floors.Where(e => e == item2.Value.ToString()).Count() > 0)
                            {
                                textfor = textfor + item2.Text;
                            }
                        }

                       <span>Duplex Floors : @textfor </span>
                    }*@
                                                        }
                                                        else
                                                        {
                                                            <p>Regular</p>
                                                        }

                                                    }
                                                    @if (Model.CompanyId == (int)CompanyNameEnum.GloriousLandsAndDevelopmentsLimited)
                                                    {

                                                        <p>@item.PlotProp.RoadNo</p>

                                                    }
                                                </td>
                                                <td> @item.FacingTitle</td>
                                                <td>
                                                    @if (Model.CompanyId == (int)CompanyNameEnum.GloriousLandsAndDevelopmentsLimited)
                                                    {

                                                        <span>
                                                            @(((ProductStatusEnumGLDL)item.Status).ToString())
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span>
                                                            @(((ProductStatusEnumKPL)item.Status).ToString())
                                                        </span>
                                                    }

                                                </td>
                                                @if (Model.CompanyId == (int)CompanyNameEnum.GloriousLandsAndDevelopmentsLimited)
                                                {
                                                    <td> @item.Remarks</td>

                                                }

                                                <td>

                                                    <a href="/Configuration/ProductPlotOrFlatEdit?ProductId=@item.ID&&productType=@Model.ProductType" class="linkPointer" title="Edit">  <i class="glyphicon glyphicon-edit" aria-hidden="true"></i> </a>
                                                    <a id="@item.ID" onclick="makeDeletable(@item.ID, '@Model.CompanyId');" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="/Configuration/ProductPlotOrFlatView?companyId=@Model.CompanyId&&ProductId=@item.ID" class="linkPointer" title="Edit">  <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i> </a>
                                                </td>
                                            </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="box-footer">
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>

    </div>
</section>





@using (Html.BeginForm("ProductPlotOrFlat", "Configuration", FormMethod.Post, new { id = "commonProductformId", @class = "formValidator", @enctype = "multipart/form-data" }))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" name="ActionId" id="ActionIdDelete" />
    <input type="hidden" name="ID" id="productIdDelete" />
    <input type="hidden" name="CompanyFK" id="CompanyFKDelete" />
    @*@Html.Hidden("ID", new { Value = "", id = "productIdDelete" })
        @Html.Hidden("ActionId", new { Value = "", id = "ActionIdDelete" })*@
    @*@Html.Hidden("CompanyFK", new { Value = Model.CompanyId, id = "CompanyFKDelete" })*@

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>@ProductType Delete</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete this @ProductType?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i>Confirm</button>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">

        function makeDeletable(id, company) {
            if (id !== null) {
                $('#productIdDelete').val(id);
                $('#ActionIdDelete').val(3);
                $('#CompanyFKDelete').val(company);

            }
        }
    </script>
}

