
@{
    ViewData["Title"] = "Customer Group";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model KGERP.Service.Implementation.Configuration.VMCommonSupplier

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>
         Customer Group
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Customer Group</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive text-nowrap">
                            <table id="KgErpDataTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Code</th>
                                        <th>

                                            Name
                                        </th>
                                        <th>
                                            Product Name

                                        </th>
                                        <th>
                                            File No
                                        </th>
                                        <th>
                                            Booking No
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                    <tr>
                                        <td>@(++sl)</td>
                                        <td>
                                            @item.Code
                                        </td>
                                        <td>
                                            @item.ACName
                                        </td>
                                        <td>
                                            @item.ProductName

                                        </td>
                                        <td>
                                            @item.FileNo
                                        </td>
                                        <td>
                                            @item.BookingNo
                                        </td>

                                        <td>
                                            <a class="btn btn-info btn-xs" href="~/ProductBooking/CustomerBookingInformation?companyId=@item.CompanyFK&CGId=@item.CGId">Booking Info</a>
                                            <a href="~/Report/ProductBookingInformation?companyId=@item.CompanyFK&CGId=@item.CGId"><i class="fa fa-print"></i></a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>




                    </div>
                    <div class="box-footer">
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
