@model KGERP.Service.ServiceModel.TeamMakingProcessViewModel
@{
    ViewBag.Title = "Team Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .content-header {
        padding: 10px 0.5rem;
    }

        .content-header .breadcrumb {
            background-color: #6aeb6f33;
            line-height: 1.8rem;
            margin-bottom: 0;
            padding: 10px;
        }

    content-header .breadcrumb {
        line-height: 1.5rem;
    }

    .align-items-center {
        -webkit-align-items: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    .justify-content-between {
        -webkit-justify-content: space-between !important;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }

    .d-flex {
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .breadcrumb {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0.75rem 1rem;
        margin-bottom: 1rem;
        list-style: none;
        background-color: #e9ecef;
        border-radius: 0.25rem;
    }

    .card {
        box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
        margin-bottom: 1rem;
    }

    .card {
        position: relative;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
    }

    .card-header:first-child {
        border-radius: calc(.25rem - 0) calc(.25rem - 0) 0 0;
    }

    .card-header {
        background-color: transparent;
        border-bottom: 1px solid rgba(0,0,0,.125);
        padding: 0.75rem 1.25rem;
        position: relative;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: #3f51b51f;
        border-bottom: 0 solid rgba(0,0,0,.125);
    }

    .card-body {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
    }

    .text-sm .card-title {
        font-size: 1rem;
    }

    .card-title {
        float: left;
        font-size: 2.1rem;
        font-weight: 400;
        margin: 0;
    }

    .card-title {
        margin-bottom: 0.75rem;
    }

    .mt-2 {
        margin-top: 15px
    }

    .mt-3 {
        margin-top: 20px
    }


    .element.style {
        max-width: 100%;
    }

    .form-control:not(select) {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .form-control:not(select) {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .form-control {
        border-radius: 0;
        box-shadow: none;
        border-color: #d2d6de;
    }


    .ui-datepicker-trigger .fa {
        padding: 10px;
        background: #ff9800;
        color: #fff;
    }

    .ui-datepicker-trigger {
        background: #ff9800;
        border: none;
    }

    .bg-div {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: #3f51b51f;
        border-bottom: 0 solid rgba(0,0,0,.125);
    }

    .error {
        color: orangered;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 5px;
        line-height: 1.42857143;
        vertical-align: baseline !important;
        border-top: 1px solid #ddd;
    }
</style>


<div class="content-header">
    <div class="">
        <div class="breadcrumb d-flex justify-content-between align-items-center">

            <b> Details Teams (@Model.CompanyName) </b>

            <div>
                <a href="/TeamMakingProcess/CreateTeam?companyId=@Model.CompanyId"><i class="glyphicon glyphicon-plus-sign mr-2"></i>Create New Team </a>
            </div>
        </div>
    </div>
</div>

<div class="card" style="background-color: #f9f8f8; ">

    <div style="margin-top:20px">
        <b style="margin-left:13px">  Leader Information  </b>
        <div style="height:1px;width:100%;background-color:#a7ebaa;margin-bottom:20px"></div>
    </div>
    <div class="card-body" style="padding:1px 24px">

        <div class="row">
            <table class="table">
                <tr>
                    <th style="width:18%">
                        Name
                    </th>
                    <th style="width:2%">:</th>
                    <td style="width:30%">
                        <label class="col-form-label">@Model.TeamMemberInformationView.LeaderName</label>
                    </td>
                    <th style="width:18%"> Company Name</th>
                    <th style="width:2%">:</th>
                    <td style="width:30%">@Model.TeamMemberInformationView.CompanyName</td>
                </tr>
                <tr>
                    <th style="width:18%">
                        Designation
                    </th>
                    <th style="width:2%">:</th>
                    <td style="width:30%">
                        <label class="col-form-label">@Model.TeamMemberInformationView.LeaderDesignation</label>
                    </td>
                    <th style="width:18%"> Employee Id</th>
                    <th style="width:2%">:</th>
                    <td style="width:30%">@Model.TeamMemberInformationView.StrLeaderEmpId</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<br />
<div class="card" style="box-shadow:none;border:1px solid #eee;background-color: #ededed;">
    <div class="card-body">
        <div class="row">
            @using (Html.BeginForm("AddNewMember", "TeamMakingProcess", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.CompanyId, new { @id = "CompanyId" })
                @Html.HiddenFor(x => x.LeadId, new { @id = "LeadId" })
                <div class="col-md-7">
                    <div class="form-group mt-2">
                        @Html.Label("Add New  Member", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.EmployeeId, new SelectList(Model.Members, "Value", "Text"), "---Select Mewmber---", new { id = "EmployeeId", @class = "searchingDropdown  customStyle", @style = "width: 100%;" })
                            @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-5" style="margin-top:14px">
                    <input id="submit" type="submit" data-confirm="Are you sure to submit?" value="Add" class=" glyphicon glyphicon-plus-sign btn btn-success pull-left" />
                </div>
            }
        </div>
    </div>
</div>




<div class="table-responsive" style="margin-top:20px">
    <table id="KgErpDataTable" style="width:100%; background-color:#ddd;margin-top:20px" class="table table-striped ">
        <thead>
            <tr>
                <th>SL</th>
                <th>Employee Name</th>
                <th>Employee Id</th>
                <th>Designation</th>
                <th>Leader</th>
                <th>
                    Action
                </th>

            </tr>
        </thead>
        @{int sl = 0;
        }
        <tbody>
            @foreach (var item in Model.vwTeams)
            {
                <tr>
                    <td>@(++sl)</td>
                    <td>@item.EmployeeName</td>
                    <td>@item.StrEmpId</td>
                    <td>@item.Designation</td>
                    <td>
                        @if (item.LeadId == 0)
                        {<b class="text-success"> Leader </b>}
                        else
                        {
                            <b>@item.LeaderName </b>
                        }
                    </td>
                    <td>
                        @if (item.LeadId == 0)
                        {
                            <a class="btn btn-default  btn-sm" disabled> <i class="glyphicon glyphicon-trash"></i></a>
                        }
                        else
                        {
                            <a href="#" class="btn btn-danger btn-sm" onclick="itemdelete(@item.Id,'@item.EmployeeName')" data-toggle="modal" data-target="#exampleModal"> <i class="glyphicon glyphicon-trash"></i></a>
                        }
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("DeleteMember", "TeamMakingProcess", FormMethod.Post)) { 
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel"> </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.CompanyId, new { @id = "CompanyId" })
                    @Html.HiddenFor(x => x.LeadId, new { @id = "LeadId" })
                    @Html.HiddenFor(x => x.MemberId, new { @id = "MemberId" })

                    <h3 class="text-danger"> Are You Sure Delete This Member ????</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input id="submit" type="submit" data-confirm="Are you sure to submit?" value="Delete" class=" btn btn-danger" />
                </div>
            </div>
            }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <script type="text/javascript">

        function itemdelete(id, e) {
            $("#exampleModalLabel").html(e);
            $("#MemberId").val(id);
        }

    </script>
}
