@model List<KGERP.Service.ServiceModel.VoucherModel>



<table class="table table-bordered">
    <tr style="background-color:lightgrey">
        <th>A/C Code</th>
        <th>Account Head</th>
        <th>Particulars</th>
        <th>Debit</th>
        <th>Credit</th>
    </tr>

    @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i }))
    {
        <tr>
            <td>@item.Data.AccountCodeName</td>
            <td>@item.Data.AccountHeadName</td>
            <td>@item.Data.Description</td>
            <td>@item.Data.DebitAmount</td>
            <td>@item.Data.CreditAmount</td>
        </tr>
    }

    <tr style="background-color:lightgrey">
        <th></th>
        <th></th>
        <th></th>
        <th> <span id="sumDebit">@Model.Sum(x => x.DebitAmount)</span></th>
        <th><span id="sumCredit">@Model.Sum(x => x.CreditAmount)</span></th>
    </tr>

    <tr>
        <th colspan="5">
            <input type="submit" id="btnSave" name="save" value="Save" data-confirm="Are you sure to submit voucher?" class="btn btn-primary pull-right" readonly="@(Model.Sum(x => x.DebitAmount)==Model.Sum(x => x.CreditAmount)?"false":"true")" />

            <input type="submit" id="btnCancel" name="cancel" value="Cancel" class="btn btn-danger pull-right" style="margin-right:10px" />

        </th>

    </tr>


</table>


<script>
    $(document).ready(function () {
        if ($('#sumDebit').text() == $('#sumCredit').text()) {
            $("#btnSave").attr("disabled", false);
        }
        else {
            $("#btnSave").attr("disabled", true);
        }
    });
      jQuery(document).ready(function () {
            jQuery('[data-confirm]').click(function (e) {
                if (!confirm(jQuery(this).attr("data-confirm"))) {
                    e.preventDefault();
                }
            });
        });

    
</script>