@model List<KGERP.Service.ServiceModel.StockTransferDetailModel>
<table class="table">
    <tr style="background-color:#4CAF50;color:#FFFFFF">

        <th>
            Item Name
        </th>

        <th>
            Transfer Qty
        </th>
        <th>
            Receive Qty
        </th>

    </tr>
    @for (int i = 0; i < Model.Count(); i++)
    {
        <tr>

            <td>
                @Html.DisplayFor(model => model.StockTransferDetail[i].Product.ProductName)
                @Html.HiddenFor(model => model.StockTransferDetail[i].StockTransferDetailId)
                @Html.HiddenFor(model => model.StockTransferDetail[i].StockTransferId)

            </td>

            <td>
                @Html.TextBoxFor(model => model.StockTransferDetail[i].TransferQty, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
            </td>
            <td>
                @*@Html.TextBoxFor(model => model.StockTransferDetail[i].ReceivedQty, htmlAttributes: new { @class = "form-control",@autocomplete="off", @style = "width:100px;font-weight:bold;" })*@
                @Html.TextBoxFor(model => model.StockTransferDetail[i].ReceivedQty, htmlAttributes: new { @class = "form-control", @autocomplete = "off" })
            </td>

        </tr>

    }

</table>

<script>

    function calculateSum() {
        var sum = 0;
        $(".amount").each(function () {
            var value = $(this).val();
            console.log(value);
            if (!isNaN(value) && value.length !== 0) {
                sum += parseFloat(value);
            }
            $('#sumOfReceiveQty').text(sum);
        });
    }
</script>
