
@model KGERP.Service.ServiceModel.KttlServiceModel

@{
    ViewBag.Title = "CreateOrEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @using (Html.BeginForm("CreateOrEdit", "KttlServices", new { id = 0 }, FormMethod.Get))
    {
        <div class="col-md-3">
            <h4><b>Client Service</b></h4>
        </div>
        <div class="col-md-3">
            <div class="col-md-10">@Html.TextBox("searchText", null, new { @autocomplete = "off", @class = "form-control pull-right", @placeholder = "Client Id ..." })</div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">Search&nbsp;<i class="fa fa-search"></i></button>
            </div>
        </div>
    }
</div>
<hr style="border-color:red; padding:0px;margin-top: 10px;margin-bottom: 20px; border-width: 2px;" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.OID)
    <div class="form-horizontal">

        @if (ViewBag.clientInfo != null)
        { 
            <div class="panel panel-info" id="pnlclientInfo">
                <div class="panel-heading"><b> Client Basic Information </b></div>
                <div class="panel-body">
                    <div>
                        @Html.Raw(ViewBag.clientInfo)
                    </div>
                </div>
            </div>
        }

        @*<h4>Kttl Client Service</h4>*@
        <hr style="border-color:red; padding:0px;margin-top: 10px;margin-bottom: 20px; border-width: 2px;" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       
        <ul class="nav nav-tabs info">
            <li class="active"><a data-toggle="tab" href="#serviceInfo">Service Information</a></li>
            <li><a data-toggle="tab" href="#hotelNroom">Hotel and room Information</a></li>
            <li>@*<a data-toggle="tab" href="#transportInfo">Transport Information</a>*@</li>
        </ul>

        <div class="tab-content">
            <div id="serviceInfo" class="tab-pane fade in active">
                <div class="panel panel-info">
                    <div class="panel-heading"><b>Service Information</b></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ServiceType, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.ServiceType, new SelectList(Model.ServiceTypes, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control", @id = "ddlServiceType" })
                                        @Html.ValidationMessageFor(model => model.ServiceType, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ServiceYear, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.ServiceYear, new SelectList(Model.ServiceYears), "---Select---", new { @class = "dropdownsize form-control" })
                                        @Html.ValidationMessageFor(model => model.ServiceYear, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DepartureFrom, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.DepartureFrom, new SelectList(Model.AirportNames, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control", @id = "ddlDepartureFrom" })
                                        @Html.ValidationMessageFor(model => model.DepartureFrom, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DepartureTo, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.DepartureTo, new SelectList(Model.AirportNames, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control", @id = "ddlDepartureTo" })
                                        @*@Html.EditorFor(model => model.DepartureTo, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.ValidationMessageFor(model => model.DepartureTo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DepartureDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.DepartureDate, new { htmlAttributes = new { @class = "datepicker", @placeholder = "dd/mm/yyyy", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.DepartureDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ReturnDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.ReturnDate, new { htmlAttributes = new { @class = "datepicker", @placeholder = "dd/mm/yyyy", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.ReturnDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Destination, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Destination, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Destination, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AirlinesName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.AirlinesName, new SelectList(Model.AirlinesNames, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control", @id = "ddlDepartureFrom" })
                                        @Html.ValidationMessageFor(model => model.AirlinesName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AirportPickup, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.AirportPickup, new SelectList(Model.AirportPickups, "Text", "Text"), "---Select---", new {@id= "ddlAirportPickup", @class = "dropdownsize form-control"})
                                        @Html.ValidationMessageFor(model => model.AirportPickup, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AirportDrop, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.AirportDrop, new SelectList(Model.AirportDrops, "Text", "Text"), "---Select---", new { @id= "ddlAirportDrop", @class = "dropdownsize form-control" })
                                        @Html.ValidationMessageFor(model => model.AirportDrop, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AirportPickupDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.AirportPickupDate, new { htmlAttributes = new { @class = "datepicker", @id= "airportPickupDate", @readonly = true,  @placeholder = "dd/mm/yyyy", } })
                                        @Html.ValidationMessageFor(model => model.AirportPickupDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AirportDropDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.AirportDropDate, new { htmlAttributes = new { @class = "datepicker", @placeholder = "dd/mm/yyyy", @readonly = true, @id = "airportDropDate",   @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.AirportDropDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MadinahZiyarah, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.MadinahZiyarah, new SelectList(Model.IsMadinahZiyarah, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control", @id = "IsMadinahZiyarah" })
                                        @Html.ValidationMessageFor(model => model.MadinahZiyarah, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MakkahZiyarah, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.MakkahZiyarah, new SelectList(Model.IsMakkahZiyarah, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control", @id = "IsMakkahZiyarah" })
                                        @Html.ValidationMessageFor(model => model.MakkahZiyarah, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6" id = "hazzPackage">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.HazzPackage, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.HazzPackage, new SelectList(Model.HazzPackages, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control" })
                                        @Html.ValidationMessageFor(model => model.HazzPackage, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @*=============================== Start Transportation ===============================================*@
                            <div class="col-md-6" id = "ddlDepartureTo">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TransportationType, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.TransportationType, new SelectList(Model.TransportTypes, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control" })
                                        @Html.ValidationMessageFor(model => model.TransportationType, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6" id= "hazzPackageRate">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PackageRate, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.PackageRate, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PackageRate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Route, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Route, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Route, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @*=============================== End Transportation ===============================================*@
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TicketNo, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.TicketNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TicketNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="hotelNroom" class="tab-pane fade">
                <div class="panel panel-info">
                    <div class="panel-heading"><b>Hotel and room  Information</b></div>
                    <div class="panel-body">
                        <div class="form-group">

                            @*=====================================Start Hotel and room Information========================================*@
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.HotelType, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.HotelType, new SelectList(Model.HotelTypes, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control", @id = "ddlServiceType" })
                                        @Html.ValidationMessageFor(model => model.HotelType, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.HotelName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.HotelName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.HotelName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.HotelAddress, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.HotelAddress, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.HotelAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TotalAdult, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.TotalAdult, new { htmlAttributes = new { @class = "form-control",@id= "tAdult" } })
                                        @Html.ValidationMessageFor(model => model.TotalAdult, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TotalChild, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.TotalChild, new { htmlAttributes = new { @class = "form-control", @id = "tChild" } })
                                        @Html.ValidationMessageFor(model => model.TotalChild, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TotalInfant, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.TotalInfant, new { htmlAttributes = new { @class = "form-control", @id= "tInfant" } })
                                        @Html.ValidationMessageFor(model => model.TotalInfant, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TotalPassenger, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.TotalPassenger, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "tPassenger" } })
                                        @Html.ValidationMessageFor(model => model.TotalPassenger, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TotalNights, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.TotalNights, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TotalNights, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RoomType, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.RoomType, new SelectList(Model.RoomTypes, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control", @id = "ddlServiceType" })
                                        @Html.ValidationMessageFor(model => model.RoomType, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TotalRoom, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.TotalRoom, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TotalRoom, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TotalRoomPrice, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.TotalRoomPrice, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.TotalRoomPrice, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @*=====================================End Hotel Information========================================*@
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model.Remarks, 3, 51, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-10 col-md-2">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#hazzPackage").hide();
            $("#hazzPackageRate").hide(); 
            $('#fromDateDiv').hide();
            $('#toDateDiv').hide();
            $("#resonLabel").text("Location");
            $("#airportPickupDate").attr("readonly", true);
            $("#airportDropDate").attr("readonly", true);
        });

        $('#ddlServiceType').change(function () {
            var val = $(this).val();
            if (val == "Hajj") {
                $("#hazzPackage").show();
                $("#hazzPackageRate").show();
                $('#fromDateDiv').hide();
                $('#toDateDiv').hide();
            } 
            else {
                $("#hazzPackage").hide();
                $("#hazzPackageRate").hide();
                $('#divOnFieldDate').hide();
                $('#fromDateDiv').show();
                $('#toDateDiv').show();
            }
        });

        $('#ddlAirportPickup').change(function () {
            var val = $(this).val();
            if (val == "Yes") { 
                $("#airportPickupDate").setAttribute("disabled", false); 
            }            
        });

        $('#ddlAirportDrop').change(function () {
            var val = $(this).val();
            if (val == "Yes") {
                $("#airportDropDate").setAttribute("disabled", false);
            }
        });


        $(document).ready(function () {
            //this calculates values automatically
            sum();
            $("#tAdult, #tChild, #tInfant").on("keydown keyup", function () {
                sum();
            });
        });
        function sum() {
            var num1 = document.getElementById('tAdult').value;
            var num2 = document.getElementById('tChild').value;
            var num3 = document.getElementById('tInfant').value;
            var result = parseInt(num1) + parseInt(num2) + parseInt(num3);
            if (!isNaN(result)) {
                document.getElementById('tPassenger').value = result;
            }
        }
    </script>
}
