@model KGERP.Service.ServiceModel.KttlServiceModel
@*@model PagedList.IPagedList<KGERP.Service.ServiceModel.KttlCustomerModel>*@
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>KttlService Details</h3>

<hr style="border-color:red; padding:0px;margin-top: 10px;margin-bottom: 20px; border-width: 2px;" />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotelAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotelAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPassenger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPassenger)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TravelClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TravelClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HazzPackage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HazzPackage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.OID }) |*@
    @Html.ActionLink("Back to List", "Index")

    <a href="@Url.Action("CreateOrEdit","KttlServices",new {  clientId = Model.ClientId, id = Model.OID, searchText = ""})" title="Add Service of Client" class="btn btn-info btn-xs">
        <i class="fa fa-plus" style="font-size:15px; color:darkgreen" aria-hidden="true"></i>
    </a>
</p>
