@model KGERP.Data.Models.YearlyHoliday

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>YearlyHoliday</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HolidayDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HolidayDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HolidayCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HolidayCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.YearlyHolidayId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
