
@model KGERP.Service.ServiceModel.YearlyHolidayModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@using (Html.BeginForm("Index", "YearlyHolidays", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-6">
            <h4><b>Yearly Holiday of @DateTime.Now.Year</b></h4>
        </div>
        <div class="col-md-6">
            <div class="col-md-8">@Html.TextBox("searchText", null, new { @autocomplete = "off", @class = "form-control pull-right", @placeholder = "Search.." })</div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-success pull-right">Search&nbsp;<i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
}*@


<div class="row">
    @foreach (var item in Model.DataList)
    {
        <div class="col-md-3">
            <div class="card" style="padding:10px; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;">
                <div class="card-body">
                    <h3 class="card-title">
                        @item.HolidayDate.ToString("dd-MMMM") @item.HolidayDate.ToString("yyyy")
                        <br />
                        <span>@item.HolidayDate.DayOfWeek</span>
                    </h3>
                    <h4 class="card-subtitle mb-2 text-muted">@item.HolidayCategory</h4>
                    <p class="card-text">@item.Purpose</p>
                </div>
            </div>
        </div>
    }
    </div>
           
            @*<tr>
                <td>
                    @((item.Index + 1) + (Model.PageNumber - 1) * Model.PageSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.HolidayDate, "{0:dd-MMM-yyyy}")
                    <span>
                        - <b>
                            @Html.DisplayFor(modelItem => item.Data.HolidayDate.DayOfWeek)
                        </b>
                    </span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.HolidayCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.Purpose)
                </td>

            </tr>*@
 


