@model KGERP.Service.ServiceModel.TicketingViewModel
@{
    ViewBag.Title = "Engineers List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }

    .btn-primary {
        color: #fff !important;
        background-color: #3c8dbc !important;
        border-color: #3c8dbc !important;
    }

    .bg-primary {
        color: #fff !important;
        background-color: #3c8dbc !important;
        border-color: #3c8dbc !important;
    }

    .bg-warning {
        color: #fff;
        background-color: #f39c12;
        border-color: #f39c12;
    }

    .bg-info {
        color: #000;
        background-color: #31d2f2;
        border-color: #25cff2;
    }

    .bg-success {
        color: #fff;
        background-color: #00a65a;
        border-color: #00a65a;
    }

    .bg-danger {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }

    .btn-danger {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }

    .badge1 {
        display: inline-block;
        min-width: 10px;
        padding: 3px 7px;
        font-size: 12px;
        font-weight: bold;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        border-radius: 10px;
    }
</style>

<section class="content-header">
    <h1>
        Request  List For Engineers
    </h1>


    <ol class="breadcrumb" style="margin-bottom:10px">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>

        <li>
            <a class="btn btn-primary" href="/Ticket/Request_Ticket?companyId=@Model.CompanyId">New Request</a>

        </li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="box-danger">

                    <div class="box">
                        <div class="box-danger">

                            <div class="box-body">
                                @using (Html.BeginForm("Accounts_List", "Ticket", FormMethod.Post, new { id = "marketingSalesListView", @class = "formValidator", @enctype = "multipart/form-data" }))
                                {
                                    @Html.HiddenFor(model => model.CompanyId, new { id = "CompanyId" })
                                    <div class="row">


                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.Label("Company", htmlAttributes: new { @class = "control-label col-md-4" })
                                                <br />
                                                @Html.DropDownListFor(model => model.CompanyIdFK, new SelectList(Model.Companies, "Value", "Text"), "---Select---", new { @class = "dropdownsize form-control", @id = "ddlCompany" })
                                                @Html.ValidationMessageFor(model => model.CompanyIdFK, "", new { @class = "text-danger" })
                                            </div>
                                        </div>




                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
                                                <br />
                                                <div style="display:flex">
                                                    @Html.EditorFor(model => model.StrFromDate, new { htmlAttributes = new { @class = "datepicker form-control", @autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.StrFromDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.Label("To Date", htmlAttributes: new { @class = "control-label" })
                                                <br />
                                                <div style="display:flex">

                                                    @Html.EditorFor(model => model.StrToDate, new { htmlAttributes = new { @class = "datepicker form-control", @autocomplete = "off" } })
                                                    @Html.ValidationMessageFor(model => model.StrToDate, "", new { @class = "text-danger" })
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <label>&nbsp;</label>
                                            <div class="form-group" style="display:flex; justify-content: space-between;">
                                                <div class="pl-2">
                                                    <b class="pl-2 text-primary">    @Html.RadioButtonFor(m => m.Status, 5) All Requset</b>
                                                </div>
                                                <div>
                                                    <b class="text-warning">  @Html.RadioButtonFor(m => m.Status, 1) Pending </b>
                                                </div>
                                                <div>
                                                    <b class="pl-2 text-info">   @Html.RadioButtonFor(m => m.Status, 2) In progress</b>
                                                </div>
                                                <div>
                                                    <b class="pl-2 text-success">    @Html.RadioButtonFor(m => m.Status, 3) Done</b>
                                                </div>
                                                <div class="pl-2">
                                                    <b class="pl-2 text-danger">    @Html.RadioButtonFor(m => m.Status, 4) Cancel</b>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>&nbsp;</label>
                                                <button type="submit" id="btnSave" class="btn btn-primary btn-block">Show</button>
                                            </div>
                                        </div>

                                    </div>
                                }

                                <hr />
                                <div class="table-responsive">
                                    <table id="KgErpDataTable" class="table table-striped">
                                        <thead>
                                            <tr style="background-color:#32527B;color:#FFFFFF">
                                                <th>
                                                    SL
                                                </th>
                                                <th>
                                                    EmployeeId
                                                </th>

                                                <th>
                                                    Employee Name
                                                </th>

                                                <th>
                                                    Designation
                                                </th>
                                                <th>
                                                    Company
                                                </th>

                                                <th>
                                                    Subjet
                                                </th>

                                                <th>
                                                    Services
                                                </th>

                                                <th>
                                                    Status
                                                </th>

                                                <th>
                                                    Date
                                                </th>
                                                <th>
                                                    Change Status
                                                </th>


                                        </thead>

                                        @{int sl = 0;
                                        }
                                        <tbody>
                                            @foreach (var item in Model.DataList)
                                            {
                                                <tr>
                                                    <td>
                                                        @(++sl)
                                                    </td>

                                                    <td>
                                                        @item.CreatedBy
                                                    </td>
                                                    <td>
                                                        @item.EmpName
                                                    </td>

                                                    <td>
                                                        @item.DesignationName
                                                    </td>

                                                    <td>
                                                        @item.CompanyName
                                                    </td>

                                                    <td>
                                                        @item.Subject
                                                    </td>


                                                    <td style="padding:5px;text-align:left; width:200px">
                                                        @if (item.TaskType == 1)
                                                        {
                                                            <b class="text-info"> ERP </b>
                                                        }
                                                        @if (item.TaskType == 2)
                                                        {
                                                            <b class="text-secondary"> IT </b>
                                                        }
                                                        @if (item.TaskType == 3)
                                                        {
                                                            <b class="text-secondary"> Admin </b>
                                                        }
                                                        @if (item.TaskType == 4)
                                                        {
                                                            <b class="text-secondary"> Accounts </b>
                                                        }
                                                        @if (item.TaskType == 5)
                                                        {
                                                       <b class="text-secondary"> Engineers </b>
                                                        }

                                                    </td>

                                                    <td>
                                                        @if (item.Status == 1)
                                                        {
                                                            <span class="badge1 bg-warning"> Pending </span>
                                                        }

                                                        @if (item.Status == 2)
                                                        {
                                                            <span class="badge1 bg-primary text-dark"> In progress </span>
                                                        }

                                                        @if (item.Status == 3)
                                                        {
                                                            <span class="badge1 bg-success text-dark"> Done </span>
                                                        }
                                                        @if (item.Status == 4)
                                                        {
                                                            <span class="badge1 bg-danger text-dark"> Cancel </span>
                                                        }
                                                    </td>

                                                    <td>@item.Date</td>
                                                    <td class="text-right">
                                                        <button type="button" class="btn btn-sm btn-primary" onclick="makeDeletale(@item.Id)" data-toggle="modal" data-target="#deleteProcurementPurchaseOrderSlaveModal" style="background-color: #ffc107;border-color: #ffc107;">Change</button>
                                                        <button type="button" class="btn btn-sm btn-primary" onclick="makeView(@item.Id)" data-toggle="modal" data-target="#viewProcurementPurchaseOrderSlaveModal" style="background-color: #a7d0f3;border-color: #ffc107;">View</button>
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
@using (Html.BeginForm("ChangeStatusEng", "Ticket", FormMethod.Post, new { id = "deleteProcurementPurchaseOrderSlaveFormId", @class = "formValidator" }))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="deleteProcurementPurchaseOrderSlaveModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b> Change  Status </b></h5>
                </div>
                <div class="modal-body">

                    @Html.HiddenFor(model => model.Id, new { id = "hidDeleteProcurementPurchaseOrderSlaveId" })
                    @Html.HiddenFor(model => model.CompanyId, new { id = "deleteCompanyFK" })




                    <div style="text-align:left">
                        <h3>Are you sure to Change this Status?</h3>
                    </div>

                    <div class="row">
                        <div class="form-group" style="padding:20px">
                            @Html.Label("Change Status", htmlAttributes: new { @class = "control-label" })
                            <br />
                            @Html.DropDownListFor(model => model.Status, Model.TicketingStatuslist as SelectList, "==Select Status==", new { id = "ddlStatus", @class = "form-control ddlReset", style = "width:100%", required = "required" })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetProcurementPurchaseRequisitionSlaveForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp; Submit  </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



<div class="modal fade" id="viewProcurementPurchaseOrderSlaveModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                    &times;
                </button>
                <h5 class="modal-title"><b> Request Details  </b></h5>
            </div>
            <div class="modal-body">

                <div class="row">
                    <b class="col-lg-3"> Create By</b><b class="col-lg-9" id="empname"> </b>
                </div>
                <div class="row">
                    <b class="col-lg-3"> Employee Id</b><b class="col-lg-9" id="createby"> </b>
                </div>
                <div class="row">
                    <b class="col-lg-3"> Create Date</b><b class="col-lg-9"> <b id="createdate"> </b> </b>
                </div>
                <div class="row">
                    <b class="col-lg-3 text-info"> Subject </b><b class="col-lg-9 text-info"> <b id="Subject" style="text-decoration: underline;"> </b> </b>
                </div>
                <div class="row">
                    <div class="col-lg-3"> Description</div><div class="col-lg-9"> <p id="Description"> </p> </div>
                </div>


            </div>
  
        </div>
    </div>
</div>












@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/cssjqryUi")
@section scripts {
    <script type="text/javascript">

            var data=@Html.Raw(Json.Encode(Model.DataList));
        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });

        function makeDeletale(rowId) {
            $('#hidDeleteProcurementPurchaseOrderSlaveId').val(rowId);

        }

        function makeView(row) {
            var datalist = data.find(d => d.Id == row);
            document.getElementById('empname').innerText = datalist.EmpName;
            document.getElementById('createby').innerText = datalist.CreatedBy;
            document.getElementById('createdate').innerText = datalist.Date;
            document.getElementById('Subject').innerText = datalist.Subject;
            document.getElementById('Description').innerText = datalist.Description;
        }
        function resetProcurementPurchaseRequisitionSlaveForm() {
            $('#procurementPurchaseRequisitionSlaveFormId')[0].reset();
        }

    </script>
}