
@model KGERP.Service.ServiceModel.TicketingViewModel
@{
    ViewData["Request Ticket"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-group {
        margin-top: 30px !important;
    }
</style>

<div class="row">
    <div class="col-md-4">
        <h3 class="text-info">New Request </h3>
    </div>

</div>

<hr />
<br />
@using (Html.BeginForm("Request_Ticket", "Ticket", FormMethod.Post))
{

    <div class="row">
        @Html.HiddenFor(model => model.CompanyId)
        <div class="col-md-6">
            @Html.Label("Services", htmlAttributes: new { @class = "control-label" })
            <br />
            @Html.DropDownListFor(model => model.TaskType, Model.TaskTypeList as SelectList, "==Select Services==", new { id = "ddlStatusEnumFK", @class = "form-control ddlReset", style = "width:100%", required = "required" })

            @Html.ValidationMessageFor(model => model.TaskType, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.Label("Company", htmlAttributes: new { @class = "control-label" })

                <br />
                @Html.DropDownListFor(model => model.CompanyIdFK, new SelectList(Model.Companies, "Value", "Text"), "==Select Company==", new { @class = "dropdownsize form-control", @id = "ddlCompany", required = "required" })
                @Html.ValidationMessageFor(model => model.CompanyIdFK, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label" })
                <br />
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @style = "max-width:100%", @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <label for="Description" class="form-label">
                Reason
            </label>
            <textarea class="form-control" style="max-width: 100%" required name="Description" id="Description" rows="4"></textarea>
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row mt-4">       
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-offset-3 col-md-10">
                    <button type="submit" class="btn btn-primary" onclick="javascript: return SubmitForm();" style="margin-left: 20px;"> Submit </button>
                </div>
            </div>
        </div>

    </div>

}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

}
