@model KGERP.Service.ServiceModel.PaymentModel

@{
    var message = TempData["successMessage"];
    ViewBag.Title = "Payment List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>Payment List</h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li>
            <a href="@Url.Action("CreateOrEdit", new { id = 0 })" class="btn btn-primary pull-right">
                <span class="fa fa-plus"></span> New Payment
            </a>
        </li>
    </ol>
</section>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-body">
                        @using (Html.BeginForm("Index", "Payment", FormMethod.Post, new { @class = "formValidator" }))
                        {
                            @Html.HiddenFor(model => model.CompanyId, new { id = "CompanyId" })
                            <div class="row">
                                <div class="col-md-3">

                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
                                        <br />
                                        @Html.EditorFor(model => model.StrFromDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.StrFromDate, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.Label("To Date", htmlAttributes: new { @class = "control-label" })
                                        <br />
                                        @Html.EditorFor(model => model.StrToDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.StrToDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3" style="padding: 0px 2px 0px 8px;">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block">Show</button>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="table-responsive">
                            <table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width:5%;">SL</th>
                                        <th style="width:5%;">Trans. Date</th>
                                        <th style="width:15%;">Customer</th>
                                        <th style="width:10%;">Customer Code</th>
                                        <th style="width:5%;">Payment Mode</th>
                                        <th style="width:5%;">M.R No</th>
                                        <th style="width:auto;">Reference No</th>
                                        <th style="width:5%;">Credit</th>
                                        <th style="width:5%;">Debit</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td style="width:10px;">
                                                @(++sl)
                                            </td>
                                            <td>
                                                @item.TransactionDate.ToString("dd/MMM/yyyy")
                                            </td>
                                            <td>@item.Customer</td>
                                            <td>
                                                @item.CustomerCode
                                            </td>
                                            <td>
                                                @item.PaymentMode
                                            </td>
                                            <td>
                                                @item.MoneyReceiptNo
                                            </td>
                                            <td>
                                                @item.ReferenceNo
                                            </td>
                                            <td>
                                                @item.InAmount
                                            </td>
                                            <td>
                                                @item.OutAmount
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });
        var message = '@message';
    if(message){
        alert(message);
    }

    </script>

}
