@model IList<KGERP.Service.ServiceModel.CompanyModel>
@using KGERP.TreeViewModel;
@using KGERP.Utility

<link href="~/Scripts/TreeView/dist/themes/default/style.css" rel="stylesheet" />
<div class="form-body" style="margin-left: -7px;margin-top: 10px;">
    <div class="m-2" style=" margin-bottom: 5px; margin-top: 5px; margin-left: 10px; margin-right: 5px;">
        <input type="text" placeholder="Search for..." autocomplete="off" class="form-control" id="search">
    </div>
    <div id="jstree">

        @(Html.TreeView(Model).EmptyContent("<b style='font-family:Arial;font-weight:bold;font-size:20px;color:#F52029'>"+ @CompanyInfo.ProjectShortTitle + "</b>").Children(m => m.Company1).HtmlAttributes(new { id = "tree" }).ChildrenHtmlAttributes(new { @class = "subItem" }).ItemText(m => m.Name).ItemTemplate(

            @<text>

               @{
                   if (item.LayerNo == 3)
                           {
                                <a href="@("/"+item.Controller+"/"+item.Action+"?companyId="+item.CompanyId+item.Param+"&")'" onclick="location.href='@("/"+item.Controller+"/"+item.Action+"?companyId="+item.CompanyId+item.Param)'">
                                     @item.ShortName
                                </a>
                           }
                   else
                           {
                                @item.ShortName
                           }

               }
       </text>)

            )
    </div>
</div>




<script type="text/javascript">
    $(function () {
        var selectedData;
        var $proceduresTree = $('#procedures-tree');
        $('#jstree').jstree({
            "core": {
                "multiple": true,
                "check_callback": false,
                'themes': {
                    "responsive": true,
                    'variant': 'medium',
                    'stripes': false,
                    'dots': true,
                }
            },
            "plugins": ["search", "state"],
            "search": {
                "case_sensitive": false,
                "show_only_matches": true
            },
            "types": {
                "default": {
                    "icon": "glyphicon glyphicon-minus-sign"
                },
                "demo": {
                    "icon": "glyphicon glyphicon-plus-sign"
                }

            }
        });
    });

    $(document).ready(function () {
        $("#search").keyup(function () {
            var searchString = $(this).val();
            //console.log(searchString);
            $('#jstree').jstree('search', searchString);
        });
    });

</script>



@*@{
        var MenuC1 = @Session["Menu1"].ToString();
        var MenuC2 = @Session["Menu2"].ToString();
        var MenuC3 = @Session["Menu3"].ToString();
        var MenuC4 = @Session["Menu4"].ToString();
        var MenuC5 = @Session["Menu5"].ToString();
        var MenuC6 = @Session["Menu6"].ToString();
        var MenuC7 = @Session["Menu7"].ToString();
        var MenuC8 = @Session["Menu8"].ToString();
        var MenuC9 = @Session["Menu9"].ToString();
        var MenuC10 = @Session["Menu10"].ToString();

        string Menu = MenuC1.ToString().ToLower() + MenuC2.ToString().ToLower() + MenuC3.ToString().ToLower() + MenuC4.ToString().ToLower() + MenuC5.ToString().ToLower() + MenuC6.ToString().ToLower() + MenuC7.ToString().ToLower() + MenuC8.ToString().ToLower() + MenuC9.ToString().ToLower() + MenuC10.ToString().ToLower();
        string MainMenu = "", SubMenu = "", Menuitem = "", Method = "";


        while (Menu.Substring(0, 1) == "]")
        {
            MainMenu = Menu.Substring(1, Menu.IndexOf("$") - 1);
            Menu = Menu.Substring(@MainMenu.Length + 1, Menu.Length - @MainMenu.Length - 1);

            <li class="header">@MainMenu.ToUpper()</li>

            // while (Menu.Length > 1)
            while (Menu.Substring(0, 1) == "$")
            {
                SubMenu = Menu.Substring(1, Menu.IndexOf("#") - 1);
                Menu = Menu.Substring(@SubMenu.Length + 1, Menu.Length - @SubMenu.Length - 1);

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa fa-th"></i> <span>@SubMenu.ToUpper()</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        @while (Menu.Substring(0, 1) == "#")
                        {
                            Menuitem = Menu.Substring(1, Menu.IndexOf("|") - 1);
                            Menu = Menu.Substring(@Menuitem.Length + 1, Menu.Length - @Menuitem.Length - 1);

                            Method = Menu.Substring(1, Menu.IndexOf("^") - 1);
                            Menu = Menu.Substring(@Method.Length + 2, Menu.Length - @Method.Length - 2);

                            <li><a href="~/@Method"><i class="fa fa-share"></i>@Menuitem.ToUpper()</a></li>
                        }
                    </ul>
                </li>

            }

    }

    }*@
