@model KGERP.Data.CustomModel.MainMenuListVm
@using KGERP.TreeViewModel;
<style>
    a {
        color: white;
        text-decoration: none;
    }

    li {
        list-style: none;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #4caf50;">
    <a class="navbar-brand" style="color:white;" href="@Url.Action("Index", "Crms", new {companyId= Model.CompanyId})">

        <img src="@Model.CompanyLogo" width="30" height="30" class="d-inline-block align-top" alt="">

        <b>@Model.CompanyText</b>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" style="background-color:#ddd;"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            @foreach (var m in Model.DataList)
            {
                if (m.SubMenuList.Count <= 0)
                {
                    <li>
                        <a class="nav-link" style="color:white;" href="@("/" + m.ControllerName + "/" + m.ActionName + "?companyId=" + m.CompanyId + m.Param + "&")" onclick="location.href='@("/" + m.ControllerName + "/" + m.ActionName + "?companyId=" + m.CompanyId + m.Param)'">
                            @m.MainMenuName
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style=" color:white;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @m.MainMenuName
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @foreach (var sm in m.SubMenuList)
                            {
                                <a class="dropdown-item" href="@("/" + sm.ControllerName + "/" + sm.ActionName + "?companyId=" + sm.CompanyId + sm.Param + "&")" onclick="location.href='@("/" + sm.ControllerName + "/" + sm.ActionName + "?companyId=" + sm.CompanyId + sm.Param)'">
                                    @sm.SubMenuName
                                </a>
                            }
                        </div>
                    </li>
                }
            }

            <li class="nav-item dropdown">
                <a class="nav-link" style="font-size: 15px; color: white; " data-toggle="dropdown" href="#">
                    <i class="far fa-user"></i>
                    <span class="hidden-xs">@Session["EmployeeName"].ToString()</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    @*<span class="dropdown-item dropdown-header">Schedule</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> Today schedule
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> This week schedule
                        </a>*@
                    <div class="dropdown-divider"></div>
                    @using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item dropdown-footer"><i class="fa fa-sign-out"></i> &nbsp; Sign Out</a>
                    }
                </div>
            </li>
            <li>
                @if (Model.CompanyId == 7)
                {
                    <a style="color:white;" href="@Url.Action("Index", "Crms", new {companyId= 9})"><b>KPL</b></a>
                    <a style="color:white;" href="@Url.Action("Index", "Home")"><b>Go to ERP</b></a>
                }
                else if (Model.CompanyId == 9)
                {
                    <a style="color:white;" href="@Url.Action("Index", "Crms", new {companyId= 7})"><b>GLDL</b></a>
                    <a style="color:white;" href="@Url.Action("Index", "Home")"><b>Go to ERP</b></a>
                }
            </li>
            <li>

            </li>
        </ul>

    </div>
</nav>




