@model KGERP.ViewModel.AccountHeadViewModel
@using System.Web.UI.WebControls
@using KGERP.TreeViewModel


<h2 class="text-center" style="border:1px solid #32527B; padding:0px; color:white; background-color:#32527B">Chart of Accounts - Treeview</h2>
@*<link href="~/Content/jsTree/themes/default/style.min.css" rel="stylesheet" />*@


<link href="~/Scripts/TreeView/dist/themes/default/style.min.css" rel="stylesheet" />
<div class="form-body">
    <div id="jstree">
        @(Html.TreeView(Model.AccountHeads).EmptyContent("<span style='font-size:15px;'>General Ledger</span>")
                                                                                          .Children(m => m.AccountHeadProcess1)
                                                                                          .HtmlAttributes(new { id = "tree" })
                                                                                      .ChildrenHtmlAttributes(new { @class = "subItem" })
                                                                                          .ItemText(m => m.AccName)
                                                                                          .ItemTemplate(
                                                                        @<text>
                                                                            <a href="#" onclick="getChartOfAccount('@item.Id','@item.LayerNo')" title="@item.Id" desc="@item.AccName"><span style="font-size:15px;">@(item.AccCode + "-" + item.AccName)</span></a>
                                                                        </text>)
        )
    </div>
</div>

<div id="divChildAccountHead">
</div>




@section scripts
{
    @*<script src="~/Scripts/jsTree3/jstree.min.js"></script>*@
    @*<script src="~/Scripts/TreeView/dist/jstree.js"></script>*@
    <script>
        //$(function () {
        //    var selectedData;
        //    $('#jstree').jstree({
        //        "core": {
        //            "multiple": true,
        //            "check_callback": false,
        //            'themes': {
        //                "responsive": true,
        //                'variant': 'larg',
        //                'stripes': true,
        //                'dots': true
        //            }
        //        },
        //        "types": {
        //            "default": {
        //                "icon": "glyphicon glyphicon-plus-sign"
        //            }
        //        },
        //        "plugins": ["conditionalselect"]
        //    });
        //});


        function getChartOfAccount(accountHeadId, layerNo) {
            alert();
            //$.ajax({
            //    url: '/HeadGLs/GetChildHead?accountHeadId=' + accountHeadId + '&layerNo=' + layerNo + "",
            //    type: "GET",
            //    async: true,
            //    processData: false,
            //    cache: false,
            //    success: function (data) {
            //        $('#divChildAccountHead').html(data);
            //    },
            //    error: function (xhr) {
            //        alert('error');
            //    }
            //});
        }
    </script>
}




































@*<h2>Chart of Accounting TreeView</h2>
    <div id="container">

    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/cssjqryUi")

        <script type="text/javascript">
            $(function () {
                $('#container').jstree({
                    'core': {
                        'data': {
                            "url": "/AccountHeads/TreeViewItems",
                            "dataType": "json" // needed only if you do not supply JSON headers
                        }
                    }
                });
            });
        </script>

    }*@
