
@using PagedList.Mvc;
@model PagedList.IPagedList<KGERP.Service.ServiceModel.KttlCustomerModel>
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@using (Html.BeginForm("Index", "KTTLCRM", FormMethod.Get))
    {
        <div class="row">
            <div class="col-md-6">
                <h4><b>KTTL Client List</b></h4>
            </div>
            <div class="col-md-4">
                <div class="col-md-10">@Html.TextBox("searchText", null, new { @autocomplete = "off", @class = "form-control pull-right", @placeholder = "Search..." })</div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success">Search&nbsp;<i class="fa fa-search"></i></button>
                </div>
            </div>

            <div class="col-md-2">
                <a href="@Url.Action("CreateOrEdit", new { id = 0 })" title="New Client" class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-user"></span> Add
                </a>
            </div>
        </div>
    }*@


@using (Html.BeginForm("Index", "KTTLCRM", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-11">
            <table class="spacing-table">
                <tr>
                    <td class="tdRightAlign">
                        @Html.LabelFor(model => model.First().ResponsiblePerson)
                    </td>
                    <td style="background-color: #E9EDBE; vertical-align: middle;">
                        @Html.DropDownListFor(model => model.First().ResponsiblePerson, new SelectList(ViewBag.ResponsiblePersons, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control", @style = "width: 250px;" })
                    </td>
                    <td class="tdRightAlign">
                        @Html.LabelFor(model => model.First().SourceOfMedia)
                    </td>
                    <td colspan="3" style="background-color: #E9EDBE; vertical-align: middle;">
                        @Html.DropDownListFor(model => model.First().SourceOfMedia, new SelectList(ViewBag.SourceOfMedias, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control", @style = "width: 250px;" })
                    </td>
                </tr>
                <tr>

                    <td class="tdRightAlign">
                        @Html.LabelFor(model => model.First().Services)
                    </td>
                    <td style="background-color: #E9EDBE; vertical-align: middle;">
                        @Html.DropDownListFor(model => model.First().Services, new SelectList(ViewBag.Servicess, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control", @style = "width: 250px;" })

                    </td>
                    <td class="tdRightAlign">
                        @Html.LabelFor(model => model.First().ServiceYear)
                    </td>
                    <td style="background-color: #E9EDBE; vertical-align: middle;">
                        @*@Html.DropDownListFor(model => model.ServiceYear, new SelectList(Model.ServiceYears), "---Select---", new { @class = "dropdownsize form-control" })*@

                        @Html.DropDownListFor(model => model.First().ServiceYear, new SelectList(ViewBag.ServiceYears), "---Select---", new { @class = "dropdownsize form-control", @style = "width: 250px;" })
                    </td>
                </tr>
                <tr>

                    <td class="tdRightAlign">
                        @Html.LabelFor(model => model.First().NationalID)
                    </td>
                    <td style="background-color: #E9EDBE; vertical-align: middle;">
                        @Html.TextBox("NidNo", null, new { @autocomplete = "off", @class = "form-control", @placeholder = "NID..." })
                        @*@Html.DropDownListFor(model => model.First().NationalID, new SelectList(ViewBag.Impressions, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control", @style = "width: 250px;" })*@

                    </td>
                    <td class="tdRightAlign">
                        @Html.LabelFor(model => model.First().MobileNo)
                    </td>
                    <td style="background-color: #E9EDBE; vertical-align: middle;">
                        @Html.TextBox("MobileNo", null, new { @autocomplete = "off", @class = "form-control", @placeholder = "MobileNo..." })
                        @*@Html.DropDownListFor(model => model.First().MobileNo, new SelectList(ViewBag.MobileNos, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control", @style = "width: 250px;" })*@

                    </td>

                </tr>
                <tr>

                    <td class="tdRightAlign">
                        <b> Client Name</b>
                    </td>
                    <td style="background-color: #E9EDBE; vertical-align: middle;">
                        @Html.TextBox("clientName", null, new { @autocomplete = "off", @class = "form-control", @placeholder = "Client name..." })
                        @*@Html.DropDownListFor(model => model.First().NIDorBirthID, new SelectList(ViewBag.Impressions, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control", @style = "width: 250px;" })*@

                    </td>
                    <td class="tdRightAlign">
                        @Html.LabelFor(model => model.First().PassportNo)
                    </td>
                    <td style="background-color: #E9EDBE; vertical-align: middle;">
                        @Html.TextBox("passportNo", null, new { @autocomplete = "off", @class = "form-control", @placeholder = "passportNo..." })
                        @*@Html.DropDownListFor(model => model.First().MobileNo, new SelectList(ViewBag.MobileNos, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control", @style = "width: 250px;" })*@

                    </td>
                </tr>
            </table>
        </div>
    </div>

    <hr class="fa-ruler-horizontal"/>
    <div class="row">
        <div class="col-md-3">
            <h4><b>KTTL Client List</b></h4>
        </div>
        <div class="col-md-3">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-success">Search&nbsp;<i class="fa fa-search"></i></button>
            </div>
        </div>
        <div class="col-md-3">
            <a href="@Url.Action("ExportKGREClientToExcel", new {       
                              ResponsiblePerson = Request.QueryString["ResponsiblePerson"],
                              SourceOfMedia = Request.QueryString["SourceOfMedia"],               
                              clientName = Request.QueryString["clientName"],
                              passportNo = Request.QueryString["passportNo"],
                              MobileNo = Request.QueryString["MobileNo"],
                              Services = Request.QueryString["Services"],
                              ServiceYear = Request.QueryString["ServiceYear"],
                              NidNo = Request.QueryString["NidNo"]})" title="Export Client" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-download"></span> Export Client
            </a>
            @*<input type="submit" value="Export Case" class="btn btn-primary pull-right" />*@
        </div>
    </div>
}

<hr style="border-color:red; padding:0px;margin-top: 10px;margin-bottom: 20px; border-width: 2px;" />
<div style="width: 100%; height: 100%; overflow-x: visible; overflow-y: scroll;">
    <style>
        table td th {
            border: solid 1px #fab;
            width: 100px;
            word-wrap: inherit;
        }
    </style>
    <table class="table">
        <tr style="background-color:#009270;color:#FFFFFF">
            <th>SL</th>
            <th nowrap>
                @Html.DisplayNameFor(model => model.First().ClientId)
            </th>
            <th nowrap>
                @Html.DisplayNameFor(model => model.First().NationalID)
            </th>
            <th nowrap>
                @Html.DisplayNameFor(model => model.First().FullName)
            </th>
            <th nowrap>
                @Html.DisplayNameFor(model => model.First().Services)
            </th>
            <th nowrap>
                @Html.DisplayNameFor(model => model.First().ServiceYear)
            </th>
            <th nowrap>
                @Html.DisplayNameFor(model => model.First().Organization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CellNo)
            </th>

            <th style="width:110px;" nowrap>Actions</th>
        </tr>

        @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i }))
        {
        <tr>
            <td>
                @((item.Index + 1) + (Model.PageNumber - 1) * Model.PageSize)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.Data.ClientId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Data.NationalID)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.Data.FullName)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.Data.Services)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.Data.ServiceYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.Organization)
            </td>

            <td nowrap>
                @Html.DisplayFor(modelItem => item.Data.MobileNo)
            </td>
            <td>
                <a href="@Url.Action("CreateOrEdit", new { id = item.Data.ClientId })" title="Edit Client" class="btn btn-success btn-xs">
                    <i class="fa fa-pencil" style="font-size:15px;" aria-hidden="true"></i>
                </a>
                <a href="@Url.Action("Details", new { id = item.Data.ClientId })" title="Details of Client" class="btn btn-info btn-xs">
                    <i class="fa fa-eye" style="font-size:15px; color:darkgreen" aria-hidden="true"></i>
                </a>
                <a href="@Url.Action("CreateOrEdit","KttlServices",new {  clientId = item.Data.ClientId, id = 0, searchText = ""})" title="Add Service of Client" class="btn btn-info btn-xs">
                    <i class="fa fa-plus" style="font-size:15px; color:darkgreen" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        }

    </table>
    @if (Model.PageCount > 1)
    {
        <span class="btn btn-success">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        </span>
        <span class="checkbox">
            @Html.PagedListPager(Model, Page_No => Url.Action("Index", "KTTLCRM",
                          new { Page_No, Sorting_Order = Request.QueryString["Search"],
                              ResponsiblePerson = Request.QueryString["ResponsiblePerson"],
                              clientName = Request.QueryString["clientName"],
                              passportNo = Request.QueryString["passportNo"],
                              SourceOfMedia = Request.QueryString["SourceOfMedia"],
                              MobileNo = Request.QueryString["MobileNo"],
                              Services = Request.QueryString["Services"],
                              ServiceYear = Request.QueryString["ServiceYear"],
                              NidNo = Request.QueryString["NidNo"] }))
        </span>
    }
</div>
