@*@model KGERP.ViewModel.StoreViewModel*@
@model KGERP.ViewModel.StoreDetailViewModel

@{
    ViewBag.Title = "Store Detail Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    tr.error {
        background-color: rgba(255,0,0,0.35);
    }
</style>

<div class="row">
    <table class="table table-bordered">
        <tr style="background-color:#009270;color:#FFFFFF">
            <td colspan="6">
                <b>Product Reacive</b>
            </td>
        </tr>

        <tr>
            <td>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Store.VendorId, htmlAttributes: new { @class = "control-label col-md-4" })
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.Store.VendorId, new SelectList(Model.Vendors, "Value", "Text"), "---Select---", new { @class = "dropdownsize form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4">
                        <label for="CompanyName" class="control-label col-md-4">Company Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="CompanyName" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4">
                        <label for="CompanyName" class="control-label col-md-4">Address</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="Address" readonly>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="col-md-4">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Store.ReceivedCode, htmlAttributes: new { @class = "control-label col-md-4" })
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Store.ReceivedCode, htmlAttributes: new { @class = "form-control col-md-8", @readonly = "readonly" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Store.ReceivedDate, htmlAttributes: new { @class = "control-label col-md-4" })
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Store.ReceivedDate, htmlAttributes: new { @type = "Datetime", @class = "form-control col-md-8", @autocomplete = "off" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Store.StockInfoId, htmlAttributes: new { @class = "control-label col-md-4" })
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Store.StockInfoId, new SelectList(Model.StockInfos, "Value", "Text"), "---Select---", new { @class = "dropdownsize form-control" })
                    </div>

                </div>
            </td>
        </tr>
    </table>

</div>

@*<div class="row">
        <table class="table table-bordered">
            <tr style="background-color:#009270;color:#FFFFFF">
                <td colspan="6">Product</td>
            </tr>
            <tr style="background-color:white;color:black">
                <td colspan="6">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.StoreDetail.BatchId, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.StoreDetail.BatchId, htmlAttributes: new { @class = "form-control col-md-8", @readonly = "readonly" })
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.StoreDetail.ProductCategoryId, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.StoreDetail.ProductCategoryId, new SelectList(Model.ProductCategories, "Value", "Text"), "---Select---", new { @class = "dropdownsize form-control", @id = "ddlProductCategory" })


                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.StoreDetail.ProductSubCategoryId, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.StoreDetail.ProductSubCategoryId, new SelectList(Model.ProductSubCategories, "Value", "Text"), "---Select---", new { @class = "dropdownsize form-control", @id = "ddlProductSubCategory" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.StoreDetail.ProductId, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.StoreDetail.ProductId, new SelectList(Model.Products, "Value", "Text"), "---Select---", new { @class = "dropdownsize form-control", @id = "ddlProduct" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.StoreDetail.UnitPrice, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.StoreDetail.UnitPrice, htmlAttributes: new { @class = "form-control col-md-8", @id = "unitPrice"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.StoreDetail.Qty, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.StoreDetail.Qty, htmlAttributes: new { @class = "form-control col-md-8", @id = "qty"})
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.StoreDetail.TotalAmount, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.StoreDetail.TotalAmount, htmlAttributes: new { @class = "form-control col-md-8", @readonly = "readonly", @id = "totalAmount" })
                                </div>

                            </div>

                        </div>
                        <div>
                            <input type="button" id="add" value="Add" class="btn btn-success" />
                        </div>
                    </div>

                </td>
            </tr>
        </table>
    </div>*@
<div class="row">
    <table class="table table-bordered">
        <tr style="background-color:#009270;color:#FFFFFF">
            <td colspan="6">Product</td>
        </tr>
    </table>
</div>
<div class="details">
    <table class="table table-responsive">
        <tr>
            <th>Product Category</th>
            <th>Product Sub Category</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unite Price</th>
            <th>Total Amount</th>
            <th>&nbsp;</th>
        </tr>
        <tr class="mycontainer" id="mainrow">
            <td>
                <select id="productCategory" class="pc form-control" onchange="LoadProductSubCategory(this)">
                    <option>Select</option>
                </select>
                <span class="error">Select Category</span>
            </td>
            <td>
                <select id="productSubCategory" class="psc form-control" onchange="LoadProduct(this)">
                    <option>Select</option>
                </select>
                <span class="error">Select Sub Category</span>
            </td>
            <td>
                <select id="product" class="product form-control">
                    <option>Select</option>
                </select>
                <span class="error">Select Product</span>
            </td>
            <td>
                <input type="text" id="qty" class="qty form-control" autocomplete="off" />
                <span class="error">Valid quantity required</span>
            </td>
            <td>
                <input type="text" id="unitPrice" class="unitPrice form-control" autocomplete="off" />
                <span class="error">Valid rate required</span>
            </td>
            <td>
                <input type="text" id="amount" class="amount form-control" readonly />
            </td>
            <td>
                <input type="button" id="add" value="add" style="width:80px" class="btn btn-success" />
            </td>
        </tr>
    </table>
    <div id="orderItems">
        <table class="table table-responsive" id="orderdetailsItems"></table>
        <span id="orderItemError" style="color:red"></span>
    </div>
    <table>
        <tr>
            <td>

                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Total Amount</label>
                        </div>
                        <div class="col-md-8">
                            <input type="text" readonly class="form-control" id="tamount">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Discount(%)</label>
                        </div>
                        <div class="col-md-8">
                            <input type="number" class="form-control" id="disrate">
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Discount Amount</label>
                        </div>
                        <div class="col-md-8">
                            <input type="number" class="form-control" id="disamount">
                        </div>
                    </div>
                </div>

            </td>
            
        </tr>
        <tr>
            <td>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Grand Total</label>
                        </div>
                        <div class="col-md-8">
                            <input type="number" readonly class="form-control" id="grandtotal">
                        </div>
                    </div>
                </div>
                </td>
            <td>
                <div class="col-md-4">
                    <div style="padding:10px 0; text-align:right">
                        <input id="submit" type="button" value="Save Order" class="btn btn-warning" style="padding:5px 10px" />
                    </div>
                </div>
            </td>
        </tr>
    </table>
    @*<div style="padding:10px 0; text-align:right">
        <input id="submit" type="button" value="Save Order" class="btn btn-warning" style="padding:5px 10px" />
    </div>*@
</div>

@*<div id="items">
        <table class="table table-responsive" id="storeDetailsItems"></table>

    </div>
    <div style="padding: 10px 0; text-align: right">
        <input id="submit" type="button" value="Save" class="btn btn-warning" style="padding:10px 20px" />

    </div>*@

@*<div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <h4><b>Store Detail Information</b></h4>
            </div>
        </div>
        <div class="col-md-2 pull-right">
            <div class="form-group">
                <a href="@Url.Action("Index", new {storeId= ViewBag.StoreId })" class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-user"></span> Add
                </a>
            </div>
        </div>
    </div>*@

<script src="~/Scripts/myScripts.js"></script>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "2001:+50"
            });
        });

        $('#ddlProductCategory').change(function () {
            $.ajax({
                type: "post",
                url: "/ProductSubCategories/GetProductSubCategorySelectModelsByProductCategory",
                data: { productCategoryId: $('#ddlProductCategory').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var ProductSubCategory = "<select>";
                    ProductSubCategory = ProductSubCategory + '<option value="">--Select--</option>';
                    for (var i = 0; i < data.length; i++) {
                        ProductSubCategory = ProductSubCategory + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }
                    ProductSubCategory = ProductSubCategory + '</select>';
                    $('#ddlProductSubCategory').html(ProductSubCategory);
                }
            });
        });


        $('#ddlProductSubCategory').change(function () {
            $.ajax({
                type: "post",
                url: "/Products/GetProductSelectModelsByProductSubCategory",
                data: { productSubCategoryId: $('#ddlProductSubCategory').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var Product = "<select>";
                    Product = Product + '<option value="">--Select--</option>';
                    for (var i = 0; i < data.length; i++) {
                        Product = Product + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }
                    Product = Product + '</select>';
                    $('#ddlProduct').html(Product);
                }
            });
        });

        var amount = 0;
        $("#unitPrice").keyup(function () {


            var unitPrice = ($(this).val());
            var qty = $('#qty').val();
            amount = unitPrice * qty;
            $('#amount').val(amount);
        });

        $("#qty").keyup(function () {
            var qty = ($(this).val());
            var unitPrice = $('#unitPrice').val();

            $('#amount').val(unitPrice * qty);
        });

    </script>
}
