@model KGERP.Service.ServiceModel.ProductionMasterModel
@using KGERP.Utility;

@{
    ViewData["Title"] = "Production Process";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;
}

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>
<section class="content-header">
    <h1>
        <span>
            Production List
        </span>

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Produciton</li>
    </ol>
</section>
@using (Html.BeginForm("ProductionList", "ProductionMaster", FormMethod.Post, new { id = "procurementPurchaseOrderListFormId", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        @Html.HiddenFor(model => model.CompanyId, new { id = "CompanyId" })
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Production Status</label>
                                    @Html.DropDownListFor(model => model.ProductionStatusId, new SelectList(Model.ProductionStatusList, "Value", "Text"), "---Select---", new { @class = "dropdownsize form-control", @id = "ddlProductionStatusId" })
                                    @Html.ValidationMessageFor(model => model.ProductionStatusId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
                                    <br />
                                    @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.Label("To Date", htmlAttributes: new { @class = "control-label" })
                                    <br />
                                    @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3" style="padding: 0px 2px 0px 8px;">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <button type="submit" id="btnSave" class="btn btn-primary btn-block">Show</button>
                                </div>
                            </div>
                        </div>


                        <hr />
                        <div class="table-responsive col-md-12  text-nowrap">
                            <table id="KgErpDataTable" class="table table-striped" width="100%">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Date</th>
                                        <th>Product Name</th>
                                        <th>Prod. Status</th>
                                        <th>Submission Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <th>@(++sl)</th>
                                            <td>@item.ProductionDate.ToString("dd-MM-yyyy")</td>
                                            <td>@item.NewProductName</td>
                                            <td>@item.ProductionStatusName</td>
                                            @if (item.IsSubmitted == false)
                                            {
                                                <td>
                                                    <a href="/ProductionMaster/ProductionMasterSlave?companyId=@item.CompanyId&productionMasterId=@item.ProductionMasterId">Edit Or Submit</a>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>Submitted</td>
                                            }
                                            <td>
                                                <a href="/ProductionMaster/ProductionMasterSlave?companyId=@item.CompanyId&productionMasterId=@item.ProductionMasterId">View</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">
                        @*@if (Model.ID > 0)
                            {
                                <a target="_blank" href="~/Shipment/DeliveryChallanePrint/@Model.ID" class="btn btn-primary" style="width:100%">Print</a>
                            }*@
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/cssjqryUi")
@section scripts {

    <script type="text/javascript">


        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });

        $(document).ready(function () {

            $("#txtSupplierName").autocomplete({
                source: function (request, response) {
                    //console.log(request);
                    //console.log(response);

                    $.ajax({
                        url:"@Url.Action("GetAutoCompleteSupplierGet", "Procurement")",// '/AccountHeads/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { prefix: request.term, companyId: "@Model.CompanyFK" },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                           response($.map(data, function (item) {
                               return item;
                           }))
                        },
                        error: function (response) {
                                                                        //alert(response.responseText);
                        },
                        failure: function (response) {
                                                                        //alert(response.responseText);
                        }
                    });
                },

                select: function (e, i) {
                    $("#ddlCommon_SupplierFK").val(i.item.val);

                    },
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });

            $("#ddlSupplierPaymentMethodEnumFK").change(function () {
                var paymethod = $("#ddlSupplierPaymentMethodEnumFK").val();
                if (paymethod === "@((int)VendorsPaymentMethodEnum.LC)") {
                    $("#piReletedDivId").show();
                }
                else {
                    $("#piReletedDivId").hide();
                }

            })


        })

        function makeCloseable(rowId, actionId) {
            $('#hidcloseReopenProcurementPurchaseOrderId').val(rowId);

              $('#hidcloseReopenActionId').val(actionId);

            if (actionId == "@((int)ActionEnum.Close)") {
                $('.closeReopenText').text("Close");
            }
            if (actionId == "@((int)ActionEnum.ReOpen)") {
                $('.closeReopenText').text("Reopen");
            }
        }

    </script>
}




