@model KGERP.Service.ServiceModel.GLDLBookingViewModel
@{
    ViewBag.Title = "CustomerBookingList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }

    .ui-front {
        z-index: 2100 !important;
    }

    .ui-datepicker {
        z-index: 2100 !important;
    }

    @@media (min-width: 768px) {
        .modal-content {
            width: 750px;
        }
    }

    .input-group {
        width: 100% !important;
    }

    .mb-2 {
        margin-bottom: 15px !important;
    }

    .input-group .form-control {
        max-width: 100%;
    }

    .badge-primary {
        color: #fff;
        background-color: #007bff;
    }

    .badge-success {
        color: #fff;
        background-color: #28a745;
    }

    .badge-danger {
        color: #fff;
        background-color: #dc3545;
    }

    .badge-dark {
        color: #fff;
        background-color: #343a40;
    }

    .badge-info {
        color: #fff;
        background-color: #17a2b8;
    }

    .content-header {
        position: relative;
        padding: 5px 15px 5px 5px;
        background-color: #4caf5029 !important;
    }
</style>
<section class="content-header" style="margin-bottom:20px">
    <div class="row">
        <div class="col-sm-12">
            <b style="font-size:20px">
                Customer Booking List
            </b>
        </div>
        <div class="col-sm-12" style="margin-top:10px;">
            @using (Html.BeginForm("FilterBookingList", "ProductBooking", FormMethod.Post, new { @class = "formValidator" }))
            {
                @Html.HiddenFor(model => model.CompanyId, new { id = "CompanyId" })
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label(" Booking From Date", htmlAttributes: new { @class = "control-label" })
                        <br />
                        <div style="display:flex">
                            @Html.EditorFor(model => model.StrFromDate, new { htmlAttributes = new { @class = "datepicker form-control", @autocomplete = "off", @style = "width: 100%;" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.Label("Booking ToDate", htmlAttributes: new { @class = "control-label" })
                        <br />
                        <div style="display:flex">
                            @Html.EditorFor(model => model.StrToDate, new { htmlAttributes = new { @class = "datepicker form-control", @autocomplete = "off", @style = "width: 100%;" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-4" style="padding: 0px 2px 0px 8px;">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <button type="submit" id="btnSave" class="btn btn-primary btn-block">Show</button>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>

<div>

</div>

<div class="table-responsive col-md-12">
    <table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
        <thead>
            <tr>
                <th>SL</th>
                <th>File No</th>
                <th>Booking date</th>
                <th>Customer Name</th>
                <th>Project Name</th>
                <th>Block Name</th>
                <th>Total Value</th>

                <th>Steps</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        @{int sl = 0;
        }
        <tbody>
            @foreach (var item in Model.datalist)
            {
            <tr>
                <td>@(++sl)</td>
                <td>@item.FileNo</td>
                <td>@item.BookingDate.Value.ToString("dd-MM-yyyy")</td>
                <td>@item.CustomerGroupName</td>
                <td>@item.ProjectName</td>
                <td>@item.BlockName</td>
                <td>
                    <span> @(item.RestofAmount) </span></td>
                <td>
                    @if (item.Step == 1)
                    {
                        <span class="badge badge-primary">Dealing officer</span>
                    }
                    @if (item.Step == 2)
                    {
                        <span class="badge badge-dark">Head of sales</span>
                    }
                    @if (item.Step == 3)
                    {
                        <span class="badge badge-success"> DMD approval</span>
                    }
                    @if (item.Step == 4)
                    {
                        <span class="badge badge-success"> MD approval</span>
                    }
                </td>
                <td>
                    @if (item.Status == 1)
                    {
                        <span class="badge badge-primary">Draft</span>
                    }
                    @if (item.Status == 2)
                    {
                        <span class="badge badge-dark">Recheck</span>
                    }
                    @if (item.Status == 3)
                    {
                        <span class="badge badge-success">Approve</span>
                    }
                    @if (item.Status == 4)
                    {
                        <span class="badge badge-danger">Reject</span>
                    }
                </td>
                <td>
                    <a href="/ProductBooking/CustomerBookingInformation?companyId=@item.CompanyId&CGId=@item.CGId" target="_blank" class="btn btn-warning btn-xs">
                        Details
                    </a>


                    @*@if (item.IsSubmited)
            {
                <button data-toggle="modal" data-target="#paytypeModal" onclick="Collaction(@item.CGId)" class="btn btn-info btn-xs">
                    Collaction
                </button>
            }
            else
            {
                <button disabled class="btn btn-info btn-xs">
                    Collaction
                </button>
            }*@

                </td>

            </tr>
            }
        </tbody>
    </table>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Change Booking Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("BookingStatus", "ProductBooking", FormMethod.Post))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.CompanyId, new { @id = "CompanyId" })
                    @Html.HiddenFor(x => x.CGId, new { @id = "CGId" })
                    @Html.HiddenFor(x => x.BookingId, new { @id = "BookingId" })

                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Select Status</label>
                        <select class="form-control" name="Status" id="Status">
                            <option value="1">Draft</option>
                            <option value="2">Recheck</option>
                            <option value="3">Approve</option>
                            <option value="4">Reject</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <input id="submit" type="submit" data-confirm="Are you sure to submit?" value="Submit" class="btn btn-success pull-right" />
                        <a @*href="@Url.Action("Index","Demand",new { companyId=Model.CompanyId})"*@ data-dismiss="modal" class="btn btn-danger pull-right" style="margin-right:15px">
                            Close <i class="fa fa-close" aria-hidden="true"></i>
                        </a>
                    </div>

                </div>
            }
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="paytypeModal" tabindex="-1" role="dialog" aria-labelledby="expaytypeModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="expaytypeModal"> Change Booking Status</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    @Html.HiddenFor(x => x.CompanyId, new { @id = "CompanyId" })
                    <input name="CGId" id="ctCGId" type="hidden" />
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Select Status</label>
                        <select class="form-control" name="CollactionType" id="CollactionType">
                            <option value="1">Manual-Collections </option>
                            <option value="2">Adjustment-Collections</option>
                            <option value="3">Full-Collections</option>
                        </select>
                    </div>

                    <div class="modal-footer">
                        <button id="submit" type="button" onclick="submitCollaction(@Model.CompanyId)"  class="btn btn-success pull-right"> Submit </button>             
                    </div>

                </div>
            
        </div>
    </div>
</div>



@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

<script type="text/javascript">
        $(function () {
            $("#ClientNameId").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/ProductBooking/CustomerAutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: '{"prefix":"' + request.term + '", "companyId":"' +@Model.CompanyId+'"}',
                        dataType: "json",
                        type: "POST",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#BookingBy").val(i.item.val);
                },
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });
        });

        function statusevent(bookinid, cgid) {
            $("#CGId").val(cgid);
            $("#BookingId").val(bookinid);
        }
        function Collaction(cgid) {
            $("#ctCGId").val(cgid);
        }
    function submitCollaction(companyId) {
            $("#ctCGId").val();
        window.location.href = '/ProductBooking/MultiCollaction?companyId=' + companyId + '&CGId=' + $("#ctCGId").val() + '&collactionType=' + $("#CollactionType").val() +'';
        }

</script>
}