@using PagedList.Mvc;
@model PagedList.IPagedList<KGERP.Service.ServiceModel.LandNLegalModel>
@using PagedList;
@{
    ViewBag.Title = "ClosedCase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">

    /*Custom table CSS*/
    .text-on-pannel {
        background: #fff none repeat scroll 0 0;
        height: auto;
        margin-left: 20px;
        padding: 3px 5px;
        position: absolute;
        margin-top: -47px;
        border: 1px solid #337ab7;
        border-radius: 8px;
    }

    .panel {
        /* for text on pannel */
        margin-top: 27px !important;
    }

    .panel-body {
        padding-top: 30px !important;
    }

    .spacing-table {
        font-family: 'Helvetica', 'Arial', sans-serif;
        font-size: 12px;
        border-collapse: separate;
        border-spacing: 0 5px; /* this is the ultimate fix */
        width: 100%;
    }

        .spacing-table th {
            text-align: left;
            padding: 5px 5px;
        }

        .spacing-table td {
            border-width: 3px 0;
            /* border-color: darkred;
                border-style: solid;*/
            background-color: #f1f1f1;
            color: Black;
            padding: 5px 5px;
        }

            .spacing-table td:first-child {
                /*  border-left-width: 3px;*/
                border-radius: 5px 0 0 5px;
            }

            .spacing-table td:last-child {
                /*border-right-width: 3px;*/
                border-radius: 0 5px 5px 0;
            }

    .image {
        float: left;
        max-height: 50px;
        max-width: 50px;
        margin-right: 10px;
    }

    .name {
        margin: 0;
        padding: 0;
    }

    .username {
        display: block;
        font-weight: bold;
        margin-bottom: 1em;
    }

    .ui-autocomplete {
        max-height: 320px;
        overflow: auto;
    }

    .tdRightAlign {
        width: 20%;
        font-size: medium;
        text-align: right;
    }

    .tdCenterAlign {
        background-color: #E9EDBE;
        vertical-align: middle;
        text-align: center;
    }

    /*Red Horizontal Line*/
    .redHorizontalLine {
        border-color: red;
        padding: 0px;
        margin-top: 10px;
        margin-bottom: 20px;
        border-width: 2px;
    }
</style>


@using (Html.BeginForm("ClosedCase", "LandNLegals", FormMethod.Get))
{
    <div class="row" style="justify-content:center">
        <div class="col-md-11">
        </div>
    </div>
    <div class="row">
        <table class="spacing-table">
            <tr>
                <td class="tdRightAlign"> @Html.DisplayNameFor(model => model.First().ResponsibleLawyer)</td>
                <td style="background-color: #E9EDBE; vertical-align: middle;">@Html.DropDownListFor(Model => Model.First().ResponsibleLawyer, new SelectList(ViewBag.ResponsiblePersons, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control", @style = "width: 250px;" })</td>
                <td class="tdRightAlign"> @Html.DisplayNameFor(model => model.First().BankName)</td>
                <td style="background-color: #E9EDBE; vertical-align: middle;">@Html.DropDownListFor(Model => Model.First().BankName, new SelectList(ViewBag.Banks, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control", @style = "width: 250px;" })</td>
                <td class="tdRightAlign"> @Html.DisplayNameFor(model => model.First().District)</td>
                <td style="background-color: #E9EDBE; vertical-align: middle;">@Html.DropDownListFor(Model => Model.First().District, new SelectList(ViewBag.Districts, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control", @style = "width: 250px;" })</td>
            </tr>
            <tr>
                <td class="tdRightAlign"> @Html.DisplayNameFor(model => model.First().CaseType)</td>
                <td style="background-color: #E9EDBE; vertical-align: middle;">@Html.DropDownListFor(Model => Model.First().Case_Type, new SelectList(ViewBag.CaseTypes, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control", @style = "width: 250px;" })</td>
                <td class="tdRightAlign"> @Html.DisplayNameFor(model => model.First().CaseStatus)</td>
                <td style="background-color: #E9EDBE; vertical-align: middle;">@Html.DropDownListFor(Model => Model.First().CaseStatus, new SelectList(ViewBag.CaseStatuss, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control", @style = "width: 250px;" })</td>
                <td class="tdRightAlign"> @Html.DisplayNameFor(model => model.First().ThanaUpazila)</td>
                <td style="background-color: #E9EDBE; vertical-align: middle;">@Html.DropDownListFor(Model => Model.First().ThanaUpazila, new SelectList(ViewBag.Upzillas, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control", @style = "width: 250px;" })</td>
            </tr>
            <tr>
                <td class="tdRightAlign"> @Html.DisplayNameFor(model => model.First().Company_Name)</td>
                <td style="background-color: #E9EDBE; vertical-align: middle;">@Html.DropDownListFor(Model => Model.First().Company_Name, new SelectList(ViewBag.Companies, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control", @style = "width: 250px;" })</td>
                <td class="tdRightAlign"> @Html.DisplayNameFor(model => model.First().CaseNo)</td>
                <td style="background-color: #E9EDBE; vertical-align: middle;">
                    <div class="col-md-10">@Html.TextBox("CaseNo", null, new { @autocomplete = "off", @class = "form-control pull-right", @placeholder = "Case No..." })</div>
                </td>
                <td class="tdRightAlign"> @Html.DisplayNameFor(model => model.First().DefendantName)</td>
                <td style="background-color: #E9EDBE; vertical-align: middle;">
                    <div class="col-md-10">@Html.TextBox("defendantName", null, new { @autocomplete = "off", @class = "form-control pull-right", @placeholder = "Defendant Name..." })</div>
                </td>
            </tr>
        </table>
        <hr class="cm-hr" />
        <div class="col-md-3">
            <h4><b>KG Case List</b></h4>
        </div>
        <div class="col-md-3">
            <div class="col-md-10"></div>
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">Search&nbsp;<i class="fa fa-search"></i></button>
            </div>
        </div>

        <div class="col-md-3">
            <a href="@Url.Action("ExportKGCaseToExcel", new {
                    closedCaseStatus = 2,
                    ResponsibleLawyer = Request.QueryString["ResponsibleLawyer"],
                    CaseNo = Request.QueryString["CaseNo"],
                    defendantName = Request.QueryString["defendantName"],
                    BankName = Request.QueryString["BankName"],
                    Case_Type = Request.QueryString["Case_Type"],
                    CaseStatus = Request.QueryString["CaseStatus"],
                    District = Request.QueryString["District"],
                    Company_Name = Request.QueryString["Company_Name"],
                    ThanaUpazila = Request.QueryString["ThanaUpazila"]})" title="Export Case" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-download"></span> Export Case
            </a>
            @*<input type="submit" value="Export Case" class="btn btn-primary pull-right" />*@
        </div>
        @*<div class="col-md-3">
            <a href="@Url.Action("CreateOrEdit2", new { id = 0 })" title="New Client" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-plus-sign"></span> Add New Case
            </a>
        </div>*@
    </div>
}
 
<hr style="border-color:red; padding:0px;margin-top: 10px;margin-bottom: 20px; border-width: 2px;" />
<div style="width: 100%; height: 100%; overflow-x: visible; overflow-y: scroll;">
    <style>
        table td th {
            border: solid 1px #fab;
            width: 100px;
            word-wrap: inherit;
        }
    </style>

    <table class="table">
        <tr style="background-color:#009270;color:#FFFFFF">
            <th>
                SL.
            </th>
            <th nowrap>
                @Html.DisplayNameFor(model => model.First().CaseNo)
            </th>
            <th nowrap>
                @Html.DisplayNameFor(model => model.First().CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PlaintiffAppellant)
            </th>
            <th nowrap>
                @Html.DisplayNameFor(model => model.First().ResponsibleLayer)
            </th>
            <th nowrap>
                @Html.DisplayNameFor(model => model.First().CaseType)
            </th>
            <th nowrap>
                @Html.DisplayNameFor(model => model.First().ThanaUpazila)
            </th>
            <th nowrap>
                @Html.DisplayNameFor(model => model.First().CaseStatus)
            </th>
            <th nowrap>
                @Html.DisplayNameFor(model => model.First().NextDate)
            </th>
            <th nowrap>
                @Html.DisplayNameFor(model => model.First().Amount)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i }))
        {
            <tr>
                <td>
                    @((item.Index + 1) + (Model.PageNumber - 1) * Model.PageSize)
                </td>
                <td>
                    @if (@item.Data.CaseNo != null)
                    {
                        @Html.DisplayFor(modelItem => item.Data.CaseNo)
                    }
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.FilingDate)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Data.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.PlaintiffAppellant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.ResponsibleLayer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.CaseType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.ThanaUpazila)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.CaseStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.NextDate)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Data.NextDate)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Data.Amount)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>*@
                <td>
                    <a href="@Url.Action("CreateOrEdit2", new { id = item.Data.OID })" title="Edit Case" class="btn btn-success btn-xs">
                        @*<i class="fa fa-pencil" style="font-size:15px;" aria-hidden="true"></i>*@
                        Details
                    </a>
                    @*<a href="@Url.Action("Details", new { id = item.OID })" title="Details of Case" class="btn btn-info btn-xs">
                            <i class="fa fa-eye" style="font-size:15px; color:darkgreen" aria-hidden="true"></i>Details
                        </a>*@
                </td>
            </tr>
        }

    </table>
    @if (Model.PageCount > 1)
    {
        <span class="btn btn-success">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        </span>
        <span class="checkbox">
            @Html.PagedListPager(Model, Page_No =>
                Url.Action("ClosedCase", "LandNLegals",
                new
                     {
                         Page_No,
                         Sorting_Order = Request.QueryString["Search"],
                    ResponsibleLawyer = Request.QueryString["ResponsibleLawyer"],
                    CaseNo = Request.QueryString["CaseNo"],
                    defendantName = Request.QueryString["defendantName"],
                    BankName = Request.QueryString["BankName"],
                    Case_Type = Request.QueryString["Case_Type"],
                    CaseStatus = Request.QueryString["CaseStatus"],
                    District = Request.QueryString["District"],
                    Company_Name = Request.QueryString["Company_Name"],
                    ThanaUpazila = Request.QueryString["ThanaUpazila"]
                }))
        </span>
    }
</div>