@model KGERP.ViewModel.LandNLegalViewModel
@{
    ViewBag.Title = "CreateOrEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("CreateOrEdit2", "LandNLegals", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model._LandNLegal.OID)
        @if (Model._LandNLegal.OID > 0)
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#pnlCaseBasicInfo").show();
                    $("#pnlCaseAddComment").show();
                    $("#pnlCaseAddAttachment").show();
                    $("#pnlCaseHistory").show();
                    $("#CaseAttachmentId").hide();
                });

                function ValidateEndDate() {
                    if (document.getElementById("pnlCaseCreateOrEdit").style.display == "none") {
                        document.getElementById("pnlCaseCreateOrEdit").style.display = "block";
                    }
                    else {
                        document.getElementById("pnlCaseCreateOrEdit").style.display = "none";
                    }
                }
            </script>
        }
        else
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#pnlCaseBasicInfo").hide();
                    $("#pnlCaseAddComment").hide();
                    $("#pnlCaseAddAttachment").hide();
                    $("#pnlCaseHistory").hide();
                    $("#CaseAttachmentId").hide();
                    document.getElementById("pnlCaseCreateOrEdit").style.display = "block";
                });
            </script>
        }

        <div class="panel panel-info" id="pnlCaseBasicInfo">
            <div class="panel-heading"><b> Basic Case Information </b></div>
            <div class="panel-body">
                <table class="spacing-table">
                    <tr>
                        <td style="width: 20%" align="right">
                            @Html.DisplayNameFor(model => model._LandNLegal.CourtName)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle;">
                            @if (!string.IsNullOrEmpty(Model._LandNLegal.AdditionalDistrictCourt))
                            {
                                @Html.DisplayFor(model => model._LandNLegal.CourtName) @Html.DisplayFor(model => model._LandNLegal.AdditionalDistrictCourt)
                            }
                            else
                            {
                                @Html.DisplayFor(model => model._LandNLegal.CourtName)
                            }
                        </td>
                        <td style="width: 20%" align="right">
                            @Html.DisplayNameFor(model => model._LandNLegal.CaseNo)
                        </td>
                        <td colspan="3" style="background-color: #E9EDBE; vertical-align: middle;">
                            @Html.DisplayFor(model => model._LandNLegal.CaseNo)
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._LandNLegal.CaseStatus)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._LandNLegal.CaseStatus)
                        </td>

                        <td align="right">
                            @Html.DisplayNameFor(model => model._LandNLegal.CaseType)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._LandNLegal.CaseType)
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._LandNLegal.CompanyName)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._LandNLegal.CompanyName)
                        </td>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._LandNLegal.ResponsibleLayer)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._LandNLegal.ResponsibleLayer)
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._LandNLegal.PlaintiffAppellant)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._LandNLegal.PlaintiffAppellant)
                        </td>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._LandNLegal.DefendantName)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._LandNLegal.DefendantName)
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._LandNLegal.MobileNo)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._LandNLegal.MobileNo)
                        </td>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._LandNLegal.Amount)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._LandNLegal.Amount)
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._LandNLegal.FilingDate)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._LandNLegal.FilingDate)
                        </td>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._LandNLegal.PreviousDate2)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._LandNLegal.PreviousDate2)
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._LandNLegal.PreviousDate1)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._LandNLegal.PreviousDate1)
                        </td>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._LandNLegal.NextDate)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._LandNLegal.NextDate)
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._LandNLegal.CaseSummary)
                        </td>
                        <td colspan="3" style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._LandNLegal.CaseSummary)
                        </td>
                    </tr>
                </table>

                <div style="padding-left:950px;">
                    <input type="button" name="modify" class="btn btn-link" value="Modify" onclick="ValidateEndDate()" />

                </div>
            </div>
        </div>

        <div class="panel panel-info pnlCaseCreateOrEdit" id="pnlCaseCreateOrEdit" style="display: none ">
            <div class="panel-heading"><b> Case Entry </b></div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h4 class="text-on-pannel text-primary"><strong class="text-capitalize"> Basic Case </strong></h4>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.FilingDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._LandNLegal.FilingDate, new { htmlAttributes = new { @class = "datepicker", @style = "width:240px", @placeholder = "dd/mm/yyyy", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.FilingDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.CaseType, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._LandNLegal.CaseType, new SelectList(Model.CaseTypes, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control" })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.CaseType, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.CourtName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._LandNLegal.CourtName, new SelectList(Model.CourtNames, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control" })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.CourtName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.AdditionalDistrictCourt, htmlAttributes: new { @class = "control-label col-md-4" })

                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._LandNLegal.AdditionalDistrictCourt, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.AdditionalDistrictCourt, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.CaseStatus, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._LandNLegal.CaseStatus, new SelectList(Model.CaseStatuss, "Text", "Text"), "---Select---", new { @class = "searchingDropdown form-control input-sm" })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.CaseStatus, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.CaseNo, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._LandNLegal.CaseNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.CaseNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.PlaintiffAppellant, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._LandNLegal.PlaintiffAppellant, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.PlaintiffAppellant, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.ResponsibleLayer, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._LandNLegal.ResponsibleLayer, new SelectList(Model.ResponsiblePersons, "Text", "Text"), "--Select--", htmlAttributes: new { @class = "searchingDropdown form-control input-sm" })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.ResponsibleLayer, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.CompanyName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._LandNLegal.CompanyName, new SelectList(Model.Companies, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control" })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.CompanyName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.NextDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._LandNLegal.NextDate, new { htmlAttributes = new { @class = "datepicker", @style = "width:240px", @placeholder = "dd/mm/yyyy", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.NextDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.CaseSummary, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model._LandNLegal.CaseSummary, 3, 150, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.CaseSummary, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.Remarks, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model._LandNLegal.Remarks, 3, 150, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.Remarks, "", new { @class = "text-danger" })
                                        @*<textarea class="form-control" rows="3" name="CaseSummary" style="max-width:none; width:880px;"></textarea>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h4 class="text-on-pannel text-primary"><strong class="text-capitalize"> Accused /Defendant /Respondent Information </strong></h4>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.DefendantName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._LandNLegal.DefendantName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.DefendantName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.DefendantMotherName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._LandNLegal.DefendantMotherName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Defendant's Mother Name" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.DefendantMotherName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.DefendantFatherName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._LandNLegal.DefendantFatherName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Defendant's Father Name" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.DefendantFatherName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.BusinessOrganizationName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._LandNLegal.BusinessOrganizationName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.BusinessOrganizationName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.BusinessAddress, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model._LandNLegal.BusinessAddress, 3, 150, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.BusinessAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.TradeLicenceNo, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._LandNLegal.TradeLicenceNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.TradeLicenceNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.NIDnPassportNo, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._LandNLegal.NIDnPassportNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.NIDnPassportNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.MobileNo, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._LandNLegal.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.MobileNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.Division, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._LandNLegal.Division, new SelectList(Model.Divisions, "Text", "Text"), "---Select---", htmlAttributes: new { @class = "dropdownsize form-control", @id = "ddlDivision" })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.Division, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.District, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._LandNLegal.District, new SelectList(Model.Districts, "Text", "Text"), "---Select---", htmlAttributes: new { @class = "dropdownsize form-control", @id = "ddlDistrict" })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.District, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.ThanaUpazila, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._LandNLegal.ThanaUpazila, new SelectList(Model.Upazilas, "Text", "Text"), "---Select---", htmlAttributes: new { @class = "dropdownsize form-control", @id = "ddlThanaUpazila" })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.ThanaUpazila, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.VillageMohalla, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._LandNLegal.VillageMohalla, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.VillageMohalla, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h4 class="text-on-pannel text-primary"><strong class="text-capitalize"> Accused's Bank Information </strong></h4>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.BankName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._LandNLegal.BankName, new SelectList(Model.Banks, "Text", "Text"), "---Select---", htmlAttributes: new { @class = "searchingDropdown form-control input-sm", @id = "ddlBankName" })

                                        @*@Html.EditorFor(model => model._LandNLegal.BankName, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.ValidationMessageFor(model => model._LandNLegal.BankName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.BranchName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._LandNLegal.BranchName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.BranchName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.AccountName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._LandNLegal.AccountName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.AccountName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.AccountNo, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._LandNLegal.AccountNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.AccountNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.ChequeNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._LandNLegal.ChequeNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.ChequeNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.ChequeIssueDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._LandNLegal.ChequeIssueDate, new { htmlAttributes = new { @class = "datepicker", @style = "width:240px", @placeholder = "dd/mm/yyyy", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.ChequeIssueDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.Amount, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._LandNLegal.Amount, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.Amount, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h4 class="text-on-pannel text-primary"><strong class="text-capitalize"> Case Activity </strong></h4>
                            <div class="col-md-6" id="CaseCommentId">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._LandNLegal.CaseComments, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model._LandNLegal.CaseComments, 3, 150, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._LandNLegal.CaseComments, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="editor-label">
                                    <label> <span class="glyphicon glyphicon-upload"><b>Upload Files</b></span></label>
                                </div>
                                <div class="editor-field">
                                    <input type="file" name="file" multiple="multiple" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@Model._LandNLegal.ButtonName" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading"><b>File Attachment </b></div>
            <div class="panel-body">
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="col-md-10">
                            <hr style="border-color:springgreen; padding:10px;margin-top: 5px;margin-bottom: 5px; border-width: 2px;" />
                            <ol class="attachment-block">
                                @if (Model._LandNLegal != null)
                                {
                                    if (Model._LandNLegal.OID > 0)
                                    {
                                        foreach (var item in Model._LandNLegal.FileAttachments)
                                        {
                                            <li>
                                                <a class="title" href="/LandNLegals/Download/?fileName=@(item.AttachFileName)&deedNo=@item.LandNLegal.CaseType" style="padding:20px">@item.AttachFileName</a>
                                                <a href="javascript:void(0);" data-id="@item.AttachmentId" class="deleteItem"><span class="glyphicon glyphicon-trash"></span></a>
                                            </li>
                                        }
                                    }
                                }
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info" id="pnlCaseHistory">
            <div class="panel-heading"><b>Case History </b></div>
            <div class="panel-body">
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="col-md-10">
                            @if (Model._LandNLegal.OID > 0)
                            {
                                <div>
                                    @if (ViewBag.cHistory != null)
                                    {
                                        @Html.Raw(ViewBag.cHistory)
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to Case List", "Index")
</div>


@if (TempData["errMessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("This Case No Already Exists");
        };
    </script>
}


@if (TempData["DataSave"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("Data Save Successfully!");
        };
    </script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")


    <style type="text/css">
        .text-on-pannel {
            background: #fff none repeat scroll 0 0;
            height: auto;
            margin-left: 20px;
            padding: 3px 5px;
            position: absolute;
            margin-top: -47px;
            border: 1px solid #337ab7;
            border-radius: 8px;
        }

        .panel {
            /* for text on pannel */
            margin-top: 27px !important;
        }

        .panel-body {
            padding-top: 30px !important;
        }

        .spacing-table {
            font-family: 'Helvetica', 'Arial', sans-serif;
            font-size: 12px;
            border-collapse: separate;
            border-spacing: 0 5px; /* this is the ultimate fix */
            width: 100%;
        }

            .spacing-table th {
                text-align: left;
                padding: 5px 5px;
            }

            .spacing-table td {
                border-width: 3px 0;
                /* border-color: darkred;
                border-style: solid;*/
                background-color: #f1f1f1;
                color: Black;
                padding: 5px 5px;
            }

                .spacing-table td:first-child {
                    /*  border-left-width: 3px;*/
                    border-radius: 5px 0 0 5px;
                }

                .spacing-table td:last-child {
                    /*border-right-width: 3px;*/
                    border-radius: 0 5px 5px 0;
                }

        .image {
            float: left;
            max-height: 50px;
            max-width: 50px;
            margin-right: 10px;
        }

        .name {
            margin: 0;
            padding: 0;
        }

        .username {
            display: block;
            font-weight: bold;
            margin-bottom: 1em;
        }

        .ui-autocomplete {
            max-height: 320px;
            overflow: auto;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.selectpicker').selectpicker({
                liveSearch: true,
                width: 270,
                showSubtext: true
            });
        });
    </script>

    <script type="text/javascript">
        $('#ddlDivision').change(function () {
            $.ajax({
                type: "post",
                url: "/LandNLegals/GetDistrictByDivisionName",
                data: { name: $('#ddlDivision').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var district = "<select>";
                    district = district + '<option value="">--Select--</option>';
                    for (var i = 0; i < data.length; i++) {
                        district = district + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }
                    district = district + '</select>';
                    $('#ddlDistrict').html(district);
                }
            });
        });

         $('.deleteItem').click(function (e) {
           e.preventDefault();
           var $ctrl = $(this);
           if (confirm('Do you really want to delete this file?')) {
               $.ajax({
                   url: '@Url.Action("DeleteFile")',
                   type: 'POST',
                   data: { id: $(this).data('id') }
               }).done(function (data) {
                   if (data.Result == "OK") {
                       $ctrl.closest('li').remove();
                   }
                   else if (data.Result.Message) {
                       alert(data.Result.Message);
                   }
               }).fail(function () {
                   alert("There is something wrong. Please try again.");
               })

           }
         });

        //Bind Upzila base on District Selection
        $('#ddlDistrict').change(function () {
            $.ajax({
                type: "post",
                url: "/LandNLegals/GetUpzilaByDistrictName",
                data: { name: $('#ddlDistrict').val() },

                datatype: "json",
                traditional: true,
                success: function (data) {
                    var upazila = "<select>";
                    upazila = upazila + '<option value="">--Select--</option>';
                    for (var i = 0; i < data.length; i++) {
                        upazila = upazila + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }
                    upazila = upazila + '</select>';
                    $('#ddlThanaUpazila').html(upazila);
                }
            });
        });
    </script>

}
