

@{
    ViewBag.Title = "KTTLDashboard";
}
<link href="~/Content/dist/css/skins/_all-skins.css" rel="stylesheet" />
<link href="~/Content/dist/css/AdminLTE.css" rel="stylesheet" />
<style>
    .vhr {
        border-right: 1px solid #333;
        height: 100%;
    }

    .bxshadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 20px;
        padding: 10px;
    }
</style>
<h2>Dashboard</h2>
<hr style="border-color:red; padding:0px;margin-top: 10px;margin-bottom: 20px; border-width: 2px;" />

<div class="row">
    @{
        int counter = 0;
        string[] bodyColor = { "small-box bg-aqua", "small-box bg-green", "small-box bg-yellow", "small-box bg-red" };
        string[] bodyIcon = { "ion ion-bag icon", "ion ion-person-add", "ion ion-stats-bars", "ion ion-pie-graph" };

        foreach (var item in ViewData.Model)
        {
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="@bodyColor[counter] bxshadow">
                    <div class="inner">
                        <h3>@item["Total"]</h3>
                        <p>@item["ClientStatus"]</p>
                    </div>
                    <div class="icon">
                        <i class="@bodyIcon[counter]"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            counter = counter + 1;
        }
    }
</div>
<hr style="border-color:red; padding:0px;margin-top: 10px;margin-bottom: 20px; border-width: 2px;" />

<div class="row">
    <div class="col-lg-6">
        <div class="info-box bxshadow">
            <img src="@Url.Action("GetResponsiblePersonChartImage")" />
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-lg-6">
        <div class="info-box bxshadow">
            <img src="@Url.Action("GetServicesChartImage")" />
        </div>
        <!-- /.info-box -->
    </div>
</div>

