@using PagedList.Mvc;
@model PagedList.IPagedList<KGERP.Service.ServiceModel.LandNLegalModel>
@using PagedList;
@{
    ViewBag.Title = "Previous7DaysCaseSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
@using (Html.BeginForm("Previous7DaysCaseSchedule", "LandNLegals", FormMethod.Get))
{
    <div class="row" style="max-width:1000px;">
        <div class="col-md-5">
            <div class="form-group">
                <h4><b>Previous 7 Days Case Schedule</b></h4>
            </div>
        </div>
        <div class="col-md-5 pull-right">
            <div class="form-group">
                <div class="col-md-8">@Html.TextBox("searchText", null, new { @autocomplete = "off", @class = "form-control pull-right", @placeholder = "Search.." })</div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success">Search&nbsp;<i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
}

<hr style="border-color:red; padding:0px;margin-top: 10px;margin-bottom: 20px; border-width: 2px;" />
@if (Model.Count() == 0)
{
    <div><h2>No Case found !</h2></div>
}
else
{
    <table class="table table-striped" id="bdsms">
        <tr style="background-color:#009270;color:#FFFFFF">
            <th>
                SL.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CaseNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CourtName)
            </th>
            <th nowrap>
                @Html.DisplayNameFor(model => model.First().PlaintiffAppellant)
            </th>
            <th nowrap>
                @Html.DisplayNameFor(model => model.First().ResponsibleLayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CompanyName)
            </th>

            <th nowrap> @Html.DisplayNameFor(model => model.First().NextDate)</th>

        </tr>

        @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i }))
        {
            <tr>
                <td>
                    @((item.Index + 1) + (Model.PageNumber - 1) * Model.PageSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.CaseNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.CourtName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.PlaintiffAppellant)
                </td>
                <td nowrap>
                    @Html.DisplayFor(modelItem => item.Data.ResponsibleLayer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.CompanyName)
                </td>
                <td nowrap>
                    @Html.DisplayFor(modelItem => item.Data.NextDate)
                </td>
            </tr>
        }
    </table>

}
@if (Model.PageCount > 1)
{
    <span class="btn btn-success">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </span>
    <span class="checkbox">
        @Html.PagedListPager(Model, Page_No => Url.Action("Previous7DaysCaseSchedule", "LandNLegals", new { Page_No, Sorting_Order = Request.QueryString["Search"], SearchText = Request.QueryString["searchText"] }))
    </span>
}

