@model KGERP.Service.ServiceModel.ChequeRegisterModel
@using KGERP.Utility;

@{
    ViewData["Title"] = "Cheque Print";
    Layout = "~/Views/Shared/_Layout.cshtml";

    KGERP.Service.ServiceModel.ChequeRegisterModel searchData = TempData["ChequeRegisterModel"] as KGERP.Service.ServiceModel.ChequeRegisterModel;
    int sl = 0;
}

<style type="text/css">
    input, select, textarea {
        max-width: 100%;
    }

    .ui-datepicker-trigger {
        width: 37px !important;
        height: 33px !important;
        margin-left: 5px !important;
    }

    .dateCustom {
        width: 82% !important;
        border-radius: 1px !important;
        border: 1px solid #d2d6de !important;
        height: 33px !important;
    }
</style>

<section class="content-header">
    <h1>
        <span>
            Cheque Print
        </span>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">
            <span>
                Cheque Print
            </span>
        </li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-body">
                        @using (Html.BeginForm("ChequeRegisterSearchForPrint", "ChequeRegister", FormMethod.Post, new { id = "ChequeRegisterFormId", @class = "formValidator" }))
                        {
                            @Html.HiddenFor(model => model.CompanyFK, new { id = "CompanyId" })

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Search For<sup class="text-danger" title="Required">*</sup></label>
                                        @Html.DropDownListFor(model => model.RegisterFor, Model.RegisterForList as SelectList, "==Search For==", new { id = "ddlregissterFor", @class = "form-control ddlReset searchingDropdown", style = "width:100%", required = "required" })
                                        @Html.ValidationMessageFor(model => model.RegisterFor, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Issue Date From<sup class="text-danger" title="Required">*</sup></label>
                                        <input name="StrFromDate" asp-for="StrFromDate" type="datetime" value="@DateTime.Now.ToString("dd/MM/yyyy")" required="required" class="datepicker w-100 dateCustom" autocomplete="off" id="txtFromDate">
                                        @Html.ValidationMessageFor(model => model.StrFromDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Issue Date To<sup class="text-danger" title="Required">*</sup></label>
                                        <input name="StrToDate" asp-for="StrToDate" type="datetime" value="@DateTime.Now.ToString("dd/MM/yyyy")" required="required" class="datepicker w-100 dateCustom" autocomplete="off" id="txtToDate">
                                        @Html.ValidationMessageFor(model => model.StrToDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block">Search</button>
                                    </div>
                                </div>
                            </div>
                        }

                        <hr />

                        <div class="table-responsive">
                            <table id="KgErpDataTable" class="table table-striped table-responsive text-center">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Project Name</th>
                                        <th>Requisition</th>
                                        <th>Issue Date</th>
                                        <th>Cheque No</th>
                                        <th>Pay To</th>
                                        <th>Amount</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (searchData != null)
                                        {
                                            foreach (var item in searchData.ChequeRegisterList.OrderByDescending(x => x.ChequeRegisterId))
                                            {
                                                <tr>
                                                    <th>@(++sl)</th>
                                                    <td>
                                                        <p style="text-align:left !important;">@item.ProjectName</p>
                                                    </td>
                                                    <td>
                                                        @if (item.RequisitionId > 0)
                                                        {
                                                            <p style="text-align:left !important;">
                                                                <a href="~/BillRequisition/BillRequisitionMasterCommonSlave?companyId=@Model.CompanyFK&billRequisitionMasterId=@item.RequisitionId" class="link-primary text-primary" target="_blank" title="See Requisition Detail" style="text-align:left !important;">@item.RequisitionNo</a>
                                                            </p>
                                                        }
                                                        else
                                                        {
                                                            <small class="text-center text-secondary d-block" id="hidePrintButton">General Cheque</small>
                                                        }
                                                    </td>
                                                    <td>@item.IssueDate.ToString("dd-MM-yyyy")</td>
                                                    <td>@item.ChequeNo</td>
                                                    <td><p style="text-align:left !important;">@item.PayTo</p></td>
                                                    <td><p style="text-align:right !important;">@item.Amount</p></td>
                                                    <td class="text-center">
                                                        <a class="btn btn-xs btn-primary text-center" target="_blank" href="~/Report/ChequeRegisterPrinting?chequeRegisterId=@item.ChequeRegisterId">
                                                            <i class="fa fa-print"></i> Print Here
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            foreach (var item in Model.ChequeRegisterList.OrderByDescending(x => x.ChequeRegisterId))
                                            {
                                                <tr>
                                                    <th>@(++sl)</th>
                                                    <td>
                                                        <p style="text-align:left !important;">@item.ProjectName</p>
                                                    </td>
                                                    <td>
                                                        @if (item.RequisitionId > 0)
                                                        {
                                                            <p style="text-align:left !important;">
                                                                <a href="~/BillRequisition/BillRequisitionMasterCommonSlave?companyId=@Model.CompanyFK&billRequisitionMasterId=@item.RequisitionId" class="link-primary text-primary" target="_blank" title="See Requisition Detail" style="text-align:left !important;">@item.RequisitionNo</a>
                                                            </p>
                                                        }
                                                        else
                                                        {
                                                            <small class="text-center text-secondary d-block" id="hidePrintButton">General Cheque</small>
                                                        }
                                                    </td>
                                                    <td>@item.IssueDate.ToString("dd-MM-yyyy")</td>
                                                    <td>@item.ChequeNo</td>
                                                    <td><p style="text-align:left !important;">@item.PayTo</p></td>
                                                    <td><p style="text-align:right !important;">@item.Amount</p></td>
                                                    <td class="text-center">
                                                        <a class="btn btn-xs btn-primary text-center" target="_blank" href="~/Report/ChequeRegisterPrinting?chequeRegisterId=@item.ChequeRegisterId">
                                                            <i class="fa fa-print"></i> Print Here
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/cssjqryUi")

@section scripts {

    <script type="text/javascript">

        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });
    </script>
}

