@model KGERP.Service.Implementation.Configuration.VMPackagingPurchaseRequisition
@using KGERP.Utility;


@{
    ViewData["Title"] = "Bill Of Metarials";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;
    decimal TotalPrice = 0;
}

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>
        <span>
            Issue Product From Store
        </span>

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Issue Product From Store</li>
    </ol>
</section>
@using (Html.BeginForm("PackagingIssueProductFromStore", "Procurement", FormMethod.Post, new { id = "procurementRequisitionFormId", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
                @Html.HiddenFor(model => model.CompanyFK, new { id = "CompanyFK" })
                <div class="box-danger">

                    <!-- /.box-header -->
                    <div class="box-body">

                        <div class="box-body">
                            @if (Model.IssueMasterId == 0)
                            {
                                <div class="col-sm-12">
                                    <div class="col-md-3">
                                        <div class="form-group" style="padding:0px">
                                            <label>Requisition No</label>
                                            @Html.EditorFor(model => model.RequisitionNo, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "Supplier Name", @id = "txtOrderDetaisNo" } })

                                            @Html.HiddenFor(model => model.RequisitionId, new { id = "ddlCommon_OrderMasterId" })
                                            @Html.ValidationMessageFor(model => model.RequisitionId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Issue Date</label>
                                            <input name="IssueDate" asp-for="IssueDate" type="text" required="required" class="datePicker form-control" id="txtIssueDate" placeholder="Requisition Date" autocomplete="off">
                                            @Html.ValidationMessageFor(model => model.IssueDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>

                            }

                            </div>
                        @if (Model.IssueMasterId > 0)
                        {


                            <div class="col-md-1"> </div>
                            <div class="col-md-10">
                                <table class="table">
                                    <tr>
                                        <th style="width:18%"> RequisitionNo</th>
                                        <th style="width:2%">:</th>
                                        <td style="width:30%">@Model.RequisitionNo</td>

                                        <th style="width:18%"> RequisitionDate</th>
                                        <th style="width:2%">:</th>
                                        <td style="width:30%">@Model.RequisitionDate.ToShortDateString()</td>


                                    </tr>
                                    <tr>
                                        <th>IssueDate</th>
                                        <th>:</th>
                                        <td>@Model.IssueDate.ToShortDateString()</td>

                                        <th>Department</th>
                                        <th>:</th>
                                        <td>@Model.ToRequisitionId</td>

                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-1"> </div>
                        }
                        @{
                            decimal total = 0;
                            if (Model.IssueMasterId > 0)
                            {


                                @*@Html.HiddenFor(model => model.ID, new { id = "hidSlaveID" })*@
                                <div class="table-responsive col-md-12  text-nowrap">
                                    <table id="KgErpDataTable" class="table table-striped">

                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th>Item</th>
                                                <th>Issue Quantity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.DataList)
                                            {
                                                <tr>
                                                    <td style="padding:5px">@(++sl)</td>
                                                    <td>@item.ProductName</td>
                                                    <td>@item.IssueQty</td>

                                                </tr>
                                                total += item.IssueQty;
                                            }
                                            </tbody>

                                            <tfoot>
                                                <tr>
                                                    <th></th>
                                                    <th > Total Quantity</th>
                                                    <th>@total</th>

                                                </tr>
                                            </tfoot>
                                        </table>
                                </div>
                            }
                        }
                        <div class="box-footer">

                            <div id="PackagingPurchaseOrderSlaveData"></div>
                            <div class="row">
                                <div class="col-md-8">

                                </div>
                                <div class="col-lg-4 col-md-4">

                                    @{
                                        if (Model.IssueMasterId.Equals(0))
                                        {
                                            <button type="submit" id="poCreateBtn" class="btn btn-primary btn-block">
                                                <i class='fa fa-plus'></i>
                                                <span>Create New </span>
                                            </button>
                                        }
                                    }



                                </div>
                            </div>
                        </div>

                        <!--Body Will by Start Here-->
                       
                    </div>

                </div>
            </div>
        </div>
    </section>
}






@section scripts {
    @*<script src="~/Scripts/KGREScript/TEST.js"></script>*@
    <script type="text/javascript">


        $("#txtOrderDetaisNo").change(function () {
            var RequisitionId = $("#ddlCommon_OrderMasterId").val();
           

                $.ajax({
                    type: "POST",
                    url:"@Url.Action("PackagingProductionStoreDataList", "Procurement")",
                    data: { RequisitionId: RequisitionId },
                    success: function (response) {
                        //$("#txtPurchaseQuantity").val(123);

                        $("#PackagingPurchaseOrderSlaveData").html(response);

                        },


                    });


            });

        function makeDeletale(rowId) {
            $('#hidDeleteProcurementPurchaseOrderSlaveId').val(rowId);
            $('#deleteActionId').val(3);
        }
        function resetProcurementPurchaseRequisitionSlaveForm() {
          $('#procurementPurchaseRequisitionSlaveFormId')[0].reset();
          $('#ActionId').val(1);
        }

        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

            $("#ddlFinalDestinationCountryFk").val(19).change();
              $("#txtProductName").autocomplete({
                source: function (request, response) {
                    //console.log(request);
                    //console.log(response);

                    $.ajax({
                        url:"@Url.Action("AutoCompleteProductGet", "Configuration")",// '/AccountHeads/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { companyId: "@Model.CompanyFK", prefix: request.term, productType : "R" },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },

            select: function (e, i) {
                console.log(i);
                    $("#ddlRProductFK").val(i.item.val);

                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("CommonProductByID", "Configuration")",
                        datatype: "Json",
                        data: { id: i.item.val },
                        success: function (data) {
                            console.log(data);
                            var items = "";
                            if (data) {

                                $('.txtUnitName').text(data.UnitName);

                            }
                        }
                    });
                    $('#txtProductName').focus();

                },
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
                });

            $("#txtCustomerName").autocomplete({
                source: function (request, response) {
                    //console.log(request);
                    //console.log(response);

                    $.ajax({
                        url:"@Url.Action("GetAutoCompleteSCustomer", "Procurement")",// '/AccountHeads/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { prefix: request.term, companyId: "@Model.CompanyFK" },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                           response($.map(data, function (item) {
                               return item;
                           }))
                        },
                        error: function (response) {
                                                                        //alert(response.responseText);
                        },
                        failure: function (response) {
                                                                        //alert(response.responseText);
                        }
                    });
                },

                select: function (e, i) {
                    $("#ddlCustomerId").val(i.item.val);
                    $("#hidCustomerTypeFk").val(i.item.CustomerTypeFK);


                    },
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });

             
            $("#txtOrderDetaisNo").autocomplete({
                source: function (request, response) {
                    //console.log(request);
                    //console.log(response);

                    $.ajax({
                        url:"@Url.Action("GetAutoCompleteOrderNoGetRequsitionId", "Procurement")",// '/AccountHeads/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { prefix: request.term, companyId:20 },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                           response($.map(data, function (item) {
                               return item;
                           }))
                        },
                        error: function (response) {
                                                                        //alert(response.responseText);
                        },
                        failure: function (response) {
                                                                        //alert(response.responseText);
                        }
                    });
                },

                select: function (e, i) {

                    $("#ddlCommon_OrderMasterId").val(i.item.val);

                    },
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });

            $("#txtCustomerName").change(function () {
                var ddlCustomerId = $('#ddlCustomerId').val();
                $.ajax({
                       type: "GET",
                    url: "@Url.Action("GetStyleNo", "Procurement")",
                    datatype: "Json",
                    data: { id: ddlCustomerId },
                    success: function (data) {
                        $('#txtStyleNo').empty();
                        $('#txtStyleNo').append(data.Value);

                    }
                });
            });

            $("#TermsAndConditionid").change(function () {
                  var termsAndConditionid = $('#TermsAndConditionid').val();
                $.ajax({
                       type: "GET",
                    url: "@Url.Action("GetTermNCondition", "Procurement")",
                    datatype: "Json",
                    data: { id: termsAndConditionid },
                    success: function (data) {
                        $('#txtTermsAndCondition').empty();
                        $('#txtTermsAndCondition').append(data.Value);

                    }
                });
            });



            $("#ddlSupplierPaymentMethodEnumFK").change(function () {
                var paymethod = $("#ddlSupplierPaymentMethodEnumFK").val();
                if (paymethod === "@((int)VendorsPaymentMethodEnum.LC)") {
                    $("#piReletedDivId").show();
                }
                else {
                    $("#piReletedDivId").hide();
                }

            })


        });
        function makeEditble(rowId) {

            $.ajax({

                  type: "POST",
                  url: "@Url.Action("SingleProcurementPurchaseOrderSlave", "Procurement")",
                  datatype: "Json",
                  data: { id: rowId },
                  success: function (data) {
                      console.log(data);
                      $('#poCreateBtn').html("<i class='fa fa-edit'></i>&nbsp;Update");
                      $("#hidPurchaseOrderId").val(data.PurchaseOrderId);
                      $('#ActionId').val(2);
                      $("#CompanyFK").val(data.CompanyFK);
                      $("#txtProductName").val(data.ProductName);
                      $("#ddlRProductFK").val(data.Common_ProductFK);
                      $("#txtPurchaseQuantity").val(data.PurchaseQuantity);
                      $('#txtPurchasingPrice').val(data.PurchasingPrice);
                      $("#hidPurchaseOrderDetailId").val(data.PurchaseOrderDetailId)
                      $('.txtUnitName').text(data.UnitName);
                      window.scrollTo({ top: 0, behavior: 'smooth' });
                  }
                 });
            }


           



        function makeSubmitble(rowId) {
                // console.log(rowId);
                $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleProcurementPurchaseOrder", "Procurement")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);
                            $('#submitOrDraftPOCIDText').text(data.CID);

                            if (data.Status == 0) {
                                $('.submitOrDraftText').text("Make Submit");
                            }
                            else {
                                $('.submitOrDraftText').text("Make Draft");

                            }
                        }
                 });
            $('#hidsubmitProcurementPurchaseOrderId').val(rowId);
            }
    </script>

}