@model KGERP.Service.Implementation.Procurement.VMSalesOrderSlave
@using KGERP.Utility;

@{
    ViewData["Title"] = "Sales Order";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;
    double totalPrice = 0;
    double discOuntPrice = 0;
    decimal dis = 0;
}

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>
        @if (Model.OrderMasterId > 0)
        {
            <span>
                Sales Invoice History of: <a target="_blank" href="~/Procurement/ProcurementSalesOrderDetailsReport?companyId=@Model.CompanyFK&orderMasterId=@Model.OrderMasterId">@Model.OrderNo</a>
            </span>
        }
        else
        {
            <span>
                Sales Order
            </span>
        }


    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Sales Order</li>
    </ol>
</section>

@using (Html.BeginForm("ProcurementSalesOrderSlave", "Procurement", FormMethod.Post, new { id = "procurementSalesOrderSlaveFormId", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.OrderMasterId, new { id = "hidOrderMasterId" })
                @Html.HiddenFor(model => model.OrderDetailId, new { id = "hidOrderDetailId" })

                @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
                @Html.HiddenFor(model => model.CompanyFK, new { id = "CompanyFK" })
                @Html.HiddenFor(model => model.CustomerTypeFk, new { id = "hidCustomerTypeFk" })
                <span hidden="hidden" id="hiddenStock"></span>

                <div class="box-danger">

                    <!-- /.box-header -->
                    <div class="box-body">
                        @if (Model.OrderMasterId > 0)
                        {


                            <div class="col-md-1"> </div>
                            <div class="col-md-10">
                                <table class="table">
                                    <tr>
                                        <th style="width:18%">
                                            Invoice No
                                        </th>
                                        <th style="width:2%">:</th>
                                        <td style="width:30%">
                                            <label class="col-form-label">@Model.OrderNo</label>
                                        </td>
                                        <th style="width:18%"> Date</th>
                                        <th style="width:2%">:</th>
                                        <td style="width:30%">@Model.OrderDate.ToShortDateString()</td>
                                    </tr>

                                    <tr>
                                        <th>Zone</th>
                                        <th>:</th>
                                        <td>@Model.ZoneName</td>

                                        <th>Incharge</th>
                                        <th>:</th>
                                        <td>@Model.ZoneIncharge</td>
                                    </tr>

                                    <tr>
                                        <th>Customer</th>
                                        <th>:</th>
                                        <td>@Model.CommonCustomerName</td>
                                        <th>Phone</th>
                                        <th>:</th>
                                        <td>@Model.CustomerPhone</td>
                                    </tr>

                                    <tr>
                                        <th>Email</th>
                                        <th>:</th>
                                        <td>@Model.CustomerEmail</td>
                                        <th>Address</th>
                                        <th>:</th>
                                        <td>@Model.CustomerAddress</td>
                                    </tr>

                                    @if (Model.CourierName != null || Model.CourierNo != null)
                                    {
                                        <tr>
                                            <th>Courier Name</th>
                                            <th>:</th>
                                            <td>@Model.CourierName</td>
                                            <th>Courier No:</th>
                                            <th>:</th>
                                            <td>@Model.CourierNo</td>
                                        </tr>
                                    }

                                    <tr>
                                        <th>Contact Person</th>
                                        <th>:</th>
                                        <td>@Model.ContactPerson</td>
                                        <th>Created By</th>
                                        <th>:</th>
                                        <td>@Model.CreatedBy</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-1"> </div>
                        }

                    <div class="box-body">

                        @if (Model.OrderMasterId == 0)
                        {
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Invoice Date:</label>
                                        <input name="OrderDate" asp-for="OrderDate" type="text" value="@DateTime.Today.ToString("yyyy-MM-dd")" required="required" class="datePicker form-control" id="txtOrderDate" placeholder="Date" autocomplete="off">
                                        @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Payment Method:</label>
                                        @Html.DropDownListFor(model => model.CustomerPaymentMethodEnumFK, Model.POPaymentMethodList as SelectList, "==Select Payment Method==", new { id = "ddlSupplierPaymentMethodEnumFK", @class = "form-control ddlReset searchingDropdown", style = "width:100%", required = "required" })
                                        @Html.ValidationMessageFor(model => model.CustomerPaymentMethodEnumFK, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Territory:</label>
                                        @Html.DropDownListFor(model => model.SubZoneFk, Model.SubZoneList as SelectList, "==Select Territory==", new { id = "ddlSubZoneFk", @class = "form-control searchingDropdown", style = "width:100%", required = "required" })
                                        @Html.ValidationMessageFor(model => model.SubZoneFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Customer:</label>
                                        @Html.DropDownListFor(model => model.CustomerId, Model.CustomerList as SelectList, "==Select Customer==", new { id = "ddlCustomerId", @class = "form-control searchingDropdown", style = "width:100%", required = "required", onchange = "customerSelected()" })
                                        @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Delivery Date:</label>
                                        <input name="ExpectedDeliveryDate" asp-for="ExpectedDeliveryDate" type="text" required="required" class="datePicker form-control" id="txtDeliveryDate" placeholder="Expected Delivery Date" autocomplete="off">
                                        @Html.ValidationMessageFor(model => model.ExpectedDeliveryDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group" style="padding:0px">
                                        <label for="message-text" class="col-form-label">Courier Name:</label>
                                        @Html.EditorFor(model => model.CourierName, new { htmlAttributes = new { @class = "form-control", @id = "txtCourierName" } })
                                        @Html.ValidationMessageFor(model => model.CourierName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" style="padding:0px">
                                        <label for="message-text" class="col-form-label">Courier No:</label>
                                        @Html.EditorFor(model => model.CourierNo, new { htmlAttributes = new { @class = "form-control", @id = "txtCourierNo" } })
                                        @Html.ValidationMessageFor(model => model.CourierNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" style="padding:0px">
                                        <label for="message-text" class="col-form-label">Courier Charge:</label>
                                        @Html.EditorFor(model => model.CourierCharge, new { htmlAttributes = new { @class = "form-control", @id = "txtCourierCharge" } })
                                        @Html.ValidationMessageFor(model => model.CourierCharge, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Store Info:</label>
                                        @Html.DropDownListFor(model => model.StockInfoId, new SelectList(Model.StoreInfos, "Value", "Text"), "---Select Store---", new { id = "ddlStockInfoId", @class = "searchingDropdown form-control input-sm" })
                                        @Html.ValidationMessageFor(model => model.StockInfoId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group" style="padding:0px">
                                        <label for="message-text" class="col-form-label">Final Destination:</label>
                                        @Html.EditorFor(model => model.FinalDestination, new { htmlAttributes = new { @class = "form-control", @id = "txtFinalDestination" } })
                                        @Html.ValidationMessageFor(model => model.FinalDestination, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="txtDescription" class="col-form-label">Remarks:</label>
                                        @Html.TextAreaFor(model => model.Remarks, new { id = "txtDescription", placeholder = "Description", @class = "form-control", rows = 1 })
                                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-right">
                                    <div class="form-group">
                                        @Html.CheckBoxFor(model => model.IsOpening, new { id = "checkboxOpening", @class = "form-check" })
                                        <label for="checkboxOpening" class="form-check-label">Is Opening?</label>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" style="padding:0px">
                                    <label for="message-text" class="col-form-label">Finish Item:</label>
                                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @required = "required", @autocomplete = "on", @class = "form-control", @name = "Product Name", @id = "txtProductName" } })
                                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.FProductId, new { id = "ddlRProductFK", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.FProductId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>No of Bag / Carton:</label>
                                    @Html.TextBoxFor(model => model.PackQuantity, new { @required = "required", min = "1", id = "txtPackQuantity", @onkeyup = "calculateAmount()", type = "number", step = "0.01", @class = "form-control", @style = "width:100%;border:1px black solid", placeholder = "Pack Quantity" })
                                    @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Per Bag/ Carton (gm):</label>
                                    @Html.TextBoxFor(model => model.Consumption, new { id = "txtConsumption", @onkeyup = "calculateAmount()", type = "number", step = "0.01", @class = "form-control", @style = "width:100%;border:1px black solid", placeholder = "Consumption" })
                                    @Html.ValidationMessageFor(model => model.Consumption, "", new { @class = "text-danger" })
                                    <span class="text-info">(Ex. 2kg x 1000=2000)</span>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Total Qty (kg):</label>
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Qty, new { id = "txtOrderQuantity", @class = "form-control", @style = "width:100%;border:1px black solid", placeholder = "Purchase Quantity", required = "Required" })
                                        @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })

                                        <div class="input-group-addon">
                                            <span class="txtUnitName"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>@*Price Per Bag/ Carton:*@</label>
                                    <label>Price Per Kg:</label>
                                    @Html.TextBoxFor(model => model.UnitPrice, new { id = "txtUnitPrice", type = "number", step = "0.01", @class = "form-control", @style = "width:100%;border:1px black solid", placeholder = "Purchasing Price", required = "Required" })
                                    @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        @*Total Discount *@
                        @*<div class="row">
            <div class="col-md-6 text-right">
                <label style="margin-top:25px;">Total Discount:</label>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label> Discount in (Tk):</label>
                    @Html.TextBoxFor(model => model.DiscountAmount, new { id = "totalDiscountAmount", type = "number", step = "0.01", @class = "form-control", @style = "width:100%;border:1px black solid;", placeholder = "Purchasing Price", required = "Required" })
                    @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Discount in (%):</label>
                    @Html.TextBoxFor(model => model.DiscountRate, new { id = "disPercentage", type = "number", step = "0.01", @class = "form-control", @style = "width:100%;border:1px black solid", placeholder = "Purchasing Price", required = "Required" })
                    @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-2 text-right">

            </div>
            <div class="col-md-2 ">
                <div class="form-group ">
                    <label>Total Amount (Tk):</label>
                    @Html.TextBoxFor(model => model.TotalAmount, new { id = "totalAmount", @readonly = "readonly", type = "number", step = "0.01", @class = "form-control", @style = "width:100%;border:1px black solid", placeholder = "Purchasing Price", required = "Required" })
                    @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

                        @*Discount Per Kg *@
                        <div class="row">
                            <div class="col-md-4 text-right">
                                <label style="margin-top:25px;">Discount Per Bag/ Carton:</label>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Discount Per Kg (Tk):</label>
                                    @Html.TextBoxFor(model => model.DiscountPerKg, new { id = "DiscountPerKg", type = "number", step = "0.01", @class = "form-control", @style = "width:100%;border:1px black solid;", placeholder = "Discount Per Kg", required = "Required" })
                                    @Html.ValidationMessageFor(model => model.DiscountPerKg, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-2 ">
                                <div class="form-group ">
                                    <label>Total Discount (Tk):</label>
                                    @Html.TextBoxFor(model => model.DiscountAmount, new { id = "totalDiscountAmount", type = "number", step = "0.01", @class = "form-control", @style = "width:100%;border:1px black solid", placeholder = "Total Discount Amount", required = "Required" })
                                    @Html.ValidationMessageFor(model => model.DiscountAmount, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Total Discount (%):</label>
                                    @Html.TextBoxFor(model => model.DiscountRate, new { id = "disPercentage", type = "number", step = "0.01", @class = "form-control", @style = "width:100%;border:1px black solid", placeholder = "Discount Percent", required = "Required" })
                                    @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-2 ">
                                <div class="form-group ">
                                    <label>Total Amount (Tk):</label>
                                    @Html.TextBoxFor(model => model.TotalAmount, new { id = "totalAmount", @readonly = "readonly", type = "number", step = "0.01", @class = "form-control", @style = "width:100%;border:1px black solid", placeholder = "Total Amount", required = "Required" })
                                    @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-4">
                                    <table class="table" id="tblStockAvailable">
                                        <tr>
                                            <th>Available Stock: </th>
                                            <th id="stockAvailable"></th>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-4">

                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <input type="submit" id="soCreateBtn" onclick="ClientSubmit(this)" value="Add" class="btn btn-primary btn-block" />
                                    @*<button type="submit" id="soCreateBtn" onclick="ClientSubmit(this)" class="btn btn-primary btn-block">
                                            <i class='fa fa-plus'></i>
                                            @if (Model.OrderMasterId > 0)
                                            {
                                                <span>Add Item In Order</span>
                                            }
                                            else
                                            {
                                                <span>Create New Order</span>
                                            }
                                        </button>*@
                                </div>
                            </div>
                        </div>

                        <!--Body Will by Start Here-->
                        @{
                            if (Model.OrderMasterId > 0)
                            {

                                @Html.HiddenFor(model => model.ID, new { id = "hidSlaveID" })
                                <div class="table-responsive col-md-12  text-nowrap">
                                    <table id="KgErpDataTable" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th style="padding:5px;text-align:center;">SL</th>
                                                <th style="padding:5px;text-align:left;">Item</th>
                                                <th style="text-align: left;padding-left:5px;">Pack Quantity</th>
                                                <th style="text-align: left;padding-left:5px;">Consumption</th>
                                                <th style="padding:5px;text-align:center;">Quantity</th>
                                                <th style="padding:5px;text-align:center;">Unit Price</th>
                                                <th style="padding:5px;text-align:right;">Discount(%)</th>
                                                <th style="padding:5px;text-align:right;">Total Price</th>


                                                @if (Model.Status == (int)POStatusEnum.Draft)
                                                {
                                                    <th style="padding:5px;text-align:center;">Action</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.DataListSlave)
                                            {
                                                totalPrice += item.TotalAmount;
                                                discOuntPrice = totalPrice - Convert.ToDouble(item.ProductDiscountTotal);
                                                dis += item.ProductDiscountTotal;

                                                <tr>

                                                    <td style="padding:5px">@(++sl)</td>
                                                    <td style="padding:5px;text-align:left;">@item.ProductName</td>
                                                    <td style="padding:5px;text-align:left;">@item.PackQuantity</td>
                                                    <td style="padding:5px;text-align:left;">@item.Consumption</td>

                                                    <td style="padding:5px;text-align:center;">@String.Format("{0:0.00}", item.Qty) @item.UnitName</td>

                                                    <td style="padding:5px;text-align:center;">@String.Format("{0:0.00}", item.UnitPrice)</td>
                                                    <td style="padding:5px;text-align:center;">@String.Format("{0:0.00}", item.ProductDiscountTotal) (@String.Format("{0:0}", item.DiscountRate)%)</td>
                                                    <td style="padding:5px;text-align:right;">@String.Format("{0:0.00}", item.TotalPrice)</td>
                                                    @*<td style="padding:5px;text-align:right;">@String.Format("{0:0.00}", Convert.ToDecimal(item.Qty * item.UnitPrice)-item.ProductDiscountTotal) </td>*@
                                                    @{ if (Model.Status == (int)POStatusEnum.Draft)
                                                        {
                                                            <td style="padding:5px;text-align:center;">
                                                                <a id="@item.ID" onclick=" makeEditble(@item.OrderDetailId);" class="linkPointer" title="Edit"><i class="fa fa-edit" aria-hidden="true"></i></a>

                                                                <a id="@item.ID" onclick="makeDeletale(@item.OrderDetailId)" class="linkPointer" data-toggle="modal" data-target="#deleteProcurementSalesOrderSlaveModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                                            </td>
                                                        }
                                                    }
                                                </tr>
                                            }
                                        </tbody>

                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th colspan="6">TOTAL</th>


                                                <th style="padding:5px;text-align:right;">@String.Format("{0:0.00}", totalPrice) </th>
                                                @if (Model.Status == (int)POStatusEnum.Draft)
                                                {
                                                    <th></th>
                                                }
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th colspan="6">TOTAL Discount</th>


                                                <th style="padding:5px;text-align:right;">@String.Format("{0:0.00}", Model.TotalDiscountAmount) </th>
                                                @if (Model.Status == (int)POStatusEnum.Draft)
                                                {
                                                    <th></th>
                                                }
                                            </tr>


                                            <tr>
                                                <th></th>
                                                <th colspan="6">Total After Discount</th>


                                                <th style="padding:5px;text-align:right;">@String.Format("{0:0.00}", (Convert.ToDecimal(totalPrice) - Model.TotalDiscountAmount)) </th>
                                                @if (Model.Status == (int)POStatusEnum.Draft)
                                                {
                                                    <th></th>
                                                }
                                            </tr>

                                            <tr>
                                                <th></th>
                                                <th colspan="6">Courier Charge</th>


                                                <th style="padding:5px;text-align:right;">@String.Format("{0:0.00}", Model.CourierCharge) </th>
                                                @if (Model.Status == (int)POStatusEnum.Draft)
                                                {
                                                    <th></th>
                                                }
                                            </tr>

                                            <tr>
                                                <th></th>
                                                <th colspan="6">GRAND TOTAL</th>
                                                <th style="padding:5px;text-align:right;">@String.Format("{0:0.00}", (Convert.ToDecimal(totalPrice)) + Convert.ToDecimal(Model.CourierCharge) - Model.TotalDiscountAmount) </th>
                                                @if (Model.Status == (int)POStatusEnum.Draft)
                                                {
                                                    <th></th>
                                                }
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            }
                        }
                    </div>
                    <div class="box-footer">
                        @if (Model.OrderMasterId > 0)
                        {
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <a id="@Model.OrderMasterId" onclick="makeSubmitble(@Model.OrderMasterId)" class="linkPointer btn btn-success" data-toggle="modal" style="width:100%" data-target="#submitProcurementSalesOrderModal" data-placement="top">
                                        @if (Model.Status == (int)POStatusEnum.Submitted)
                                        {
                                            <i>Undo Submit</i>
                                        }
                                        else
                                        {
                                            <i>Submit</i>
                                        }
                                    </a>
                                </div>

                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@using (Html.BeginForm("SubmitOrderMastersFromSlave", "Procurement", FormMethod.Post, new { id = "submitOrderMastersFromSlaveFormId", @class = "formValidator" }))
{

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="submitProcurementSalesOrderModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b><span class="submitOrDraftText"></span> Sales Order (<span id="submitOrDraftPOCIDText"></span>)</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.OrderMasterId, new { id = "hidsubmitOrderMasterId" })
                    @Html.HiddenFor(model => model.CompanyFK, new { id = "hidsubmitCompanyFK" })

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to <span class="submitOrDraftText"></span> this Sales Order?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnDelete2" onclick="ClientSubmit(this)" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp;<span class="submitOrDraftText"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("DeleteSalesOrderSlave", "Procurement", FormMethod.Post, new { id = "deleteProcurementSalesOrderSlaveFormId", @class = "formValidator" }))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="deleteProcurementSalesOrderSlaveModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete Sales Item</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.OrderDetailId, new { id = "hidDeleteOrderDetailId" })
                    @Html.HiddenFor(model => model.OrderMasterId, new { id = "hidDeleteOrderMasterId" })

                    @Html.HiddenFor(model => model.CompanyFK, new { id = "deleteCompanyFK" })

                    @Html.HiddenFor(model => model.ActionId, new { id = "deleteActionId" })

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to Delete this Sales Item?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetProcurementSalesRequisitionSlaveForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btndelete" onclick="ClientSubmit(this)" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp; Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@section scripts {

    <script type="text/javascript">

        function calculateAmount() {
            var packQuantity = $('#txtPackQuantity').val();
            var consumption = $("#txtConsumption").val();
            var quantityInKg = (Number(packQuantity) * Number(consumption)) / 1000;
            $('#txtOrderQuantity').val(Number((quantityInKg).toFixed(3)));


            var qty = $("#txtOrderQuantity").val();
            var unit = $("#txtUnitPrice").val();
            var tAmount = qty * unit;
            $("#totalAmount").val(tAmount.toFixed(2));
            $("#totalDiscountAmount").val(0);
            $("#disPercentage").val(0);
            $("#DiscountPerKg").val(0);
        }
        

        //function calculateAmount() {
        //    var packQuantity = $('#txtPackQuantity').val();
        //    var consumption = $("#txtConsumption").val();
        //    var maximumValue = $('#hiddenStock').val(); // Get the maximum value

        //    // Calculate the quantity in kilograms
        //    var quantityInKg = (Number(packQuantity) * Number(consumption)) / 1000;

        //    // Ensure the calculated quantity does not exceed the maximum value
        //    if (quantityInKg > maximumValue) {
        //        // If it exceeds, set the input value to the maximum value
        //        $('#txtPackQuantity').css('border-color', 'red');
        //        $('#txtConsumption').css('border-color', 'red');
        //        $('#txtOrderQuantity').css('border-color', 'red');

        //        $('#txtPackQuantity').val(0);
        //        $('#txtConsumption').val(0);
        //        $('#txtOrderQuantity').val(0);

        //    } else {
        //        // Otherwise, set it to the calculated value
        //        $('#txtPackQuantity').css('border-color', '');
        //        $('#txtConsumption').css('border-color', '');
        //        $('#txtOrderQuantity').css('border-color', '');
        //        $('#txtOrderQuantity').val(Number(quantityInKg.toFixed(3)));

        //    }
        //}


        function makeDeletale(rowId) {
            $('#hidDeleteOrderDetailId').val(rowId);
            $('#deleteActionId').val(3);
        }

        function resetProcurementSalesRequisitionSlaveForm() {
            $('#procurementSalesOrderSlaveFormId')[0].reset();
            $('#ActionId').val(1);
        }

        var normal= 0;
        $(document).ready(function () {
            //
            var orderMasterIdInit = "@Model.OrderMasterId";

            if (orderMasterIdInit > 0) {
                $('#txtProductName').focus();
            }


            $('#procurementSalesOrderSlaveFormId').on('keyup keypress', function (e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });
            $('#tblStockAvailable').hide();
            $('#datePickerById').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true,
                clearBtn: true
            }).on('changeDate', function (ev) {
                if ($(this).parents('form') && $(this).attr('required')) {
                    $(this).parents('form').bootstrapValidator('revalidateField', $(this));
                }
            });

            $("#ddlFinalDestinationCountryFk").val(19).change();
              $("#txtProductName").autocomplete({
                source: function (request, response) {

                    $.ajax({
                        url:"@Url.Action("AutoCompleteProductGet", "Configuration")",// '/AccountHeads/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { companyId: "@Model.CompanyFK", prefix: request.term, productType : "R" },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },

                  select: function (e, i) {
                    $("#ddlRProductFK").val(i.item.val);
                      var storeInfoId = $("#ddlStockInfoId").val();
                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("ProductStockByProduct", "Procurement")",
                        datatype: "Json",
                        data: { companyId: "@Model.CompanyFK", productId: i.item.val, stockInfoId: storeInfoId },
                        success: function (data) {
                            var items = "";
                            if (data) {
                                $('#tblStockAvailable').show();
                                $('.txtUnitName').text(data.UnitName);
                                $('#stockAvailable').text(data.CurrentStock + ' ' + data.UnitName);
                                $('#hiddenStock').val(data.CurrentStock);
                                $('#txtUnitPrice').val(data.UnitPrice);

                                var customerTypeFK = $("#hidCustomerTypeFk").val();
                                if (customerTypeFK == "@((int)CustomerTypeEnum.Dealer)") {
                                    $("#txtUnitPrice").val(data.TPPrice);
                                }
                                if (customerTypeFK == "@((int)CustomerTypeEnum.Retail)") {
                                    $("#txtUnitPrice").val(data.UnitPrice);
                                }

                            }
                        }
                    });
                $('#txtPackQuantity').focus();
                $('#txtPackQuantity').select();


                },
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });



    $('#ddlStockInfoId').change(function (event) {
    var storeInfoId = $("#ddlStockInfoId").val();
    var productId = $("#ddlRProductFK").val();

    $.ajax({
        type: "GET",
        url: "@Url.Action("ProductStockByProduct", "Procurement")",
        datatype: "Json",
        data: {
            companyId: "@Model.CompanyFK",
            productId: productId,
            stockInfoId: storeInfoId
        },
        success: function (data) {
            var items = "";
            if (data) {
                $('#tblStockAvailable').show();
                $('.txtUnitName').text(data.UnitName);
                $('#stockAvailable').text(data.CurrentStock + ' ' + data.UnitName);
                $('#hiddenStock').val(data.CurrentStock);
                $('#txtUnitPrice').val(data.UnitPrice);

                var customerTypeFK = $("#hidCustomerTypeFk").val();
                if (customerTypeFK == "@((int)CustomerTypeEnum.Dealer)") {
                    $("#txtUnitPrice").val(data.TPPrice);
                }
                if (customerTypeFK == "@((int)CustomerTypeEnum.Retail)") {
                    $("#txtUnitPrice").val(data.UnitPrice);
                }
            }
        }
    });
});


            $('#txtOrderDate').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#ddlSupplierPaymentMethodEnumFK').focus();
                }
            });
            $('#ddlCustomerId').change(function (event) {
                $('#txtDeliveryDate').focus();
            });
            $('#txtDeliveryDate').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#txtFinalDestination').focus();
                }
            });
            $('#txtFinalDestination').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#txtCourierNo').focus();
                }
            });
            $('#txtCourierNo').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#txtCourierCharge').focus();
                    $('#txtCourierCharge').select();
                }
            });
            $('#txtCourierCharge').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#txtDescription').focus();
                }
            });
            $('#txtDescription').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#txtProductName').focus();
                }
            });

            $('#txtPackQuantity').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#txtConsumption').focus();
                }
            });
            $('#txtConsumption').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#txtUnitPrice').focus();
                    $('#txtUnitPrice').select();

                }
            });
            $('#txtUnitPrice').keypress(function (event) {
                if (event.keyCode == 13) {
                    $('#soCreateBtn').click();
                }
            });

            $("#ddlSubZoneFk").change(function () {
                var subZoneFk = $("#ddlSubZoneFk").val();
                $.ajax({
                type: "GET",
                url: "@Url.Action("CustomerLisBySubZonetGet", "Procurement")",
                datatype: "Json",
                    data: { subZoneId: subZoneFk},
                    success: function (data) {
                    var items = "";
                        if (data) {
                            $("#ddlCustomerId").empty();
                            $("#ddlCustomerId").append("<option value=''>==Select Customer==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCustomerId").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                            });

                        }
                    }

                });
            })


            $("#TermsAndConditionid").change(function () {
                var termsAndConditionid = $('#TermsAndConditionid').val();
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetTermNCondition", "Procurement")",
                    datatype: "Json",
                    data: { id: termsAndConditionid },
                    success: function (data) {
                        $('#txtTermsAndCondition').empty();
                        $('#txtTermsAndCondition').append(data.description);
                        }
                    });
                });


            $("#ddlSupplierPaymentMethodEnumFK").change(function () {
                var paymethod = $("#ddlSupplierPaymentMethodEnumFK").val();
                if (paymethod === "@((int)VendorsPaymentMethodEnum.LC)") {
                    $("#piReletedDivId").show();
                }
                else {
                    $("#piReletedDivId").hide();
                }
            })
        });

        function makeEditble(rowId) {

            $.ajax({

                  type: "POST",
                  url: "@Url.Action("SingleOrderDetails", "Procurement")",
                  datatype: "Json",
                  data: { id: rowId },
                  success: function (data) {

                      //$('#soCreateBtn').val("<i class='fa fa-edit'></i>&nbsp;Update");
                      $('#soCreateBtn').val("Update");
                      $("#hidOrderMasterId").val(data.OrderMasterId);
                      $('#ActionId').val(2);
                      $("#CompanyFK").val(data.CompanyFK);
                      $("#txtProductName").val(data.ProductName);
                      $("#ddlRProductFK").val(data.FProductId);
                      $("#txtPackQuantity").val(data.PackQuantity);
                      $("#txtConsumption").val(data.Consumption);

                      $("#txtOrderQuantity").val(data.Qty);
                      $('#txtUnitPrice').val(data.UnitPrice);
                      $("#hidOrderDetailId").val(data.OrderDetailId);
                      $('.txtUnitName').text(data.UnitName);

                      $("#totalDiscountAmount").val(data.DiscountAmount)
                      $("#disPercentage").val(data.DiscountRate)
                      $("#totalAmount").val(data.TotalAmount)
                      $("#DiscountPerKg").val(data.DiscountPerKg)
                      window.scrollTo({ top: 0, behavior: 'smooth' });
                  }
                 });
            }

        function makeSubmitble(rowId) {
                $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetSinglOrderMastersGet", "Procurement")",
                        datatype: "Json",
                    data: { orderMasterId: rowId },
                        success: function (data) {
                            console.log(data);
                            $('#submitOrDraftPOCIDText').text(data.OrderNo);

                            if (data.Status == 0) {
                                $('.submitOrDraftText').text("Make Submit");
                            }
                            else {
                                $('.submitOrDraftText').text("Make Draft");

                            }
                        }
                 });
                $('#hidsubmitProcurementPurchaseOrderId').val(rowId);
        }



        //$("#txtUnitPrice").keyup(function () {
        //    var discountunitprice = $("#ProductDiscountUnit").val();
        //    var qty = $("#txtOrderQuantity").val();
        //    var unitprice = $("#txtUnitPrice").val();
        //    var totalPrice = 0;
        //    if (discountunitprice == 0) {

        //       totalPrice = qty * unitprice;
        //        normaltotalprice = totalPrice;
        //        $("#txtTotalAmount").val(totalPrice);
        //        $("#txtCashDiscountPercent").val(0);
        //        $("#txtSpecialDiscount").val(0);

        //    } else {
        //         totalPrice = qty * unitprice;
        //        var totalPriceafterPerUnitDiscount = totalPrice - (qty * discountunitprice)
        //        normaltotalprice = totalPriceafterPerUnitDiscount;
        //        $("#txtTotalAmount").val(totalPriceafterPerUnitDiscount);
        //        $("#txtCashDiscountPercent").val(0);
        //        $("#txtSpecialDiscount").val(0);

        //    }

        //});

        //$("#ProductDiscountUnit").keyup(function () {
        //    $("#ProductDiscountUnit").empty();
        //    var unitprice = $("#txtUnitPrice").val();
        //    var qty = $("#txtOrderQuantity").val();
        //    var discountperunit = $("#ProductDiscountUnit").val();

        //    var total = qty * unitprice
        //    var totalPriceafterPerUnitDiscount = total - (qty * discountperunit)

        //    $("#txtTotalAmount").val(totalPriceafterPerUnitDiscount);
        //    $("#txtCashDiscountPercent").val(0);
        //    $("#txtSpecialDiscount").val(0);
        //});



        //$("#txtCashDiscountPercent").keyup(function () {
        //    var cashdis = $("#txtCashDiscountPercent").val();
        //    var spcl = $("#txtSpecialDiscount").val();
        //    var qty = $("#txtUnitPrice").val();
        //    var qty = $("#txtUnitPrice").val();
        //    if (cashdis == 0 && spcl == 0) {
        //    }
        //    /*var cashdis = $("#txtCashDiscountPercent").val();*/

        //});


        //$("#txtSpecialDiscount").keyup(function () {
        //    //$("#ProductDiscountUnit").empty();
        //    //var unitprice = $("#txtUnitPrice").val();
        //    //var qty = $("#txtOrderQuantity").val();
        //    //var discountperunit = $("#ProductDiscountUnit").val();
        //    var ttlamnt = $("#txtTotalAmount").val();
        //    var cashdis = $("#txtSpecialDiscount").val();
        //    //var total = qty * unitprice
        //    //var totalPriceafterPerUnitDiscount = total - (qty * discountperunit)

        //    //$("#txtTotalAmount").val(totalPriceafterPerUnitDiscount);
        //    var cashdiscountAfterDiscount = (ttlamnt - cashdis );

        //    $("#txtTotalAmount").val(cashdiscountAfterDiscount);

        //});

        //for reverse calculation  of consumtion from total qty and pack qty
        $("#txtOrderQuantity").keyup(function () {
            var packQuantity = $('#txtPackQuantity').val();
            var quantityInKg = $("#txtOrderQuantity").val();
            var consumption = (Number(quantityInKg) * 1000) / Number(packQuantity);
            $('#txtConsumption').val(Number((consumption).toFixed(3)));

            var qty = $("#txtOrderQuantity").val();
            var unit = $("#txtUnitPrice").val();
            var tAmount = qty * unit;
            $("#totalAmount").val(tAmount.toFixed(2));
            $("#totalDiscountAmount").val(0);
            $("#disPercentage").val(0);
            $("#DiscountPerKg").val(0);
        });

        $("#txtUnitPrice").keyup(function () {
            var qty = $("#txtOrderQuantity").val();
            var unit = $("#txtUnitPrice").val();
            var tAmount = qty * unit;
            $("#totalAmount").val(tAmount.toFixed(2));
            $("#totalDiscountAmount").val(0);
            $("#disPercentage").val(0);
            $("#DiscountPerKg").val(0);
        });

        $("#disPercentage").keyup(function () {

            var qty=$("#txtOrderQuantity").val();
            var Unit = $("#txtUnitPrice").val();
            var percentageVal = $("#disPercentage").val();
            var ammount = (qty * Unit).toFixed(2);
            var discountAmount = ((ammount * percentageVal) / 100).toFixed(2);
            var totalPriceAfterTotalDisPercen = ammount - discountAmount;
            $("#totalDiscountAmount").val(discountAmount);
            $("#totalAmount").val(totalPriceAfterTotalDisPercen);

            var disPerKg = (discountAmount / qty).toFixed(2);
            $("#DiscountPerKg").val(disPerKg);
        });

        $("#totalDiscountAmount").keyup(function () {

            var qty = $("#txtOrderQuantity").val();
            var Unit = $("#txtUnitPrice").val();
            var specialDis = $("#totalDiscountAmount").val();
            var ammount = (qty * Unit).toFixed(2);
            var percentage = ((specialDis / ammount) * 100).toFixed(2);
            var totalPriceAfterTotalspecial = (ammount - specialDis);
            $("#disPercentage").val(percentage);
            $("#totalAmount").val(totalPriceAfterTotalspecial);

            var disPerKg = (specialDis / qty).toFixed(2);
            $("#DiscountPerKg").val(disPerKg);
        });

        $("#DiscountPerKg").keyup(function () {

            var qty = $("#txtOrderQuantity").val();
            var discountPerKg = $("#DiscountPerKg").val();
            var totalDiscAmount = (qty * discountPerKg).toFixed(2);
            $("#totalDiscountAmount").val(totalDiscAmount);

            var unitPrice = $("#txtUnitPrice").val();

            var ammount = (qty * unitPrice).toFixed(2);
            var percentage = ((100 * totalDiscAmount) / ammount).toFixed(2);
            $("#disPercentage").val(percentage);

            var totalPriceAfterTotalspecial = (ammount - totalDiscAmount).toFixed(2);
            $("#totalAmount").val(totalPriceAfterTotalspecial);

        });

    </script>


}