@model IEnumerable<System.Linq.IGrouping<object, KGERP.Service.ServiceModel.VendorOfferModel>>
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/CustomCss/search-form.css" rel="stylesheet" />

<div class="row">
    @using (Html.BeginForm("Index", "VendorOffer", FormMethod.Get, new { @class = "example" }))
    {
        <div class="col-md-8">
            @if (Model.Any())
            {
                <span style="font-weight:bold;color:blue;font-size:20px"> @Model.First().First().CustomerName</span>
            }
        </div>
        <div class="col-md-4">
            @Html.Hidden("vendorId")
            @Html.Hidden("productType")
            @Html.Editor("searchText", new { htmlAttributes = new { @autocomplete = "off", value = "", @placeholder = "Search..", @style = "width:100%" } })
            <button type="submit"><i class="fa fa-search "></i></button>
        </div>
        @*<div class="col-md-2">
                <a href="@Url.Action("CreateOrEdit",new {ingredientStandardId=0})" class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-plus-sign"></span> Add Material
                </a>
            </div>*@
    }
</div>



<div class="row">
    <hr style="border-color:#32527B; padding:0px;margin-top: 5px;margin-bottom: 5px; border-width: 2px;" />
    <table class="table table-striped">
        @foreach (var item in Model)
        {
            <tr>
                <th width="10%">
                    <span style="font-size:20px;color:darkblue">@item.Key</span>
                </th>
                <td width="90%">
                    <table class="table table-striped">
                        <tr style="background-color:#000080;color:#FFFFFF">
                            <th>
                                SL
                            </th>
                            <th>
                                Code
                            </th>
                            <th>
                                Product Name
                            </th>
                            <th>
                                Base Comm. Rate
                            </th>
                            <th>
                                Cash Comm. Rate
                            </th>
                            <th>
                                Depo Carrying Rate
                            </th>
                            <th>
                                Factory Carrying Rate
                            </th>
                            <th>
                                Special Discount Rate
                            </th>
                            <th>
                                Addition Rate
                            </th>
                            <th>
                                Active
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                        @foreach (var vendorOffer in item.Select((x, i) => new { Data = x, Index = i }))
                        {
                            <tr>
                                <td width="5%">@(vendorOffer.Index + 1)</td>
                                <td width="10%">@vendorOffer.Data.ProductCode</td>
                                <td width="30%">@vendorOffer.Data.ProductName</td>
                                <td width="10%">@vendorOffer.Data.BaseCommission</td>
                                <td width="10%">@vendorOffer.Data.CashCommission</td>
                                <td width="10%">@vendorOffer.Data.CarryingCommission</td>
                                <td width="10%">@vendorOffer.Data.FactoryCarryingCommission</td>
                                <td width="10%">@vendorOffer.Data.SpecialCommission</td>
                                <td width="10%">@vendorOffer.Data.AdditionPrice</td>
                                <td width="5%">@Html.DisplayFor(modelItem => vendorOffer.Data.IsActive)</td>
                                <td width="5%">
                                    <a href="@Url.Action("CreateOrEdit", new { id = vendorOffer.Data.VendorOfferId })" title="Edit" class="btn btn-info btn-xs">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>

                        }
                    </table>
                </td>
            </tr>

        }
    </table>
</div>