@model KGERP.Service.ServiceModel.StockInfoModel

@{
    var message = TempData["successMessage"];
    ViewBag.Title = "Project Location List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Warehouse</h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Project Location</li>
    </ol>
</section>

@using (Html.BeginForm("Index", "StockInfos", FormMethod.Post, new { id = "stockInfoFormId", @class = "formValidator", onreset = "resetDDL();" }))
{
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box">

                    <div class="box-danger">

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="box-header">
                            <h4>Add Project Location</h4>
                        </div>

                        <div class="box-body">
                            @Html.HiddenFor(model => model.StockInfoId, new { id = "stockInfoId" })
                            @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
                            @Html.HiddenFor(model => model.CompanyId, new { id = "CompanyFK" })


                            <div class="row">
                                <div class="form-group" style="padding:0px">
                                    <label for="message-text" class="col-form-label">Name:</label>
                                    @Html.TextBoxFor(model => model.Name, new { Style = "width:100%;", id = "txtName", @class = "form-control input-sm ", @placeholder = "Name", required = "true" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group" style="padding:0px">
                                    <label for="message-text" class="col-form-label">Short Name (Prefix):</label>
                                    @Html.TextBoxFor(model => model.ShortName, new { Style = "width:100%;", id = "txtShortName", @class = "form-control input-sm ", @placeholder = "Short Name" })
                                    @Html.ValidationMessageFor(model => model.ShortName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group" style="padding:0px">
                                    <label for="message-text" class="col-form-label">Code:</label>
                                    @Html.TextBoxFor(model => model.Code, new { Style = "width:100%;", id = "txtCode", @class = "form-control input-sm ", @placeholder = "Code", required = "true" })
                                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                                    </div>
                                    <div class="col-md-7">
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-edit'></i> Add</button>

                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="box-footer">
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-9">
                <div class="box">
                    <div class="box-danger">
                        <div class="box-header">
                            <h4>Project Location List</h4>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive">
                                <table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>SL</th>
                                            <th>Name</th>
                                            <th>Short Name</th>
                                            <th>Code</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    @{int sl = 0;
                                    }
                                    <tbody>
                                        @foreach (var item in Model.DataList)
                                        {
                                            <tr>
                                                <td style="width:10px;">
                                                    @(++sl)
                                                </td>
                                                <td id="tdName_@item.StockInfoId">@item.Name</td>
                                                <td id="tdShortName_@item.StockInfoId">@item.ShortName</td>
                                                <td id="tdCode_@item.StockInfoId">@item.Code</td>
                                                <td>

                                                    <a id="@item.StockInfoId" onclick="makeEditble(this);" class="linkPointer" title="Edit"><i class="fa fa-pencil-square-o"></i></a>

                                                    <a id="@item.StockInfoId" onclick="makeDeletable(@item.StockInfoId);" class="linkPointer" data-toggle="modal" data-target="#warehouseDeleteModal" title="Delete"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                    </a>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
}

@using (Html.BeginForm("Index", "StockInfos", FormMethod.Post, new { id = "stockInfoDeleteFormId", @class = "formValidator", onreset = "resetDDL();" }))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @Html.HiddenFor(model => model.StockInfoId, new { Value = "", id = "stockInfoIdDelete" })
    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionIdDelete" })
    @Html.HiddenFor(model => model.CompanyId, new { Value = "", id = "CompanyFKDelete" })

    <div class="modal fade" id="warehouseDeleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Project Location Delete</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete this Project Location?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            
        });

        function makeEditble(elem) {
            if (elem !== null) {
                var rowId = elem.id;
                $('#stockInfoId').val(rowId);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#txtCode').val($('#tdCode_' + rowId).text().trim());
                $('#txtName').val($('#tdName_' + rowId).text().trim());
                $('#txtShortName').val($('#tdShortName_' + rowId).text().trim());
                
                window.scrollTo({ top: 0, behavior: 'smooth' });

            }
        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#stockInfoIdDelete').val(id);
                $('#ActionIdDelete').val(3);
                $('#CompanyFKDelete').val("@Model.CompanyId");

            }
        }

        function resetForm() {
            $('#stockInfoFormId')[0].reset();
            $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Add");

        }

    
    </script>
}







