@model KGERP.ViewModel.ProductDetailViewModel
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Update", "ProductDetail", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <span style="font-size:25px">Product Detail</span>
        <hr style="border-color:#32527B; padding:0px;margin-top: 10px;margin-bottom: 10px; border-width: 2px;" />
    </div>

    <div class="form-horizontal">
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ProductDetail.ProductDetailsId)

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductDetail.LcNo, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ProductDetail.LcNo, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.ProductDetail.LcNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductDetail.ProductId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.ProductDetail.ProductId, new SelectList(Model.Product, "Value", "Text"), "---Select---", new { @class = "dropdownsize form-control", @id = "ddlProduct" })

                        @Html.ValidationMessageFor(model => model.ProductDetail.ProductId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductDetail.EngineNo, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ProductDetail.EngineNo, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.ProductDetail.EngineNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductDetail.ChassissNO, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ProductDetail.ChassissNO, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.ProductDetail.ChassissNO, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductDetail.FuelPumpSlNo, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ProductDetail.FuelPumpSlNo, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.ProductDetail.FuelPumpSlNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductDetail.BetteryNo, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ProductDetail.BetteryNo, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.ProductDetail.BetteryNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductDetail.RearTyreLH, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ProductDetail.RearTyreLH, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.ProductDetail.RearTyreLH, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductDetail.RearTyreRH, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ProductDetail.RearTyreRH, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.ProductDetail.RearTyreRH, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-offset-5 col-md-5">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary pull-right" />
                    <a href="@Url.Action("Index")" class="btn btn-danger pull-right" style="margin-right:8px">
                        Close <i class="fa fa-close" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <script type="text/javascript">
      
    </script>
}
