@model KGERP.ViewModel.WorkViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="background-color:#000080;color:#FFFFFF">
    <span style="font-size:20px;padding:5px;font-weight:bold">Member Task Status Update</span>
</div>
<br />
@using (Html.BeginForm("ChangeMemberState", "Work", FormMethod.Post, new { enctype = "multipart/form-data", }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.WorkAssign.WorkAssignId)
    @Html.HiddenFor(x => x.WorkAssign.WorkId)
    @Html.HiddenFor(x => x.Work.MemberId)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <table class="table table-bordered">
            <tr>
                <th>Work ID</th>
                <td>@Model.WorkAssign.Work.WorkId</td>
            </tr>
            <tr>
                <th> Title</th>
                <td>@Model.WorkAssign.Work.WorkTopic</td>
            </tr>
            <tr>
                <th>Details</th>
                <td>@Model.WorkAssign.Work.WorkDetail</td>
            </tr>
            <tr>
                <th>Remarks</th>
                <td>@Model.WorkAssign.Work.Remarks</td>
            </tr>
            <tr>
                <th>Entry Date</th>
                <td>@Model.WorkAssign.Work.EntryDate.Value.ToString("dd MMM yyyy")</td>
            </tr>
            <tr>
                <th>Exp. End Date</th>
                <td>@Model.WorkAssign.Work.ExpectedEndDate.Value.ToString("dd MMM yyyy")</td>
            </tr>
            <tr>
                <th>Manager Status</th>
                <th><button class='@(Model.WorkAssign.Work.WorkState.State=="Completed"?"btn btn-success btn-xs":"btn btn-primary btn-xs")'>@Model.WorkAssign.Work.WorkState.State</button></th>
            </tr>
            <tr>
                <th>Member Status</th>
                <td>
                    @Html.DropDownListFor(model => model.WorkAssign.WorkStateId, new SelectList(Model.MemberWorkStates, "Value", "Text"), "--Select--", htmlAttributes: new { @id = "ddlStatus", @class = "dropdownsize form-control", @onchange = "showEndDate()" })
                </td>
            </tr>
            <tr>
                <th>Report</th>
                <th>
                    @Html.TextAreaFor(model => model.WorkAssign.Report, 2, 50, new { htmlAttributes = new { @class = "form-control" } })
                </th>
            </tr>

            <tr>
                <th>Browse File</th>
                <td>
                    <div class="col-md-4">@Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple", @class = "btn btn-success" })</div>
                    <div class="col-md-6" style="color:blue;font-size:20px">(You can choose multiple files)</div>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <a href="@Url.Action("MemberWorkIndex")" class="btn btn-danger" style="margin-right:20px">
                        Close
                    </a>
                    <input type="submit" value="@Model.WorkAssign.ButtonName" class="btn btn-primary" />
                </td>
            </tr>

        </table>

    </div>
}
@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">


    </script>
}
