@model List<KGERP.Service.ServiceModel.WorkAssignFileModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <h4><b>File List</b></h4>
    </div>
</div>


<div class="row">
    <hr style="border-color:#32527B; padding:0px;margin-top: 5px;margin-bottom: 5px; border-width: 2px;" />
    <table class="table table-striped">
        <tr style="background-color:#000080;color:#FFFFFF">
            <th>
                SL
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().FileStatus)
            </th>
            
            <th class="text-center">Action</th>
        </tr>

        @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i }))
        {
            <tr>
                <td>
                    @(item.Index + 1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.FileStatus)
                </td>
                
                <td class="text-center">
                    <a href="@Url.Action("Download", new {workAssingFileId = item.Data.WorkAssignFileId})"  class="btn btn-danger btn-xs">
                        <i class="fa fa-download" style="font-size:15px;" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        }

    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
    </script>

}