@*@model IList<KGERP.Data.CustomModel.WorkCustomModel>*@
@model IEnumerable<System.Linq.IGrouping<object, KGERP.Data.CustomModel.WorkCustomModel>>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = TempData["successMessage"];

}
<link href="~/Content/CustomCss/search-form.css" rel="stylesheet" />



<div class="row">
    <div class="col-md-8">
        <h4><b>Manager's Task List</b></h4>
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("WorkOverview", "Work", FormMethod.Get, new { @class = "example" }))
        {
            <input type="text" placeholder="Search.." autocomplete="off" id="searchText" name="searchText">
            <button type="submit"><i class="fa fa-search"></i></button>
        }
    </div>
</div>


<div class="row">
    <hr style="border-color:#32527B; padding:0px;margin-top: 5px;margin-bottom: 5px; border-width: 2px;" />
    <table class="table table-striped">
        @foreach (var item in Model)
        {
            <tr>
                <td width="20%">
                    <img src="@Url.Content(item.First().ImageUrl)" height="150" width="150" alt="Manager Image">
                    <br />
                    <b>Name : @item.First().Name</b>
                    <br />
                    <b>Department : @item.First().Department</b>
                    <br />
                    <b>Designation : @item.First().Designation</b>
                </td>
                <td width="80%">
                    <table class="table table-striped">
                        <tr style="background-color:#000080;color:#FFFFFF">
                            <th>
                                Work ID
                            </th>
                            <th>
                                Work Title
                            </th>
                            <th>
                                Entry Date
                            </th>
                            <th>
                                Exp. End Date
                            </th>

                            <th>
                                Status
                            </th>
                            <th>
                                Remarks
                            </th>
                        </tr>
                        @foreach (var work in item)
                        {
                        <tr>
                            <td  width="10%">@work.WorkNo</td>
                            <td  width="40%">@work.WorkTopic</td>
                            <td  width="10%">@work.EntryDate.ToString("dd MMM yyyy")</td>
                            <td  width="10%">@work.ExpectedEndDate.ToString("dd MMM yyyy")</td>
                            <td  width="10%"><button class='@(work.WorkState=="Completed"?"btn btn-success btn-xs":"btn btn-primary btn-xs")'>@work.WorkState</button></td>
                            <td  width="20%">@work.Remarks</td>
                        </tr>

                        }
                    </table>
                </td>
            </tr>

        }
    </table>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

    var message = '@message';
    if(message){
        alert(message);
    }

    </script>

}