@model KGERP.ViewModel.SubZoneViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.SubZone.SubZoneId)
    @*@Html.HiddenFor(x => x.SubZone.Zone.CompanyId)*@
    <div class="form-horizontal">
        <h4>Territory</h4>
        <hr style="border-color:#ff0000; padding:0px;margin-top: 5px;margin-bottom: 5px; border-width: 2px;" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.SubZone.ZoneId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.SubZone.ZoneId, new SelectList(Model.Zone, "Value", "Text"), "--Select--", new { @class = "dropdownsize form-control" })
                @Html.ValidationMessageFor(model => model.SubZone.ZoneId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubZone.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SubZone.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubZone.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubZone.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.SubZone.IsActive)
                    @Html.ValidationMessageFor(model => model.SubZone.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-offset-3 col-md-3">
            <div class="form-group">
                <a href="@Url.Action("SubZoneIndex")" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove-circle"></span>   Close
                </a>
                <button type="submit" class="btn btn-primary" onclick="javascript: return SubmitForm();" style="margin-left: 20px;"><span class="glyphicon glyphicon-floppy-disk"></span>Save</button>
            </div>
        </div>
    </div>
}


@section Scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <script type="text/javascript">

        function SubmitForm() {

            var r = confirm("Are you sure you want to submit?");
            if (r == false) {
                return false;
            }
        }

    </script>

}