@model IEnumerable<KGERP.Data.Models.DropDownItem>

@{
    ViewBag.Title = "IndexLnL";
}

<h2>Item List</h2>

<p>
    @Html.ActionLink("Add New", "CreateOrEditLnL")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DropDownTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DropDownTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>         
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DropDownItemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DropDownItemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DropDownItemId })
        </td>
    </tr>
}

</table>
