@model KGERP.Service.ServiceModel.DropDownItemModel

@{
    var message = TempData["successMessage"];
    ViewBag.Title = "DropDown Item List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Dropdown Item List
    </h1>


    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li>
            <a href="@Url.Action("CreateOrEdit",new { id=0 })" class="btn btn-primary pull-right">
                <span class="fa fa-plus"></span> Add
            </a>
        </li>
    </ol>
</section>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="KgErpDataTable" style="width:100%; background-color: #ddd;" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width:10%;">SL</th>
                                        <th style="width:10%;">Type</th>
                                        <th style="width:10%;">ID/th>
                                        <th style="width:10%;">Item Name</th>
                                        <th style="width:10%;">Item Value</th>
                                        <th>Remarks</th>
                                        <th style="width:10%;">Order No</th>
                                        <th style="width:10%;">Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td style="width:10px;">
                                                @(++sl)
                                            </td>
                                            <td>@item.TypeName</td>
                                            <td>@item.DropDownTypeId</td>
                                            <td>@item.Name</td>
                                            <td>@item.ItemValue</td>
                                            <td>@item.Remarks</td>
                                            <td>@item.OrderNo</td>
                                            <td>
                                                <a href="@Url.Action("CreateOrEdit", new {id = item.DropDownItemId})" title="Edit" class="btn btn-info btn-xs">
                                                    <i class="fa fa-edit" style="font-size:15px;" aria-hidden="true"></i>
                                                </a>
                                                <a href="@Url.Action("DeleteDropDownItem", new { id = item.DropDownItemId })" onclick="return confirm('Are you sure to delete Dropdown Item ?');" class="btn btn-danger btn-xs">
                                                    <i class="fa fa-trash" style="font-size:15px;" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });
        var message = '@message';
    if(message){
        alert(message);
    }

    </script>

}
