@model KGERP.Service.ServiceModel.OfficeAssetModel

@{
    ViewBag.Title = "AssetDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div {
        margin-bottom: 10px;
    }
</style>

<h2>Asset Details</h2>
<p>
    @Html.ActionLink("Back to List", "FinalAssetList")
</p>

<hr style="border-color:red; padding:0px;margin-top: 5px;margin-bottom: 5px; border-width: 2px;" />
<div>
    <hr />
    <div class="col-md-6">
        @Html.LabelFor(model => model.ProductCode, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.ProductCode, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.AssetsName, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.AssetsName, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.Manufacturer, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.Manufacturer, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.ProductDescriptionORProductType, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.ProductDescriptionORProductType, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.Brand, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.Brand, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.ModelNo, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.ModelNo, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.SerialNumber, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.SerialNumber, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.UserName, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.ProductNSerial, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.ProductNSerial, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.CompanyShortName, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.CompanyShortName, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.ProductSerialCompany, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.ProductSerialCompany, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.UserName, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.KGID, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.KGID, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.SupplierName, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.SupplierName, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.Style, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.Style, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.Color, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.Size, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.Size, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.Weight, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.Status, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.AssetLocation, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.AssetLocation, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.CompanyName, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.DepartmentName, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.DepartmentName, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.Floor, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.Floor, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.Quantity, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.UnitPrice, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.TotalPrice, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.TotalPrice, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.Remarks, new { @class = "control-label col-md-4" })
    </div>
</div>

