@Model KGERP.Service.ServiceModel.VMAsset
@using KGERP.Utility;

@{
    ViewData["Title"] = "Land  List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;
}
<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>
<section class="content-header">
    <h1>
        <span>
            Land List
        </span>

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Land List</li>
    </ol>
</section>
@using (Html.BeginForm("LandIndex2", "Asset", FormMethod.Get))
{
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive col-md-12  text-nowrap">
                            <table id="KgErpDataTable" class="table table-striped" width="100%">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Company </th>
                                        <th>District</th>
                                        <th>Upazila</th>
                                        <th>Deed Receiver</th>
                                        <th>Name of the Seller</th>
                                        <th>Deed No</th>
                                        <th>Purchased Land (Decimal)</th>
                                        <th>Action</th>      
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {        
                                    <tr>
                                        <th>@(++sl)</th>
                                        <td>
                                            @item.CompanyName
                                        </td>
                                        <td>@item.DistrictName</td>
                                        <td>@item.UpazillaName</td>
                                        <td>@item.DeedReceiverName</td>
                                        <td>@item.SellerName</td>
                                        <td>@item.DeedNo</td>
                                        <td>@item.AmountOfLandDecimal</td>
                                        <td class="text-center">
                                            <a href="@Url.Action("CreateOrEditLand", new { id = @item.AssetId })" title="Edit" class="btn btn-info btn-xs">
                                                <i class="fa fa-edit" style="font-size:15px;" aria-hidden="true"></i>
                                            </a>

                                            <a href="@Url.Action("LandDetails", new { id = @item.AssetId})" title="Details" class="btn btn-primary btn-xs">
                                                <i class="fa fa-user" style="font-size:15px;" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">
                      
                    </div>
                </div>
            </div>
        </div>
    </section>

}

@section scripts {

    <script type="text/javascript">

        

      


    </script>
}

