@model KGERP.Service.ServiceModel.AssetModel

@{
    ViewBag.Title = "LandDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    div {
        margin-bottom: 10px;
    }
</style>

<h2>Land Details</h2>

<div>

    <hr />
    <div class="col-md-6">
        @Html.LabelFor(model => model.CompanyId, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.Company.Name, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.DistrictId, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.District.Name, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.UpazillaId, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.Upazila.Name, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.Eunion, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.Eunion, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.Mouja, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.Mouja, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.ReceiverNameEn, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.ReceiverNameEn, new { @class = "control-label col-md-4" })
    </div>

    <div class="col-md-6">
        @Html.LabelFor(model => model.DonerNameEn, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.DonerNameEn, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.UserName, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.DeedNo, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.DeedNo, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.DeedDate, htmlAttributes: new { @class = "control-label col-md-4" })
        @if (Model.DeedDate.HasValue)
        {
            @Model.DeedDate.Value.ToString("dd MMM yyyy")
            @*@Html.DisplayFor(model => model.DeedDate.Value.ToString("dd MMM yyyy"), new { @class = "control-label col-md-4" })*@
        }

    </div>

    <div class="col-md-6">
        @Html.LabelFor(model => model.AmountOfLandPurchasedEn, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.AmountOfLandPurchasedEn, new { @class = "control-label col-md-4" })
    </div>

    <div class="col-md-6">
        @Html.LabelFor(model => model.SoldLand, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.SoldLand, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.PresentLand, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.PresentLand, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.MortgageLand, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.MortgageLand, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.NonMortgageLand, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.NonMortgageLand, new { @class = "control-label col-md-4" })
    </div>

    <div class="col-md-6">
        @Html.LabelFor(model => model.MortgageInstitution, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.MortgageInstitution, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.BiaDeedNoAndDateEn, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.BiaDeedNoAndDateEn, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.CS, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.CS, new { @class = "control-label col-md-4" })
    </div>

    <div class="col-md-6">
        @Html.LabelFor(model => model.CSDag, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.CSDag, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.SA, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.SA, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.SADag, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.SADag, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.RS, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.RS, new { @class = "control-label col-md-4" })
    </div>

    <div class="col-md-6">
        @Html.LabelFor(model => model.RSDag, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.RSDag, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.BS, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.BS, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.BSDag, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.BSDag, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.CityJoripKhatiyan, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.CityJoripKhatiyan, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.CityJoripDag, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.CityJoripDag, new { @class = "control-label col-md-4" })
    </div>

    <div class="col-md-6">
        @Html.LabelFor(model => model.TotalLandOfSADag, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.TotalLandOfSADag, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.PurchaseLandOfSADag, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.PurchaseLandOfSADag, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.RemainingLandOfSADag, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.RemainingLandOfSADag, new { @class = "control-label col-md-4" })
    </div>

    <div class="col-md-6">
        @Html.LabelFor(model => model.TotalLandOfRSDag, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.TotalLandOfRSDag, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.PurchaseLandOfRSDag, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.PurchaseLandOfRSDag, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.RemainingLandOfRSDag, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.RemainingLandOfRSDag, new { @class = "control-label col-md-4" })
    </div>

    <div class="col-md-6">
        @Html.LabelFor(model => model.TotalLandOfBSDag, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.TotalLandOfBSDag, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.PurchaseLandOfBSDag, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.PurchaseLandOfBSDag, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.RemainingLandOfBSDag, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.RemainingLandOfBSDag, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.JotNot, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.JotNot, new { @class = "control-label col-md-4" })
    </div>

    <div class="col-md-6">
        @Html.LabelFor(model => model.KhatianNo, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.KhatianNo, new { @class = "control-label col-md-4" })
    </div>

    <div class="col-md-6">
        @Html.LabelFor(model => model.DagNo, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.DagNo, new { @class = "control-label col-md-4" })
    </div>

    <div class="col-md-6">
        @Html.LabelFor(model => model.AmountOfRegisteredLand, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.AmountOfRegisteredLand, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.RemainingLand, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.RemainingLand, new { @class = "control-label col-md-4" })
    </div>
    <div class="col-md-6">
        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-4" })
        @Html.DisplayFor(model => model.Remarks, new { @class = "control-label col-md-4" })
    </div>

</div>
<p>
    @Html.ActionLink("Back to List", "LandIndex")
</p>
