@model KGERP.Service.ServiceModel.Approval_Process_Model.ApprovalSystemViewModel
@using KGERP.Utility
@{
    ViewBag.Title = "AccountingApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input, select, textarea {
        max-width: 100%;
    }

    .content-header {
        padding: 10px 0.5rem;
    }

        .content-header .breadcrumb {
            background-color: white;
            line-height: 1.8rem;
            margin-bottom: 0;
            padding: 5px;
        }

    content-header .breadcrumb {
        line-height: 1.5rem;
    }

    .shadow {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    }

    .align-items-center {
        -webkit-align-items: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    .justify-content-between {
        -webkit-justify-content: space-between !important;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }

    .d-flex {
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .breadcrumb {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0.75rem 1rem;
        margin-bottom: 1rem;
        list-style: none;
        background-color: #e9ecef;
        border-radius: 0.25rem;
    }

    .card {
        box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
        margin-bottom: 1rem;
    }

    .card {
        position: relative;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
    }

    .card-header:first-child {
        border-radius: calc(.25rem - 0) calc(.25rem - 0) 0 0;
    }

    .card-header {
        background-color: transparent;
        border-bottom: 1px solid rgba(0,0,0,.125);
        padding: 0.75rem 1.25rem;
        position: relative;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: #3f51b51f;
        border-bottom: 0 solid rgba(0,0,0,.125);
    }

    .card-body {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
    }

    .text-sm .card-title {
        font-size: 1rem;
    }

    .card-title {
        float: left;
        font-size: 2.1rem;
        font-weight: 400;
        margin: 0;
    }

    .card-title {
        margin-bottom: 0.75rem;
    }

    .mt-2 {
        margin-top: 15px
    }

    .mt-3 {
        margin-top: 20px
    }

    element.style {
        max-width: 100%;
    }

    .form-control:not(select) {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .form-control:not(select) {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .form-control {
        border-radius: 0;
        box-shadow: none;
        border-color: #d2d6de;
    }

        .form-control.intro {
            border: 1px solid #db1a1a !important;
        }

    .ui-datepicker-trigger .fa {
        padding: 10px;
        background: #ff9800;
        color: #fff;
    }

    .ui-datepicker-trigger {
        background: #ff9800;
        border: none;
    }

    .bg-div {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: #3f51b51f;
        border-bottom: 0 solid rgba(0,0,0,.125);
    }

    .error {
        color: orangered;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 5px;
        line-height: 1.42857143;
        vertical-align: baseline !important;
        border-top: 1px solid #ddd;
    }

    .card {
        box-shadow: none;
    }

    .ui-datepicker-trigger .fa {
        padding: 9px;
        background: #ff9800;
        color: #fff;
    }

    .alert2 {
        padding: 15px;
        margin-bottom: 20px;
        border: 2px solid #f39c0e !important;
        border-radius: 4px;
    }

    .alert .close {
        color: red !important;
        opacity: 2.2
    }

    .alert-dismissable .close, .alert-dismissible .close {
        position: relative;
        top: -2px;
        right: -9px;
        color: inherit;
    }

    .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
        border: 1px solid #d2d6de;
        border-radius: 0;
        padding: 6px 12px;
        height: 41px;
    }

    .form-control {
        height: 41px;
    }

    .approvalList {
        margin-top: 20px;
        border: 1px solid #d2d6de;
        padding: 10px;
    }

    .table .thead-light th {
        color: #495057;
        background-color: #e9ecef;
        border-color: #dee2e6;
    }

    .badge-warning {
        color: #212529;
        background-color: #ffc107;
    }

    .badge-success {
        color: #fff;
        background-color: #28a745;
    }

    .badge {
        display: inline-block;
        padding: 1em 0.7em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        width: 147px;
    }

    .btn-outline-info {
        color: #17a2b8;
        border-color: #17a2b8;
    }

    .btn-warning {
        color: #212529;
        background-color: #ffc107;
        border-color: #ffc107;
    }
</style>
<div class="content-header">
    <div class=" ">
        <div class="breadcrumb d-flex justify-content-between align-items-center pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item active">
                    <b style="font-size:27px; color: #4CAF50; margin-right:20px">  @Model.CompanyName  </b> <b style="font-size:27px;"> Monthly Financial Report</b> @if (Model.SectionEmployeeId == 0)
                    {<b class="text-danger"> @Model.ValidationSMS</b>}
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="approvalList">
    <div class="container-fluid">

        @using (Html.BeginForm("AccountingApproval", "ApprovalProcessSystem", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.CompanyId, new { @id = "companyId" })
            <input id="ActionId" name="ActionId" type="hidden" value="100" />
            <div class="container-fluid" style="margin-top: 20px; border: 1px solid #f0ffff; padding: 28px 18px 21px 18px; background: #4caf501f ">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Report Months </label>
                            @Html.DropDownListFor(model => model.Month, Model.MonthList as SelectList, "==Select Month ==", new { id = "ddlMonth", @class = "form-control ddlReset", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Report Years<b style="color:red"> *</b> </label>
                            @Html.DropDownListFor(model => model.Year, new SelectList(Model.YearsList, "Value", "Text"), "---Select Years---", new { id = "Year", @class = "searchingDropdown  customStyle", @style = "width: 100%;" })
                            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4"> <input type="submit" value="Show  Approval Requst" style="width:100%;height:40px;margin-top:20px" class="btn btn-primary" /> </div>
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-4">
                <h3 style="margin-bottom: 20px;margin-top:0px; color: green; font-weight:600"> <span id="copyId"> @((MonthListEnum)Model.Month), @Model.Year</span> Approval list </h3>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3"></div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Sl</th>
                        <th>Report Name</th>
                        <th>Session</th>
                        <th class="text-right">Action </th>

                    </tr>
                </thead>
                <tbody>
                    @{int sl = 0;}
                    @foreach (var item in Model.datalist)
                    {
                        <tr>
                            <td>@(++sl) </td>
                            <td>@item.ReportCategoryName</td>
                            <td>@((MonthListEnum)item.Month) , @item.Year</td>
                            <td class="text-right">

                                @if (item.ApprovalStatus == 2 && item.ApprovalFor == Model.SectionEmployeeId && item.FinalStatus != 4)
                                {
                                    <a class="btn btn-primary btn-sm" onclick="SubmittedReport(@item.ReportApprovalDetalisId,'@item.ReportApprovalId')" data-toggle="modal" data-target="#exampleModal" style="width:147px"> Approve</a>
                                }
                                else if (item.ApprovalStatus == 3 && item.FinalStatus != 4)
                                {
                                    <span class="badge badge-success">Approved</span>

                                }
                                else if (item.ApprovalStatus == 1 && item.FinalStatus != 4)
                                {
                                    <span class="badge badge-warning">Pending</span>

                                }
                                else
                                {
                                    <button class=" btn-sm btn btn-danger disabled">Rejected</button>

                                }

                                @if (item.FinalStatus != 4)
                                {
                                    <a href="/Report/ApprovalBalanceSheetReport?companyId=@Model.CompanyId&&reportName=@item.ReportName&&month=@item.Month&&years=@item.Year&&ReportGroup=@item.ReportGroup&&ReportCategoryId=@item.ReportCategoryId" target="_blank" class="btn btn-sm btn-primary"> View Report</a>
                                }
                                <a href="#" onclick="ViewReport(@item.ReportApprovalId)" class="btn btn-info btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>



    </div>
</div>


<!-- Modal -->
@using (Html.BeginForm("AccountingApproval", "ApprovalProcessSystem", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Month, new { @id = "Month" })
    @Html.HiddenFor(m => m.Year, new { @id = "Year" })
    @Html.HiddenFor(m => m.CompanyId, new { @id = "companyId" })
    @Html.HiddenFor(m => m.ReportApprovalId, new { @id = "ApprovalId" })
    @Html.HiddenFor(m => m.ReportApprovalDetalisId, new { @id = "ReportApprovalDetalisId" })
  <input id="ActionId" name="ActionId" type="hidden" value="11" />
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Example select</label>
                        <select class="form-control" id="ApprovalStatus" name="ApprovalStatus">
                            <option value="3">Approve</option>
                            <option value="4">Reject</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Save Change" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}

<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> <b id="exampleModalScrollableTitle"> </b></h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Sl</th>
                                <th>Authorized By</th>
                                <th> Approved date </th>
                                <th>Status </th>
                            </tr>
                        </thead>
                        <tbody id="Installment">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
<script>
    var apdatalist= @Html.Raw(Json.Encode(Model.datalist));
        function SubmittedReport(id, Approvalid) {
            $("#ReportApprovalDetalisId").val(id);
            $("#ApprovalId").val(Approvalid);

        }

    function ViewReport(id) {
        var LObj = apdatalist.find(x => x.ReportApprovalId === id);
        var text = $("#copyId").text();
        $("#exampleModalScrollableTitle").text(LObj.ReportCategoryName + " for (" +text +")");
        $.ajax({
            type: "GET",
            url: "@Url.Action("ApprovalSignotory", "ApprovalProcessSystem")",
            datatype: "Json",
            data: {approvalId:id},
            success: function (data) {
                var tag = '';
                var count = data.datalist.langth;
                $.each(data.datalist, function (key, item) {

                    tag += '<tr id="' + key + '">';
                    tag += '<td> ' + (key + 1) + '</td>';
                    if (item.OrderNo === item.FrowardId && item.ApprovalStatus==2) {
                        tag += '<td style="background-color: #ffeb3b!important;"> ' + item.EmployeeName + '</td>';
                    } else {
                        tag += '<td> ' + item.EmployeeName + '</td>';
                    }

                    if (item.Approvdate == null) {
                        tag += '<td> <span> ......... </span></td>';
                    } else {
                        var StringApprovdate = DateCustom(item.Approvdate);
                        tag += '<td> ' + StringApprovdate + '</td>';
                    }
                    if (count==key && item.ApprovalStatusName == "Approved") {
                        tag += '<td> <span> Submited </span></td>';
                    } else {
                        tag += '<td> ' + item.ApprovalStatusName + '</td>';
                    }
                    tag += '</tr>';
                })
                $('#Installment').html(tag);
            }
        });
        }

        function DateCustom(orderDate) {
            var dateString = orderDate.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            if (month < 10) {
                month = "0" + month;
            }

            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "-" + month + "-" + year;
            return date;
        }


</script>
}
