@model KGERP.Service.ServiceModel.Approval_Process_Model.ApprovalSystemViewModel
@using KGERP.Utility
@{
    ViewBag.Title = "ApprovalProcessing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    input, select, textarea {
        max-width: 100%;
    }

    .content-header {

        padding: 10px 0.5rem;
    }

        .content-header .breadcrumb {
            background-color: white;
            line-height: 1.8rem;
            margin-bottom: 0;
            padding: 5px;
        }

    content-header .breadcrumb {
        line-height: 1.5rem;
    }

    .shadow {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    }

    .align-items-center {
        -webkit-align-items: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    .justify-content-between {
        -webkit-justify-content: space-between !important;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }

    .d-flex {
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .breadcrumb {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0.75rem 1rem;
        margin-bottom: 1rem;
        list-style: none;
        background-color: #e9ecef;
        border-radius: 0.25rem;
    }

    .card {
        box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
        margin-bottom: 1rem;
    }

    .card {
        position: relative;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
    }

    .card-header:first-child {
        border-radius: calc(.25rem - 0) calc(.25rem - 0) 0 0;
    }

    .card-header {
        background-color: transparent;
        border-bottom: 1px solid rgba(0,0,0,.125);
        padding: 0.75rem 1.25rem;
        position: relative;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: #3f51b51f;
        border-bottom: 0 solid rgba(0,0,0,.125);
    }

    .card-body {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
    }

    .text-sm .card-title {
        font-size: 1rem;
    }

    .card-title {
        float: left;
        font-size: 2.1rem;
        font-weight: 400;
        margin: 0;
    }

    .card-title {
        margin-bottom: 0.75rem;
    }

    .mt-2 {
        margin-top: 15px
    }

    .mt-3 {
        margin-top: 20px
    }

    /*    .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
            border: 1px solid #d2d6de;
            border-radius: 0;
            padding: 6px 12px;
            height: 49px;
        }
    */
    element.style {
        max-width: 100%;
    }

    .form-control:not(select) {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .form-control:not(select) {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .form-control {
        border-radius: 0;
        box-shadow: none;
        border-color: #d2d6de;
    }

        .form-control.intro {
            border: 1px solid #db1a1a !important;
        }

    .ui-datepicker-trigger .fa {
        padding: 10px;
        background: #ff9800;
        color: #fff;
    }

    .ui-datepicker-trigger {
        background: #ff9800;
        border: none;
    }

    .bg-div {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: #3f51b51f;
        border-bottom: 0 solid rgba(0,0,0,.125);
    }

    .error {
        color: orangered;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 5px;
        line-height: 1.42857143;
        vertical-align: baseline !important;
        border-top: 1px solid #ddd;
    }

    .card {
        box-shadow: none;
    }

    .ui-datepicker-trigger .fa {
        padding: 9px;
        background: #ff9800;
        color: #fff;
    }

    .alert2 {
        padding: 15px;
        margin-bottom: 20px;
        border: 2px solid #f39c0e !important;
        border-radius: 4px;
    }

    .alert .close {
        color: red !important;
        opacity: 2.2
    }

    .alert-dismissable .close, .alert-dismissible .close {
        position: relative;
        top: -2px;
        right: -9px;
        color: inherit;
    }

    .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
        border: 1px solid #d2d6de;
        border-radius: 0;
        padding: 6px 12px;
        height: 41px;
    }

    .form-control {
        height: 41px;
    }

    .approvalList {
        margin-top: 20px;
        border: 1px solid #d2d6de;
        padding: 10px;
    }

    .table .thead-light th {
        color: #495057;
        background-color: #e9ecef;
        border-color: #dee2e6;
    }
</style>
<div class="content-header">
    <div class=" ">
        <div class="breadcrumb d-flex justify-content-between align-items-center pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item active"> <b style="font-size:27px; color: #4CAF50; margin-right:20px">  @Model.CompanyName  </b> <b style="font-size:27px;">Monthly Financial Report </b>  </li>
            </ol>
        </div>
    </div>
</div>
@using (Html.BeginForm("ApprovalProcessing", "ApprovalProcessSystem", FormMethod.Post))
{
    @Html.HiddenFor(m => m.CompanyId, new { @id = "companyId" })
    <div class="container-fluid" style="margin-top: 20px; border: 1px solid #f0ffff; padding: 28px 18px 21px 18px; background: #4caf501f ">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Report Report<b style="color:red"> *</b> </label>

                    @Html.DropDownListFor(model => model.ReportCategoryId, new SelectList(Model.reportCatagoryList, "Value", "Text"), "---Select Report---", new { id = "ReportCategoryId", @class = "searchingDropdown  customStyle", @style = "width: 100%;", required = "required" })
                    @Html.ValidationMessageFor(model => model.ReportCategoryId, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Report Months </label>
                    @Html.DropDownListFor(model => model.Month, Model.MonthList as SelectList, "==Select Month ==", new { id = "ddlMonth", @class = "form-control ddlReset", style = "width:100%", required = "required" })
                    @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Report Years<b style="color:red"> *</b> </label>
                    @Html.DropDownListFor(model => model.Year, new SelectList(Model.YearsList, "Value", "Text"), "---Select Years---", new { id = "Year", @class = "searchingDropdown  customStyle", @style = "width: 100%;", required = "required" })
                    @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2 " style="margin-top:20px">
                <input type="submit" data-confirm="Are you sure to  generate approval?" value="Apply Approval Process" style="width:100%;height:45px" class="btn btn-primary" />
            </div>
            <div class="col-md-5 "></div>
        </div>
    </div>
}

@if (Model.datalist != null)
{


    <div class="approvalList">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h3 style="margin-bottom: 20px;margin-top:0px; color: green; font-weight:600">  <span id="copyId"> @DateTime.Now.AddMonths(-1).ToString("MMMM-yyyy") </span> Approval list </h3>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3 text-right">
                    <a href="/ApprovalProcessSystem/AccountingApprovalList?companyId=@Model.CompanyId" class="btn btn-primary"> All Approval List</a>
                </div>
            </div>




            <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Sl</th>
                        <th>Report Name</th>
                        <th>Submission Status </th>
                        <th>Approval Status </th>
                        <th class="text-right">Action </th>

                    </tr>
                </thead>
                <tbody>
                    @{int sl = 0;}
                    @foreach (var item in Model.datalist)
                    {
                        <tr>
                            <td>        @(++sl) </td>
                            <td>@item.ReportCategoryName</td>
                            <td>
                                @if (item.Issubmited)
                                {
                                    <b class="text-success"> Submitted</b>
                                }
                                else
                                {
                                    <a class="btn btn-primaryl0 btn-sm" onclick="SubmittedReport(@item.ReportApprovalId)"> <b>Submit </b> </a>
                                }
                            </td>

                            <td>
                                @if (item.FinalStatus == 1)
                                {
                                    <b class="text-bg-info"> New </b>
                                }
                                else if (item.FinalStatus == 2)
                                {
                                    <b class="text-warning"> Pending</b>
                                }
                                else if (item.FinalStatus == 3)
                                {
                                    <b class="text-success"> Approved</b>
                                }
                                else
                                {
                                    <b class="text-danger"> Rejected</b>
                                }
                            </td>

                            <td class="text-right">
                                @if (item.FinalStatus != 4&&item.FinalStatus!=1)
                                {
                                    <a href="/Report/ApprovalBalanceSheetReport?companyId=@Model.CompanyId&&reportName=@item.ReportName&&month=@item.Month&&years=@item.Year&&ReportGroup=@item.ReportGroup&&ReportCategoryId=@item.ReportCategoryId" target="_blank" class="btn btn-sm btn-primary"> View Report</a>
                                }

                                @if (item.FinalStatus == 1)
                                {
                                    <a onclick="DeleteReport(@item.ReportApprovalId)" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#DeleteModal">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-danger btn-sm disabled">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                }


                                <a href="#" onclick="ViewReport(@item.ReportApprovalId)" class="btn btn-info btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        </div>
    </div>
}

<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> <b id="exampleModalScrollableTitle"> </b></h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Sl</th>
                                <th>Authorized By</th>
                                <th> Approved date </th>
                                <th>Status </th>
                            </tr>
                        </thead>
                        <tbody id="Installment">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b id="exampleModalLabel"> </b></h5>
            </div>
            <div class="modal-body">
                <h4 class="text-danger"> Are you sure to Submit the report for Approval!</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <script>
    var apdatalist= @Html.Raw(Json.Encode(Model.datalist));

    function ViewReport(id) {
        var LObj = apdatalist.find(x => x.ReportApprovalId === id);
        var text = $("#copyId").text();
        $("#exampleModalScrollableTitle").text(LObj.ReportCategoryName + " for (" +text +")");
        $.ajax({
            type: "GET",
            url: "@Url.Action("ApprovalSignotory", "ApprovalProcessSystem")",
            datatype: "Json",
            data: {approvalId:id},
            success: function (data) {
             
                var tag = '';
                var count = data.datalist.length-1;
               
                $.each(data.datalist, function (key, item) {
                    
                    tag += '<tr id="' + key + '">';
                    tag += '<td> ' + (key + 1) + '</td>';
                    if (item.OrderNo === item.FrowardId && item.ApprovalStatus==2) {
                        tag += '<td style="background-color: #ffeb3b!important;"> ' + item.EmployeeName + '</td>';
                    } else {
                        tag += '<td> ' + item.EmployeeName + '</td>';
                    }
                
                    if (item.Approvdate == null) {
                        tag += '<td> <span> ...... </span></td>';
                    } else {
                        var StringApprovdate = DateCustom(item.Approvdate);
                        tag += '<td> ' + StringApprovdate + '</td>';
                    }
                    if (count == key&& item.ApprovalStatusName =="Approved") {
                        tag += '<td> <span> Submited </span></td>';
                    } else {
                        tag += '<td> ' + item.ApprovalStatusName + '</td>';
                    }
                    tag += '</tr>';
                })
                $('#Installment').html(tag);
            }
        });
        }

        function DateCustom(orderDate) {
            var dateString = orderDate.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            if (month < 10) {
                month = "0" + month;
            }

            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "-" + month + "-" + year;
            return date;
        }

        function SubmittedReport(id) {
            var LObj = apdatalist.find(x => x.ReportApprovalId === id);
            $("#exampleModalLabel").text(LObj.ReportCategoryName + " for ( " + LObj.Month + " - " + LObj.Year + ")");
            let text = "Are you sure to Submitted report Approval!\nPress a button!\nEither OK or Cancel.";
            if (confirm(text) == true) {
               $.ajax({
                type: "GET",
                url: "@Url.Action("ApprovalStutasUpdate", "ApprovalProcessSystem")",
                datatype: "Json",
                data: { approvalId: id },
                success: function (data) {
                    if (data == 1) {
                        location.reload();
                    }
                    else {
                        alert("something is wrong");
                    }
                }
            })
            } else {
                text = "You canceled!";
            }

        }



        function DeleteReport(id) {
            let text = "Are you sure to Delete report Approval!\nPress a button!\nEither OK or Cancel.";
            if (confirm(text) == true) {
               $.ajax({
                type: "GET",
                url: "@Url.Action("ApprovalDelete", "ApprovalProcessSystem")",
                datatype: "Json",
                data: { approvalId: id },
                success: function (data) {
                    if (data == 1) {
                        location.reload();
                    }
                    else {
                        alert("something is wrong");
                    }
                }
            })
            } else {
                text = "You canceled!";
            }
        }



    </script>
}
