@model KGERP.ViewModel.KgReCrmViewModel
@{
    ViewBag.Title = "CreateOrEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model._KgReCrmModel.ClientId)


        @if (Model._KgReCrmModel.ClientId > 0)
        {
            @*@Html.HiddenFor(model => model._KgReCrmModel.ResponsibleOfficer)*@
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#ddlProject option:selected").text(model._KgReCrmModel.ProjectName);
                    // Modified =================
                    var pp = "";
                    @*var data = "@model.KGRECustomers.Remarks";*@
                var productId = $('.papi').closest("tr").find("td").eq(0).text();
             
                    pp = productId.split("*");
                    $("#splistring").text(pp.join("\n #"));

                    //Old.=================
                    $("#pnlClientBasicInfo").show();
                    //$("#pnlClientCreateOrEdit").hide();
                    $("#pnlClientAddComment").show();
                    $("#pnlClientAddAttachment").show();
                    $("#pnlClientHistory").show();
                    $("#AfterClientActivity").show();
                    $("#pnlServiceHistory").show();
                    $("#ClientAttachmentId").hide();
                });

                function ValidateEndDate() {
                    // alert('Data')
                    // $("#pnlClientCreateOrEdit").show();

                    if (document.getElementById("pnlClientCreateOrEdit").style.display == "none") {
                        document.getElementById("pnlClientCreateOrEdit").style.display = "block";

                    }
                    else {
                        document.getElementById("pnlClientCreateOrEdit").style.display = "none";
                    }
                }
            </script>
        }
        else
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#pnlClientBasicInfo").hide();
                    $("#pnlClientAddComment").hide();
                    $("#pnlClientAddAttachment").hide();
                    $("#pnlClientHistory").hide();
                    $("#AfterClientActivity").hide();
                    $("#pnlServiceHistory").hide();
                    $("#ClientAttachmentId").hide();
                    document.getElementById("pnlClientCreateOrEdit").style.display = "block";
                });

            </script>
        }

        <div class="panel panel-info" id="pnlClientBasicInfo">
            <div class="panel-heading"><b> Lead Summary </b></div>
            <div class="panel-body">
                <table class="spacing-table">
                    <tr>
                        <td style="width: 20%" align="right">
                            @Html.DisplayNameFor(model => model._KgReCrmModel.FullName)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle;">
                            @Html.DisplayFor(model => model._KgReCrmModel.FullName)
                        </td>
                        <td style="width: 20%" align="right">
                            @Html.DisplayNameFor(model => model._KgReCrmModel.DepartmentOrInstitution)
                        </td>
                        <td colspan="3" style="background-color: #E9EDBE; vertical-align: middle;">
                            @Html.DisplayFor(model => model._KgReCrmModel.DepartmentOrInstitution)
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._KgReCrmModel.Project)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._KgReCrmModel.Project)
                        </td>

                        <td align="right">
                            @Html.DisplayNameFor(model => model._KgReCrmModel.Gender)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._KgReCrmModel.Gender)
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._KgReCrmModel.ReferredBy)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._KgReCrmModel.ReferredBy)
                        </td>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._KgReCrmModel.Designation)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._KgReCrmModel.Designation)
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._KgReCrmModel.Remarks)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._KgReCrmModel.Remarks)
                        </td>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._KgReCrmModel.ResponsibleOfficer)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._KgReCrmModel.ResponsibleOfficer)
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._KgReCrmModel.MobileNo)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._KgReCrmModel.MobileNo)
                            <div id="mobileMessage"></div>
                        </td>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._KgReCrmModel.MobileNo2)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._KgReCrmModel.MobileNo2)
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._KgReCrmModel.DateOfContact)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._KgReCrmModel.DateOfContact)
                        </td>

                        <td align="right">
                            @Html.DisplayNameFor(model => model._KgReCrmModel.ChoieceOfArea)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._KgReCrmModel.ChoieceOfArea)
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._KgReCrmModel.LastContactDate)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._KgReCrmModel.LastContactDate)
                        </td>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._KgReCrmModel.NextScheduleDate)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._KgReCrmModel.NextScheduleDate)
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._KgReCrmModel.CampaignName)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._KgReCrmModel.CampaignName)
                        </td>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._KgReCrmModel.PromotionalOffer)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._KgReCrmModel.PromotionalOffer)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <input type="button" name="modify" class="btn btn-link" value="Modify" onclick="ValidateEndDate()" />
                        </td>
                    </tr>
                </table>

            </div>
        </div>

        <div class="panel panel-info pnlClientCreateOrEdit" id="pnlClientCreateOrEdit" style="display: none ">
            <div class="panel-heading"><b> Client Entry </b></div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h4 class="text-on-pannel text-primary"><strong class="text-capitalize"> Client - Personal Information  </strong></h4>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.FullName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.FullName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.Gender, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._KgReCrmModel.Gender, new SelectList(Model.Genders, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control" })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.Gender, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.ReligionId, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._KgReCrmModel.ReligionId, new SelectList(Model.Religions, "Value", "Text"), "---Select---", new { @class = "dropdownsize form-control" })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.ReligionId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.MobileNo, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.MobileNo, new { htmlAttributes = new { @class = "form-control", @id = "mobileNo" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.MobileNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.MobileNo2, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.MobileNo2, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.MobileNo2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.Email, new { htmlAttributes = new { @class = "form-control", @id = "emailId" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.Email1, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.Email1, new { htmlAttributes = new { @class = "form-control", @id = "email2Id" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.Email1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.DateofBirth, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.DateofBirth, new { htmlAttributes = new { @class = "datepicker", @style = "width:240px", @placeholder = "dd/mm/yyyy", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.DateofBirth, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.Designation, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.Designation, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.Designation, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.DepartmentOrInstitution, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.DepartmentOrInstitution, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.DepartmentOrInstitution, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.PresentAddress, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model._KgReCrmModel.PresentAddress, 3, 150, new { htmlAttributes = new { @class = "form-control" } })
                                        @*@Html.EditorFor(model => model._KgReCrmModel.PresentAddress, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.PresentAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.PermanentAddress, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @*@Html.EditorFor(model => model._KgReCrmModel.PermanentAddress, new { htmlAttributes = new { @class = "form-control" } })*@
                                        @Html.TextAreaFor(model => model._KgReCrmModel.PermanentAddress, 3, 150, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.PermanentAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h4 class="text-on-pannel text-primary"><strong class="text-capitalize"> Service Information  </strong></h4>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.ResponsibleOfficer, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._KgReCrmModel.ResponsibleOfficer, new SelectList(Model.ResponsiblePersons, "Text", "Text"), "--Select--", htmlAttributes: new { @class = "dropdownsize form-control" })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.ResponsibleOfficer, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.Project, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._KgReCrmModel.ProjectId, new SelectList(Model.KGREProjects, "Value", "Text"), "---Select---", new { @class = "dropdownsize form-control", @id = "ddlProject" })
                                        <input type="hidden" id="hdnProjectName" name="ProjectName" />
                                        @*<input type="hidden" id="hdnProjectId" name="ProjectId" />*@
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.ProjectId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.DateOfContact, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.DateOfContact, new { htmlAttributes = new { @class = " datepicker", @style = "width:240px", @placeholder = "dd/mm/yyyy", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.DateOfContact, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.NextFollowupdate, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.NextFollowupdate, new { htmlAttributes = new { @class = " datepicker", @style = "width:240px", @placeholder = "dd/mm/yyyy", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.NextFollowupdate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.NextScheduleDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.NextScheduleDate, new { htmlAttributes = new { @class = " datepicker", @style = "width:240px", @placeholder = "dd/mm/yyyy", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.NextScheduleDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.StatusLevel, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._KgReCrmModel.StatusLevel, new SelectList(Model.StatusLevels, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control" })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.StatusLevel, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.TypeOfInterest, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._KgReCrmModel.TypeOfInterest, new SelectList(Model.PlotFlats, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control" })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.TypeOfInterest, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.ServicesDescription, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model._KgReCrmModel.ServicesDescription, 3, 150, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.ServicesDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.Remarks, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model._KgReCrmModel.Remarks, 3, 150, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.Remarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h4 class="text-on-pannel text-primary"><strong class="text-capitalize"> Marketing Information  </strong></h4>



                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.SourceOfMedia, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._KgReCrmModel.SourceOfMedia, new SelectList(Model.SourceOfMedias, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control" })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.SourceOfMedia, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.CampaignName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.CampaignName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.CampaignName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.PromotionalOffer, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._KgReCrmModel.PromotionalOffer, new SelectList(Model.PromotionalOffers, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control" })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.PromotionalOffer, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.ChoieceOfArea, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._KgReCrmModel.ChoieceOfArea, new SelectList(Model.KGREChoiceAreas, "Text", "Text"), "--Select--", htmlAttributes: new { @class = "dropdownsize form-control" })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.ChoieceOfArea, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.ReferredBy, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.ReferredBy, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.ReferredBy, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@Model._KgReCrmModel.ButtonName" id="btnSubmit" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info" id="pnlClientHistory">
            <div class="panel-heading"><b>Data Update History </b></div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12">

                            @if (Model._KgReCrmModel.ClientId > 0)
                            {
                                <div>
                                    @*<table hidden>
                                            <tr>
                                                <th>Remarks</th>
                                            </tr>
                                            @foreach (var teacher in Model.KGRECustomers)
                                            {
                                                <tr>
                                                    <td class="papi">@teacher.Remarks</td>
                                                </tr>
                                            }
                                        </table>
                                        <textarea id="splistring" name="w3review" rows="10" style="width:100%"></textarea>*@
                                    @if (ViewBag.cHistory != null)
                                    {
                                        <pre>  @Html.Raw(ViewBag.cHistory)</pre>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-info" id="pnlServiceHistory">
            <div class="panel-heading"><b>Service Detail History  </b></div>
            <div class="panel-body">
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="col-md-10">

                            @if (Model._KgReCrmModel.ClientId > 0)
                            {
                                <div>
                                    @if (ViewBag.sHistory != null)
                                    {
                                        <pre>  @Html.Raw(ViewBag.sHistory)</pre>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@


@if (TempData["errMessage"] != null)
{
    if (TempData["errMessage"].ToString() == "Exists")
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("This Client No Already Exists");
            };
        </script>
    }
    else
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Please input Mobile/Email");
            };
        </script>
    }
}


@if (TempData["DataSave"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("Data Save Successfully!");
        };
    </script>
}
<script>
    $("#ddlProject").on("change", function () {
        $("#hdnProjectName").val($(this).find("option:selected").text());
        //$("#hdnProjectId").val($(this).find("option:selected").val());
    });


</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <script>

    $("#mobileNo").blur(function () {

        var mobileNo = $('#mobileNo').val();

           $.ajax({
               type: "GET",
                    url: "@Url.Action("CheckMobileNo", "KGRECRM")",
                    datatype: "Json",
               data: {
                   mobileNo: mobileNo,
                   companyId:
               },
               success: function (data) {
                   //alert(data);
                   $("#mobileMessage").innerHTML = data;


               }


            });

    });

    </script>

    <style type="text/css">
        input, select, textarea {
            max-width: 100%;
        }

        //
        .text-on-pannel {
            background: #fff none repeat scroll 0 0;
            height: auto;
            margin-left: 20px;
            padding: 3px 5px;
            position: absolute;
            margin-top: -47px;
            border: 1px solid #337ab7;
            border-radius: 8px;
        }

        .panel {
            /* for text on pannel */
            margin-top: 27px !important;
        }

        .panel-body {
            padding-top: 30px !important;
        }

        .spacing-table {
            font-family: 'Helvetica', 'Arial', sans-serif;
            font-size: 12px;
            border-collapse: separate;
            border-spacing: 0 5px; /* this is the ultimate fix */
            width: 100%;
        }

            .spacing-table th {
                text-align: left;
                padding: 5px 5px;
            }

            .spacing-table td {
                border-width: 3px 0;
                /* border-color: darkred;
                border-style: solid;*/
                background-color: #f1f1f1;
                color: Black;
                padding: 5px 5px;
            }

                .spacing-table td:first-child {
                    /*  border-left-width: 3px;*/
                    border-radius: 5px 0 0 5px;
                }

                .spacing-table td:last-child {
                    /*border-right-width: 3px;*/
                    border-radius: 0 5px 5px 0;
                }

        .image {
            float: left;
            max-height: 50px;
            max-width: 50px;
            margin-right: 10px;
        }

        .name {
            margin: 0;
            padding: 0;
        }

        .username {
            display: block;
            font-weight: bold;
            margin-bottom: 1em;
        }

        .ui-autocomplete {
            max-height: 320px;
            overflow: auto;
        }
    </style>


}
