@model KGERP.ViewModel.KgReCrmViewModel
@{
    ViewBag.Title = "CreateOrEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("CreateOrEditBooking", "KGRECRM", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model._KgReCrmModel.ClientId, new { @id = "clientId" })
        @Html.HiddenFor(model => model.kGREPlotBookingModel.BookingId)

        <div class="panel panel-info pnlClientCreateOrEdit" id="pnlClientCreateOrEdit">
            <div class="panel-heading"><b> Client Booking Form </b></div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h4 class="text-on-pannel text-primary"><strong class="text-capitalize"> Applicant - Personal Information  </strong></h4>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label></label>
                                    @Html.Label("Booking Name", htmlAttributes: new { @class = "control-label col-md-4" })
                                    @*@Html.LabelFor(model => model._KgReCrmModel.FullName, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.FullName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.RegistrationName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.RegistrationName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.RegistrationName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.BanglaName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.BanglaName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.BanglaName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.FatherName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.FatherName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.FatherName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.MotherName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.MotherName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.MotherName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.Spouse, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.Spouse, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.Spouse, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.Nationality, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.Nationality, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.Nationality, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.NID, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.NID, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.NID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.TIN, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.TIN, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.TIN, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.DateofBirth, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.DateofBirth, new { htmlAttributes = new { @class = "datepicker", @style = "width:240px", @placeholder = "dd/mm/yyyy", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.DateofBirth, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.MobileNo, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.MobileNo, new { htmlAttributes = new { @class = "form-control", @id = "mobileNo" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.MobileNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.MobileNo2, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.MobileNo2, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.MobileNo2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.TelephoneOffice, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.TelephoneOffice, new { htmlAttributes = new { @class = "form-control", @id = "mobileNo" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.TelephoneOffice, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.TelephoneRes, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.TelephoneRes, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.TelephoneRes, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.Email, new { htmlAttributes = new { @class = "form-control", @id = "emailId" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.Email1, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.Email1, new { htmlAttributes = new { @class = "form-control", @id = "email2Id" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.Email1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.Gender, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._KgReCrmModel.Gender, new SelectList(Model.Genders, "Text", "Text"), "---Select---", new { @class = "dropdownsize form-control" })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.Gender, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.ReligionId, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._KgReCrmModel.ReligionId, new SelectList(Model.Religions, "Value", "Text"), "---Select---", new { @class = "dropdownsize form-control" })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.ReligionId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.Fax, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.Fax, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.Fax, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.Designation, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.Designation, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.Designation, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.DepartmentOrInstitution, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.DepartmentOrInstitution, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.DepartmentOrInstitution, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.OfficeAddress, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model._KgReCrmModel.OfficeAddress, 3, 150, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.OfficeAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.PresentAddress, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model._KgReCrmModel.PresentAddress, 3, 150, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.PresentAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.PermanentAddress, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model._KgReCrmModel.PermanentAddress, 3, 150, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.PermanentAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.Remarks, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model._KgReCrmModel.Remarks, 3, 150, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.Remarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h4 class="text-on-pannel text-primary"><strong class="text-capitalize"> Sales Information  </strong></h4>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.BookingDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.BookingDate, new { htmlAttributes = new { @class = "datepicker", @style = "width:240px", @placeholder = "dd/mm/yyyy", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.BookingDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.kGREPlotBookingModel.RegistrationDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.kGREPlotBookingModel.RegistrationDate, new { htmlAttributes = new { @class = "datepicker", @style = "width:240px", @placeholder = "dd/mm/yyyy", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.kGREPlotBookingModel.RegistrationDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.FileNo, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.FileNo, new { htmlAttributes = new { @class = "form-control", @id = "txtFileNo" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.FileNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.ResponsibleOfficer, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._KgReCrmModel.ResponsibleOfficer, new SelectList(Model.ResponsiblePersons, "Text", "Text"), "--Select--", htmlAttributes: new { @class = "dropdownsize form-control" })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.ResponsibleOfficer, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.StatusLevel, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._KgReCrmModel.StatusLevel, new SelectList(Model.StatusLevels, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "dropdownsize form-control" })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.StatusLevel, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.Project, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model._KgReCrmModel.ProjectId, new SelectList(Model.KGREProjects, "Value", "Text"), "---Select---", new { @class = "dropdownsize form-control", @id = "ddlProject" })
                                        <input type="hidden" id="hdnProjectName" name="ProjectName" />
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.ProjectId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id = "ddlPlot">
                                    @*@Html.LabelFor(model => model.kGREPlotModel.PlotId, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.kGREPlotModel.PlotId, new SelectList(Model.Plots, "Value", "Text"), "---Select---", new { @class = "dropdownsize form-control", @id = "ddlPlot" })
                                        <input type="hidden" id="hdnProjectName" name="ProjectName" />
                                        @Html.ValidationMessageFor(model => model.kGREPlotModel.PlotId, "", new { @class = "text-danger" })
                                    </div>*@
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.kGREPlotModel.BlockNo, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.kGREPlotModel.BlockNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "txtBlock" } })
                                        @Html.ValidationMessageFor(model => model.kGREPlotModel.BlockNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.kGREPlotModel.PlotSize, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.kGREPlotModel.PlotSize, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "txtSize" } })
                                        @Html.ValidationMessageFor(model => model.kGREPlotModel.PlotSize, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.kGREPlotModel.PlotFace, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.kGREPlotModel.PlotFace, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "txtFace" } })
                                        @Html.ValidationMessageFor(model => model.kGREPlotModel.PlotFace, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.kGREPlotBookingModel.LandPricePerKatha, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.kGREPlotBookingModel.LandPricePerKatha, new { htmlAttributes = new { @class = "form-control", @id = "txtPerKatha" } })
                                        @Html.ValidationMessageFor(model => model.kGREPlotBookingModel.LandPricePerKatha, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.kGREPlotBookingModel.LandValue, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.kGREPlotBookingModel.LandValue, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "txtLandValue" } })
                                        @Html.ValidationMessageFor(model => model.kGREPlotBookingModel.LandValue, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.kGREPlotBookingModel.Discount, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.kGREPlotBookingModel.Discount, new { htmlAttributes = new { @class = "form-control", @id = "txtDiscount" } })
                                        </div>
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.kGREPlotBookingModel.DiscountAmount, new { htmlAttributes = new { @class = "form-control", @readonly="readonly", @id = "txtDiscountAmount" } })
                                            @Html.ValidationMessageFor(model => model.kGREPlotBookingModel.DiscountAmount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.kGREPlotBookingModel.LandValueAfterDiscount, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.kGREPlotBookingModel.LandValueAfterDiscount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "txtAfterDiscount" } })
                                        @Html.ValidationMessageFor(model => model.kGREPlotBookingModel.LandValueAfterDiscount, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.kGREPlotBookingModel.Additional25Percent, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        <div class="col-md-2"><input type="checkbox" id="addi25" /></div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.kGREPlotBookingModel.Additional25Percent, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "txtAdditional25" } })
                                            @Html.ValidationMessageFor(model => model.kGREPlotBookingModel.Additional25Percent, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.kGREPlotBookingModel.Additional15Percent, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        <div class="col-md-2"><input type="checkbox" id="addi15" /></div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.kGREPlotBookingModel.Additional15Percent, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "txtAdditional15" } })
                                            @Html.ValidationMessageFor(model => model.kGREPlotBookingModel.Additional15Percent, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.kGREPlotBookingModel.Additional10Percent, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        <div class="col-md-2"><input type="checkbox" id="addi10" /></div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.kGREPlotBookingModel.Additional10Percent, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "txtAdditional10" } })
                                            @Html.ValidationMessageFor(model => model.kGREPlotBookingModel.Additional10Percent, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.kGREPlotBookingModel.UtilityCost, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.kGREPlotBookingModel.UtilityCost, new { htmlAttributes = new { @class = "form-control", @id = "txtUtilityCost" } })
                                        @Html.ValidationMessageFor(model => model.kGREPlotBookingModel.UtilityCost, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.kGREPlotBookingModel.GrandTotal, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.kGREPlotBookingModel.GrandTotal, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "txtGrandTotal" } })
                                        @Html.ValidationMessageFor(model => model.kGREPlotBookingModel.GrandTotal, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.kGREPlotBookingModel.BookingMoney, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.kGREPlotBookingModel.BookingMoney, new { htmlAttributes = new { @class = "form-control", @id = "txtBookingMoney" } })
                                        @Html.ValidationMessageFor(model => model.kGREPlotBookingModel.BookingMoney, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.kGREPlotBookingModel.RestOfAmount, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.kGREPlotBookingModel.RestOfAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "txtRestOfAmount" } })
                                        @Html.ValidationMessageFor(model => model.kGREPlotBookingModel.RestOfAmount, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.kGREPlotBookingModel.SalesTypeId, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(model => model.kGREPlotBookingModel.SalesTypeId, new SelectList(Model.SalesTypes, "Value", "Text"), "---Select---", new { @class = "dropdownsize form-control", @id = "ddlSalesTypeId" })
                                        @Html.ValidationMessageFor(model => model.kGREPlotBookingModel.SalesTypeId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.kGREPlotBookingModel.NoOfInstallment, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.kGREPlotBookingModel.NoOfInstallment, new { htmlAttributes = new { @class = "form-control", @id = "txtNoOfInstallment" } })
                                        @Html.ValidationMessageFor(model => model.kGREPlotBookingModel.NoOfInstallment, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.kGREPlotBookingModel.InstallmentAmount, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.kGREPlotBookingModel.InstallmentAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "txtInstallmentAmount" } })
                                        @Html.ValidationMessageFor(model => model.kGREPlotBookingModel.InstallmentAmount, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.kGREPlotBookingModel.BookingNote, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model.kGREPlotBookingModel.BookingNote, 3, 150, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.kGREPlotBookingModel.BookingNote, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h4 class="text-on-pannel text-primary"><strong class="text-capitalize"> Nominee Information  </strong></h4>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.NomineeFullName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.NomineeFullName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.NomineeFullName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.ReletionwithApplicant, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.ReletionwithApplicant, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.ReletionwithApplicant, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.NomineeFathersName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.NomineeFathersName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.NomineeFathersName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.NomineeMothersName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.NomineeMothersName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.NomineeMothersName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.NomineeNationlaty, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.NomineeNationlaty, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.NomineeNationlaty, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.NomineeNID, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.NomineeNID, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.NomineeNID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.NomineeEmail, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.NomineeEmail, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.NomineeEmail, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.NomineeTELMobile, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model._KgReCrmModel.NomineeTELMobile, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.NomineeTELMobile, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.NomineePerAdderss, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model._KgReCrmModel.NomineePerAdderss, 3, 150, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.NomineePerAdderss, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model._KgReCrmModel.NomineeNote, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(model => model._KgReCrmModel.NomineeNote, 3, 150, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model._KgReCrmModel.NomineeNote, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading"><b>File Attachment </b></div>
                        <div class="panel-body">

                            <div class="col-md-6">
                                <div class="editor-label">
                                    <label> <span class="glyphicon glyphicon-upload"><b>Upload Files</b></span></label>
                                </div>
                                <div class="editor-field">
                                    <input type="file" name="file" multiple="multiple" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <hr style="border-color:springgreen; padding:10px;margin-top: 5px;margin-bottom: 5px; border-width: 2px;" />
                                        <ol class="attachment-block">
                                            @if (Model._KgReCrmModel != null)
                                            {
                                                if (Model._KgReCrmModel.ClientId > 0)
                                                {
                                                    foreach (var item in Model._KgReCrmModel.FileAttachments)
                                                    {
                                                        <li style="padding:5px">
                                                            <a class="title" href="/KGRECRM/Download/?fileName=@(item.AttachFileName)&deedNo=@item.KGRECustomer.ClientId"><span>@item.AttachFileName</span></a>
                                                            <span style="padding-left:15px"><a href="javascript:void(0);" data-id="@item.AttachmentId" class="deleteItem"><span class="glyphicon glyphicon-trash"></span></a></span>
                                                        </li>
                                                    }
                                                }
                                            }
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="@Model._KgReCrmModel.ButtonName" id="btnSubmit" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@if (TempData["errMessage"] != null)
{
    if (TempData["errMessage"].ToString() == "Exists")
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("This Client No Already Exists");
            };
        </script>
    }
    else
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Please input Mobile/Email");
            };
        </script>
    }
}


@if (TempData["DataSave"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("Data Save Successfully!");
        };
    </script>
}
<script>
    $("#ddlProject").on("change", function () {
        $("#hdnProjectName").val($(this).find("option:selected").text());
        var val = $(this).val();
        $.ajax({
            type: "GET",
            url: "/KGRECRM/GetFileNo",
            data: { projectId: val },
            datatype: "json",
            traditional: true,
            success: function (data) {
                var result = JSON.parse(data);
                $('#txtFileNo').val(result.FileNo);
            },
            error: function (xhr) {
                alert('error');
            }
        });
    });


        $('.deleteItem').click(function (e) {
           e.preventDefault();
           var $ctrl = $(this);
           if (confirm('Do you really want to delete this file?')) {
               $.ajax({
                   url: '@Url.Action("DeleteFile")',
                   type: 'POST',
                   data: { id: $(this).data('id') }
               }).done(function (data) {
                   if (data.Result == "OK") {
                       $ctrl.closest('li').remove();
                   }
                   else if (data.Result.Message) {
                       alert(data.Result.Message);
                   }
               }).fail(function () {
                   alert("There is something wrong. Please try again.");
               })

           }
        });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")



    <script type="text/javascript">
        @*$(document).ready(function () {
            if (@Model.kGREPlotBookingModel.PlotId != null) {
            $("#ddlPlot option:selected").val(@Model.kGREPlotBookingModel.PlotId);
        }
        });*@

    $('#ddlProject').change(function () {
        //var _project = $('#ddlProject').val();
        //var val = $(this).val();
        //alert(val);
        //alert(_project);
            $.ajax({
                type: "post",
                url: "/KGRECRM/GetPlotByProjectId",
                data: { projectId: $('#ddlProject').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var plot = "<select>";
                    plot = plot + '<option value="">--Select--</option>';
                    for (var i = 0; i < data.length; i++) {
                        plot = plot + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }
                    plot = plot + '</select>';
                    $('#ddlPlot').html(plot);
                    if (_project != null) {
                        FileNo(_project);
                    }
                }
            });
        });


    //Bind Upzila base on District Selection
    function FileNo (project) {
        $.ajax({
            type: "GET",
            url: "/KGRECRM/GetFileNo",
            data: { project: project },
            datatype: "json",
            traditional: true,
            success: function (data) {
                var result = JSON.parse(data);
                $('#txtBlock').val(result.BlockNo);
                $('#txtSize').val(result.PlotSize);
                $('#txtFace').val(result.PlotFace);
            },
            error: function (xhr) {
                alert('error');
            }
        });
    };

        //Bind Upzila base on District Selection
        $('#ddlPlot').change(function () {
            $.ajax({
                type: "GET",
                url: "/KGRECRM/GetPlotInformationByPlotId",
                data: { plotId: $('#ddlPlot').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var result = JSON.parse(data);
                    $('#txtBlock').val(result.BlockNo);
                    $('#txtSize').val(result.PlotSize);
                    $('#txtFace').val(result.PlotFace);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });


        var _additional25 = $('#txtAdditional25').val() * 1;
        var _additional15 = $('#txtAdditional15').val() * 1;
        var _additional10 = $('#txtAdditional10').val() * 1;
        if (_additional25 > 0) {
            //$('#addi25').attr('checked', true);
            $("#addi25").prop('checked', true)
        }

        $('#ddlSalesTypeId').change(function () {
            var salesType = $('#ddlSalesTypeId').val();
            //487 Half Yearly
            //476 Installment
            // 475 one time
            //479 quarterly

            //alert(salesType);
        });

        $("#txtSize, #txtPerKatha").keyup(function () {
            var PloiSize = $('#txtSize').val() * 1;
            var LandPrice = $('#txtPerKatha').val() * 1;
            var Landvalue = PloiSize * LandPrice;
            $('#txtLandValue').val(Landvalue);
        });



        $("#addi25").change(function () {

            if ($("#addi25").is(':checked')) {
                var LandValue = $('#txtLandValue').val() * 1;
                var AdditionalValue25 = (LandValue * 25 / 100) * 1;
                $('#txtAdditional25').val(AdditionalValue25);
            }
            else {
                $('#txtAdditional25').val(0);
            }

        });

        $("#addi15").change(function () {

            if ($("#addi15").is(':checked')) {
                var LandValue = $('#txtLandValue').val() * 1;
                var AdditionalValue15 = (LandValue * 15 / 100) * 1;
                $('#txtAdditional15').val(AdditionalValue15);
            }
            else {
                $('#txtAdditional15').val(0);
            }

        });

        $("#addi10").change(function () {
            if ($("#addi10").is(':checked')) {
                var LandValue = $('#txtLandValue').val() * 1;
                var AdditionalValue10 = (LandValue * 10 / 100) * 1;
                $('#txtAdditional10').val(AdditionalValue10);
            }
            else {
                $('#txtAdditional10').val(0);
            }

        });




        $(" #txtUtilityCost,  #txtDiscount, #txtLandValue, #txtBookingMoney, #txtNoOfInstallment").keyup(function () {

            var cId = $('#clientId').val();

            var Discount = $('#txtDiscount').val() * 1;
            var LandValue = $('#txtLandValue').val() * 1;
            var discountValue = LandValue * Discount / 100;
            var After_Discount = LandValue - discountValue;
            $('#txtAfterDiscount').val(After_Discount) * 1;
            $('#txtDiscountAmount').val(discountValue) * 1;

            var Additional10 = $('#txtAdditional10').val() * 1;
            var Additional15 = $('#txtAdditional15').val() * 1;
            var Additional25 = $('#txtAdditional25').val() * 1;

            var AfterDiscount = $('#txtAfterDiscount').val() * 1;

            var UtilityCost = $('#txtUtilityCost').val() * 1;
            if (UtilityCost == "") UtilityCost = 0;
            var AdditionalCost = $('#txtAdditionalCost').val() * 1;
            if (AdditionalCost == "")
                AdditionalCost = 0;

            var salesType = $('#ddlSalesTypeId').val() * 1;
            var NoOfInstallment = $('#txtNoOfInstallment').val() * 1;
            var RestOfAmount = $('#txtRestOfAmount').val() * 1;
            $('#txtInstallmentAmount').val(RestOfAmount / NoOfInstallment) * 1;


            var GrandTotal = parseInt(AfterDiscount + Additional10 + Additional15 + Additional25 + UtilityCost );
            $('#txtGrandTotal').val(GrandTotal);

            var txtBookingMoney = $('#txtBookingMoney').val() * 1;

            var RestOfAmount = (GrandTotal - txtBookingMoney) * 1;
            $('#txtRestOfAmount').val(RestOfAmount);
        });


    </script>

    <style type="text/css">
        input, select, textarea {
            max-width: 100%;
        }

        .text-on-pannel {
            background: #fff none repeat scroll 0 0;
            height: auto;
            margin-left: 20px;
            padding: 3px 5px;
            position: absolute;
            margin-top: -47px;
            border: 1px solid #337ab7;
            border-radius: 8px;
        }

        .panel {
            /* for text on pannel */
            margin-top: 27px !important;
        }

        .panel-body {
            padding-top: 30px !important;
        }

        .spacing-table {
            font-family: 'Helvetica', 'Arial', sans-serif;
            font-size: 12px;
            border-collapse: separate;
            border-spacing: 0 5px; /* this is the ultimate fix */
            width: 100%;
        }

            .spacing-table th {
                text-align: left;
                padding: 5px 5px;
            }

            .spacing-table td {
                border-width: 3px 0;
                /* border-color: darkred;
                border-style: solid;*/
                background-color: #f1f1f1;
                color: Black;
                padding: 5px 5px;
            }

                .spacing-table td:first-child {
                    /*  border-left-width: 3px;*/
                    border-radius: 5px 0 0 5px;
                }

                .spacing-table td:last-child {
                    /*border-right-width: 3px;*/
                    border-radius: 0 5px 5px 0;
                }

        .image {
            float: left;
            max-height: 50px;
            max-width: 50px;
            margin-right: 10px;
        }

        .name {
            margin: 0;
            padding: 0;
        }

        .username {
            display: block;
            font-weight: bold;
            margin-bottom: 1em;
        }

        .ui-autocomplete {
            max-height: 320px;
            overflow: auto;
        }
    </style>
}
