@model KGERP.Service.ServiceModel.GLDLBookingViewModel
@{
    ViewBag.Title = "CustomerBookingList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }

    .ui-front {
        z-index: 2100 !important;
    }

    .ui-datepicker {
        z-index: 2100 !important;
    }

    @@media (min-width: 768px) {
        .modal-content {
            width: 750px;
        }
    }

    .input-group {
        width: 100% !important;
    }

    .mb-2 {
        margin-bottom: 15px !important;
    }

    .input-group .form-control {
        max-width: 100%;
    }
</style>
<section class="content-header" style="margin-bottom:20px">
    <h1>
        Customer Booking List
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active"><a class="btn btn-success" href="/KGRECRM/IndividualLeadList?companyId=@Model.CompanyId" style="color:#fff"> Customer  List</a></li>
    </ol>
</section>
<div class="table-responsive col-md-12">
    <table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
        <thead>
            <tr>
                <th>SL</th>
                <th>Customer Group Name</th>
                <th>Project Name</th>
                <th>Block Name</th>
                <th>Plot Name</th>
                <th>Plot Size</th>
                <th>Booking Money</th>
                <th>Land Value</th>
                <th>Rest of Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        @{int sl = 0;
        }
        <tbody>
            @foreach (var item in Model.datalist)
            {
                <tr>
                    <td>@(++sl)</td>
                    <td>@item.CustomerGroupName</td>
                    <td>@item.ProjectName</td>
                    <td>@item.BlockName</td>
                    <td>@item.PlotName</td>
                    <td>@item.PlotSize</td>
                    <td>@item.BookingMoney</td>
                    <td>@item.LandValue</td>
                    <td>@item.RestofAmount</td>
                    <td>
                        <a href="/KGRECRM/CustomerBookingInformation?companyId=@item.CompanyId&CGId=@item.CGId" target="_blank" class="btn btn-warning btn-xs">
                            Details
                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
