@model KGERP.Service.ServiceModel.GLDLBookingViewModel
@{
    ViewBag.Title = "Customer Booking Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal i = Model.PlotSize / 100m;
}

<style>
    /*Attachment table Css*/

    .table-wrapper {
        max-width: 100%;
        margin: auto;
        background: #fff;
        padding: 20px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
    }

        .table-title h2 {
            margin: 6px 0 0;
            font-size: 22px;
        }

        .table-title .add-new {
            float: right;
            height: 30px;
            font-weight: bold;
            font-size: 12px;
            text-shadow: none;
            min-width: 100px;
            border-radius: 50px;
            line-height: 13px;
        }

            .table-title .add-new i {
                margin-right: 4px;
            }

    /*   table.table {
        table-layout: fixed;
    }*/

    .attachment table.table tr th, table.table tr td {
        border-color: #e9e9e9;
    }

    .attachment table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }

    .attachment table.table th:last-child {
        width: 100px;
    }

    .attachment table.table td a {
        cursor: pointer;
        display: inline-block;
        margin: 0 5px;
        min-width: 24px;
    }

        .attachment table.table td a.add {
            color: #27C46B;
        }

        .attachment table.table td a.edit {
            color: #FFC107;
        }

        .attachment table.table td a.delete {
            color: #E34724;
        }

    .attachment table.table td i {
        font-size: 19px;
    }

    .attachment table.table td a.add i {
        font-size: 24px;
        margin-right: -1px;
        position: relative;
        top: 3px;
    }

    .attachment table.table .form-control {
        height: 32px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
    }

        .attachment table.table .form-control.error {
            border-color: #f50000;
        }

    .attachment table.table td .add {
        display: none;
    }

    /*Attachment table Css*/

    .bg-w {
        margin-right: -15px;
        margin-left: -15px;
        background: gainsboro;
        padding: 4px 0px;
        margin-bottom: 14px
    }

    .modal-header .close {
        margin-top: -18px;
    }

    .hiddenRow {
        padding: 0 !important;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        /* border-top: 1px solid #f4f4f4; */
        border-top: 1px solid #dbdbdb !important;
    }

    .accordion .hj:after {
        content: "+";
        float: right;
    }

    .accordion .card-header.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "-";
    }

    .preview {
        height: 100px;
    }

    .cloud-uplode-btn {
        background: #009688;
        padding: 16px 22px;
        font-size: 20px;
        border-radius: 50px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        color: #fff;
        border: 1px solid #009688;
    }

        .cloud-uplode-btn:hover {
            background: #fff;
            color: #009688;
        }

    .shadow {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 8px solid #fff !important;
    }
</style>

<div class="bg-w">
    <b>General Information </b>
</div>

<div class="row">


    <table class="table">
        <tr>
            <th style="width:18%">
                Name of Applicant
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                <label class="col-form-label">@Model.CustomerGroupName</label>
            </td>
            <th style="width:18%"> Application Date</th>
            <th style="width:2%">:</th>
            <td style="width:30%">@Model.ApplicationDate.ToShortDateString()</td>
        </tr>

        <tr>
            <th style="width:18%">
                Primary Contact No
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                <label class="col-form-label">@Model.PrimaryContactNo</label>
            </td>
            <th style="width:18%"> Primary Contact Address</th>
            <th style="width:2%">:</th>
            <td style="width:30%">@Model.PrimaryContactAddr</td>
        </tr>
        <tr>
            <th style="width:18%">
                Primary Email
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                <label class="col-form-label">@Model.PrimaryEmail</label>
            </td>
            <th style="width:18%"> Primary Contact Address</th>
            <th style="width:2%">:</th>
            <td style="width:30%">@Model.PrimaryContactAddr</td>
        </tr>
        <tr>
            <th style="width:18%">
                Project Name
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                <label class="col-form-label">@Model.ProjectName</label>
            </td>
            <th style="width:18%"> Plot Name</th>
            <th style="width:2%">:</th>
            <td style="width:30%">@Model.PlotName</td>
        </tr>

        <tr>
            <th style="width:18%">
                Plot Size
            </th>
            <th style="width:2%">:</th>
            <td style="width:30%">
                <label class="col-form-label">@Model.PlotSize</label>
            </td>
            <th style="width:18%"> Rate Per Katha</th>
            <th style="width:2%">:</th>
            <td style="width:30%">@Model.RatePerKatha</td>
        </tr>

        @*<tr>
                <th style="width:18%">
                    Land Value
                </th>
                <th style="width:2%">:</th>
                <td style="width:30%">
                    <label class="col-form-label">@Model.LandValue</label>
                </td>
                <th style="width:18%"> Discount </th>
                <th style="width:2%">:</th>
                <td style="width:30%">@Model.Discount %</td>
            </tr>*@
    </table>
</div>

<div class="bg-w">
    <b> Mode of Payment </b>
</div>

<div class="table-responsive">
    <table class="table">
        @{int sl = 0;
        }

        <tbody>
            <tr>
                <td> </td>
                <td> Land Value </td>
                <td>
                    @Model.LandValue
                </td>
            </tr>
            @foreach (var item in Model.LstPurchaseCostHeads)
            {
                <tr>
                    <td>
                        @(++sl)
                    </td>
                    <td>
                        @item.CostName
                    </td>
                    <td>
                        @item.Amount
                    </td>
                </tr>
            }

            <tr>
                <td colspan="2" class="text-right">
                    <b> Total Amount : </b>
                </td>
                <td>
                    @(Model.TotalAmount+Model.LandValue)
                </td>

            </tr>


            <tr>
                <td>Discount </td>
                <td> @Model.Discount % </td>
                <td>
                    @((Model.LandValue/100m) * Convert.ToDecimal(Model.Discount))
                </td>
            </tr>

            <tr>
                <td colspan="2" class="text-right">
                    <b>Grand Total </b>
                </td>
                <td> @Model.GrandTotalAmount  </td>
            </tr>
            <tr>
                <td colspan="2" class="text-right">
                    <b>Booking Money </b>
                </td>
                <td> @Model.BookingMoney  </td>
            </tr>
            <tr>
                <td colspan="2" class="text-right">
                    <b>Rest of Amount </b>
                </td>
                <td> @Model.RestofAmount  </td>
            </tr>

        </tbody>
    </table>
</div>

@*<div class="bg-w">
        <b> Group Membership</b>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr style="background-color:#32527B;color:#FFFFFF">
                    <th>
                        SL
                    </th>
                    <th>
                        Name
                    </th>

                    <th>
                        Mobile
                    </th>
                    <th>
                        Share Percentage
                    </th>
                    <th>
                        Land Value
                    </th>
                    <th>
                        Action
                    </th>
            </thead>

            @{int sl1 = 0;
            }
            <tbody>
                @foreach (var item in Model.Cutomers)
                {

                    <tr>
                        <td>
                            @(++sl1)
                        </td>
                        <td>
                            @item.VendorName
                        </td>
                        <td>
                            @item.VendorMobile
                        </td>
                        <td>
                            @item.SharePercentage %
                        </td>
                        <td>
                            @((i)* Convert.ToDecimal(item.SharePercentage))
                        </td>
                        <td>
                            <span onclick="addNominee(@item.VendorId,@item.VendorName)" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn btn-warning  btn-xs glyphicon glyphicon-plus-sign"></span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>*@

<div class="bg-w">
    <b> Group Membership</b>
</div>

<div class="row">
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    SL
                </th>
                <th>
                    Name
                </th>

                <th>
                    Mobile
                </th>
                <th>
                    Share Percentage
                </th>
                <th>
                    Land Value
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        @{int srial = 0;
        }
        <tbody>
            @foreach (var item in Model.Cutomers)
            {

                <tr>
                    <td>
                        <span data-toggle="collapse" data-target="#demo_@item.VendorId" class="accordion-toggle btn btn-warning  btn-xs glyphicon glyphicon-plus-sign"></span>
                    </td>
                    <td>
                        @(++srial)
                    </td>
                    <td>
                        @item.VendorName
                    </td>
                    <td>
                        @item.VendorMobile
                    </td>
                    <td>
                        @item.SharePercentage %
                    </td>
                    <td>
                        @((i) * Convert.ToDecimal(item.SharePercentage))
                    </td>
                    <td>
                        @if (item.TotalPercentage != 100)
                        {
                            <a onclick="addNominee(@item.VendorId,@item.TotalPercentage,'@item.VendorName')" data-toggle="modal" data-target="#addmodel" class="btn btn-info"> Add Nominee</a>
                        }
                    </td>
                </tr>

                <tr>
                    <td colspan="12" class="hiddenRow">
                        <div class="accordian-body collapse" id="demo_@item.VendorId">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="info">
                                        <th>Name</th>
                                        <th>Mobile</th>
                                        <th>Customer Name</th>
                                        <th>Relation</th>
                                        <th>Percentage</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var list in item.CustomerNominee)
                                    {
                                        <tr>
                                            <td>@list.NomineeName</td>
                                            <td>@list.NomineeMobile</td>
                                            <td>@list.CustomerName</td>
                                            <td>@list.RelationName</td>
                                            <td>@list.NomineeSharePercentage %</td>
                                            <td>
                                                <a onclick="deleteNominee(@list.NomineeId,@item.VendorId,'@item.VendorName')" href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#DeleteModal">
                                                    <i class="glyphicon glyphicon-trash"></i>
                                                </a>
                                                <a onclick="editNominee(@list.NomineeId,@item.VendorId,@item.TotalPercentage,'@item.VendorName')" href="#" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editmodel">
                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                </a>
                                                <a onclick="fileNominee(@list.NomineeId)" href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#updatefilemodel">
                                                    <i class="glyphicon glyphicon-file"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    <tr style="background:#fffbd3">
                                        <td colspan="4" class="text-right">
                                            <b>Total Percentage</b>
                                        </td>
                                        <td colspan="2">  <b>@item.TotalPercentage %</b>  </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="bg-w">
    <b> Booking Document Upload </b>
</div>

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingTwo" style="margin-top:30px;margin-bottom:30px">
            <div style="text-align:center">
                <a class="collapsed cloud-uplode-btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">  <i class="glyphicon glyphicon-cloud-upload"></i> File Upload Add List of Files  </a>
            </div>

        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <fieldset class="border shadow  p-2" style="background-color:#efefef;padding:10px">

                    @using (Html.BeginForm("CGUloadFile", "KGRECRM", FormMethod.Post, new { enctype = "multipart/form-data", @class = "formReset" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.CGId)
                        @Html.HiddenFor(m => m.CompanyId)

                        <div class="table-wrapper attachment">
                            <div class="table-title">
                                <div class="row">
                                    <div class="col-sm-8"><h2>Add New File</h2></div>
                                    <div class="col-sm-4">
                                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-sm" id="attachmentTable">
                                <thead>
                                    <tr>

                                        <th style="width:30px">SL#</th>
                                        <th style="width:200px">Attachment Title</th>
                                        <th style="width:200px;text-align:center">Select or Download File</th>
                                        <th style="width:30px;text-align:center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int o = 0; o < Model.Attachments.Count(); o++)
                                    {
                                        <tr>
                                            <td class="sl"> @(o+1)</td>
                                            <td hidden="hidden"> <input value="@Model.Attachments[@o].DocId" name="Attachments[@o].DocId" /> </td>
                                            <td><input class="form-control" readonly name="Attachments[@o].Title" value="@Model.Attachments[@o].Title" /></td>
                                            <td style="text-align:center">
                                                <input class="form-control-file hidden" type="file" name="Attachments[@o].File" />
                                                <a target="_blank" class="btn btn-primary btn-sm" title="Download File" href="/Upload/DownloadFTP?docid=@Model.Attachments[o].DocId"> <i class="glyphicon glyphicon-download"> </i> </a>
                                            </td>
                                            <td style="text-align:center">
                                                <a class="delete glyphicon glyphicon-trash" onclick="DeleteAttachment(@Model.Attachments[@o].DocId,@Model.CGId,event)" title="Delete" data-toggle="tooltip">
                                                    
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>

                            <div class="form-group row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-8">
                                    <button type="submit" class="btn btn-primary" onsubmit="return submit2()" id="btnFArchive1">Upload</button>
                                    <button type="reset" class="btn btn-danger d-none" id="btnCancel1">Cancel </button>
                                </div>

                            </div>
                        </div>

                    }
                </fieldset>
            </div>
        </div>
    </div>
</div>


<!--Delete Modal -->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><span id="dvname"> </span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("DeleteNominee", "KGRECRM", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.nominee.CustomerId, new { @id = "dCustomerId" })
                    @Html.HiddenFor(m => m.nominee.CGId, new { @id = "dCGId" })
                    @Html.HiddenFor(m => m.nominee.ProductId, new { @id = "dProductId" })
                    @Html.HiddenFor(m => m.nominee.CompanyId, new { @id = "dcompanyId" })
                    @Html.HiddenFor(m => m.nominee.NomineeId, new { @id = "dNomineeId" })

                    <div class="modal-footer">
                        <input id="submit" type="submit" value="Delete Nominee" class="btn btn-danger pull-right" />
                    </div>
                }
            </div>

        </div>
    </div>
</div>

<!--Add Large modal -->
<div class="modal fade bd-example-modal-lg" id="addmodel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Nominee for <span id="vname"> </span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CustomerNominee", "KGRECRM", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.nominee.CustomerId, new { @id = "nCustomerId" })
                    @Html.HiddenFor(m => m.nominee.CGId, new { @id = "nCGId" })
                    @Html.HiddenFor(m => m.nominee.ProductId, new { @id = "nProductId" })
                    @Html.HiddenFor(m => m.nominee.CompanyId, new { @id = "companyId" })
                    <input hidden name="PercentageId" id="PercentageId" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Name", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.nominee.NomineeName, new { htmlAttributes = new { @class = "form-control customStyle", @id = "NomineeNameId", @autocomplete = "off", @style = "max-width: 100%;" } })
                                @Html.ValidationMessageFor(model => model.nominee.NomineeName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Phone Number", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.nominee.NomineeMobile, new { htmlAttributes = new { @class = "form-control customStyle", @id = "NomineeMobileId", @autocomplete = "off", @style = "max-width: 100%;" } })
                                @Html.ValidationMessageFor(model => model.nominee.NomineeMobile, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Email", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.nominee.NomineeEmail, new { htmlAttributes = new { @class = "form-control customStyle", @id = "NomineeEmailId", @autocomplete = "off", @style = "max-width: 100%;" } })
                                @Html.ValidationMessageFor(model => model.nominee.NomineeEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Nominee Percentage", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.nominee.NomineeSharePercentage, new { htmlAttributes = new { @class = "form-control customStyle", @id = "NomineeSharePercentageId", @autocomplete = "off", @style = "max-width: 100%;" } })
                                @Html.ValidationMessageFor(model => model.nominee.NomineeSharePercentage, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Relations", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.nominee.RelationId, new SelectList(Model.pRM_Relations, "Value", "Text"), "---Select Relations---", new { id = "ddlRelationId", @class = "searchingDropdown  customStyle", @style = "width: 100%;" })
                                @Html.ValidationMessageFor(model => model.nominee.RelationId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    <div class="alert alert-danger" role="alert">
                        <span id="ErrorSharePercentageId"> </span>
                    </div>

                    <div class="row">
                        <div class="text-center" style="padding-left:20px;padding-right:20px">
                            <input id="submit" type="submit" data-confirm="Are you sure to submit?" value="Submit" class="btn btn-success pull-right" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!--Edit Large modal -->
<div class="modal fade bd-example-modal-lg" id="editmodel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Nominee for <span id="vname"> </span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UpdateNominee", "KGRECRM", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.nominee.CustomerId, new { @id = "ECustomerId" })
                    @Html.HiddenFor(m => m.nominee.CGId, new { @id = "ECGId" })
                    @Html.HiddenFor(m => m.nominee.ProductId, new { @id = "EProductId" })
                    @Html.HiddenFor(m => m.nominee.CompanyId, new { @id = "EcompanyId" })
                    @Html.HiddenFor(m => m.nominee.NomineeId, new { @id = "ENomineeId" })
                    <input hidden name="EPercentageId" id="EPercentageId" />
                    <input hidden name="demoPercentageId" id="demoPercentageId" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Name", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.nominee.NomineeName, new { htmlAttributes = new { @class = "form-control customStyle", @id = "ENomineeNameId", @autocomplete = "off", @style = "max-width: 100%;" } })
                                @Html.ValidationMessageFor(model => model.nominee.NomineeName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Phone Number", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.nominee.NomineeMobile, new { htmlAttributes = new { @class = "form-control customStyle", @id = "ENomineeMobileId", @autocomplete = "off", @style = "max-width: 100%;" } })
                                @Html.ValidationMessageFor(model => model.nominee.NomineeMobile, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Email", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.nominee.NomineeEmail, new { htmlAttributes = new { @class = "form-control customStyle", @id = "ENomineeEmailId", @autocomplete = "off", @style = "max-width: 100%;" } })
                                @Html.ValidationMessageFor(model => model.nominee.NomineeEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Nominee Percentage", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.nominee.NomineeSharePercentage, new { htmlAttributes = new { @class = "form-control customStyle", @id = "ENomineeSharePercentageId", @autocomplete = "off", @style = "max-width: 100%;" } })
                                @Html.ValidationMessageFor(model => model.nominee.NomineeSharePercentage, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Relations", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.nominee.RelationId, new SelectList(Model.pRM_Relations, "Value", "Text"), "---Select Relations---", new { id = "EddlRelationId", @class = "searchingDropdown  customStyle", @style = "width: 100%;" })
                                @Html.ValidationMessageFor(model => model.nominee.RelationId, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>

                    <div class="alert alert-danger alert-danger2" role="alert">
                        <span id="ErrorSharePercentageId2"> </span>
                    </div>

                    <div class="row">
                        <div class="text-center" style="padding-left:20px;padding-right:20px">
                            <input id="update" type="submit" data-confirm="Are you sure to uptade?" value="Update" class="btn btn-warning pull-right" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<!--Edit Large modal -->
<div class="modal fade bd-example-modal-lg" id="updatemodel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Nominee for <span id="vname"> </span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UpdateNominee", "KGRECRM", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.nominee.CustomerId, new { @id = "ECustomerId" })
                    @Html.HiddenFor(m => m.nominee.CGId, new { @id = "ECGId" })
                    @Html.HiddenFor(m => m.nominee.ProductId, new { @id = "EProductId" })
                    @Html.HiddenFor(m => m.nominee.CompanyId, new { @id = "EcompanyId" })
                    @Html.HiddenFor(m => m.nominee.NomineeId, new { @id = "ENomineeId" })

                    <div class="row">

                    </div>

                    <div class="alert alert-danger alert-danger2" role="alert">
                        <span id="ErrorSharePercentageId2"> </span>
                    </div>

                    <div class="row">
                        <div class="text-center" style="padding-left:20px;padding-right:20px">
                            <input id="update" type="submit" data-confirm="Are you sure to uptade?" value="Update" class="btn btn-warning pull-right" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<!--file Large modal -->
<div class="modal fade bd-example-modal-lg" id="updatefilemodel" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Nominee for <span id="vname"> </span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UpdateNomineefile", "KGRECRM", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("CGId", new { @id = "fCGId" })
                    @Html.Hidden("CompanyId", new { @id = "fcompanyId" })
                    <input hidden name="CNomineeId" id="fNomineeId" />
                    @*@Html.Hidden("CNomineeId", new { @id = "fNomineeId" })*@
                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group row imgeuplode">
                                <label for="" class="col-form-label col-sm-4 mt-1"> Nominee Image Upload</label>
                                <div class="col-sm-4">
                                    <input name="ImageFile" type="file" id="ImageFile" accept="image/*" />
                                </div>
                                <div class="col-sm-4">
                                    <img id="ImageFileview" src="#" alt="your image" class="preview" />
                                </div>
                            </div>

                            <div>
                                <div class="col-sm-4">
                                    <div id="ImageFileShow"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group row niduplode">
                                <label for="" class="col-form-label col-sm-4 mt-1"> Nominee NID Upload</label>
                                <div class="col-sm-4">
                                    <input name="NIDFile" type="file" id="NIDFile" accept="image/*" />
                                </div>
                                <div class="col-sm-4">
                                    <img id="NIDFileview" src="#" alt="your image" class="preview" />
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div id="NidFileShow">

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="text-center" style="padding-left:20px;padding-right:20px">
                            <input id="update" type="submit" data-confirm="Are you sure to Uplode?" value="Upload" class="btn btn-warning pull-right" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script>

        function myfunc() {

            $('#attachmentTable > tbody  > tr').each(function (index, tr) {
                $(tr).find(".sl").html(index + 1);
                $(tr).find(".docid").attr("name", "Attachments[" + index + "].DocId")
                $(tr).find(".title").attr("name", "Attachments[" + index + "].Title")
                $(tr).find(".file").attr("name", "Attachments[" + index + "].File")
                
            });
        }



        $(document).ready(function () {
            $(".alert-danger").hide();
            $('[data-toggle="tooltip"]').tooltip();
            var actions = '<a class="delete glyphicon glyphicon-trash" onclick="DeleteAttachment(0,0,event)" title="Delete" data-toggle="tooltip"></a>';
            // Append table with add row form on add new button click
            $(".add-new").click(function () {
                /*$(this).attr("disabled", "disabled");*/
                var index = $("#attachmentTable tbody tr:last-child").index();
                var row = '<tr>' +
                    '<td class="sl"></td> <td hidden="hidden"> <input class="docid" value="0" name="Attachments[0].DocId" /> </td>' +
                    '<td><input class="form-control title" required  name="Attachments[0].Title"/></td>' +
                    '<td><input class="form-control-file file" required type="file" name="Attachments[0].File"/></td>' +
                    '<td style="text-align:center">' + actions + '</td>' +
                    '</tr>';
                $("#attachmentTable").append(row);
                myfunc();
                /*$("#attachmentTable tbody tr").eq(index + 1).find(".add, .edit").toggle();*/
                /*$('[data-toggle="tooltip"]').tooltip();*/
            });
            //#attachmentTable

            // Add row on add button click
            $(document).on("click", ".add", function () {
                var empty = false;
                var input = $(this).parents("tr").find('input[type="text"]');
                input.each(function () {
                    if (!$(this).val()) {
                        $(this).addClass("error");
                        empty = true;
                    } else {
                        $(this).removeClass("error");
                    }
                });
                $(this).parents("tr").find(".error").first().focus();
                if (!empty) {
                    input.each(function () {
                        $(this).parent("td").html($(this).val());
                    });
                    $(this).parents("tr").find(".add, .edit").toggle();
                    $(".add-new").removeAttr("disabled");
                }
            });
            // Edit row on edit button click
            $(document).on("click", ".edit", function () {
                $(this).parents("tr").find("td:not(:last-child)").each(function () {
                    $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
                });
                $(this).parents("tr").find(".add, .edit").toggle();
                $(".add-new").attr("disabled", "disabled");
            });


            // Delete row on delete button click
            //$(document).on("click", ".delete", function () {

            //    var x = this;
            //    $.confirm({
            //        title: "",
            //        content: "<span class='alert_content'> Do you want to delete this file? </span>",
            //        columnClass: 'small',
            //        buttons: {
            //            confirm: {
            //                text: "<span class='alert_text'>Yes</span>",
            //                btnClass: 'btn-warning',
            //                keys: ['enter'],
            //                action: function () {
            //                    $(x).parents("tr").remove();
            //                    myfunc();
            //                }
            //            },
            //            cancel: {
            //                text: "No",
            //                btnClass: 'btn-blue',
            //                keys: ['esc'],
            //                //action: function () {
            //                //    $.alert("<h5 class='bg-default text-dark'>Your file was not deleted!!</h3>");
            //                //    // return "cancelled"
            //                //}
            //            }
            //        }
            //    });

            //});
        });
        function DeleteAttachment(docid, cgid, event) {
            var x = event;
         
            $.confirm({
                title: "",
                content: "<span class='alert_content'> Do you want to delete this file? </span>",
                columnClass: 'small',
                buttons: {
                    confirm: {
                        text: "<span class='alert_text'>Yes</span>",
                        btnClass: 'btn-warning',
                        keys: ['enter'],
                        action: function () {
                            if (docid > 0 && cgid > 0) {
                                $.ajax({
                                    type: "post",
                                    url: "/KGRECRM/CGFileDelete",
                                    data: { docId: docid, CGId:cgid},
                                    datatype: "json",
                                    traditional: true,
                                    success: function (data) {
                                        if (data) {
                                            $(x.path[2]).remove();
                                            myfunc();
                                        } else {

                                        }
                                    }
                                });
                             
                            } else {
                                $(x.path[2]).remove();
                                //$(".add-new").removeAttr("disabled");
                            }

                            myfunc();
                        }
                    },
                    cancel: {
                        text: "No",
                        btnClass: 'btn-blue',
                        keys: ['esc'],
                        //action: function () {
                        //    $(x.path[3]).remove();
                        //    //$(".add-new").removeAttr("disabled");
                        //    myfunc();
                        //}
                    }
                }
            });

        }
    </script>
    <script type="text/javascript">



        ImageFile.onchange = evt => {
            const [file] = ImageFile.files
            if (file) {
                ImageFileview.src = URL.createObjectURL(file)
            }
        }
        NIDFile.onchange = evt => {
            const [file] = NIDFile.files
            if (file) {
                NIDFileview.src = URL.createObjectURL(file)
            }
        }
        function addNominee(a, c, b) {
                $("#vname").html(b)
                $("#nCustomerId").val(a)
                $("#nCGId").val(@Model.CGId)
                $("#nProductId").val(@Model.ProductId)
                $("#companyId").val(@Model.CompanyId)
                $("#PercentageId").val(c)
        }
        function fileNominee(a) {
                $("#fNomineeId").val(parseFloat(a))
                $("#fCGId").val(@Model.CGId)
                $("#fcompanyId").val(@Model.CompanyId)
                $.ajax({
                type: "post",
                url: "/KGRECRM/GetNominee",
                data: { id: a },
                datatype: "json",
                traditional: true,
                    success: function (data) {
                        $("#ImageFileShow").empty();
                        $("#NidFileShow").empty();

                        if (data.ImageDocId !== 0) {
                            $(".imgeuplode").hide();

                            var html = '';
                            html += '<h5> Nominee Image</h5>';
                            html += ' <img src="/Upload/DownloadFTP?docid=' + data.ImageDocId + '" alt="your image" class="preview" />';
                            html += ' <a class="btn btn-danger btn-sm" onclick="imgdelete(' + data.ImageDocId + ',' + data.NomineeId + ')"> Delete</a>';
                            $('#ImageFileShow').html(html);
                        } else {
                            $("#ImageFileShow").empty();
                            $(".imgeuplode").show();
                        }
                        if (data.NIDDocId !== 0) {
                            $(".niduplode").hide();
                            var html2 = '';
                            html2 += '<h5> Nominee NID</h5>';
                            html2 += ' <img src="/Upload/DownloadFTP?docid=' + data.NIDDocId + '" alt="your image" class="preview" />';
                            html2 += ' <a class="btn btn-danger btn-sm" onclick="niddelete(' + data.NIDDocId + ',' + data.NomineeId + ')"> Delete</a>';
                            $('#NidFileShow').html(html2);
                        } else {
                            $("#NidFileShow").empty();
                            $(".niduplode").show();
                        }
              
                }
            });
    }


    function imgdelete(did, nid) {
        if (confirm("Are you sure to remove this ?")) {
            $.ajax({
                type: "post",
                url: "/KGRECRM/DeleteNomineeImageFile",
                data: { docId: did, nomineeId: nid, CGId:@Model.CGId,companyId:@Model.CompanyId},
                datatype: "json",
                traditional: true,
                success: function (data) {
                    if (data == 0) {
                        alert("Problem ");
                    } else {
                        $("#ImageFileShow").empty();
                        $(".imgeuplode").show();
                    }

                }
            });
        }
    }
    function niddelete(did, nid) {
         if (confirm("Are you sure to remove this ?")) {
            $.ajax({
                type: "post",
                url: "/KGRECRM/DeleteNomineeNidFile",
                data: { docId: did, nomineeId: nid, CGId:@Model.CGId,companyId:@Model.CompanyId},
                datatype: "json",
                traditional: true,
                success: function (data) {
                    if (data == 0) {
                        alert("Problem ");
                    } else {
                        $("#NidFileShow").empty();
                        $(".niduplode").show();
                    }
                }
            });
        }
    }



    $("#NomineeSharePercentageId").keyup(function () {
        var value = $("#NomineeSharePercentageId").val();
        var Extvalue = $("#PercentageId").val();
        var res = parseFloat(Extvalue) + parseFloat(value);
        var available = 100 - parseFloat(Extvalue);
        if (100 < res) {
            $("#submit").attr("disabled", true);
            $("#ErrorSharePercentageId").text("Available SharePercentage is " + available + "%");
            $(".alert-danger").show();
        } else {
            $("#submit").attr("disabled", false);
            $("#ErrorSharePercentageId").text("");
            $(".alert-danger").hide();
        }
    });
          function deleteNominee(n,a,b) {
         
                $("#dvname").html(b)
                $("#dCustomerId").val(a)
                $("#dNomineeId").val(n)
                $("#dCGId").val(@Model.CGId)
                $("#dProductId").val(@Model.ProductId)
                $("#dcompanyId").val(@Model.CompanyId)
        }
        function editNominee(n, a,p, b) {

            $.ajax({
                type: "post",
                url: "/KGRECRM/GetNominee",
                data: { id: n },
                datatype: "json",
                traditional: true,
                success: function (data) {
                $("#Edvname").html(b)
                $("#ECustomerId").val(a)
                $("#ENomineeId").val(n)
                $("#EPercentageId").val(p)
                $("#ECGId").val(@Model.CGId)
                $("#EProductId").val(@Model.ProductId)
                    $("#EcompanyId").val(@Model.CompanyId)
                    $("#ENomineeNameId").val(data.NomineeName)
                    $("#ENomineeId").val(data.NomineeId)
                    $("#ENomineeMobileId").val(data.NomineeMobile)
                    $("#ENomineeEmailId").val(data.NomineeEmail)
                    $("#ENomineeSharePercentageId").val(data.NomineeSharePercentage)
                    $("#demoPercentageId").val(data.NomineeSharePercentage)
                    $("#EddlRelationId").val(data.RelationId).change()

                }
            });

        }

        $("#ENomineeSharePercentageId").keyup(function () {
            var value = $("#ENomineeSharePercentageId").val();
            var current = $("#EPercentageId").val();
            var demovalue = $("#demoPercentageId").val();
            var Extvalue = parseFloat(current) - parseFloat(demovalue);
            var res = parseFloat(Extvalue) + parseFloat(value);
            var available = 100 - parseFloat(Extvalue);
            if (100 < res) {
                $("#update").attr("disabled", true);
                $("#ErrorSharePercentageId2").text("Available SharePercentage is " + available + "%");
                $(".alert-danger2").show();
            } else {
                $("#update").attr("disabled", false);
                $("#ErrorSharePercentageId2").text("");
                $(".alert-danger2").hide();
            }
        });


    </script>
}