@model KGERP.ViewModel.KgReCrmViewModel
@{
    ViewBag.Title = "CreateOrEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model._KgReCrmModel.ClientId)
        <div class="panel panel-info">
            <div class="panel-heading"><b> Lead Summary </b></div>
            <div class="panel-body">
                <table class="spacing-table">
                    <tr>
                        <td style="width: 20%" align="right">
                            @Html.DisplayNameFor(model => model._KgReCrmModel.FullName)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle;">
                            @Html.DisplayFor(model => model._KgReCrmModel.FullName)
                        </td>
                        <td style="width: 20%" align="right">
                            @Html.DisplayNameFor(model => model._KgReCrmModel.DepartmentOrInstitution)
                        </td>
                        <td colspan="3" style="background-color: #E9EDBE; vertical-align: middle;">
                            @Html.DisplayFor(model => model._KgReCrmModel.DepartmentOrInstitution)
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.DisplayNameFor(model => model.kGREPlotBookingModel.PlotStatus)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model.kGREPlotBookingModel.PlotStatus)
                        </td>
                        <td align="right">
                            @Html.DisplayNameFor(model => model.kGREPlotBookingModel.ProjectName)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model.kGREPlotBookingModel.ProjectName)
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.DisplayNameFor(model => model.kGREPlotModel.BlockNo)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model.kGREPlotModel.BlockNo)
                        </td>
                        <td align="right">
                            @Html.DisplayNameFor(model => model.kGREPlotModel.PlotSize)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model.kGREPlotModel.PlotSize)
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._KgReCrmModel.ReferredBy)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._KgReCrmModel.ReferredBy)
                        </td>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._KgReCrmModel.Designation)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._KgReCrmModel.Designation)
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.DisplayNameFor(model => model.kGREPlotBookingModel.NetReceivedR)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model.kGREPlotBookingModel.NetReceivedR)
                        </td>
                        <td align="right">
                            @Html.DisplayNameFor(model => model.kGREPlotBookingModel.LandValueR)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model.kGREPlotBookingModel.LandValueR)
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._KgReCrmModel.MobileNo)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._KgReCrmModel.MobileNo)
                        </td>
                        <td align="right">
                            @Html.DisplayNameFor(model => model._KgReCrmModel.Email)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model._KgReCrmModel.Email)
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.DisplayNameFor(model => model.kGREPlotBookingModel.RegAmountR)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model.kGREPlotBookingModel.RegAmountR)
                        </td>
                        <td align="right">
                            @Html.DisplayNameFor(model => model.kGREPlotBookingModel.RegistrationDate)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model.kGREPlotBookingModel.RegistrationDate)
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.DisplayNameFor(model => model.kGREPlotBookingModel.FileNo)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model.kGREPlotBookingModel.FileNo)
                        </td>
                        <td align="right">
                            @Html.DisplayNameFor(model => model.kGREPlotBookingModel.BookingDate)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model.kGREPlotBookingModel.BookingDate)
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            @Html.DisplayNameFor(model => model.kGREPlotBookingModel.LandValue)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model.kGREPlotBookingModel.LandValue)
                        </td>
                        <td align="right">
                            @Html.DisplayNameFor(model => model.kGREPlotBookingModel.GrandTotal)
                        </td>
                        <td style="background-color: #E9EDBE; vertical-align: middle !important;">
                            @Html.DisplayFor(model => model.kGREPlotBookingModel.GrandTotal)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}

<script>
    $("#ddlProject").on("change", function () {
        $("#hdnProjectName").val($(this).find("option:selected").text());
        //$("#hdnProjectId").val($(this).find("option:selected").val());
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <style type="text/css">
        input, select, textarea {
            max-width: 100%;
        }

        .text-on-pannel {
            background: #fff none repeat scroll 0 0;
            height: auto;
            margin-left: 20px;
            padding: 3px 5px;
            position: absolute;
            margin-top: -47px;
            border: 1px solid #337ab7;
            border-radius: 8px;
        }

        .panel {
            /* for text on pannel */
            margin-top: 27px !important;
        }

        .panel-body {
            padding-top: 30px !important;
        }

        .spacing-table {
            font-family: 'Helvetica', 'Arial', sans-serif;
            font-size: 12px;
            border-collapse: separate;
            border-spacing: 0 5px; /* this is the ultimate fix */
            width: 100%;
        }

            .spacing-table th {
                text-align: left;
                padding: 5px 5px;
            }

            .spacing-table td {
                border-width: 3px 0;
                /* border-color: darkred;
                border-style: solid;*/
                background-color: #f1f1f1;
                color: Black;
                padding: 5px 5px;
            }

                .spacing-table td:first-child {
                    /*  border-left-width: 3px;*/
                    border-radius: 5px 0 0 5px;
                }

                .spacing-table td:last-child {
                    /*border-right-width: 3px;*/
                    border-radius: 0 5px 5px 0;
                }

        .image {
            float: left;
            max-height: 50px;
            max-width: 50px;
            margin-right: 10px;
        }

        .name {
            margin: 0;
            padding: 0;
        }

        .username {
            display: block;
            font-weight: bold;
            margin-bottom: 1em;
        }

        .ui-autocomplete {
            max-height: 320px;
            overflow: auto;
        }
    </style>
}
