@model KGERP.ViewModel.AdminSetUpViewModel

@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>




<div class="panel panel-info col-md-12">
    <div class="panel-heading"><b>Admin Create</b></div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.AdminSetUp.AdminId)
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.AdminSetUp.Id, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(model => model.AdminSetUp.Id, new SelectList(Model.Employees, "Value", "Text"), "---Select---", new { @class = "dropdownsize form-control" })

                                @Html.ValidationMessageFor(model => model.AdminSetUp.Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.AdminSetUp.IsActive, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.CheckBoxFor(model => model.AdminSetUp.IsActive, new { @class = "checkbox-inline",})
                                Active
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
</div>
     
    













