@model KGERP.Service.ServiceModel.WorkQAModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="background-color:#000080;color:#FFFFFF">
    <span style="font-size:20px;padding:5px;font-weight:bold">Reply</span>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.WorkQAId)
    @Html.HiddenFor(x => x.FromEmpId)
    @Html.HiddenFor(x => x.ToEmpId)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <table class="table table-striped">
            <tr>
                <td>
                    To
                </td>
                <td>
                    @Model.FromName
                </td>
            </tr>

            <tr>
                <td>
                    Question
                </td>
                <td>
                    @Model.Question
                </td>
            </tr>
            <tr>
                <td>
                    Reply
                </td>
                <td>
                    @Html.TextAreaFor(model => model.Answer, 2, 50, new { htmlAttributes = new { @class = "form-control", @placeholder = "Leave a reply here..." } })
                    <button type="submit" class="btn btn-success btn-xs" @*onclick="javascript: return SubmitForm();"*@>Submit</button>
                </td>
            </tr>
        </table>

    </div>
}
@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

        //function SubmitForm() {
        //    var r = confirm("Are you sure to submit your answer?");
        //    if (r == false) {
        //        return false;
        //    }
        //}
    </script>
}
