@model KGERP.Service.ServiceModel.StockAdjustModel

@{
    var message = TempData["successMessage"];
    ViewBag.Title = "Stock Adjust List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Stock Adjust List
    </h1>


    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li>
            <a href="@Url.Action("ItemAdjustment","StockAdjust",new {companyId=Model.CompanyId,stockAdjustId = Model.StockAdjustId })" class="btn btn-primary pull-right">
                <span class="fa fa-plus"></span> New Adjustment
            </a>
        </li>
    </ol>
</section>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-body">

                        @using (Html.BeginForm("Index", "StockAdjust", FormMethod.Post, new { @class = "formValidator" }))
                        {
                            @Html.HiddenFor(model => model.CompanyId, new { id = "CompanyId" })
                            <div class="row">
                                <div class="col-md-3">



                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
                                        <br />
                                        @Html.EditorFor(model => model.StrFromDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.StrFromDate, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.Label("To Date", htmlAttributes: new { @class = "control-label" })
                                        <br />
                                        @Html.EditorFor(model => model.StrToDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.StrToDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3" style="padding: 0px 2px 0px 8px;">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block">Show</button>
                                    </div>
                                </div>
                            </div>
                        }

                        <hr />
                        <div class="table-responsive">
                            <table id="KgErpDataTable" style="width:100%;" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Invoice No</th>
                                        <th>Adjust Date</th>
                                        <th>Remarks</th>
                                        <th>Status</th>

                                        <th>Export</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td style="width:10px;">
                                                @(++sl)
                                            </td>
                                            <td>@item.InvoiceNo</td>
                                            <td>
                                                @item.AdjustDate.ToString("dd/MMM/yyyy")
                                            </td>
                                            <td>
                                                @item.Remarks
                                            </td>
                                            <td>
                                                @if (item.IsSubmited)
                                                {
                                                    <span class="text-success">Submitted</span>
                                                }
                                                else
                                                {
                                                    <span class="text-warning">Submit Panding</span>

                                                }
                                            </td>
                                            <td>
                                                <a href="@Url.Action("GetStockAdjustReport","Report", new {stockAdjustId=item.StockAdjustId,reportName="StockAdjustReport"})" target="_blank" class="btn btn-primary btn-xs">
                                                    Report
                                                </a>
                                                <a href="@Url.Action("ItemAdjustment","StockAdjust", new {companyId = item.CompanyId, stockAdjustId=item.StockAdjustId})" target="_blank">
                                                    Details
                                                </a>

                                            </td>


                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });
        var message = '@message';
    if(message){
        alert(message);
    }

    </script>

}
