@model KGERP.Service.ServiceModel.IssueVm
@using KGERP.Utility;

@{
    ViewData["Title"] = "Issue List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sl = 0;
}
<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>
<section class="content-header">
    <h3><span> Issue List </span></h3>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li>
            <a href="@Url.Action("IssueSlave",new {companyId=Model.CompanyId,issueId=0 })" class="btn btn-primary pull-right">
                <span class="fa fa-plus"></span> New Issue
            </a>
        </li>
    </ol>
</section>
@using (Html.BeginForm("IssueIndex", "StockAdjust", FormMethod.Post, new { id = "issueListFormId", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                    </div>
                    <div class="box-body">

                        @Html.HiddenFor(model => model.CompanyId, new { id = "CompanyId" })
                        <div class="row">
                            <div class="col-md-3">

                                @Html.Label("Status", htmlAttributes: new { @class = "control-label" })
                                <br />
                                @Html.DropDownListFor(model => model.Status, Model.EnumStatusList as SelectList, "==Select Status==",
                               new { id = "ddlStatusEnumFK", @class = "form-control ddlReset", style = "width:100%", required = "required" })
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
                                    <br />
                                    @Html.EditorFor(model => model.StrFromDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.StrFromDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.Label("To Date", htmlAttributes: new { @class = "control-label" })
                                    <br />
                                    @Html.EditorFor(model => model.StrToDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.StrToDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3" style="padding: 0px 2px 0px 8px;">
                                <div class="form-group">
                                    <label>&nbsp;</label>
                                    <button type="submit" id="btnSave" class="btn btn-primary btn-block">Show</button>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="table-responsive col-md-12  text-nowrap">
                            <table id="KgErpDataTable" class="table table-striped" width="100%">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Issue No</th>
                                        <th>Issue Date</th>
                                        <th>Issue To</th>
                                        <th>Remarks</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <th>@(++sl)</th>
                                            <td>
                                                <a target="_blank" href="~/StockAdjust/StockReport?companyId=@item.CompanyId&issueId=@item.IssueId">@item.IssueNo</a>
                                            </td>
                                            <td>@item.IssueDate.ToString("dd-MM-yyyy")</td>
                                            <td>@item.IssueToName</td>
                                            <td>@item.Remarks</td>
                                            <td>
                                                @if (item.IsSubmited)
                                                {
                                                    <div>
                                                        Submitted
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div>
                                                        Submit Pending
                                                    </div>
                                                }
                                            </td>

                                        <td><a href="@Url.Action("IssueSlave",new {companyId=item.CompanyId, issueId= item.IssueId })"><i class="fa fa-edit"></i></a></td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>
}

@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/cssjqryUi")
@section scripts {
    <script type="text/javascript">
        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });
    </script>
}

