

@model KGERP.Models.AttendaceProcessModel
@{
    ViewBag.Title = "TestTableProcess";
}

<div style="padding:20px">
    @using (Html.BeginForm("TestTableProcess", "AttendaceProcess", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <h2>Attendance Process</h2>

        @Html.AntiForgeryToken()

        @*<div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.FilePath, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="ExcelFile" required />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>*@



        <div class="container">
            <br />
            <div class="row">
                <div class="col-md-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            @*<strong>Upload files</strong> <small> </small>*@
                            @Html.LabelFor(model => model.FilePath)
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="file" name="TextFile" required />
                                    </div>
                                </div>

                                <div class="form-group" style="float: right;">
                                    <div style="float: right;">
                                        <button type="submit" class="btn btn-labeled btn-primary"> <span class="btn-label"><i class="glyphicon glyphicon-upload"></i> </span>Upload</button>

                                    </div>
                                </div>



                                @*  <input placeholder="" type="text" class="form-control image-preview-filename" disabled="disabled">
                                    <!-- don't give a name === doesn't send on POST/GET -->
                                    <span class="input-group-btn">
                                        <!-- image-preview-clear button -->
                                        <button type="button" class="btn btn-default image-preview-clear" style="display:none;"> <span class="glyphicon glyphicon-remove"></span> Clear </button>
                                        <!-- image-preview-input -->
                                        <div class="btn btn-default image-preview-input">
                                            <span class="glyphicon glyphicon-folder-open"></span> <span class="image-preview-input-title">Browse</span>
                                            <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview" />
                                            rename it
                                        </div>
                                        <button type="button" class="btn btn-labeled btn-default"> <span class="btn-label"><i class="glyphicon glyphicon-upload"></i> </span>Upload</button>
                                    </span>*@
                            </div>
                            <!-- /input-group image-preview [TO HERE]-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @if (ViewBag.status == true)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Attendance Save Successfully");
            };
        </script>
    }

    @using (Html.BeginForm("PrecessAttendenceInFinalTable", "AttendaceProcess", FormMethod.Post))
    {
        <div class="col-md-12">
            <div class="form-group form-inline">
                <label for="AttendenceDate">Attendence Date</label>
                <input type="datetime" class="form-control datepicker " id="AttendenceDate" name="AttendenceDate" autocomplete="off" required>
                <input type="submit" value="Process" class="btn btn-info" />
            </div>
        </div>
    }
    @if (ViewBag.Process == true)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Process Successfull");
            };
        </script>
    }

    @*@if(ViewBag.Process == false)
        {
            <script type="text/javascript">
                window.On = function () {
                    alert("Already Up to Date");
                };
            </script>
        }*@



</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "dd-M-yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });

        });
    </script>

}