@model KGERP.Service.ServiceModel.ManagerProductMapModel

@{
    var message = TempData["successMessage"];
    ViewBag.Title = "Stock Approved List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Manager Product Map List
    </h1>


    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li>
            <a href="@Url.Action("Create","ManagerProductMap" ,new {companyId=Model.CompanyId, id = 0 })" class="btn btn-primary pull-right">
                <span class="fa fa-plus"></span> Add
            </a>
        </li>
    </ol>
</section>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-body">
                        @using (Html.BeginForm("Index", "ManagerProductMap", FormMethod.Post, new { @class = "formValidator" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.CompanyId, new { id = "CompanyId" })
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EmployeeName, htmlAttributes: new { @class = "control-label" })
                                        <br />
                                        @Html.DropDownListFor(model => model.EmployeeId, new SelectList(Model.EmployeeList, "Value", "Text"), "==Select Manager==", new { id = "ddlEmployeeIdFK", @class = "form-control ddlReset", style = "width:100%" })

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label" })
                                        <br />
                                        @Html.DropDownListFor(model => model.ProductId, new SelectList(Model.ProductList, "Value", "Text"), "==Select Product==", new { id = "ddlProductIdFK", @class = "form-control ddlReset", style = "width:100%" })
                                    </div>
                                </div>

                                <div class="col-md-3" style="padding: 0px 2px 0px 8px;">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block">Show</button>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="table-responsive">
                            <table id="KgErpDataTable" style="width:100%;" class="table table-striped">
                                <thead style="background-color:#ddd;">
                                    <tr>
                                        <th>SL</th>
                                        <th>Manager Name</th>
                                        <th>Product Name</th>
                                        <th>Active</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td style="width:10px;">
                                                @(++sl)
                                            </td>

                                            <td>@item.EmployeeName</td>
                                            <td>
                                                @item.ProductName
                                            </td>
                                            <td>
                                                @if (item.IsActive)
                                                {
                                                    <strong style="color:green;">Yes</strong>
                                                }
                                                else
                                                {
                                                    <strong style="color:red;">No</strong>
                                                }
                                            </td>

                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    @*<script type="text/javascript">
            $('.datepicker').datepicker({
                dateFormat: "dd/mm/yy",
                showOn: 'both',
                buttonText: "<i class='fa fa-calendar'></i>",
                changeMonth: true,
                changeYear: true,
                yearRange: "2001:+50"
            });
            var message = '@message';
        if(message){
            alert(message);
        }

        </script>*@

}

