@model KGERP.Service.ServiceModel.ComparativeStatementModel
@{
    ViewData["Title"] = "Comparative Statement";
    Layout = "~/Views/Shared/_Layout.cshtml";

    KGERP.Service.ServiceModel.ComparativeStatementModel temData = TempData["TempModel"] as KGERP.Service.ServiceModel.ComparativeStatementModel;
}

<style type="text/css">
    input, select, textarea {
        max-width: 100%;
    }

    .ui-datepicker-trigger {
        width: 37px !important;
        height: 33px !important;
        margin-left: 5px !important;
    }

    .dateCustom {
        width: 82% !important;
        border-radius: 1px !important;
        border: 1px solid #d2d6de !important;
        height: 33px !important;
    }
</style>

<section class="content-header">
    <h1>
        <span>
            Comparative Statement
        </span>

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">
            <span>
                Comparative Statement
            </span>
        </li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-body">
                        @using (Html.BeginForm("ComparativeStatement", "Quotation", FormMethod.Post, new { id = "BRMasterListFormId", @class = "formValidator" }))
                        {
                            @Html.HiddenFor(model => model.CompanyFK, new { id = "CompanyId" })

                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label">Select Quotation<sup class="text-danger" title="Required">*</sup></label>
                                        @Html.DropDownListFor(model => model.QuotationMasterId, Model.QuotationList as SelectList, "==Search Quotation==", new { id = "ddlQuotationIdOne", @class = "form-control searchingDropdown", style = "width:100%", required = "required" })
                                        @Html.ValidationMessageFor(model => model.QuotationMasterId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block">Genearate Statement</button>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        }

                        @if (temData != null)
                        {
                            <hr />
                            <div class="table-responsive" style="margin: 50px 0;">
                                @foreach (var group in temData.QuotationSubmitDetailModelList.GroupBy(q => q.SupplierId).ToList())
                                {
                                    <table class="table table-bordered" style="margin-bottom: 15px;">
                                        <tr class="btn-primary">
                                            <td colspan="2" width="50%">
                                                <h4 class="text-white">Vendor Name: @(group.FirstOrDefault()?.SupplierName ?? "N/A")</h4>
                                            </td>
                                            <td colspan="2" width="50%">
                                                <button class="btn btn-primary place-work-order" style="width: 100%; border-radius: 0; border: none;">Place Work Order</button>
                                            </td>
                                        </tr>
                                        <tr class="bg-gray">
                                            <th>Material Name</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>
                                            <th>Total Amount</th>
                                        </tr>
                                        @foreach (var item in group)
                                        {
                                            <tr>
                                                <td>@item.MaterialName</td>
                                                <td>@item.Quantity</td>
                                                <td>@item.UnitPrice</td>
                                                <td>@item.TotalAmount</td>
                                            </tr>
                                        }
                                    </table>
                                }

                            </div>
                        }



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/cssjqryUi")

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $(".place-work-order").click(function () {
                var $btn = $(this);
                $(".place-work-order").not($btn).hide();
            });
        });

    </script>
}