@model KGERP.ViewModel.MonthlyTargetViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.MonthlyTarget.MonthlyTargetId)

<div class="form-horizontal">
    <h4>Monthly Target @Model.MonthlyTarget.ButtonName</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.MonthlyTarget.CompanyId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.MonthlyTarget.CompanyId, new SelectList(Model.Companies, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "dropdownsize form-control" })
            @Html.ValidationMessageFor(model => model.MonthlyTarget.CompanyId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MonthlyTarget.Year, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.MonthlyTarget.Year, new SelectList(Model.Years, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "dropdownsize form-control" })
            @Html.ValidationMessageFor(model => model.MonthlyTarget.Year, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MonthlyTarget.Month, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.MonthlyTarget.Month, new SelectList(Model.Months, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "dropdownsize form-control" })
            @Html.ValidationMessageFor(model => model.MonthlyTarget.Month, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MonthlyTarget.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MonthlyTarget.Amount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MonthlyTarget.Amount, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.MonthlyTarget.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MonthlyTarget.Remarks, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MonthlyTarget.Remarks, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.MonthlyTarget.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.MonthlyTarget.IsActive)
                @Html.ValidationMessageFor(model => model.MonthlyTarget.IsActive, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="col-md-offset-4 col-md-4">
        <div class="form-group">
            <a href="@Url.Action("Index")" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove-circle"></span>Close
            </a>
            <button type="submit" class="btn btn-primary" onclick="javascript: return SubmitForm();" style="margin-left: 20px;"><span class="glyphicon glyphicon-floppy-disk"></span>@Model.MonthlyTarget.ButtonName</button>

        </div>
    </div>

</div>
}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        function SubmitForm() {
            var r = confirm("Are you sure to save this?");
            if (r == false) {
                return false;
            }
        }
    </script>
}