@model KGERP.Data.CustomModel.AttendenceApproval

@{
    ViewBag.Title = "GetPersonalAttendenceStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h3>
        <h3><b>OnField/ Tour History</b></h3>
    </h3>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li>
            <a href="@Url.Action("CreateOnFieldTour", new { id = 0 })" title="New Application" class="btn btn-primary pull-right">
                <span class="glyphicon glyphicon-user"></span>&nbsp; OnField/ Tour Request
            </a>
        </li>
    </ol>
</section>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-body">

                        @using (Html.BeginForm("GetOnFieldTourStatus", "AttendenceApproval", FormMethod.Post, new { @class = "formValidator" }))
                        {
                            <div class="row">
                                <div class="col-md-3">
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
                                        <br />
                                        @Html.EditorFor(model => model.StrFromDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.StrFromDate, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.Label("To Date", htmlAttributes: new { @class = "control-label" })
                                        <br />
                                        @Html.EditorFor(model => model.StrToDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.StrToDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3" style="padding: 0px 2px 0px 8px;">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block">Show</button>
                                    </div>
                                </div>
                            </div>
                        }

                        <hr />
                        <div class="table-responsive">
                            <table id="KgErpDataTable" style="width:100%;" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>KGID</th>
                                        <th>Name</th>
                                        <th>Application Date</th>
                                        <th>Application For</th>
                                        <th>From Date</th>
                                        <th>To Date</th>
                                        <th>Days</th>
                                        <th>Reason</th>
                                        <th>M Status</th>
                                        <th>HR Status</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td style="width:10px;">
                                                @(++sl)
                                            </td>
                                            <td>@item.UserId</td>
                                            <td>@item.Name</td>
                                            <td>@item.ApplicationDate</td>
                                            <td>@item.ApproveFor</td>
                                            <td>@item.FromDateForOnField</td>
                                            <td>@item.ToDateForOnField</td>
                                            <td>@item.TourDays</td>
                                            <td>@item.Resion</td>
                                            <td>

                                                @if (item.ManagerStatus == "Pending")
                                                {
                                                    <span class="btn btn-warning btn-xs" style="width:70px" title="@item.ManagerNote">  @Html.DisplayFor(modelItem => item.ManagerStatus)</span>
                                                }
                                                @if (item.ManagerStatus == "Approved")
                                                {
                                                    <span class="btn btn-success btn-xs" style="width:70px" title="@item.ManagerNote">  @Html.DisplayFor(modelItem => item.ManagerStatus)</span>
                                                }

                                                @if (item.ManagerStatus == "Denied")
                                                {
                                                    <span class="btn btn-danger btn-xs" style="width:70px" title="@item.ManagerNote">  @Html.DisplayFor(modelItem => item.ManagerStatus)</span>
                                                }

                                            </td>
                                            <td>

                                                @if (item.HrStatus == "Pending")
                                                {
                                                    <span class="btn btn-warning btn-xs" style="width:70px" title="@item.HrNote"> @Html.DisplayFor(modelItem => item.HrStatus)</span>
                                                }
                                                @if (item.HrStatus == "Approved")
                                                {
                                                    <span class="btn btn-success btn-xs" style="width:70px" title="@item.HrNote"> @Html.DisplayFor(modelItem => item.HrStatus)</span>
                                                }

                                                @if (item.HrStatus == "Denied")
                                                {
                                                    <span class="btn btn-danger btn-xs" style="width:70px" title="@item.HrNote"> @Html.DisplayFor(modelItem => item.HrStatus)</span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });
    if(message){
        alert(message);
    }
    </script>
}



