@*@model KGERP.ViewModel.StoreViewModel*@
@model KGERP.Service.ServiceModel.OrderMasterModel

@{
    ViewBag.Title = "Store Detail Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    tr.error {
        background-color: rgba(255,0,0,0.35);
    }

    .remove {
        width: 40px;
        height: 25px;
        font-size: 16px;
        background-color: #dd4b39;
        color: white;
        border: none;
        border-radius: 15px;
    }



    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #3c8dbc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #007f3d;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: 1px solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>
@using (Html.BeginForm("Create", "OrderMaster", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="row">
    <table class="table table-bordered">
        <tr style="background-color:#ccc;color:#000000">
            <td colspan="6">
                <label class="container">
                    Order  by Cash
                    @Html.EditorFor(x => x.IsCash)
                    <span class="checkmark"></span>
                </label>

                @*<b style="padding-left:100px; font-size:25px"><span class="checkmark">@Html.EditorFor(x => x.IsCash)</span> Order by Cash</b>*@
            </td>
        </tr>

        <tr>
            <td>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label" })
                            @*@Html.DropDownListFor(model => model.CustomerId, new SelectList(Model.Vendors, "Value", "Text"), "---Select---", new { @class = "dropdownsize form-control", @id = "ddlCustomer", @onchange = "loadCustomerInformation()" })*@

                            @*<input type="text" id="txtVendor" name="VendorName" class="form-control" required />
                            <input type="hidden" id="hfVendor" name="CustomerId" />*@

                            <input type="hidden" id="hfVendor" name="CustomerId" />

                            @Html.EditorFor(model => model.Vendor.Name, new { htmlAttributes = new { @class = "form-control", @name = "VendorName", @id = "txtVendor" } })
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-10">
                        <label for="CompanyName" class="control-label">Company Name</label>
                        <input type="text" value="@Model.Vendor.ContactName" class="form-control" id="Address" readonly>
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12">
                        <label for="CompanyName" class="control-label">Address</label>
                      
                        <input type="text" value="@Model.Vendor.Address" class="form-control" id="Address" readonly>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="col-md-4">
                    <div class="col-md-10">
                        <label for="OrderNo" class="control-label">Order No</label>

                        <input type="text" id="orderNo" name="OrderNo" value="@Model.OrderNo" class="form-control" autocomplete="off" readonly />
                        <span class="error">Order no required</span>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-10">
                        <label for="ExpectedDeliveryDate" class="control-label "> Delivery Date</label>

                        <input type="text" id="ExpectedDeliveryDate" name="ExpectedDeliveryDate" value="@Model.ExpectedDeliveryDate" class="form-control" autocomplete="off" required />
                        <span class="error">Valid order date required (ex: MM-dd-yyyy)</span>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12">
                        <label for="Customer" class="control-label">Description</label>
                        <textarea id="remarks" name="Remarks" value="@Model.Remarks" class="form-control"  autocomplete="off"></textarea>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="col-md-4">
                    <div class="col-md-10">
                        <label for="TmpAgent" class="control-label">Agent</label>
                        <input type="text" id="TmpAgent" name="TmpAgent" value="@Model.TmpAgent" class="form-control" autocomplete="off" />
                        <span class="error">Agent amount required</span>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-10">
                        <label for="TmpCarrying" class="control-label ">Carrying</label>

                        <input type="text" id="TmpCarrying" name="TmpCarrying" value="@Model.TmpCarrying" class="form-control" autocomplete="off" />
                        <span class="error">Carrying amount required</span>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12">
                        <label for="TmpNtAmnt" class="control-label ">Net Amount</label>
                        <input type="text" id="TmpNtAmnt" name="TmpNtAmnt" value="@Model.TmpNtAmnt" class="form-control" autocomplete="off" />
                        <span class="error">Net amount required</span>
                    </div>
                </div>
            </td>
        </tr>

    </table>
</div>


<div class="row">
    <table class="table table-bordered">
        <tr style="background-color:#009270;color:#FFFFFF">
            <td colspan="6"><b>Product Details</b></td>
        </tr>
    </table>
</div>
<div class="details">
    <table class="table table-responsive">
        <tr>
            @*
            <th>Category</th>
            <th>Sub-category</th>*@
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Amount</th>
            <th>&nbsp;</th>
        </tr>
        <tr class="mycontainer" id="mainrow">
            @*
            <td>
                <select id="productCategory" name="CategoryId" class="pc form-control" onchange="LoadProductSubCategory(this)">
                    <option>Select</option>
                </select>
                <span class="error">Select Category</span>
            </td>
            <td>
                <select id="productSubCategory" class="psc form-control" onchange="LoadProduct(this)">
                    <option>Select</option>
                </select>
                <span class="error">Select Sub Category</span>
            </td>
            <td>
                <select id="product" class="product form-control">
                    <option>Select</option>
                </select>
                <span class="error">Select Product</span>
            </td>*@

            <td>
                <input type="text" id="product" name="product" class="form-control col-md-6" />
                <input type="hidden" id="hfProductId" name="productId" />
            </td>
            <td>
                <input type="text" id="qty" class="qty form-control" autocomplete="off" style="text-align:right" />
                <span class="error">Valid quantity required</span>
            </td>

            <td>
                <input type="text" id="unitPrice" class="qty form-control" autocomplete="off" readonly style="text-align:right" />
                <span class="error">Valid Unit Price required</span>
            </td>

            <td>
                <input type="text" id="amount" class="qty form-control" autocomplete="off" style="text-align:right" readonly />
                @*<span class="error">Valid quantity required</span>*@
            </td>
            <td>
                @*<input type="button" id="add" value="Add" style="width:80px" class="btn btn-success" />*@
                <button type="button" id="add" class="btn btn-success"><i class="fa fa-plus-circle"></i>&nbsp; Add</button>
            </td>
        </tr>
    </table>
    <div id="orderItems">
        <table class="table" id="orderdetailsItems">
            <thead>
                <tr style="background-color:teal;color:white;font-weight:bold">
                    <th>Sl</th>
                    @*
                    <th>Category</th>
                    <th>Sub Category</th>*@
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="itemDetails">
                @foreach (var item in Model.OrderDetails)
                {
                    <tr>
                        <td> </td>
                        <td>@item.Product.ProductName</td>
                        <td>@item.Qty</td>
                        <td>@item.Product.UnitPrice</td>
                        <td>@item.Product.UnitPrice </td>
                        
                    </tr>
                }
            </tbody>
        </table>
        <span id="orderItemError" class="danger"></span>
    </div>
    <table>
        <tr>
            <td>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputEmail3" class=" col-form-label">Total Amount</label>
                            <input type="text" readonly class="form-control" id="tamount" name="TotalAmount" value="@Model.TotalAmount" style="text-align:right; font-size:18px;font-weight:bold">
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="inputEmail3" class=" col-form-label">Discount(%)</label>
                            <input type="text" class="form-control" id="disrate" name="DiscountRate" value="@Model.DiscountRate" pattern="\d*" style="text-align:right">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="inputEmail3" class=" col-form-label">Discount Amount</label>
                            <input type="text" class="form-control" id="disamount" name="DiscountAmount" value="@Model.DiscountAmount" style="text-align:right">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12">
                            <label for="inputEmail3" class=" col-form-label">Grand Total</label>
                            <input type="number" readonly class="form-control" id="grandtotal" name="GrandTotal" value="@Model.GrandTotal" style="text-align:right; font-size:18px;font-weight:bold">
                        </div>
                    </div>
                </div>
            </td>

        </tr>

        @*<tr>
            <td>
                <div class="col-md-offset-8">
                    <div style="padding:10px 0; text-align:right">
                        <a href="/OrderMaster/Index" id="cancel" class="btn btn-danger" style="padding:5px 10px">Cancel</a>
                    </div>
                </div>

            </td>
            <td>
                <div class="col-md-4">
                    <div style="padding:10px 0; text-align:right">
                        <input id="submit" type="submit" value="Submit" class="btn btn-success" style="padding:5px 10px" />
                       
                    </div>
                </div>
            </td>
        </tr>*@
    </table>

    @*<div class="col-md-offset-6">
        <div style="padding:10px 0; text-align:right">
            <input id="submit" type="submit" value="Receive Product" class="btn btn-warning" style="padding:5px 10px" />
        </div>
    </div>*@

</div>
}

<script src="~/Scripts/ApplicationScripts/Inventory_Feed/Order/OrderGenerare.js"></script>
@*
<script src="~/Scripts/myScripts.js"></script>*@

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

<script type="text/javascript">
    $(function () {
        $('#ExpectedDeliveryDate').datepicker({
            dateFormat: 'mm-dd-yy'
        })
    })

    //function loadCustomerInformation() {
    //    var customerId = $('#ddlCustomer').val();

    //    $.ajax({
    //        url: '/Vendor/GetCustomerInformation?customerId=' + customerId,
    //        type: "GET",
    //        async: true,
    //        processData: false,
    //        cache: false,
    //        success: function (data) {
    //            var result = JSON.parse(data);
    //            $('#CompanyName').val(result.Name);
    //            $('#Address').val(result.Address);
    //        },
    //        error: function (xhr) {
    //            alert('Error! Something went wrong');
    //        }
    //    });

    //}

    $(function () {
        $("#txtVendor").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Vendor/AutoComplete/',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#hfVendor").val(i.item.val);
            },
            minLength: 1,
            change: function (event, ui) {
                loadCustomerInformation(ui.item.val);
            }



        }).focus(function () {
            $(this).autocomplete("search");
        });
    });

    function loadCustomerInformation(customerId) {
        //alert(customerId);
        $.ajax({
            url: '/Vendor/GetCustomerInformation?customerId=' + customerId,
            type: "GET",
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                var result = JSON.parse(data);
                $('#CompanyName').val(result.Name);
                $('#Address').val(result.Address);
            },
            error: function (xhr) {
                //alert('error');
            }
        });

    }

    $(function () {
        $("#product").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Products/AutoComplete/',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    },
                    error: function (response) {
                        //alert(response.responseText);
                    },
                    failure: function (response) {
                        //alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#hfProductId").val(i.item.val);
            },
            minLength: 1,
            change: function (event, ui) {
                loadProductPrice(ui.item.val);
            }


        }).focus(function () {
            $(this).autocomplete("search");
        });
    });
    function loadProductPrice(productId) {
        $.ajax({
            type: "GET",
            url: "/OrderMaster/GetProductUnitPrice",
            data: { 'id': productId },
            success: function (data) {
                $('#unitPrice').val(data.UnitPrice);
                
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

</script>
}
