@model KGERP.Service.ServiceModel.OrderMasterModel

@{
    var message = TempData["successMessage"];
    ViewBag.Title = "Sale Order List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>Sale Order List</h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li>
            <a href="@Url.Action("Create")" class="btn btn-primary pull-right">
                <span class="fa fa-plus"></span> New Order
            </a>
        </li>
    </ol>
</section>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="KgErpDataTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Order Date</th>
                                        <th>OrderNo</th>
                                        <th>Customer</th>
                                        <th>Total Amount</th>
                                        <th>Grand Total</th>
                                        <th>Remarks</th>
                                        <th>Download</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td>
                                                @(++sl)
                                            </td>
                                            <td>
                                                @item.OrderDate.Value.ToString("dd/mm/yyyy")
                                            </td>
                                            <td>@item.OrderNo</td>
                                            <td>
                                                @item.Customer
                                            </td>
                                            <td>
                                                @item.TotalAmount
                                            </td>
                                            <td>@item.GrandTotal</td>
                                            <td>
                                                @item.Remarks
                                            </td>
                                            <td>
                                                <a href="@Url.Action("GetKgeComOrderInvoiceReport","Report",  new {orderMasterId=item.OrderMasterId})" target="_blank" class="btn btn-primary btn-xs">
                                                    Report
                                                </a>
                                            </td>
                                            <td style="text-align:center">
                                                <a href="@Url.Action("EditOrder", new { id = item.OrderMasterId})" id="editOrderDetail" title="View Detail" class="btn btn-info btn-xs">
                                                    <i class="fa fa-edit" style="font-size:15px;" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });
        var message = '@message';
    if(message){
        alert(message);
    }
    </script>
}


