@model KGERP.Service.Implementation.Procurement.VmCustomerAgeing
@using KGERP.Utility;

@{
    ViewData["Title"] = "Customer Ageing";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;
    double totalNetSaleAmount = 0;
    decimal totalSaleReturnAmount = 0;
    decimal totalNetRecover = 0;
    decimal totalZeroToThirtyDayes = 0;
    decimal totalThirtyToSixtyDayes = 0;
    decimal totalSixtyToNintyDayes = 0;
    decimal totalNintyTo120Dayes = 0;
    decimal totalOneH20To150Dayes = 0;
    decimal totalOneH50To180Dayes = 0;
    decimal totalOneH80To210Dayes = 0;
    decimal totalTwoH40To270Dayes = 0;
    decimal totalOver300Dayes = 0;
    decimal totalCurrentMonthCollection = 0;
}
<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>
<section class="content-header">
    <h1>
        <span>
            Customer Business Ageing (AS ON @Model.AsOnDate)
        </span>

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Customer Business Ageing</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header">

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive col-md-12  text-nowrap">
                        <table id="KgErpDataTable" class="table table-striped text-nowrap table-bordered border-dark" width="100%">
                            <thead>
                                <tr style="background-color:aqua;">
                                    <th>SL</th>
                                    <th>Customer</th>
                                    <th>Customer Code</th>
                                    <th>Zone</th>
                                    <th>Zone Code</th>
                                    <th>Zone Incharge</th>
                                    <th>Territory</th>
                                    <th>Territory Code</th>
                                    <th>Sales Officer</th>
                                    <th>Customer Mode</th>
                                    <th style="text-align: right;">Net Sale Amount</th>
                                    <th style="text-align: right;">Sale Return Amount</th>
                                    <th style="text-align: right;">Net Recover</th>
                                    <th style="text-align: right;">0 - 30</th>
                                    <th style="text-align: right;">30 - 60</th>
                                    <th style="text-align: right;">60 - 90</th>
                                    <th style="text-align: right;">90 - 120</th>
                                    <th style="text-align: right;">120 - 150</th>
                                    <th style="text-align: right;">150 - 180</th>
                                    <th style="text-align: right;">180 - 240</th>
                                    @*<th style="text-align: right;">210 - 240</th>*@
                                    <th style="text-align: right;">240 - 300</th>
                                    @*<th style="text-align: right;">270 - 300</th>*@
                                    <th style="text-align: right;">Over 300</th>
                                    <th style="text-align: right;">Current Month Collection</th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {
                                    totalNetSaleAmount += item.NetSaleAmount;
                                    totalSaleReturnAmount += item.SaleReturnAmount;
                                    totalNetRecover += item.NetRecover;
                                    totalZeroToThirtyDayes += item.ZeroToThirtyDayes;
                                    totalThirtyToSixtyDayes += item.ThirtyToSixtyDayes;
                                    totalSixtyToNintyDayes += item.SixtyToNintyDayes;
                                    totalNintyTo120Dayes += item.NintyTo120Dayes;
                                    totalOneH20To150Dayes += item.OneH20To150Dayes;
                                    totalOneH50To180Dayes += item.OneH50To180Dayes;
                                    totalOneH80To210Dayes += item.OneH80To210Dayes;
                                    totalTwoH40To270Dayes += item.TwoH40To270Dayes;
                                    totalOver300Dayes += item.Over300Dayes;
                                    totalCurrentMonthCollection += item.CurrentMonthCollection;
                                <tr>
                                    <th>@(++sl)</th>
                                    <td>
                                        <a target="_blank" href="~/Collection/GCCLCustomerAgeingDetails?CompanyId=@Model.CompanyFK&CustomerId=@item.VendorId&AsOnDate=@Model.AsOnDate&reportName=GCCLCustomerAgeingDetailsReport&reportFormat=PDF">@item.VendorName</a>

                                    </td>
                                  
                                    <td>
                                        <a target="_blank" href="~/Collection/GCCLCustomerAgeingDetails?CompanyId=@Model.CompanyFK&CustomerId=@item.VendorId&AsOnDate=@Model.AsOnDate&reportName=GCCLCustomerAgeingDetailsReport&reportFormat=EXCEL">@item.VendorCode</a>

                                        
                                    </td>
                                    <td>@item.ZoneName</td>
                                    <td>@item.ZoneCode</td>
                                    <td>@item.ZoneIncharge</td>
                                    <td>@item.SubZoneName</td>
                                    <td>@item.SubZoneCode</td>
                                    <td>@item.SalesOfficerName</td>
                                    <td>@item.CustomerMode</td>
                                    <td style="text-align: right;">@String.Format("{0:0.00}", item.NetSaleAmount)</td>
                                    <td style="text-align: right;">@String.Format("{0:0.00}", item.SaleReturnAmount)</td>
                                    <td style="text-align: right;">@String.Format("{0:0.00}", item.NetRecover)</td>
                                    <td style="text-align: right;">@String.Format("{0:0.00}", item.ZeroToThirtyDayes)</td>
                                    <td style="text-align: right;">@String.Format("{0:0.00}", item.ThirtyToSixtyDayes)</td>
                                    <td style="text-align: right;">@String.Format("{0:0.00}", item.SixtyToNintyDayes)</td>
                                    <td style="text-align: right;">@String.Format("{0:0.00}", item.NintyTo120Dayes)</td>
                                    <td style="text-align: right;">@String.Format("{0:0.00}", item.OneH20To150Dayes)</td>
                                    <td style="text-align: right;">@String.Format("{0:0.00}", item.OneH50To180Dayes)</td>
                                    <td style="text-align: right;">@String.Format("{0:0.00}", item.OneH80To210Dayes)</td>
                                    @*<td style="text-align: right;">@String.Format("{0:0.00}",item.TwoH10To240Dayes)</td>*@
                                    <td style="text-align: right;">@String.Format("{0:0.00}", item.TwoH40To270Dayes)</td>
                                    @*<td style="text-align: right;">@String.Format("{0:0.00}",item.TwoH70To300Dayes)</td>*@
                                    <td style="text-align: right;">@String.Format("{0:0.00}", item.Over300Dayes)</td>
                                    <td style="text-align: right;"> @String.Format("{0:0.00}", item.CurrentMonthCollection)</td>

                                </tr>
                                }
                               
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th colspan="9">
                                        TOTAL
                                    </th>

                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalNetSaleAmount)</th>
                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalSaleReturnAmount)</th>
                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalNetRecover)</th>
                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalZeroToThirtyDayes)</th>
                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalThirtyToSixtyDayes)</th>
                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalSixtyToNintyDayes)</th>
                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalNintyTo120Dayes)</th>
                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalOneH20To150Dayes)</th>
                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalOneH50To180Dayes)</th>
                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalOneH80To210Dayes)</th>
                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalTwoH40To270Dayes)</th>
                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalOver300Dayes)</th>
                                    <th style="text-align: right;"> @String.Format("{0:0.00}", totalCurrentMonthCollection)</th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                    @*@if (Model.ID > 0)
                        {
                            <a target="_blank" href="~/Shipment/DeliveryChallanePrint/@Model.ID" class="btn btn-primary" style="width:100%">Print</a>
                        }*@
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {

          

        })

    </script>
}

