
@{
    ViewData["Title"] = "Invoice List";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model KGERP.Service.Implementation.Procurement.VMSalesOrder

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>
        Invoice of <span style="color:blueviolet">@Model.CommonCustomerName</span> 
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Dealer / Customer</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("OrderMasterByCustomer", "Collection", FormMethod.Post, new { id = "orderMasterByCustomerformId", @class = "formValidator", @enctype = "multipart/form-data" }))
            {
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box-danger">

                        <div class="box">
                            <div class="box-danger">
                                <div class="box-header">

                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table id="KgErpDataTable" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>SL</th>
                                                    <th>
                                                        Order No
                                                    </th>
                                                    <th style="text-align:center;">
                                                        Order Date
                                                    </th>
                                                    <th style="text-align:center;">
                                                        Expected Delivery Date
                                                    </th>
                                                  
                                                    <th style="text-align:right;">
                                                        Total Invoiced Amount
                                                    </th>
                                                   
                                                </tr>
                                            </thead>
                                            @{int sl = 0;
                                                double grangTotal = 0;
                                            }
                                            <tbody>
                                                @foreach (var item in Model.DataList)
                                                {

                                                    grangTotal += item.TotalAmount + Convert.ToDouble(item.CourierCharge);
                                                <tr>
                                                    <td>@(++sl)</td>
                                                    <td><a target="_blank" href="~/Procurement/ProcurementSalesOrderDetailsReport?companyId=@item.CompanyFK&orderMasterId=@item.OrderMasterId">@item.OrderNo</a></td>

                                                    <td style="text-align:center;">
                                                        @item.OrderDate.ToString("dd-MM-yyyy")
                                                    </td>
                                                    <td style="text-align:center;">
                                                        @if (item.ExpectedDeliveryDate != null)
                                                        {
                                                        <span>
                                                            @item.ExpectedDeliveryDate.Value.ToString("dd-MM-yyyy")
                                                        </span>
                                                           

                                                        }
                                                    </td>

                                                    <td style="text-align:right;">
                                                        @(item.TotalAmount + Convert.ToDouble( item.CourierCharge))
                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th></th>
                                                    <th colspan="3">
                                                        Total
                                                    </th>

                                                    <th style="text-align:right;">
                                                        @grangTotal
                                                    </th>

                                                </tr>

                                                <tr>
                                                    <th></th>
                                                    <th colspan="3">
                                                        Paid
                                                    </th>

                                                    <th style="text-align:right;">
                                                        @Model.InAmount
                                                    </th>

                                                </tr>
                                                <tr>
                                                    <th></th>
                                                    <th colspan="3">
                                                        Current Balance
                                                    </th>

                                                    <th style="text-align:right;">
                                                        @(grangTotal -Convert.ToDouble(Model.InAmount))
                                                    </th>

                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>




                                </div>
                                <div class="box-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                
            }


        </div>

    </div>
</section>

@section scripts {

    <script type="text/javascript">


        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();


        });

    </script>
}


