
@{
    ViewData["Title"] = "Invoice List";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model KGERP.Service.Implementation.Procurement.VMSalesOrder

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>
        Payment History of <span style="color:maroon">@Model.CommonCustomerCode-@Model.CommonCustomerName</span> 
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Dealer / Customer</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("OrderMasterByID", "Collection", FormMethod.Post, new { id = "orderMasterByIDformId", @class = "formValidator", @enctype = "multipart/form-data" }))
            {
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
                @Html.HiddenFor(model => model.CompanyFK, new { id = "CompanyFK" })

                @*@Html.HiddenFor(model => model.OrderMasterId, new { id = "hidOrderMasterId" })*@
                @Html.HiddenFor(model => model.CustomerId, new { id = "hidOrderMasterId" })

                <div class="box-danger">
                    <div class="box">


                        <div class="box-body">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Order No:</label>
                                        @Html.DropDownListFor(model => model.OrderMasterId, Model.OrderMusterList as SelectList, "--Order--", new { id = "ddOrderMasterId", @class = "searchingDropdown form-control", required = "true" })
                                        @Html.ValidationMessageFor(model => model.OrderMasterId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Payment Date</label>
                                        <input name="PaymentDate" asp-for="PaymentDate" type="text" required="required" class="datePicker form-control" id="txtPaymentDate" placeholder="Payment Date" autocomplete="off">
                                        @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="txtDescription" class="col-form-label">Receivable Amount:</label>
                                        <input name="PayableAmount" value="@(Convert.ToDecimal(Model.PayableAmount) - Model.InAmount)" readonly="readonly" asp-for="PayableAmount" type="text" class="form-control">

                                        @Html.ValidationMessageFor(model => model.PayableAmount, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtPaidAmount" class="col-form-label">Paid Amount:</label>
                                        <input name="PaidAmount" asp-for="PaidAmount" type="text" required="required" class="form-control" id="txtPaidAmount" placeholder="Paid">
                                        @Html.ValidationMessageFor(model => model.PaidAmount, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>Type</label>
                                        @Html.DropDownListFor(model => model.Accounting_BankOrCashParantId, Model.BankOrCashParantList as SelectList, "==Select Type==", new { id = "ddlAccounting_BankOrCashParantId", @class = "form-control ddlReset", style = "width:100%", required = "required" })
                                        @Html.ValidationMessageFor(model => model.Accounting_BankOrCashParantId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label>Bank/Cash</label>
                                        @Html.DropDownListFor(model => model.Accounting_BankOrCashId, Model.BankOrCashGLList as SelectList, new { id = "ddlAccounting_BankOrCashId", @class = "form-control searchingDropdown", style = "width:100%", required = "required" })
                                        @Html.ValidationMessageFor(model => model.Accounting_BankOrCashId, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                            </div>
                            <div class="row">


                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="txtDescription" class="col-form-label">Reference No:</label>
                                        @Html.TextAreaFor(model => model.Remarks, new { id = "txtRemarks", placeholder = "Reference No", @class = "form-control", Rows = 2, required = "required" })
                                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-4">
                                </div>
                                <div class="col-lg-8 col-md-8">
                                    <button type="submit" id="poCreateBtn" class="btn btn-primary btn-block">
                                        <i class='fa fa-plus'></i>
                                        <span>Payment Received from @Model.CommonCustomerName</span>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="box-danger">
                            <div class="box-header">
                                
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table id="KgErpDataTable" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th>
                                                    Payment Date
                                                </th>
                                                <th>
                                                    Payment To
                                                </th>
                                                <th>
                                                    Reference No
                                                </th>
                                                <th>
                                                    Payment By
                                                </th>
                                                <th style="text-align:right;">
                                                    In Amount
                                                </th>

                                            </tr>
                                        </thead>
                                        @{int sl = 0;
                                          decimal  paidTotal = 0;
                                        }
                                        <tbody>
                                            @foreach (var item in Model.DataList)
                                            {
                                                 paidTotal += item.InAmount;
                                            <tr>
                                                <td>@(++sl)</td>
                                                <td>
                                                    @item.PaymentDate.ToString("dd-MM-yyyy")
                                                </td>
                                                <td>
                                                    @item.PaymentToHeadGLName
                                                </td>
                                                <td>
                                                    @item.Remarks
                                                </td>
                                                <td>
                                                    @item.CreatedBy
                                                </td>
                                                <td style="text-align:right;">
                                                    @item.InAmount
                                                </td>


                                            </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th colspan="4">
                                                  Total
                                                </th>
                                              
                                                <th style="text-align:right;">
                                                    @paidTotal
                                                </th>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>




                            </div>
                            <div class="box-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


                
            }


        </div>

    </div>
</section>

@section scripts {

    <script type="text/javascript">


        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

            $("#ddOrderMasterId").change(function () {
                var orderMasterId = $('#ddOrderMasterId').val();
                $.ajax({
                       type: "GET",
                    url: "@Url.Action("GetOrderMasterPayableValue", "Procurement")",
                    datatype: "Json",
                    data: { companyId : "@Model.CompanyFK", orderMasterId: orderMasterId },
                    success: function (data) {

                        $('#txtPaidAmount').val(data);

                    }
                });
            });

             $("#ddlAccounting_BankOrCashParantId").change(function () {
                var bankOrCashParantId = $("#ddlAccounting_BankOrCashParantId").val();


                $.ajax({

                    type: "GET",
                    url: "@Url.Action("HeadGLByHead5ParentIdGet", "Vouchers")",
                    datatype: "Json",
                         data: { companyId: "@Model.CompanyFK", parentId: bankOrCashParantId},
                         success: function (data) {
                         var items = "";
                            if (data) {
                            $("#ddlAccounting_BankOrCashId").empty();
                            $(data).each(function (index, item) {
                                $("#ddlAccounting_BankOrCashId").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                            });

                        }
                    }
                });


        })
        });


    </script>
}


