
@{
    ViewData["Title"] = "PO List";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model KGERP.Service.Implementation.Procurement.VMPurchaseOrder

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>
        Purchase Order of <span style="color:blueviolet">@Model.SupplierName</span> 
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Dealer / Customer</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("PurchaseOrderBySupplier", "Collection", FormMethod.Post, new { id = "orderMasterByCustomerformId", @class = "formValidator", @enctype = "multipart/form-data" }))
            {
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box-danger">

                        <div class="box">
                            <div class="box-danger">
                                <div class="box-header">

                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table id="KgErpDataTable" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>SL</th>
                                                    <th>
                                                        PO No
                                                    </th>
                                                    <th>
                                                        Order Date
                                                    </th>
                                                    <th>
                                                        Delivery Date
                                                    </th>
                                                    <th>
                                                        Delivery Address
                                                    </th>
                                                    <th>
                                                        Total PO Amount
                                                    </th>
                                                    <th>
                                                        Paid Amount
                                                    </th>
                                                    <th>
                                                        Payable Amount
                                                    </th>
                                                    <th>
                                                        Supplier Payment
                                                    </th>
                                                </tr>
                                            </thead>
                                            @{int sl = 0;
                                            }
                                            <tbody>
                                                @foreach (var item in Model.DataList)
                                                {
                                                <tr>
                                                    <td>@(++sl)</td>
                                                    <td>
                                                        @item.CID
                                                    </td>
                                                    <td>
                                                        @item.OrderDate.Value.ToString("dd-MM-yyyy")
                                                    </td>
                                                    <td>
                                                        @item.DeliveryDate.Value.ToString("dd-MM-yyyy")
                                                    </td>
                                                    <td>
                                                        @item.DeliveryAddress
                                                    </td>
                                                    <td>
                                                        @item.TotalPOValue
                                                    </td>
                                                    <td>
                                                        @item.InAmount
                                                    </td>
                                                    <td>
                                                        @(item.TotalPOValue - item.InAmount)
                                                    </td>
                                                    <td style="width:180px;">
                                                        @Html.ActionLink("Supplier Payment", "PurchaseOrdersByID", "Collection", new { companyId = item.CompanyFK, supplierId = item.Common_SupplierFK, purchaseOrderId = item.PurchaseOrderId }, new { @title = "You can see all the L/C of this supplier & pay to supplier via L/C through this link", @class = "InlineBtn", @target = "_blank" })

                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>




                                </div>
                                <div class="box-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                
            }


        </div>

    </div>
</section>

@section scripts {

    <script type="text/javascript">


        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();


        });

    </script>
}


