
@{
    ViewData["Title"] = "Invoice List";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model KGERP.Service.Implementation.Procurement.VMPurchaseOrder

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>
        Payment History of PO No <a target="_blank" href="~/Procurement/ProcurementSalesOrderDetailsReport?companyId=@Model.CompanyFK&orderMasterId=@Model.PurchaseOrderId">@Model.CID</a>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Exporter / Supplier</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("PurchaseOrdersByID", "Collection", FormMethod.Post, new { id = "orderMasterByIDformId", @class = "formValidator", @enctype = "multipart/form-data" }))
            {
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
                @Html.HiddenFor(model => model.CompanyFK, new { id = "CompanyFK" })

                @Html.HiddenFor(model => model.PurchaseOrderId, new { id = "hidOrderMasterId" })
                @Html.HiddenFor(model => model.Common_SupplierFK, new { id = "hidOrderMasterId" })

                <div class="box-danger">
                    <div class="box">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Payment Date</label>
                                        <input name="PaymentDate" asp-for="PaymentDate" type="text" required="required" class="datePicker form-control" id="txtPaymentDate" placeholder="Payment Date" autocomplete="off">
                                        @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                              
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtDescription" class="col-form-label">Supplier Payable Amount:</label>
                                        <input name="PayableAmount" value="@(Convert.ToDecimal(Model.PayableAmount) - Model.InAmount)" asp-for="PayableAmount" type="text" readonly="readonly" class="form-control" id="txtPayableAmount">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtPaidAmount" class="col-form-label">Supplier Payment:</label>
                                        <input name="PaidAmount" asp-for="PaidAmount" type="text" required="required" class="form-control" id="txtPaidAmount" placeholder="Paid">

                                        @Html.ValidationMessageFor(model => model.PaidAmount, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                               
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="txtRemarks" class="col-form-label">Reference No:</label>
                                        @Html.TextAreaFor(model => model.Remarks, new { id = "txtRemarks", placeholder = "Reference No", @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-4">
                                </div>
                                <div class="col-lg-8 col-md-8">
                                    <button type="submit" id="poCreateBtn" class="btn btn-primary btn-block">
                                        <i class='fa fa-plus'></i>
                                        <span>Supplier Payment to @Model.SupplierName</span>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="box-danger">
                            <div class="box-header">
                                
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table id="KgErpDataTable" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th>
                                                    Payment Date
                                                </th>
                                                <th>
                                                    Reference No
                                                </th>
                                                <th>
                                                    Payment By
                                                </th>
                                                <th>
                                                    Paid
                                                </th>

                                            </tr>
                                        </thead>
                                        @{
                                            int sl = 0;
                                            decimal total = 0;
                                        }
                                        <tbody>
                                            @foreach (var item in Model.DataList)
                                            {
                                                total += item.InAmount;
                                            <tr>
                                                <td>@(++sl)</td>

                                                <td>
                                                    @item.PaymentDate.ToString("dd-MM-yyyy")
                                                </td>
                                                <td>
                                                    @item.Remarks
                                                </td>
                                                <td>
                                                    @item.CreatedBy
                                                </td>
                                                <td>
                                                    @item.InAmount
                                                </td>


                                            </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td></td>

                                                <th colspan="3">
                                                   TOTAL
                                                </th>
                                             
                                                <th>
                                                    @total
                                                </th>
                                               

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>




                            </div>
                            <div class="box-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


                
            }


        </div>

    </div>
</section>

@section scripts {

    <script type="text/javascript">


        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();


        });

    </script>
}


