@model KGERP.Service.ServiceModel.InstallmentTypeEditModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Edit", "InstallmentType", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.CompanyId)
    @Html.HiddenFor(model => model.InstallmentTypeId)
    @Html.HiddenFor(model => model.ModifiedBy)
    @Html.HiddenFor(model => model.ModifiedDate)

    <div class="form-horizontal">
        <h4>Update Installment Type</h4>
        <hr style="border-color:#ff0000; padding:0px;margin-top: 5px;margin-bottom: 5px; border-width: 2px;" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-5">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-5">
                @Html.LabelFor(model => model.IntervalMonths, htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.IntervalMonths, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                    @*@Html.CheckBoxFor(model => model.IsMonthly, htmlAttributes: new { @class = "form-control mt-2" })*@
                    @Html.ValidationMessageFor(model => model.IntervalMonths, "", new { @class = "text-danger" })
                </div>
            </div>



        </div>

        <div class="form-group">
            <div class="col-md-5">
                @Html.LabelFor(model => model.IsOneTime, htmlAttributes: new { @class = "control-label col-md-7" })
                <div class="col-md-5">
                    @Html.CheckBoxFor(model => model.IsOneTime, new { @class = "form-check-input mt-2 ", @style = "margin-top: 11px;" })
                    @*@Html.CheckBoxFor(model => model.IsMonthly, htmlAttributes: new { @class = "form-control mt-2" })*@
                    @Html.ValidationMessageFor(model => model.IsOneTime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("Index", new { companyId = Model.CompanyId})" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove-circle"></span>   Close
                </a>
                <button type="submit" class="btn btn-warning " onclick="javascript: return window.confirm('Are you sure?');" style="margin-left: 20px;"><span class="glyphicon glyphicon-floppy-disk"></span>Update</button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
}