@model KGERP.Service.ServiceModel.AccountHeadProcessModel



@using (Html.BeginForm("Create", "HeadGLs", FormMethod.Post, new { @novalidate = "novalidate" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CompanyId)
    @Html.HiddenFor(model => model.Status)
    @Html.HiddenFor(model => model.ParentId)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.LayerNo)

<div class="form-horizontal">
    @*<h4>@("[Parent Head] : [" + Model.ParentAccountName + "]") </h4>
        <hr style="border-color:#006747; padding:0px;margin-top: 10px;margin-bottom: 20px; border-width: 2px;" />*@
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.AccCode, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.AccCode, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.AccName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.AccName, new { htmlAttributes = new { @class = "form-control", @id = "txtAccountCode" } })
                @Html.ValidationMessageFor(model => model.AccName, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            @Html.LabelFor(model => model.OrderNo, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.OrderNo, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.OrderNo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="col-md-6">
      
    </div>

    <div class="col-md-6">
        <input type="submit"  style="margin-left:8px" class="btn btn-success pull-right" value="@Model.ButtonName" />
        <a href="@Url.Action("TreeView","HeadGLs",new { companyId=Model.CompanyId})" class="btn btn-danger pull-right">Close</a>


    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")



    <script type="text/javascript">
    </script>
}