
@using PagedList.Mvc;
@model KGERP.Service.ServiceModel.VMAccountHead
@using PagedList;
@{
    ViewBag.Title = "Accounting Head List";
    var message = TempData["message"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>
        Accounting Head List
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Accounting Head List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="box-danger">

                    <div class="box">
                        <div class="box-danger">
                            <div class="box-header">

                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table id="KgErpDataTable" class="table table-striped">
                                        <thead>
                                            <tr style="background-color:#32527B;color:#FFFFFF">
                                                <th>
                                                    SL
                                                </th>
                                                <td>
                                                    Chart 1
                                                </td>
                                                <td>
                                                    Chart 2
                                                </td>
                                                <td>
                                                    Chart 3
                                                </td>
                                                <td>
                                                    Chart 4
                                                </td>
                                                <td>
                                                    Chart 5
                                                </td>
                                                <td>
                                                    Accounting Head
                                                </td>
                                            </tr>
                                        </thead>
                                        @{int sl = 0;
                                        }
                                        <tbody>
                                            @foreach (var item in Model.DataList)
                                            {
                                                <tr>
                                                    <td>
                                                        @(++sl)
                                                    </td>
                                                    <td>
                                                        @item.Head1Name
                                                    </td>
                                                    <td>
                                                        @item.Head2Name
                                                    </td>
                                                    <td>
                                                        @item.Head3Name
                                                    </td>
                                                    <td>
                                                        @item.Head4Name
                                                    </td>
                                                    <td>
                                                        @item.Head5Name
                                                    </td>
                                                    <td>
                                                        @item.GLName
                                                    </td>

                                                </tr>

                                            }
                                        </tbody>

                                    </table>
                                </div>




                            </div>
                            <div class="box-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>



@section scripts {

    <script type="text/javascript">


        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();


        });

        function resetForm() {
            $('#commonCustomerformId')[0].reset();
            $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Add");

        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#customerIdDelete').val(id);
                $('#ActionIdDelete').val(3);

            }
        }

    </script>
}



