@model KGERP.Data.Models.AccountHead

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div>
    <h4>Account Head</h4>
    <hr style="border-color:red; padding:0px;margin-top: 10px;margin-bottom: 20px; border-width: 2px;" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Actcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Actname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Actname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Create", new { id = Model.OID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
