@model KGERP.ViewModel.ProductSubCategoryViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProductSubCategory.ProductSubCategoryId)
    @Html.HiddenFor(model => model.ProductSubCategory.CompanyId)
    @Html.HiddenFor(model => model.ProductSubCategory.ProductType)

    <div class="form-horizontal">
        <h4>Product Sub Category @Model.ProductSubCategory.ButtonName</h4>
        <hr style="border-color:#ff0000; padding:0px;margin-top: 5px;margin-bottom: 5px; border-width: 2px;" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.ProductSubCategory.ProductCategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ProductSubCategory.ProductCategoryId, new SelectList(Model.ProductCategories, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "dropdownsize form-control" })
                @Html.ValidationMessageFor(model => model.ProductSubCategory.ProductCategoryId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ProductSubCategory.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductSubCategory.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductSubCategory.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (Model.ProductSubCategory.CompanyId == 8)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.ProductSubCategory.BaseCommissionRate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProductSubCategory.BaseCommissionRate, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

        }

        <div class="form-group">
            @Html.LabelFor(model => model.ProductSubCategory.OrderNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductSubCategory.OrderNo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ProductSubCategory.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductSubCategory.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductSubCategory.Remarks, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductSubCategory.IsActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ProductSubCategory.IsActive)
                    @Html.ValidationMessageFor(model => model.ProductSubCategory.IsActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-offset-3 col-md-3">
            <div class="form-group">
                <a href="@Url.Action("Index",new {companyId=Request.QueryString["companyId"], productType=Request.QueryString["productType"]})" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove-circle"></span>   Close
                </a>
                <button type="submit" class="btn btn-primary" onclick="javascript: return SubmitForm();" style="margin-left: 20px;"><span class="glyphicon glyphicon-floppy-disk"></span>@Model.ProductSubCategory.ButtonName</button>
            </div>
        </div>
    </div>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        function SubmitForm() {
            var r = confirm("Are you sure to save this?");
            if (r == false) {
                return false;
            }
        }
    </script>
}
