@model KGERP.ViewModel.CreditRecoverViewModel
@{
    ViewBag.Title = "DashboardIndex";

    int companyId = Convert.ToInt32(Session["CompanyId"]);
}

<span style="font-size:20px">Dashboard</span>

<div class="row">
    <hr style="border-color:#ff0000; padding:0px;margin-top: 5px;margin-bottom: 5px; border-width: 2px;" />
    <table class="table table-striped">
        <tr style="background-color:#F1F1F1;">
            <th>Month</th>
            <th>Opening Due</th>
            <th>Collection Target</th>
            <th>Actual Collection</th>
            <th>Achievement (%)</th>
            <th>Closing Due</th>
            <th></th>
        </tr>
        @foreach (var monthlyTarget in Model.MonthlyTargets)
        {
            <tr style='background-color:@(DateTime.Now.ToString("MMM")==monthlyTarget.MonthName?"#90EE90":"White");font-weight:@(DateTime.Now.ToString("MMM")==monthlyTarget.MonthName?"bold":"")'>

                <th>@monthlyTarget.MonthName</th>
                <td>@monthlyTarget.OpeningDue</td>
                <td>@monthlyTarget.CollectionTarget</td>
                <td>@monthlyTarget.ActualCollection</td>
                <td>@(monthlyTarget.Achievement.ToString() + "%")</td>
                <td>@monthlyTarget.ClosingDue</td>
                <td>
                    <a href="@Url.Action("CompanyCreditRecoverDetailReport","CreditRecover",  new {monthNo=monthlyTarget.MonthNo,yearNo=monthlyTarget.YearNo,companyId=companyId})" class="btn btn-primary btn-xs">
                        <i class="fa fa-info-circle" aria-hidden="true"></i> Detail
                    </a>
                </td>
            </tr>
        }

        <tr style="background-color:#F1F1F1"><th colspan="8" class="text-center">Monthly Credit Recovery Status for Year @System.DateTime.Today.Year</th></tr>
    </table>
</div>

