@{
    ViewBag.Title = "Credit Recovery List";
    int companyId = Convert.ToInt32(Session["CompanyId"]);
}

<style>
    .notifyjs-happyblue-danger {
        color: white;
        background-color: red;
    }
</style>

<div class="row">
    <span style="font-size:20px;font-weight:bold">@ViewBag.Title</span>
    <a class="btn btn-info pull-right" onclick="PopupForm('@Url.Action("CreateOrEdit","CreditRecover")')" style="margin-bottom:10px"> <i class="fa fa-plus"></i> Add New</a>
</div>
<div class="row">
    <hr style="border-color:#ff0000; padding:0px;margin-top: 5px;margin-bottom: 5px; border-width: 2px;" />
    <table id="creditRecoverSearch" class="table table-striped" style="width:100%">
        <thead>
            <tr style="background-color:#4CAF50;color:#FFFFFF">
                <th nowrap>Company</th>
                <th nowrap>Customer</th>
                <th nowrap>Total Due</th>
                <th nowrap>Recover Amount</th>
                <th nowrap> Start Date</th>
                <th nowrap>Last Payment Date</th>
                <th nowrap>Action</th>
            </tr>
        </thead>
    </table>
</div>
<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    @*<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>*@
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            var companyId='@companyId'
            dataTable = $("#creditRecoverSearch").DataTable({
                "ajax": {
                    "url": "/CreditRecover/CreditRecovers?companyId=" + companyId,
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "CompanyName", "name": "CompanyName"},
                    { "data": "CustomerName", "name": "CustomerName" },
                    { "data": "Amount", "name": "Amount" },
                    { "data": "RecoverAmount", "name": "RecoverAmount" },
                    { "data": "StrStartDate", "name": "StrStartDate" },
                    { "data": "StrLastPaymentDate", "name": "StrLastPaymentDate" },
                    {
                        'data': "CreditRecoverId", 'render': function (data) {
                            return "<a class='btn btn-default btn-xs' onclick=PopupForm('@Url.Action("CreateOrEdit", "CreditRecover")/" + data + "')><i class='fa fa-edit'></i> Edit</a><a class='btn btn-primary btn-xs' onclick=Detail(" + data +") style='margin-left:5px'><i class='fa fa-info-circle'></i> Detail</a>";
                        },
                        "orderable": false,
                        "width": "120px"
                    }
                ],
                "language": {

                    "emptyTable": "No data found, Please click on <b>Add New</b> Button"
                },
                "serverSide": "true",
                "order": [0, "asc"],
                "processing": "true"


            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);
                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable:false,
                        title: "Fill Credit Recover Information",
                        height: 500,
                        width: 500,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    })
                })
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid) {
      
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "danger"
                            })

                        }
                    }
                })
            }
            return false;
        }
        

        function Detail(id) {
            location.href = "/CreditRecover/CreditRecoverDetailIndex?creditRecoverId="+id;
                   }

    </script>
}

