@model KGERP.ViewModel.CreditRecoverViewModel
@using System.Globalization
@{
    ViewBag.Title = "CreditRecoverDetailReport";
    string monthName = Model.MonthlyTargetDetails.Any()? new DateTime(Model.MonthlyTargetDetails.First().YearNo, Model.MonthlyTargetDetails.First().MonthNo, 1).ToString("MMMM", CultureInfo.InvariantCulture):"";
}



<span style="font-size:20px">@monthName Target Detail</span>

<div class="row">
    <hr style="border-color:#ff0000; padding:0px;margin-top: 5px;margin-bottom: 5px; border-width: 2px;" />
    <table class="table table-striped">
        <tr style="background-color:#4CAF50;color:#FFFFFF">
            <th>SL</th>
            <th>Company</th>
            <th>Opening Due</th>
            <th>Collection Target</th>
            <th>Actual Collection</th>
            <th>Acheivement</th>
            <th>Closing Due</th>
        </tr>
        @foreach (var monthlyTargetDetail in Model.MonthlyTargetDetails.Select((x, i) => new { Data = x, Index = i }))
        {
        <tr>
            <th>@(monthlyTargetDetail.Index + 1)</th>
            <th>@monthlyTargetDetail.Data.CompanyName</th>
            <td>@monthlyTargetDetail.Data.OpeningDue</td>
            <td>@monthlyTargetDetail.Data.CollectionTarget</td>
            <td>@monthlyTargetDetail.Data.ActualCollection</td>
            <td>@(monthlyTargetDetail.Data.Achievement.ToString() + "%")</td>
            <td>@monthlyTargetDetail.Data.ClosingDue</td>
        </tr>
        }

        <tr style="background-color:#F1F1F1"><th colspan="7" class="text-center">Monthly Credit Recovery Status for Year @System.DateTime.Today.Year</th></tr>
    </table>
</div>
