@model KGERP.Service.ServiceModel.CreditRecoverDetailModel
@{
    Layout = null;
}

@using (Html.BeginForm("DetailCreateOrEdit", "CreditRecover", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CreditRecoverId)
    @Html.HiddenFor(model => model.CreditRecoverDetailId)


<div class="form-group">
    @Html.LabelFor(model => model.RecoverDate, htmlAttributes: new { @class = "control-label" })
    <br />
    @Html.EditorFor(model => model.RecoverDate, new { htmlAttributes = new { @class = "datepicker", @style = "width:240px", @placeholder = "dd/mm/yyyy", @autocomplete = "off" } })
    @Html.ValidationMessageFor(model => model.RecoverDate, "", new { @class = "text-danger" })
</div>

    <div class="form-group">
        @Html.LabelFor(model => model.RecoverAmount, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.RecoverAmount, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
    </div>


    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn btn-danger" />
    </div>
}


<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.date.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


