@using PagedList.Mvc;
@model PagedList.IPagedList<KGERP.Service.ServiceModel.KttlCustomerModel>
@using PagedList;
@{
    ViewBag.Title = "Previous7DaysClientSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Previous7DaysClientSchedule", "KTTLCRM", FormMethod.Get))
{
    <div class="row" style="max-width:1000px;">
        <div class="col-md-5">
            <div class="form-group">
                <h4><b>Previous 7 Days Client Schedule</b></h4>
            </div>
        </div>
        <div class="col-md-5 pull-right">
            <div class="form-group">
                <div class="col-md-8">@Html.TextBox("searchText", null, new { @autocomplete = "off", @class = "form-control pull-right", @placeholder = "Search.." })</div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success">Search&nbsp;<i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
}

<hr style="border-color:red; padding:0px;margin-top: 10px;margin-bottom: 20px; border-width: 2px;" />
@if (Model.Count() == 0)
{
    <div><h2>No Data found !</h2></div>
}
else
{
    <table class="table">
        <tr style="background-color:#009270;color:#FFFFFF">
            <th>SL</th>
            <th nowrap>
                @Html.DisplayNameFor(model => model.First().FullName)
            </th>

            <th nowrap>
                @Html.DisplayNameFor(model => model.First().Services)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().MobileNo)
            </th>
            <th nowrap>
                @Html.DisplayNameFor(model => model.First().ResponsiblePerson)
            </th>
            <th nowrap>
                @Html.DisplayNameFor(model => model.First().LastMeetingDate1)
            </th>
            <th nowrap>
                @Html.DisplayNameFor(model => model.First().PurposeOfMeeting)
            </th>
            <th nowrap>
                Last 7 Days Date
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i }))
        {
        <tr>
            <td>
                @((item.Index + 1) + (Model.PageNumber - 1) * Model.PageSize)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.Data.FullName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Data.PassportNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data.Organization)
            </td>*@
            <td nowrap>
                @Html.DisplayFor(modelItem => item.Data.Services)
            </td>

            <td nowrap>
                @Html.DisplayFor(modelItem => item.Data.MobileNo)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.Data.ResponsiblePerson)
            </td>
            <td nowrap>
                @Html.DisplayFor(modelItem => item.Data.NextScheduleDate)
            </td>

            <td nowrap>
                @Html.DisplayFor(modelItem => item.Data.PurposeOfMeeting)
            </td>
            <td>
                <a href="@Url.Action("CreateOrEdit", new { id = item.Data.ClientId })" title="Edit Client" class="btn btn-success btn-xs">
                    Details
                </a>
            </td>
        </tr>
        }

    </table>

}
@if (Model.PageCount > 1)
{
    <span class="btn btn-success">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </span>
    <span class="checkbox">
        @Html.PagedListPager(Model, Page_No => Url.Action("Previous7DaysClientSchedule", "KTTLCRM", new { Page_No, Sorting_Order = Request.QueryString["Search"], SearchText = Request.QueryString["searchText"] }))
    </span>
}

