@model KGERP.Service.ServiceModel.StoreDetailModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want delete this item?</h3>
<div>
    <h4>StoreDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BatchId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BatchId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductCategory.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductCategory.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductSubCategory.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductSubCategory.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit.ShortName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.StoreDetailId)
        <div class="form-actions no-color">

            <a href="@Url.Action("Index", new { id = Model.StoreDetailId,storeId=Model.StoreId })" title="Delete" class="btn btn-openid">
                Close <i class="fa fa-times" aria-hidden="true"></i>
            </a>
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
