@model KGERP.Service.ServiceModel.StoreModel

@{
    var message = TempData["successMessage"];
    ViewBag.Title = "Finish Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>Finish Product List</h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li>
            <a href="@Url.Action("FinishProductOpenningCreateOrEdit", new { id = 0 })" class="btn btn-primary pull-right">
                <span class="fa fa-plus"></span> Opening Entry
            </a>
        </li>
    </ol>
</section>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="KgErpDataTable" style="width:100%;" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Received Date</th>
                                        <th>Received Code</th>
                                        <th>Supplier Name</th>
                                        <th>LC No</th>
                                        <th>Store Name</th>
                                        <th>Export</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td style="width:10px;">
                                                @(++sl)
                                            </td>
                                            <td>
                                                @item.ReceivedDate.Value.ToString("dd/MMM/yyyy")
                                            </td>
                                            <td>@item.ReceivedCode</td>
                                            <td>
                                                @item.SupplierName
                                            <td>
                                                @item.LcNo
                                            </td>
                                            <td>
                                                @item.StoreName
                                            </td>
                                            <td>
                                                @if (Request.QueryString["companyId"].Equals("10"))
                                                {
                                                    <a href="@Url.Action("GetKFMALCOstingReport","Report", new {storeId=item.StoreId})" title="Report" target="_blank" class="btn btn-info btn-xs">
                                                        <i class="fa fa-download" style="font-size:15px;" aria-hidden="true"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("GetFinishProductStoreReport","Report", new {storeId=item.StoreId,reportName="FinishProductStockIn"})" target="_blank" class="btn btn-primary btn-xs">
                                                        Report
                                                    </a>
                                                }
                                            </td>

                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });
        var message = '@message';
    if(message){
        alert(message);
    }

    </script>

}

