@model KGERP.Data.CustomModel.SoreProductQty

@{
    var message = TempData["successMessage"];
    ViewBag.Title = "Store Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>Store Inventory</h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li>
            <a href="@Url.Action("CreateOrEdit",new {id=0,type=Request.QueryString["type"] })" class="btn btn-primary pull-right">
                <span class="fa fa-plus"></span> New Receive
            </a>
        </li>
    </ol>
</section>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-body">
                        @using (Html.BeginForm("GetStoreProduct", "Store", FormMethod.Get))
                        {
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>
                                        <b>
                                            Store Inventory
                                        </b>
                                    </h4>
                                </div>
                                <div class="col-md-8 input-group">
                                    <div class="col-md-8">@Html.TextBox("searchText", null, new { @autocomplete = "off", @class = "form-control", @placeholder = "Search..." })</div>
                                    <div class="col-md-4 input-append">
                                        <button type="submit" class="btn btn-success left"><i class="fa fa-search"></i></button>
                                        <a href="@Url.Action("GetStockReport","Report",new {companyId=Request.QueryString["companyId"],reportName="StockReport" })" title="Download Invoice" target="_blank" class="btn btn-warning">
                                            @*<i class="fa fa-download" aria-hidden="true"></i>*@
                                            Report
                                        </a>
                                    </div>


                                </div>
                                </div>
                                }
                                <div class="table-responsive">
                                    <table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th style="width:10%;">SL</th>
                                                <th style="width:10%;">Store Name </th>
                                                <th style="width:10%;">Product Name </th>
                                                <th style="width:10%;">Quantity</th>
                                            </tr>
                                        </thead>
                                        @{int sl = 0;
                                        }
                                        <tbody>
                                            @foreach (var item in Model.DataList)
                                            {
                                                <tr>
                                                    <td style="width:10px;">
                                                        @(++sl)
                                                    </td>
                                                    <td>
                                                        @item.StoreName
                                                    </td>
                                                    <td>@item.ProductName</td>
                                                    <td>
                                                        @item.Quantity
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });
        var message = '@message';
    if(message){
        alert(message);
    }

    </script>

}

