@model List<KGERP.Service.ServiceModel.EmiDetailModel>


<table class="table">
    <tr style="background-color:#009270;color:#FFFFFF">
        <th style="width:100px">
            SL
        </th>

        <th style="width:100px">
            Installment Date
        </th>
        <th style="width:100px">
            Installment Amount
        </th>
    </tr>
    @for (int i = 0; i < Model.Count(); i++)
    {
        <tr>

            <td>

                @(i + 1)


            </td>

            <td>
                @Convert.ToString(string.Format("{0:dd MMM yyyy}", (Model[i].InstallmentDate)))

                @Html.Hidden("emiDetail[" + i + "].InstallmentDate", Convert.ToDateTime(Model[i].InstallmentDate), new { @readonly = "readonly", @class = "form-control" })
            </td>
            <td>
                @(Model[i].InstallmentAmount)
                @Html.Hidden("emiDetail[" + i + "].InstallmentAmount", Model[i].InstallmentAmount, new { @readonly = "readonly", @class = "form-control" })
            </td>

        </tr>
    }
    <tr>
        <td colspan="13">

            <input type="submit" value="Submit" class="btn btn-success" style="float:right; margin-left:2px" />

            <a href="@Url.Action("Index","EMI",new {companyId= Request.QueryString["companyId"]})" class="btn btn-danger" style="float:right">
                Close <i class="fa fa-close" aria-hidden="true"></i>
            </a>
            &nbsp;
        </td>
    </tr>

</table>







