@model KGERP.ViewModel.PFormulaDetailViewModel

@using (Html.BeginForm("CreateOrEditPFormulaDetail", "ProductFormula", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade bd-example-modal-lg" id="addOrEditModal" tabindex="-1" role="dialog" aria-labelledby="addOrEditModalTitle" aria-hidden="true" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <b class="modal-title" id="addOrEditModalTitle" style="color:blue">Product Formula</b>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <div class="row">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(x => x.PFormulaDetail.ProductFormulaId)
                            @Html.HiddenFor(x => x.PFormulaDetail.PFormulaDetailId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.PFormulaDetail.RProductId, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.PFormulaDetail.RProductId, new SelectList(Model.RawMaterials, "Value", "Text"), "--Select--", htmlAttributes: new { @id = "ddlRawMaterial", @class = "dropdownsize form-control", @onchange = "getRProcessLoss()" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.PFormulaDetail.RQty, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PFormulaDetail.RQty, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PFormulaDetail.RProcessLoss, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.PFormulaDetail.RProcessLoss, new { htmlAttributes = new { @id = "txtRProcessLoss", @class = "form-control" } })
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-offset-4">
                                    <input type="submit" value="@Model.PFormulaDetail.ButtonName" id="apply" class="btn btn-success" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}





