@model KGERP.Service.ServiceModel.ProductFormulaModel

@{
    var message = TempData["successMessage"];
    ViewBag.Title = "Product Formula List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Product Formula List
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li>
            <a href="@Url.Action("CreateOrEdit",new { productFormulaId =0})" class="btn btn-primary pull-right">
                <span class="fa fa-plus"></span> Add New Formula
            </a>
        </li>
    </ol>
</section>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-body">

                       
                        <div class="table-responsive">
                            <table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>

                                        <th>Formula Date</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                       
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td style="width:10px;">
                                                @(++sl)
                                            </td>
                                            <td>
                                                @item.FormulaDate.Value.ToShortDateString()
                                            </td>
                                            <td>@item.ProductName</td>
                                            <td>
                                                @item.FQty
                                            </td>
                                                     
                                            <td>
                                                <a href="@Url.Action("CreateOrEdit", new { productFormulaId = item.ProductFormulaId })" title="Edit" class="btn btn-primary btn-xs">
                                                    <i class="fa fa-edit" style="font-size:15px;" aria-hidden="true"></i>
                                                </a>        
                                                <a href="@Url.Action("ProuctFormulaDetails", new {companyId=item.CompanyId, productFormulaId = item.ProductFormulaId })" title="Raw Materials" class="btn btn-warning btn-xs">
                                                    <i class="fa fa-wrench" style="font-size:15px;" aria-hidden="true"></i>
                                                </a>
                                            </td>                                    
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });
        var message = '@message';
    if(message){
        alert(message);
    }
    </script>
}






