@model  KGERP.Data.CustomModel.TeamLeaveBalanceCustomModel
@{
    ViewBag.Title = "TeamLeave Balance";
    int sl = 0;
}

<h3>Team Leave Status</h3>
@using (Html.BeginForm("TeamLeaveBalance", "LeaveApplication", FormMethod.Post, new {  @class = "formValidator" }))
{
    <div class="row mb-2">

        <div class="col-md-3">
            <div class="form-group">
                <label>Selected Year</label>
                <br />
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.SelectedYear, new SelectList(Model.SelectedYearList, "Value", "Text"), "---Select---", new { @class = "dropdownsize form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-3" style="padding: 0px 2px 0px 8px;">
            <div class="form-group">
                <label>&nbsp;</label>
                <button type="submit" id="btnSave" class="btn btn-primary btn-block">Show</button>
            </div>
        </div>
    </div>
}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th colspan="2">Employee Information</th>
                <th colspan="2" class="text-center">Casual Leave</th>
                <th colspan="2" class="text-center">Scik Leave</th>
                <th colspan="2" class="text-center">Earn Leave</th>
                <th colspan="2" class="text-center">Marriage Leave</th>
                <th colspan="2" class="text-center">Maternity Leave</th>
                <th colspan="2" class="text-center">Hajj Leave (By Management)</th>
                <th colspan="2" class="text-center">Leave Without Pay</th>
            </tr>
            <tr>
                <th>SL.</th>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Availed</th>
                <th>Due</th>
                <th>Availed</th>
                <th>Due</th>
                <th>Availed</th>
                <th>Due</th>
                <th>Availed</th>
                <th>Due</th>
                <th>Availed</th>
                <th>Due</th>
                <th>Availed</th>
                <th>Due</th>
                <th>Availed</th>
                <th>Due</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DataList)
            {
                <tr>
                    <th>@(++sl)</th>
                    <td><b>@item.EmployeeId</b></td>
                    <td><b>@item.Name</b></td>
                    <td style="color:red"><b>@item.CLAvailed</b></td>
                    <td style="color:green"><b>@item.CLDue</b></td>
                    <td style="color:red"><b>@item.SLAvailed</b></td>
                    <td style="color:green"><b>@item.SLDue</b></td>
                    <td style="color:red"><b>@item.ELAvailed</b></td>
                    <td style="color:green"><b>@item.ELDue</b></td>
                    <td style="color:red"><b>@item.MrgAvailed</b></td>
                    <td style="color:green"><b>@item.MrgDue</b></td>
                    <td style="color:red"><b>@item.MtrAvailed</b></td>
                    <td style="color:green"><b>@item.MtrDue</b></td>
                    <td style="color:red"><b>@item.HjAvailed</b></td>
                    <td style="color:green"><b>@item.HjDue</b></td>
                    <td style="color:red"><b>@item.LwAvailed</b></td>
                    <td style="color:green"><b>@item.LwDue</b></td>
                </tr>
            }
        </tbody>

    </table>

