@model KGERP.Service.ServiceModel.ProductModel

@{
    var message = TempData["successMessage"];
    ViewBag.Title = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>Product List</h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li>
            <a href="@Url.Action("CreateOrEdit", new { id = 0,productType=Request.QueryString["productType"] })" class="btn btn-primary pull-right">
                <span class="fa fa-plus"></span> Add Product
            </a>
        </li>
    </ol>
</section>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="KgErpDataTable" style="width:100%; background-color: #ddd;" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width:5%;">SL</th>
                                        <th style="width:10%;">Category</th>
                                        <th style="width:10%;">Sub Category</th>
                                        <th style="width:15%;">Product</th>
                                        <th style="width:5%;">Code</th>
                                        <th style="width:5%;">Unit</th>
                                        <th style="width:5%;"><small>Unit Price</small></th>
                                        <th style="width:5%;"><small>TP Price</small></th>
                                        <th style="width:5%;">Die size</th>
                                        <th style="width:5%;"><small>Pack Size</small></th>
                                        <th style="width:15%;">Pack Name</th>
                                        <th style="width:5%;"><small>Process Loss (%)</small></th>             
                                        <th style="width:10%;" class="text-center">Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td style="width:10px;">@(++sl)</td>
                                            <td>@item.CategoryName</td>
                                            <td>@item.SubCategoryName</td>
                                            <td>@item.ProductName</td>
                                            <td>@item.ProductCode</td>
                                            <td>@item.UnitName</td>
                                            @if (item.ProductType.Equals("F"))
                                            {
                                                <td>@item.UnitPrice</td>
                                                <td>@item.TPPrice</td>
                                                <td>@item.DieSize</td>
                                                <td>@item.PackSize</td>
                                                <td>@item.PackName</td>
                                                <td>@item.ProcessLoss</td>
                                            }

                                            <td class="text-center">
                                                <a href="@Url.Action("CreateOrEdit", new { id = item.ProductId,companyId=Request.QueryString["companyId"],productType=Request.QueryString["productType"] })" title="Edit" class="btn btn-info btn-xs">
                                                    <i class="fa fa-edit" style="font-size:15px;" aria-hidden="true"></i>
                                                </a>

                                                <a href="@Url.Action("Delete", new { id = item.ProductId,companyId=Request.QueryString["companyId"],productType=Request.QueryString["productType"] })" title="Delete" class="btn btn-danger btn-xs">
                                                    <i class="fa fa-trash" style="font-size:15px;" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });
        var message = '@message';
    if(message){
        alert(message);
    }
    </script>
}
