@using KGERP.Utility
@model KGERP.Data.CustomModel.DashBoardViewModel
@{
    ViewBag.Title = "Index";
}
<style>

    .small-box:hover {
        color: black !important;
    }
</style>
<div style="color:forestgreen;padding:10px; text-align:justify">
    <center>
        <img style="height:100px;" src=@CompanyInfo.CompanyLogoUrl />
        <div class="section-title">
            <h3 style="font-size: 40px;"><b style="color: black;">Welcome</b> <b style="color: black;">To</b> <b style="color: #007f3d;">@CompanyInfo.CompanyName</b></h3>
        </div>
        <br />


        <div class="row">

            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box " style=" box-shadow: 0 5px 16px rgba(0, 0, 0, 0.4);">
                    <div class="inner">
                        <h2> <b>@Model.Totalvendor</b></h2>

                        <p>Customers</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person"></i>
                    </div>
                    <a href="/Collection/CommonCustomerList?companyId=21" class="small-box-footer" style="background-color: forestgreen;">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box " style=" box-shadow: 0 5px 16px rgba(0, 0, 0, 0.4);">
                    <div class="inner">
                        <h2><b>@Model.TotalSale</b>  <sup style="font-size: 20px"></sup></h2>

                        <p>Today's  Sale</p>
                    </div>
                    <div class="icon">
                        <i class="ion  ion-android-cart"></i>
                    </div>
                    <a href="/Procurement/ProcurementSalesOrderList?companyId=21" class="small-box-footer" style="background-color: forestgreen;">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box " style=" box-shadow: 0 5px 16px rgba(0, 0, 0, 0.4);">
                    <div class="inner">
                        <h2> <b>@Model.TotalSaleAmmount</b> </h2>

                        <p> Today's Sale Amount</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-social-usd"></i>
                    </div>
                    <a href="/Procurement/ProcurementSalesOrderList?companyId=21" class="small-box-footer" style="background-color: forestgreen;">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box " style=" box-shadow: 0 5px 16px rgba(0, 0, 0, 0.4);">
                    <div class="inner">
                        <h2> <b>@Model.Collection</b> </h2>

                        <p> Today's Collection</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-social-usd-outline"></i>
                    </div>
                    <a href="/Collection/CommonCustomerList?companyId=21" class="small-box-footer" style="background-color: forestgreen;">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box " style=" box-shadow: 0 5px 16px rgba(0, 0, 0, 0.4);">
                    <div class="inner">
                        <h2><b> @Model.Totalsupplier</b> </h2>

                        <p> Supplier</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person"></i>
                    </div>
                    <a href="/Collection/CommonSupplierList?companyId=21" class="small-box-footer" style="background-color:#ed1c24;">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box " style=" box-shadow: 0 5px 16px rgba(0, 0, 0, 0.4);">
                    <div class="inner">
                        <h2><b>@Model.TotalPurchase</b> <sup style="font-size: 20px"></sup></h2>

                        <p>Today's  Purchase</p>
                    </div>
                    <div class="icon">
                        <i class="ion  ion-android-cart"></i>
                    </div>
                    <a href="/WareHouse/WareHousePurchaseOrder?companyId=21" class="small-box-footer" style="background-color: #ed1c24;">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box " style=" box-shadow: 0 5px 16px rgba(0, 0, 0, 0.4);">
                    <div class="inner">
                        <h2> <b>@Model.TotalPurcaseAmmount</b> </h2>

                        <p>
                            Today's Purchase Amount
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-social-usd"></i>
                    </div>
                    <a href="/WareHouse/WareHousePurchaseOrder?companyId=21" class="small-box-footer" style="background-color: #ed1c24;">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box " style=" box-shadow: 0 5px 16px rgba(0, 0, 0, 0.4);">
                    <div class="inner">
                        <h2> <b>@Model.Payment</b> </h2>

                        <p> Today's Payment</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-social-usd-outline"></i>
                    </div>
                    <a href="/Collection/CommonSupplierList?companyId=21" class="small-box-footer" style="background-color: #ed1c24;">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box " style=" box-shadow: 0 5px 16px rgba(0, 0, 0, 0.4);">
                    <div class="inner">
                        <h2> <b>@Model.TotalmonthPurchaseAmmount</b></h2>

                        <p>Last Month Purchase Amount</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-cart"></i>
                    </div>
                    <a href="/Collection/CommonCustomerList?companyId=21" class="small-box-footer" style="background-color: forestgreen;">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box " style=" box-shadow: 0 5px 16px rgba(0, 0, 0, 0.4);">
                    <div class="inner">
                        <h2><b>@Model.TotalMonthSeleAmmount</b>  <sup style="font-size: 20px"></sup></h2>

                        <p>last Month sale Amount</p>
                    </div>
                    <div class="icon">
                        <i class="ion  ion-android-cart"></i>
                    </div>
                    <a href="/Procurement/ProcurementSalesOrderList?companyId=21" class="small-box-footer" style="background-color: forestgreen;">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box " style=" box-shadow: 0 5px 16px rgba(0, 0, 0, 0.4);">
                    <div class="inner">
                        <h2> <b>@Model.MonthPurchasePayment</b> </h2>

                        <p> Last Month Payment</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-social-usd"></i>
                    </div>
                    <a href="/Procurement/ProcurementSalesOrderList?companyId=21" class="small-box-footer" style="background-color: forestgreen;">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box " style=" box-shadow: 0 5px 16px rgba(0, 0, 0, 0.4);">
                    <div class="inner">
                        <h2> <b>@Model.MonthSaleCollection</b> </h2>

                        <p> last Month Collection</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-social-usd-outline"></i>
                    </div>
                    <a href="/Collection/CommonCustomerList?companyId=21" class="small-box-footer" style="background-color: forestgreen;">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <a href="/Report/MonthlyTopsheet?companyId=21" ><strong>Go To Top Sheet</strong> </a>





        <!--<div class="card card-success">
        <div class="card-header">
            <h3 class="card-title">Bar Chart</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="chart">
                <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
        </div>-->
        <!-- /.card-body -->
        <!--</div>-->




    </center>
</div>








