@model KGERP.Service.ServiceModel.SupplierProductViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
    .badge-primary {
        color: #fff;
        background-color: #007bff;
    }
</style>
<section class="content-header">
    <h1>
        Supplier Product List
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Finish Product BOM</li>
    </ol>
</section>

<section class="content">
    <section class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-footer">
                    <div class="box-body">
                        <div class="table-responsive text-nowrap">
                            <table id="KgErpDataTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>
                                            Supplier Name
                                        </th>
                                        <th>
                                            Mobile
                                        </th>
                                        <th>
                                            Address
                                        </th>
                                        <th style="text-align:center">
                                            Product Count
                                        </th>


                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @if (Model.DataList != null)
                                    {
                                        foreach (var item in Model.DataList)
                                        {
                                            <tr>
                                                <td>@(++sl)</td>
                                                <td>
                                                    <a href="/Report/SupplierProductReport?customerId=@item.VendorId&&companyId=@Model.CompanyId">  @item.VendorName </a>  
                                                </td>
                                                <td>
                                                    @item.Phone
                                                </td>
                                                <td>
                                                    @item.Address
                                                </td>
                                                <td style="text-align:center">
                                                    <a href="/SupplierProduct/SupplierProductBOM?vendorId=@item.VendorId&&companyId=@Model.CompanyId" class="badge badge-primary">@item.Count</a>
                                                
                                                </td>

                                                <td>
                                                    <a href="/SupplierProduct/SupplierProductBOM?vendorId=@item.VendorId&&companyId=@Model.CompanyId">Details</a>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
