@model KGERP.Service.ServiceModel.BillRequisitionItemBoQMapModel
@using KGERP.Utility;

@{
    ViewData["Title"] = "Bill Requisition Item Approval List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;
}

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>
        <span>
            Budget And Estimating Item Approval List
        </span>

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">
            Budget And Estimating Item Approval List
        </li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-body">
                        @using (Html.BeginForm("BudgetAndEstimatingApproval", "BillRequisition", FormMethod.Post, new { id = "dealerReceivedListFormId", @class = "formValidator" }))
                        {
                            @Html.HiddenFor(model => model.CompanyFK, new { id = "CompanyId" })

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="ProjectId" class="form-control-label">Select Project<sup class="text-danger" title="Required"><b>*</b></sup></label>
                                        @Html.DropDownListFor(model => model.ProjectId, new SelectList(Model.Projects.OrderBy(order => order.Name), "CostCenterId", "Name"), "==Select Project Type First==", new { id = "ddlProjectId", @class = "form-control searchingDropdown", style = "width:100%", required = "required" })
                                        @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="BoQDivisionId" class="form-control-label">Select BoQ Division</label>
                                        @Html.DropDownListFor(model => model.BoQDivisionId, Model.BoqDivisionsSelectList, "==Select BoQ Division==", new { id = "ddlBoQDivisionId", @class = "form-control searchingDropdown", style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.BoQDivisionId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="BoQItemId" class="form-control-label">Select BoQ Item</label>
                                        @Html.DropDownListFor(model => model.BoQItemId, Model.BoqItemSelectList, "==Select BoQ Item==", new { id = "ddlBoQItemId", @class = "form-control searchingDropdown", style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.BoQItemId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.Label("Status:", htmlAttributes: new { @class = "control-label" })
                                        <br />
                                        @Html.DropDownListFor(model => model.BNEApprovalStatus, Model.EnumBNEStatusList as SelectList, "==Select Status==", new { id = "ddlStatusEnumFK", @class = "form-control ddlReset searchingDropdown", style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.BNEApprovalStatus, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">

                                </div>

                                <div class="col-md-3" style="padding: 0px 2px 0px 8px;">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block">Show</button>
                                    </div>
                                </div>
                            </div>

                        }

                        <hr />

                        @using (Html.BeginForm("BudgetAndEstimatingApprovalList", "BillRequisition", FormMethod.Post, new { id = "budgetAndEstimatingApprovalListFormId", @class = "formValidator" }))
                        {
                            if (Model.BoQItemProductMaps?.Any() ?? false)
                            {


                                <table id="KgErpDataTable33" class="table table-bordered table-striped table-responsive">
                                    <thead>
                                        <tr class="bg-gray">
                                            <th>SL</th>
                                            <th>BoQ Division</th>
                                            <th>BoQ Name</th>
                                            <th>Material Type</th>
                                            <th>Material Subtype</th>
                                            <th>Material </th>
                                            <th>Estimated Qty</th>
                                            <th>Unit Price</th>
                                            <th>Total Amount</th>

                                            @if (Model.BNEApprovalStatus == EnumBudgetAndEstimatingApprovalStatus.Revised)
                                            {
                                                <th>Action</th>
                                            }


                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{
                                            int i = 0;
                                        }
                                        @foreach (var item in Model.BoQItemProductMaps)
                                        {
                                            <tr>
                                                <td>
                                                    @(++sl)
                                                </td>
                                                <td id="tdBoqDivisionName_@item.BoQItemProductMapId">@item.DivisionName</td>
                                                <td id="tdBoqItemNo_@item.BoQItemProductMapId"><small class="label label-primary">@item.BoqNumber</small> @item.BoqName</td>
                                                <td id="tdBoqMaterialName_@item.BoQItemProductMapId">@item.MaterialTypeName</td>
                                                <td id="tdBoqMaterialName_@item.BoQItemProductMapId">@item.MaterialSubtypeName</td>
                                                <td id="tdBoqMaterialName_@item.BoQItemProductMapId">@item.MaterialName</td>
                                                @if (item.ApprovalStatus == (int)EnumBudgetAndEstimatingApprovalStatus.Pending || item.ApprovalStatus == (int)EnumBudgetAndEstimatingApprovalStatus.Revised)
                                                {
                                                    <td><input id="quantityHidden_@item.BoQItemProductMapId" name="@item.EstimatedQtyList[i]" value="@item.EstimatedQty" /></td>

                                                    <td> <input id="unitRateHidden_@item.BoQItemProductMapId" name="@item.UnitRateList[i]" value="@item.UnitRate" /> </td>

                                                }
                                                else
                                                {
                                                    <td id="tdBoqEstimateQty_@item.BoQItemProductMapId">@item.EstimatedQty</td>
                                                    <td id="tdBoqUnitRate_@item.BoQItemProductMapId">@item.UnitRate</td>

                                                }
                                                <td class="totalValue" id="tdBoqEstimateAmount_@item.BoQItemProductMapId">@item.EstimatedAmount</td>

                                                @if (Model.BNEApprovalStatus == EnumBudgetAndEstimatingApprovalStatus.Revised)
                                                {
                                                    <td id="reApprovedBtn"><a class="btn btn-warning"> Re Approved</a> </td>
                                                }
                                            </tr>

                                            i++;
                                        }
                                    </tbody>
                                </table>
                                if (Model.BNEApprovalStatus != EnumBudgetAndEstimatingApprovalStatus.Approved)
                                {
                                    <div class="box-footer">
                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3">
                                                <a class="btn btn-danger btn-block linkPointer" data-toggle="modal" data-target="#RejectedModalId" data-placement="top">Proceed to Reject</a>
                                            </div>
                                            <div class="col-md-3">
                                                <a class="btn btn-primary btn-block linkPointer" data-toggle="modal" data-target="#ApprovedModalId" data-placement="top">Proceed to Approve</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Approve Modal-->
                                    <div class="modal fade" id="ApprovedModalId" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                                        &times;
                                                    </button>
                                                    <h4 class="modal-title text-primary"><b>B & E Item Approval</b></h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">

                                                        <div class="col-md-7">
                                                            <div class="form-group">
                                                                <label class="form-label text-secondary">Approval Remarks</label>
                                                                @Html.TextAreaFor(model => model.Remarks, new { @class = "modal-input form-control" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            @*<div class="form-group">
                                                                    <label class="form-label text-secondary">Choose Payment Method<sup class="text-danger" title="Requied"><b>*</b></sup></label>
                                                                    <div class="custom-control custom-radio custom-control-inline">
                                                                        <input type="radio" id="cash" value="Cash" name="VoucherPaymentStatus" class="custom-control-input" required>
                                                                        <label class="custom-control-label" for="cash">Pay with cash</label>
                                                                    </div>
                                                                    <div class="custom-control custom-radio custom-control-inline">
                                                                        <input type="radio" id="cheque" value="Cheque" name="VoucherPaymentStatus" class="custom-control-input" required>
                                                                        <label class="custom-control-label" for="cheque">Pay with cheque</label>
                                                                    </div>
                                                                </div>*@
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" id="btnClose" onclick="resetForm()" class="btn btn-outline-warning" data-dismiss="modal">Go Back</button>
                                                    <button type="submit" id="btnDelete" class="deleteId btn btn-success">Approve</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("MDReject", "BillRequisition", FormMethod.Post, new { id = "RejectedFormId", @class = "formValidator", onreset = "resetDDL();" }))
{
    @Html.HiddenFor(model => model.BoQItemProductMapId, new { Value = Model.BoQItemProductMapId, id = "RejectedBillRequisitionMasterId" })

    <div class="modal fade" id="RejectedModalId" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h4 class="modal-title text-primary"><b>Bill Requisition Rejection</b></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 py-5">
                            <label class="text-secondary">The reason for the rejection :</label>
                        </div>
                        <div class="col-md-12 py-5">
                            @Html.TextAreaFor(model => model.Remarks, new { @class = "modal-input form-control" })
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" onclick="resetForm()" class="btn btn-outline-warning" data-dismiss="modal">Go Back</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-danger">Reject</button>
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/cssjqryUi")

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('#ddlStatusEnumFK').removeAttr('title');
            $("#ddlBoQDivisionId").empty();
            $("#ddlBoQDivisionId").append("<option selected disabled>==Select Project==</option>");

            $("#ddlBoQItemId").empty();
            $("#ddlBoQItemId").append("<option selected disabled>==Select BoQ Division==</option>");
        });

        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });

        function resetForm() {

            $('#dealerReceivedListFormId')[0].reset();
            $('#SOEditActionId').val(1);
        }

        $('#KgErpDataTable33').dataTable({
            "pageLength": 100
        });

        $("#ddlProjectId").on('change', function () {

            var getProjectId = $("#ddlProjectId").val();
            var showBoqDivisionList = $("#ddlBoQDivisionId");
            $.ajax({
                type: "GET",
                url: "/BillRequisition/getBoqDivisionList",
                dataType: "json",
                data: { id: getProjectId },
                success: function (data) {
                    showBoqDivisionList.empty();
                    showBoqDivisionList.append("<option selected disabled>==Select BoQ Division==</option>");

                    $.each(data, function (index, item) {
                        showBoqDivisionList.append($('<option>', {
                            value: item.BoqDivisionId,
                            text: item.Name
                        }));
                    });
                }
            });

        })

        $("#ddlBoQDivisionId").on('change', function () {

            var getBoqDivisionId = $("#ddlBoQDivisionId").val();
            var showBoqItemList = $("#ddlBoQItemId");

            $.ajax({
                type: "GET",
                //url: "/BillRequisition/getBoqItemList",
                url: "/BillRequisition/getBoqItemListWithBoqNumber",
                dataType: "json",
                data: { id: getBoqDivisionId },
                success: function (data) {
                    showBoqItemList.empty();
                    showBoqItemList.append("<option selected disabled>==Select BoQ Item==</option>");

                    $.each(data, function (index, item) {
                        showBoqItemList.append($('<option>', {
                            value: item.BoQItemId,
                            text: item.Name
                        }));
                    });
                }
            });

        });
    </script>
}