@model KGERP.Service.ServiceModel.BillRequisitionItemBoQMapModel
@using KGERP.Utility;

@{
    ViewData["Title"] = "Budget & Estimating Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;
}

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }

    .table-wrapper {
        max-height: 600px;
        overflow: auto;
        display: inline-block;
    }
</style>

<section class="content-header">
    <h1>
        <span>
            Budget & Estimating Approval
        </span>

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">
            Budget & Estimating Approval
        </li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-body">
                        @using (Html.BeginForm("BudgetAndEstimatingApproval", "BillRequisition", FormMethod.Post, new { id = "dealerReceivedListFormId", @class = "formValidator" }))
                        {
                            @Html.HiddenFor(model => model.CompanyFK, new { id = "CompanyId" })

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="ProjectId" class="form-control-label">Project<sup class="text-danger" title="Required"><b>*</b></sup></label>
                                        @Html.DropDownListFor(model => model.ProjectId, new SelectList(Model.Projects.OrderBy(order => order.Name), "CostCenterId", "Name"), "==Select Project==", new { id = "ddlProjectId", @class = "form-control searchingDropdown", style = "width:100%", required = "required" })
                                        @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="BoQDivisionId" class="form-control-label">BoQ Division</label>
                                        @Html.DropDownListFor(model => model.BoQDivisionId, new SelectList(Model.BoqDivisionsSelectList, "Text", "Value"), "==Select Division==", new { id = "ddlBoQDivisionId", @class = "form-control searchingDropdown", style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.BoQDivisionId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="BoQItemId" class="form-control-label">BoQ Item</label>
                                        @Html.DropDownListFor(model => model.BoQItemId, new SelectList(Model.BoqItemSelectList, "Value", "Text"), "==Select BoQ Item==", new { id = "ddlBoQItemId", @class = "form-control searchingDropdown", style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.BoQItemId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="ProjectId" class="form-control-label">Status<sup class="text-danger" title="Required"><b>*</b></sup></label>
                                        <br />
                                        @Html.DropDownListFor(model => model.BNEApprovalStatus, Model.EnumBNEStatusList as SelectList, "==Select Status==", new { id = "ddlStatusEnumFK", @class = "form-control ddlReset searchingDropdown", style = "width:100%", required = "required" })
                                        @Html.ValidationMessageFor(model => model.BNEApprovalStatus, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9"></div>

                                <div class="col-md-3" style="padding: 0px 2px 0px 8px;">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block">Show</button>
                                    </div>
                                </div>
                            </div>

                        }

                        <hr />

                        @using (Html.BeginForm("BudgetAndEstimatingApprovalProcess", "BillRequisition", FormMethod.Post, new { id = "budgetAndEstimatingApprovalListFormId", @class = "formValidator" }))
                        {

                            //@Html.HiddenFor(model => model.BoQMapVmList, new { id = "BoQMapVmList" })
                            if (Model.BoQItemProductMaps?.Any() ?? false)
                            {
                                <div class="table-wrapper">

                                    <table @*id="KgErpDataTable33"*@ class="table table-responsive table-bordered table-striped table-fixed">
                                        <thead class="sticky-top fixed-bottom">
                                            <tr class="bg-gray">
                                                <th>SL</th>
                                                <th>BoQ Division</th>
                                                <th>BoQ Name</th>
                                                <th>Material Type</th>
                                                <th>Material Subtype</th>
                                                <th>Material </th>
                                                <th>Estimated Qty</th>
                                                <th>Unit Price</th>
                                                <th>Total Amount</th>

                                                @if (Model.ApprovalStatus == (int)EnumBudgetAndEstimatingApprovalStatus.Revised)
                                                {
                                                    <th>Action</th>
                                                }


                                            </tr>
                                        </thead>

                                        <tbody>
                                            @{
                                                int i = 0;
                                            }
                                            @foreach (var item in Model.BoQItemProductMaps)
                                            {
                                                <tr>
                                                    <td>
                                                        @(++sl)
                                                    </td>
                                                    <td>@item.DivisionName</td>
                                                    <td><small class="label label-primary">@item.BoqNumber</small> @item.BoqName</td>
                                                    <td>@item.MaterialTypeName</td>
                                                    <td>@item.MaterialSubtypeName</td>
                                                    <td>@item.MaterialName</td>
                                                    @if (item.ApprovalStatus == (int)EnumBudgetAndEstimatingApprovalStatus.Pending || Model.ApprovalStatus == (int)EnumBudgetAndEstimatingApprovalStatus.Revised)
                                                    {
                                                        <td id="tdBoqEstimateQty_@item.BoQItemProductMapId"> @Html.TextBoxFor(model => model.BoQItemProductMaps[i].EstimatedQty, new { @class = "estimatedQtyInput", @Value = @item.EstimatedQty })</td>
                                                        <td id="tdBoqUnitRate_@item.BoQItemProductMapId"> @Html.TextBoxFor(model => model.BoQItemProductMaps[i].UnitRate, new { @class = "unitRateInput", @Value = @item.UnitRate })</td>
                                                        @Html.HiddenFor(model => model.BoQItemProductMaps[i].BoQItemProductMapId, new { @Value = @item.BoQItemProductMapId })

                                                    }
                                                    else
                                                    {
                                                        <td id="tdBoqEstimateQty_@item.BoQItemProductMapId">@item.EstimatedQty</td>
                                                        <td id="tdBoqUnitRate_@item.BoQItemProductMapId">@item.UnitRate</td>

                                                    }
                                                    <td class="totalValue" id="tdBoqEstimateAmount_@item.BoQItemProductMapId">@item.EstimatedAmount</td>

                                                    @if (Model.ApprovalStatus == (int)EnumBudgetAndEstimatingApprovalStatus.Revised)
                                                    {
                                                        <td><a id="reApprovedBtn_@item.BoQItemProductMapId" onclick="revisedApproved(@item.BoQItemProductMapId)" class="btn btn-warning"> Revised </a> </td>
                                                    }


                                                </tr>

                                                i++;
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th colspan="5" style="text-align:right!important">
                                                    Total Project Value :
                                                </th>
                                                <th> @(Model.ProjectTotalValue)</th>
                                                <th style="text-align:right!important">Total Budget Amount : </th>
                                                <th>
                                                    @(Model.TotalAmountBudget
    )
                                                </th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th colspan="7" style="text-align:right!important">
                                                    Total Gross Margin :
                                                    <br /> <span>Total Gross Margin % :  </span>
                                                </th>
                                                <th style="text-align:right!important">
                                                    @(Model.TotalGrossMargin) <br />@(Model.TotalGrossMarginPercentage.ToString("#.##")) %
                                                </th>
                                            </tr>

                                        </tfoot>
                                    </table>
                                </div>
                                if (Model.ApprovalStatus != (int)EnumBudgetAndEstimatingApprovalStatus.Approved)
                                {
                                    <div class="box-footer">
                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3">
                                                <a class="btn btn-danger btn-block linkPointer" data-toggle="modal" data-target="#RejectedModalId" data-placement="top">Proceed to Reject</a>
                                            </div>
                                            <div class="col-md-3">
                                                <a class="btn btn-primary btn-block linkPointer" data-toggle="modal" data-target="#ApprovedModalId" data-placement="top">Proceed to Approve</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Approve Modal-->
                                    <div class="modal fade" id="ApprovedModalId" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                                        &times;
                                                    </button>
                                                    <h4 class="modal-title text-primary"><b>B & E Item Approval</b></h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">

                                                        <div class="col-md-7">
                                                            <div class="form-group">
                                                                <label class="form-label text-secondary">Approval Remarks</label>
                                                                @Html.TextAreaFor(model => model.Remarks, new { @class = "modal-input form-control" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            @*<div class="form-group">
                                                                    <label class="form-label text-secondary">Choose Payment Method<sup class="text-danger" title="Requied"><b>*</b></sup></label>
                                                                    <div class="custom-control custom-radio custom-control-inline">
                                                                        <input type="radio" id="cash" value="Cash" name="VoucherPaymentStatus" class="custom-control-input" required>
                                                                        <label class="custom-control-label" for="cash">Pay with cash</label>
                                                                    </div>
                                                                    <div class="custom-control custom-radio custom-control-inline">
                                                                        <input type="radio" id="cheque" value="Cheque" name="VoucherPaymentStatus" class="custom-control-input" required>
                                                                        <label class="custom-control-label" for="cheque">Pay with cheque</label>
                                                                    </div>
                                                                </div>*@
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" id="btnClose" onclick="resetForm()" class="btn btn-outline-warning" data-dismiss="modal">Go Back</button>
                                                    <button type="submit" id="btnDelete" class="deleteId btn btn-success">Approve</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("MDReject", "BillRequisition", FormMethod.Post, new { id = "RejectedFormId", @class = "formValidator", onreset = "resetDDL();" }))
{
    @Html.HiddenFor(model => model.BoQItemProductMapId, new { Value = Model.BoQItemProductMapId, id = "RejectedBillRequisitionMasterId" })

    <div class="modal fade" id="RejectedModalId" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h4 class="modal-title text-primary"><b>Bill Requisition Rejection</b></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 py-5">
                            <label class="text-secondary">The reason for the rejection :</label>
                        </div>
                        <div class="col-md-12 py-5">
                            @Html.TextAreaFor(model => model.Remarks, new { @class = "modal-input form-control" })
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" onclick="resetForm()" class="btn btn-outline-warning" data-dismiss="modal">Go Back</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-danger">Reject</button>
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/cssjqryUi")

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('#ddlStatusEnumFK').removeAttr('title');
            $("#ddlBoQDivisionId").empty();
            $("#ddlBoQDivisionId").append("<option selected disabled>==Select Division==</option>");

            $("#ddlBoQItemId").empty();
            $("#ddlBoQItemId").append("<option selected disabled>==Select BoQ Item==</option>");
        });

        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });

        function resetForm() {

            $('#dealerReceivedListFormId')[0].reset();
            $('#SOEditActionId').val(1);
        }

        $('#KgErpDataTable33').dataTable({
            "pageLength": 100
        });

        $("#ddlProjectId").on('change', function () {

            var getProjectId = $("#ddlProjectId").val();
            var showBoqDivisionList = $("#ddlBoQDivisionId");
            $.ajax({
                type: "GET",
                url: "/BillRequisition/getBoqDivisionList",
                dataType: "json",
                data: { id: getProjectId },
                success: function (data) {
                    showBoqDivisionList.empty();
                    showBoqDivisionList.append("<option selected disabled>==Select Division==</option>");

                    $.each(data, function (index, item) {
                        showBoqDivisionList.append($('<option>', {
                            value: item.BoqDivisionId,
                            text: item.Name
                        }));
                    });
                }
            });

        })

        $("#ddlBoQDivisionId").on('change', function () {

            var getBoqDivisionId = $("#ddlBoQDivisionId").val();
            var showBoqItemList = $("#ddlBoQItemId");

            $.ajax({
                type: "GET",
                //url: "/BillRequisition/getBoqItemList",
                url: "/BillRequisition/getBoqItemListWithBoqNumber",
                dataType: "json",
                data: { id: getBoqDivisionId },
                success: function (data) {
                    showBoqItemList.empty();
                    showBoqItemList.append("<option selected disabled>==Select BoQ Item==</option>");

                    $.each(data, function (index, item) {
                        showBoqItemList.append($('<option>', {
                            value: item.BoQItemId,
                            text: item.Name
                        }));
                    });
                }
            });

        });

        function revisedApproved(boqMapId) {

            var estimatedQty = $("#tdBoqEstimateQty_" + boqMapId).find("input[type='text']").val();;
            // var estimatedRate = $("#tdBoqUnitRate_" + boqMapId).find("input[type='text']").val();;
            var estimatedQtyId = $("#tdBoqEstimateQty_" + boqMapId);
            var unitQty = $("#tdBoqUnitRate_" + boqMapId).find('input').val();
            var unitQtyId = $("#tdBoqUnitRate_" + boqMapId);
            var reApprovedBtn = $("#reApprovedBtn_" + boqMapId);
            var sendData = {
                BoQItemProductMaps: [
                    {
                        BoQItemProductMapId: boqMapId,
                        EstimatedQty: estimatedQty,
                        UnitRate: unitQty
                    }
                ]
            };


            $.ajax({
                type: "POST",
                url: "/BillRequisition/BudgetAndEstimatingRevisedApprove",
                dataType: "json",
                data: sendData,
                success: function (data) {

                    estimatedQtyId.addClass('readonly');
                    unitQtyId.addClass('readonly');
                    // Select the element by its ID and update its class
                    reApprovedBtn.removeClass("btn-warning").addClass("btn-success");
                    $("#tdBoqEstimateQty_" + boqMapId).find("input[type='text']").prop('disabled', true);
                    $("#tdBoqUnitRate_" + boqMapId).find("input[type='text']").prop('disabled', true);
                }
            });
        }

        $(".estimatedQtyInput").keyup(function () {
            var estimatedQty = $(this).val();
            var unitRate = $(this).closest('tr').find('.unitRateInput').val();
            var totalAmount = estimatedQty * unitRate;
            $(this).closest('tr').find('.totalValue').text(totalAmount);
        });
        $(".unitRateInput").keyup(function () {
            var unitRate = $(this).val();
            var estimatedQty = $(this).closest('tr').find('.estimatedQtyInput').val();
            var totalAmount = estimatedQty * unitRate;
            $(this).closest('tr').find('.totalValue').text(totalAmount);
        });
    </script>
}