@model KGERP.Service.ServiceModel.BillRequisitionMasterModel
@using KGERP.Utility;

@{
    ViewData["Title"] = "Project Manager Requisition Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;
    decimal? totalPrice = 0;

}

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>
        <span>
            Requisition : Director Approval
        </span>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Requisition : Director Approval</li>
    </ol>
</section>

@using (Html.BeginForm("DirectorBRApproveSlave", "BillRequisition", FormMethod.Post, new { id = "directorBillRRSlaveReceiveFormId", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.BillRequisitionMasterId, new { id = "hidbrMasterId" })
                @Html.HiddenFor(model => model.DetailModel.BillRequisitionDetailId, new { id = "hidDamageDetailId" })

                @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
                @Html.HiddenFor(model => model.CompanyFK, new { id = "CompanyFK" })
                @Html.HiddenFor(model => model.ID, new { id = "hidSlaveID" })

                <div class="box-danger">

                    <div class="box-body">
                        @if (Model.BillRequisitionMasterId > 0)
                        {
                            <div class="row">

                                <div class="col-md-1"> </div>
                                <div class="col-md-10">
                                    <table class="table">
                                        <tr>
                                            <th style="width:18%">Requisition Date</th>
                                            <th style="width:2%">:</th>
                                            @*<td style="width:30%">@Model.CreatedDate.ToShortDateString()</td>*@
                                            <td style="width:30%">@Model.BRDate.ToShortDateString()</td>

                                            <th>Status</th>
                                            <th>:</th>
                                            <td>@Model.StatusName</td>
                                        </tr>
                                        <tr>
                                            <th>Requisition No</th>
                                            <th>:</th>
                                            <td>@Model.BillRequisitionNo</td>
                                            <th>Requisition Type </th>
                                            <th>:</th>
                                            <td>@Model.BRTypeName</td>
                                        </tr>
                                        <tr>
                                            <th>Project Type</th>
                                            <th>:</th>
                                            <td>@Model.ProjectTypeName</td>
                                            <th>Project </th>
                                            <th>:</th>
                                            <td>@Model.CostCenterName</td>
                                        </tr>

                                        <tr>
                                            <th>Remarks</th>
                                            <th>:</th>
                                            <td>@Model.Description</td>

                                            <th>Created By</th>
                                            <th>:</th>
                                            <td>@Model.CreatedBy</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-1"> </div>

                            </div>

                            <div class="row">
                                <div class="table-responsive text-nowrap">

                                    <table id="itemTable" class="table table-bordered">
                                        <thead>
                                            <tr class="bg-success">
                                                <th style="padding:5px;text-align:center;">SL</th>
                                                <th style="padding: 5px; text-align: left;">Item/ Mat.</th>
                                                <th style="padding: 5px; text-align: left;">Unit</th>
                                                <th style="padding: 5px; text-align: right;">Est. Qty</th>
                                                <th style="padding: 5px; text-align: right; ">Recived So Far</th>
                                                <th style="padding: 5px; text-align: right; ">Remaining Qty</th>
                                                <th style="padding: 5px; text-align: right; ">Demand Qty</th>
                                                <th style="padding: 5px; text-align: right; ">Unit Rate</th>
                                                <th style="padding: 5px; text-align: right; ">Total Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int i = 0;
                                            }
                                            @foreach (var item in Model.DetailDataList)
                                            {

                                                <tr>
                                                    <td style="text-align: center;">
                                                        @Html.HiddenFor(model => model.DetailDataList[i].BillRequisitionMasterId)
                                                        @Html.HiddenFor(model => model.DetailDataList[i].BillRequisitionDetailId)
                                                        @Html.HiddenFor(model => model.DetailDataList[i].UnitRate)
                                                        @(++sl)
                                                    </td>
                                                    <td style="padding:5px;text-align:left;">@item.ProductName</td>
                                                    <td style="padding: 5px; text-align: left;">@item.UnitName</td>
                                                    <td style="padding:5px;text-align:right;">@String.Format("{0:0.00}", item.EstimatedQty)</td>
                                                    <td style="padding: 5px; text-align: right;">@String.Format("{0:0.00}", item.ReceivedSoFar)</td>
                                                    <td class="remainingQty" style="padding: 5px; text-align: right;">@String.Format("{0:0.00}", item.RemainingQty)</td>
                                                    <td style="padding: 5px; text-align: right;">
                                                        @if (Model.ApprovalModelList.First(x => x.SignatoryId == (int)EnumBRequisitionSignatory.Director).AprrovalStatusId == (int)EnumBillRequisitionStatus.Pending)
                                                        {
                                                            @Html.TextBoxFor(model => model.DetailDataList[i].DemandQty, new { id = "demandQty_" + i, @class = "form -control quantityValue demandQty" })
                                                        }
                                                        else
                                                        {
                                                            @String.Format("{0:0.00}", item.DemandQty)
                                                        }
                                                    </td>

                                                    <td style="padding: 5px; text-align: right;">
                                                        @if (Model.ApprovalModelList.First(x => x.SignatoryId == (int)EnumBRequisitionSignatory.Director).AprrovalStatusId == (int)EnumBillRequisitionStatus.Pending)
                                                        {
                                                            @Html.TextBoxFor(model => model.DetailDataList[i].UnitRate, new { id = "unitRate_" + i, @class = "form -control quantityValue unitRate" })
                                                        }
                                                        else
                                                        {
                                                            @String.Format("{0:0.00}", item.UnitRate)
                                                        }
                                                    </td>
                                                    <td class="lineTotal" style="padding: 5px;  text-align: right;">@String.Format("{0:0.00}", item.TotalPrice)</td>

                                                    @{
                                                        totalPrice += item.TotalPrice;
                                                    };
                                                </tr>
                                                i++;
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="8"></td>
                                                <td id="totalFooter" style="padding: 5px; text-align: right;"> <b>Total :</b><span id="total">@String.Format("{0:0.00}", totalPrice)</span> </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                    <strong>
                                        <span>
                                            Requisition Approval Status:
                                        </span>
                                    </strong>
                                    <table class="table table-bordered">
                                        <tr class="bg-gray">
                                            @foreach (var item in Model.ApprovalModelList)
                                            {
                                                <th style="padding:5px;text-align:center;">
                                                    @((item.SignatoryName == "QS") ? "QS/ Engr./ HOD" : item.SignatoryName)
                                                </th>
                                            }
                                        </tr>
                                        <tr>
                                            @foreach (var item in Model.ApprovalModelList)
                                            {
                                                if (item.AprrovalStatusId == (int)EnumBillRequisitionStatus.Pending)
                                                {
                                                    <td style="text-align:center">
                                                        <span class="btn btn-warning btn-xs"> @item.AprrovalStatusName</span>
                                                    </td>
                                                }
                                                else if (item.AprrovalStatusId == (int)EnumBillRequisitionStatus.Rejected)
                                                {
                                                    <td style="text-align:center">
                                                        <span class="btn btn-danger btn-xs"> @item.AprrovalStatusName</span>
                                                    </td>
                                                }
                                                else if (item.AprrovalStatusId == (int)EnumBillRequisitionStatus.Approved)
                                                {
                                                    <td style="text-align:center">
                                                        @if (item.SignatoryId == (int)EnumBRequisitionSignatory.Initiator)
                                                        {
                                                            <span class="btn btn-success btn-xs"> Prepared</span>
                                                        }
                                                        else if (item.SignatoryId == (int)EnumBRequisitionSignatory.PM)
                                                        {
                                                            <span class="btn btn-success btn-xs"> Checked</span>
                                                        }
                                                        else if (item.SignatoryId == (int)EnumBRequisitionSignatory.QS)
                                                        {
                                                            <span class="btn btn-success btn-xs"> Forwarded</span>
                                                        }
                                                        else if (item.SignatoryId == (int)EnumBRequisitionSignatory.Director)
                                                        {
                                                            <span class="btn btn-success btn-xs"> Forwarded</span>
                                                        }
                                                        else if (item.SignatoryId == (int)EnumBRequisitionSignatory.PD)
                                                        {
                                                            <span class="btn btn-success btn-xs"> Recommended</span>
                                                        }
                                                        else if (item.SignatoryId == (int)EnumBRequisitionSignatory.MD)
                                                        {
                                                            <span class="btn btn-success btn-xs"> Approved</span>
                                                        }
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td style="padding:5px; text-align:center;">@item.AprrovalStatusName</td>
                                                }
                                            }
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        }
                    </div>

                    @if (Model.BillRequisitionMasterId > 0 && Model.ApprovalModelList.First(x => x.SignatoryId == (int)EnumBRequisitionSignatory.Director).AprrovalStatusId == (int)EnumBillRequisitionStatus.Pending)
                    {
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-3"></div>
                                <div class="col-md-3">
                                    <a href="~/BillRequisition/DirectorReject?billRequisitionMasterId=@Model.BillRequisitionMasterId" class="btn btn-danger btn-block">
                                        Reject
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" id="btnSave" class="btn btn-primary btn-block">Approve</button>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>
}

@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/cssjqryUi")

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            recalculateTotals();

            $('.demandQty').keyup(function () {
                recalculateTotals();
            });
        });

        function recalculateTotals() {

            $('#itemTable tbody tr').each(function () {
                var demandQtyInput = $(this).find('.demandQty');
                var unitRateInput = $(this).find('.unitRate');
                var remainingQty = parseFloat($(this).find('.remainingQty').text());
                var linetotal = parseFloat($(this).find('.lineTotal').text());

                demandQtyInput.on('input', function (event) {
                    var demandQty = parseFloat(demandQtyInput.val());
                    var unitRate = parseFloat(unitRateInput.val());

                    if (!isNaN(demandQty) && !isNaN(unitRate)) {
                        if (demandQty > remainingQty) {
                            demandQtyInput.val(remainingQty);
                            demandQty = remainingQty;
                        }

                        lineTotal = demandQty * unitRate;

                        $('.lineTotal').text(lineTotal.toFixed(2));
                    }
                    totalCount();
                });

                unitRateInput.on('input', function (event) {
                    var demandQty = parseFloat(demandQtyInput.val());
                    var unitRate = parseFloat(unitRateInput.val());

                    if (!isNaN(demandQty) && !isNaN(unitRate)) {
                        if (demandQty > remainingQty) {
                            demandQtyInput.val(remainingQty);
                            demandQty = remainingQty;
                        }

                        lineTotal = demandQty * unitRate;

                        $('.lineTotal').text(lineTotal.toFixed(2));
                    }
                    totalCount();
                });
            });
            totalCount();
        }

        function totalCount() {
            var total = 0;
            $('#itemTable tbody tr').each(function () {
                var linetotal = parseFloat($(this).find('.lineTotal').text());
                total += linetotal;
            });

            $("#total").text(total.toFixed(2));
        }

    </script>
}