@model KGERP.Service.ServiceModel.BillRequisitionMasterModel
@using KGERP.Utility;

@{
    ViewData["Title"] = "Requisition : Director Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;
}

<style type="text/css">
    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>
        <span>
            Requisition : Director Approval
        </span>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Director Approval</li>
    </ol>
</section>

@using (Html.BeginForm("DirectorBRApproveSlave", "BillRequisition", FormMethod.Post, new { id = "directorBillRRSlaveReceiveFormId", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.BillRequisitionMasterId, new { id = "hidbrMasterId" })
                @Html.HiddenFor(model => model.DetailModel.BillRequisitionDetailId, new { id = "hidDamageDetailId" })

                @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
                @Html.HiddenFor(model => model.CompanyFK, new { id = "CompanyFK" })
                @Html.HiddenFor(model => model.ID, new { id = "hidSlaveID" })

                <div class="box-danger">

                    <div class="box-body">
                        @if (Model.BillRequisitionMasterId > 0)
                        {
                            <div class="row">

                                <div class="col-md-1"> </div>
                                <div class="col-md-10">
                                    <table class="table">
                                        <tr>
                                            <th style="width:17% !important">Requisition No</th>
                                            <th>:</th>
                                            <td>@Model.BillRequisitionNo</td>

                                            <th style="width:17% !important">Requisition Status</th>
                                            <th>:</th>
                                            <td>@Model.StatusName</td>
                                        </tr>

                                        <tr>
                                            <th style="width:17% !important">Requisition Date</th>
                                            <th>:</th>
                                            <td>@Model.BRDate.ToShortDateString()</td>

                                            @if (Model.BillRequisitionTypeId == (int)EnumBillRequisitionType.Overhead)
                                            {
                                                <th style="width:17% !important">Requisition Subtype</th>
                                                <th>:</th>
                                                <td>@Model.BRSubtypeName</td>
                                            }
                                            else
                                            {
                                                <th style="width:17% !important">Requisition Type</th>
                                                <th>:</th>
                                                <td>@Model.BRTypeName</td>
                                            }
                                        </tr>

                                        <tr>
                                            <th style="width:17% !important">Project Type</th>
                                            <th>:</th>
                                            <td>@Model.ProjectTypeName</td>

                                            <th style="width:17% !important">Project Name</th>
                                            <th>:</th>
                                            <td>@Model.CostCenterName</td>
                                        </tr>

                                        @*<tr>
                                                <th>Division Name</th>
                                                <th>:</th>
                                                <td>@(Model.BoQDivisionName != "-" ? Model.BoQDivisionName : "N/A")</td>

                                                <th>BoQ Item Name</th>
                                                <th>:</th>
                                                <td>@(Model.BOQItemName != "-" ? Model.BOQItemName : "N/A")</td>
                                            </tr>*@

                                        @if (!(Model.BillRequisitionTypeId == (int)EnumBillRequisitionType.Overhead))
                                        {
                                            <tr>
                                                <th>
                                                    Division Name
                                                </th>
                                                <th>:</th>
                                                <td>@Model.BoQDivisionName</td>

                                                <th>BoQ Item Name</th>
                                                <th>:</th>
                                                <td>@Model.BOQItemName</td>
                                            </tr>
                                        }

                                        <tr>
                                            <th>
                                                @((Model.BillRequisitionTypeId == (int)EnumBillRequisitionType.Overhead)? "Item Description" : "Work Details")
                                            </th>
                                            <th>:</th>
                                            <td>@(Model.Description != null ? Model.Description : "N/A")</td>

                                            <th>Created By</th>
                                            <th>:</th>
                                            <td>@Model.EmployeeName</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-1"> </div>

                            </div>

                            <div class="row">
                                <div class="table-responsive text-nowrap">

                                    <h4 class="text-primary" style="margin: 20px 0 5px;">
                                        <strong>
                                            Requisition Item List:
                                        </strong>
                                    </h4>

                                    <table id="itemTable" class="table table-bordered table-striped text-center table-responsive">
                                        <thead>
                                            <tr class="bg-success">
                                                <th>SL</th>
                                                <th>@((Model.BillRequisitionTypeId == (int)EnumBillRequisitionType.Overhead)? "Item" : "Material")</th>
                                                <th>Unit</th>
                                                <th>Remarks/Particular</th>
                                                <th>Est. Qty</th>
                                                <th>Recived So Far</th>
                                                <th>Remaining Qty</th>
                                                <th>Demand Qty</th>
                                                <th>Unit Rate</th>
                                                <th>Total Price</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @{
                                                int i = 0;
                                            }
                                            @foreach (var item in Model.DetailDataList)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.HiddenFor(model => model.DetailDataList[i].BillRequisitionMasterId)
                                                        @Html.HiddenFor(model => model.DetailDataList[i].BillRequisitionDetailId)
                                                        @(++sl)
                                                    </td>
                                                    <td>@item.ProductName</td>
                                                    <td>@item.UnitName</td>
                                                    <td>@(item.Remarks != null ? item.Remarks : "N/A")</td>
                                                    <td>@String.Format("{0:0.00}", item.EstimatedQty)</td>
                                                    <td>@String.Format("{0:0.00}", item.ReceivedSoFar)</td>
                                                    <td>@String.Format("{0:0.00}", item.RemainingQty)</td>
                                                    <td>
                                                        @if (Model.ApprovalModelList.First(x => x.SignatoryId == (int)EnumBRequisitionSignatory.Director).AprrovalStatusId == (int)EnumBillRequisitionStatus.Pending)
                                                        {
                                                            @Html.TextBoxFor(model => model.DetailDataList[i].DemandQty, new { id = "demandQty_" + i, @class = "form-control demandValue" })
                                                        }
                                                        else
                                                        {
                                                            @String.Format("{0:0.00}", item.DemandQty)
                                                        }
                                                    </td>

                                                    <td>
                                                        @if (Model.ApprovalModelList.First(x => x.SignatoryId == (int)EnumBRequisitionSignatory.Director).AprrovalStatusId == (int)EnumBillRequisitionStatus.Pending)
                                                        {
                                                            @Html.TextBoxFor(model => model.DetailDataList[i].UnitRate, new { id = "unitRate_" + i, @class = "form-control unitValue" })
                                                        }
                                                        else
                                                        {
                                                            @String.Format("{0:0.00}", item.UnitRate)
                                                        }
                                                    </td>

                                                    <td class="totalValue" style="text-align: right !important" id="totalAmount_+@i">@String.Format("{0:0.00}", item.TotalPrice)</td>
                                                </tr>
                                                i++;
                                            }
                                        </tbody>

                                        <tfoot>
                                            <tr>
                                                <td colspan="9" style="text-align: right !important">
                                                    <b>Total Amount : </b>
                                                </td>
                                                <td id="totalFooter" colspan="2" style="text-align: right !important">
                                                    <span id="showTotalValue"></span>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                    <h4 class="text-primary" style="margin: 20px 0 5px;">
                                        <strong>
                                            Requisition Approval Status:
                                        </strong>
                                    </h4>

                                    <table class="table table-bordered">
                                        <tr class="bg-gray">
                                            @foreach (var item in Model.ApprovalModelList)
                                            {
                                                <th style="padding:5px;text-align:center;">
                                                    @((item.SignatoryName == "QS") ? "QS/ Engr./ HOD" : item.SignatoryName)
                                                </th>
                                            }
                                        </tr>
                                        <tr>
                                            @foreach (var item in Model.ApprovalModelList)
                                            {
                                                if (item.AprrovalStatusId == (int)EnumBillRequisitionStatus.Pending)
                                                {
                                                    <td style="text-align:center">
                                                        <span class="btn btn-warning btn-xs"> @item.AprrovalStatusName</span>
                                                    </td>
                                                }
                                                else if (item.AprrovalStatusId == (int)EnumBillRequisitionStatus.Rejected)
                                                {
                                                    <td style="text-align:center">
                                                        <span class="btn btn-danger btn-xs"> @item.AprrovalStatusName</span>
                                                    </td>
                                                }
                                                else if (item.AprrovalStatusId == (int)EnumBillRequisitionStatus.Approved)
                                                {
                                                    <td style="text-align:center">
                                                        @if (item.SignatoryId == (int)EnumBRequisitionSignatory.Initiator)
                                                        {
                                                            <span class="btn btn-success btn-xs"> Prepared</span>
                                                        }
                                                        else if (item.SignatoryId == (int)EnumBRequisitionSignatory.PM)
                                                        {
                                                            <span class="btn btn-success btn-xs"> Checked</span>
                                                        }
                                                        else if (item.SignatoryId == (int)EnumBRequisitionSignatory.QS)
                                                        {
                                                            <span class="btn btn-success btn-xs"> Forwarded</span>
                                                        }
                                                        else if (item.SignatoryId == (int)EnumBRequisitionSignatory.Director)
                                                        {
                                                            <span class="btn btn-success btn-xs"> Forwarded</span>
                                                        }
                                                        else if (item.SignatoryId == (int)EnumBRequisitionSignatory.PD)
                                                        {
                                                            <span class="btn btn-success btn-xs"> Recommended</span>
                                                        }
                                                        else if (item.SignatoryId == (int)EnumBRequisitionSignatory.MD)
                                                        {
                                                            <span class="btn btn-success btn-xs"> Approved</span>
                                                        }
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td style="padding:5px; text-align:center;">@item.AprrovalStatusName</td>
                                                }
                                            }
                                        </tr>
                                    </table>

                                    <h4 class="text-primary" style="margin: 20px 0 5px;">
                                        <strong>
                                            Requisition Approval Histroy:
                                        </strong>
                                    </h4>

                                    <table class="table table-bordered">
                                        <tr class="bg-gray">
                                            @foreach (var item in Model.ApprovalModelList)
                                            {
                                                <th style="padding:5px;text-align:center;">
                                                    @((item.SignatoryName == "QS") ? "QS/ Engr./ HOD" : item.SignatoryName)
                                                </th>
                                            }
                                        </tr>
                                        <tr>
                                            @foreach (var item in Model.ApprovalModelList)
                                            {
                                                <td>
                                                    @if (item.ApprobalRemarks != null)
                                                    {
                                                        <span style="font-size: 12px"><b>Remarks: </b> @item.ApprobalRemarks</span>
                                                    }
                                                    else
                                                    {
                                                        <span style="font-size: 12px"><b>Remarks: </b> @((item.SignatoryName == "Initiator") ? "Requisition Created. " : "N/A")</span>
                                                    }
                                                    <br />
                                                    @if (item.SignatoryName == "Initiator")
                                                    {
                                                        <span style="font-size: 11px">
                                                            <b>Time: </b> @((item.ModifiedDate == null) ? "Pending" : item.ModifiedDate.ToString())
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span style="font-size: 11px">
                                                            <b>Time: </b> @((item.ModifiedDate == null) ? "Pending" : item.ModifiedDate.ToString())
                                                        </span>
                                                    }
                                                </td>
                                            }
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        }
                    </div>

                    @if (Model.BillRequisitionMasterId > 0 && Model.ApprovalModelList.First(x => x.SignatoryId == (int)EnumBRequisitionSignatory.Director).AprrovalStatusId == (int)EnumBillRequisitionStatus.Pending)
                    {
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-3"></div>
                                <div class="col-md-3">
                                    <a class="btn btn-danger btn-block linkPointer" data-toggle="modal" data-target="#RejectedModalId" data-placement="top">Proceed to Reject</a>
                                </div>
                                <div class="col-md-3">
                                    <a class="btn btn-primary btn-block linkPointer" data-toggle="modal" data-target="#ApprovedModalId" data-placement="top">Proceed to Approve</a>
                                </div>
                            </div>
                        </div>
                        <!-- Approve Modal-->
                        <div class="modal fade" id="ApprovedModalId" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                            &times;
                                        </button>
                                        <h4 class="modal-title text-primary"><b>Bill Requisition Approval</b></h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12 py-5">
                                                <label class="text-secondary">Approval Remarks :</label>
                                            </div>
                                            <div class="col-md-12 py-5">
                                                @Html.TextAreaFor(model => model.CancelReason, new { @class = "modal-input form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="btnClose" onclick="resetForm()" class="btn btn-outline-warning" data-dismiss="modal">Go Back</button>
                                        <button type="submit" id="btnDelete" class="deleteId btn btn-success">Approve</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Approve Modal-->
                    }
                </div>
            </div>
        </div>
    </section>
}

@using (Html.BeginForm("DirectorReject", "BillRequisition", FormMethod.Post, new { id = "RejectedFormId", @class = "formValidator", onreset = "resetDDL();" }))
{
    @Html.HiddenFor(model => model.BillRequisitionMasterId, new { Value = Model.BillRequisitionMasterId, id = "RejectedBillRequisitionMasterId" })

    <div class="modal fade" id="RejectedModalId" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h4 class="modal-title text-primary"><b>Bill Requisition Rejection</b></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 py-5">
                            <label class="text-secondary">The reason for the rejection :</label>
                        </div>
                        <div class="col-md-12 py-5">
                            @Html.TextAreaFor(model => model.CancelReason, new { @class = "modal-input form-control" })
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" onclick="resetForm()" class="btn btn-outline-warning" data-dismiss="modal">Go Back</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-danger">Reject</button>
                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/cssjqryUi")

@section scripts {

    <script type="text/javascript">

        $(".demandValue").on('input', function (event) {
            LineCalculator();
            TotalCalculator();
        });

        $(".unitValue").on('input', function (event) {
            LineCalculator();
            TotalCalculator();
        });

        function LineCalculator() {

            $("#itemTable tbody tr").each(function () {
                var inputDemadValue = $(this).find(".demandValue");
                var inputUnitValue = $(this).find(".unitValue");
                var inputTotalValue = $(this).find(".totalValue");

                if (!isNaN(inputDemadValue.val()) && !isNaN(inputUnitValue.val())) {
                    var demandValue = parseFloat(inputDemadValue.val());
                    var unitValue = parseFloat(inputUnitValue.val());

                    var total = 0;
                    total = demandValue * unitValue;
                    inputTotalValue.text(total.toFixed(2));
                } else {
                    console.log("Only number is allowed!");
                    inputTotalValue.text(inputTotalValue.text().toFixed(2));
                }

            });
        }

        function TotalCalculator() {
            var showTotalValue = $("#showTotalValue");
            var total = 0;

            $("#itemTable tbody tr").each(function (event) {
                var inputTotalValue = $(this).find(".totalValue");

                if (!isNaN(inputTotalValue.text())) {
                    var totalValue = parseFloat(inputTotalValue.text());
                    total += totalValue;
                }
            });

            showTotalValue.text(total.toFixed(2));
        }

        TotalCalculator();

    </script>
}