@model KGERP.ViewModel.AssetTypeViewModel
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("CreateOrEdit", "AssetType", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <span style="font-size:25px">Product</span>
        <hr style="border-color:red; padding:0px;margin-top: 10px;margin-bottom: 10px; border-width: 2px;" />
    </div>

    <div class="form-horizontal">
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.AssetType.AssetTypeId)


            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.AssetType.AssetCategoryId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.AssetType.AssetCategoryId, new SelectList(Model.Category, "Value", "Text"), "---Select---", new { @class = "dropdownsize form-control", @id = "ddlCategory" })

                        @Html.ValidationMessageFor(model => model.AssetType.AssetCategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.AssetType.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.AssetType.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AssetType.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.AssetType.SerialNo, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.AssetType.SerialNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @id = "txtSerialNo" } })
                        @Html.ValidationMessageFor(model => model.AssetType.SerialNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-md-offset-5 col-md-5">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary pull-right" />
                    <a href="@Url.Action("Index")" class="btn btn-danger pull-right" style="margin-right:8px">
                        Close <i class="fa fa-close" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <script type="text/javascript">
        $("#ddlCategory").change(function () {
            var catId = $(this).val();
            $.ajax({
                type: "GET",
                url: "/AssetType/GetSerialNo",
                data: { 'catId': catId },
                dataType: "json",
                success: function (response) {
                    $('#txtSerialNo').val(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        })

    </script>
}
