@{

    ViewData["Title"] = "Requisition Deliver Pending";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = TempData["successMessage"];
}
@model KGERP.Service.ServiceModel.PurchaseOrderModel
<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>
<section class="content-header">
    <h1>
        Purchase Order
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">
            <a href="@Url.Action("CreateOrEdit",new {companyId= Model.CompanyId})" class="btn btn-primary pull-right">
                <span class="fa fa-plus"></span> New Order
            </a>
        </li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-body">
                        @using (Html.BeginForm("Index", "PurchaseOrder", FormMethod.Post, new { @class = "formValidator" }))
                        {
                            @Html.HiddenFor(model => model.CompanyId, new { id = "CompanyId" })
                            <div class="row">
                                <div class="col-md-3">

                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
                                        <br />
                                        @Html.EditorFor(model => model.StrFromDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.StrFromDate, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.Label("To Date", htmlAttributes: new { @class = "control-label" })
                                        <br />
                                        @Html.EditorFor(model => model.StrToDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.StrToDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3" style="padding: 0px 2px 0px 8px;">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block">Show</button>
                                    </div>
                                </div>
                            </div>
                        }

                        <hr />
                        <div class="table-responsive col-md-12">
                            <table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width:10%;">SL</th>
                                        <th style="width:10%;">Purchase Date</th>
                                        <th style="width:15%;">Purchase Order No</th>
                                        <th style="width:10%;">Demand Id</th>
                                        <th style="width:15%;">Supplier</th>
                                        <th style="width:auto;">Remarks</th>
                                        <th style="width:15%;">Report</th>
                                        <th style="width:10%;">Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td>@(++sl)</td>
                                            <td id="tdUnitName_@item.PurchaseOrderId">@item.PurchaseDate.Value.ToString("dd-MMM-yyyy")</td>
                                            <td id="tdUnitName_@item.PurchaseOrderId">@item.PurchaseOrderNo</td>
                                            <td id="tdUnitName_@item.PurchaseOrderId">@item.DemandNo</td>
                                            <td id="tdUnitName_@item.PurchaseOrderId">@item.SupplierName</td>
                                            <td id="tdUnitName_@item.PurchaseOrderId">@item.Remarks</td>
                                            <td>

                                                @using (Html.BeginForm("GetPurchaseOrderTemplateReport", "Report", FormMethod.Get))
                                                {
                                                    <input hidden value="@item.PurchaseOrderId" name="purchaseOrderId" id="purchaseOrderId" />

                                                    <input type="submit" name="EXPORT" value="EXPORT" style="height: 21px; margin: 1px; border-radius: 3px;" class="btn btn-xs btn-success pull-right" formtarget="_blank" />
                                                    <select class="pull-right" style="height: 21px; background-color: dodgerblue; color:white; margin: 1px; border-radius: 3px;"
                                                            name="reportType" id="reportType">
                                                        <option value="PDF">PDF</option>
                                                        <option value="EXCEL">EXCEL</option>
                                                        <option value="WORD">WORD</option>
                                                    </select>
                                                }

                                            </td>
                                            <td>
                                                <a href="@Url.Action("DeletePurchaseOrder","PurchaseOrder",  new {purchaseOrderId=item.PurchaseOrderId})" onclick="return confirm('Are you sure to delete Purchase Order?');" title="Delete" class="btn btn-danger btn-xs">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                                <a href="#" onclick="purchaseOrderCancelModal(@item.PurchaseOrderId)" class="btn btn-warning btn-xs"><i class="fa  fa-times" aria-hidden="true"></i></a>
                                                <a href="@Url.Action("CreateOrEdit","PurchaseOrder",  new {companyId= item.CompanyId, purchaseOrderId=item.PurchaseOrderId})" class="btn btn-primary btn-xs"><i class="fa  fa-edit" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });

        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });
        var message = '@message';
    if(message){
        alert(message);
    }
    </script>
}