@model KGERP.Data.CustomModel.ReportCustomModel

<div class="row">
    <div class="col-md-12" style="background-color:#f1f1f1;padding:5px">
        <span style="font-size:20px;color:#000000">Customer wise Monthly Sale Year Basis</span>
    </div>
</div>
<br />
@using (Html.BeginForm("GetCustomerWiseMonthlySaleYearBasisReport", "Report", FormMethod.Get, new { @id = "idForm" }))
{
    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CompanyId)
        @Html.HiddenFor(model => model.ProductType)
        @Html.HiddenFor(model => model.ReportName)
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Customers", htmlAttributes: new { @class = "control-label" })
                    <br />
                    @Html.DropDownListFor(model => model.VendorId, new SelectList(Model.Vendors, "Value", "Text"), new { @class = "dropdownsize form-control", @id = "ddlStockInfoId", @onchange = "getInvoiceNo()" })
                    @Html.ValidationMessageFor(model => model.VendorId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Year, new SelectList(Model.Years, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "dropdownsize form-control" })
                        @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-offset-8">
                <div class="form-group" style="margin-left: 35px;">
                    <br />
                    <select class="pull-left" style="color:#ffffff; background-color:#dd4b39;height:34px;font-size:15px" name="ReportType" id="ReportType">
                        <option value="PDF">PDF</option>
                        <option value="EXCEL">EXCEL</option>
                        <option value="WORD">WORD</option>
                    </select>
                    <input type="submit" name="EXPORT" value="EXPORT" class="btn btn-success pull-left" formtarget="_blank" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")  
}





