@model KGERP.Data.CustomModel.ReportCustomModel

<div class="row">
    <div class="col-md-12" style="background-color:lightblue">
        @Html.Label("Customer Report", new { @style = "font-size:20px" })
    </div>
</div>
<br />
@using (Html.BeginForm("GetCustomerSearchReport", "Report", FormMethod.Get, new { @id = "idForm" }))
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ReportName)

    <div class="row">
        <div class="col-md-3">
            @Html.LabelFor(model => model.CompanyId, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.CompanyId, new SelectList(Model.Companies, "Value", "Text"), "---Select---", new { @class = "dropdownsize form-control" })
            @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-3" style="margin-top:24px;float:left">
            <input type="submit" name="EXPORT" value="EXPORT" class="btn btn-success pull-right" formtarget="_blank" />
            <select class="pull-right" style="color:#ffffff; background-color:#dd4b39;height:34px;font-size:15px" name="ReportType" id="ReportType">
                <option value="PDF">PDF</option>
                <option value="EXCEL">EXCEL</option>
                <option value="WORD">WORD</option>
            </select>
        </div>
    </div>
}







