@model KGERP.Data.CustomModel.ReportCustomModel


<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>
<section class="content-header">
    <h1>
        Purchase Statement Reports
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Purchase Statement Reports</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("FeedPurchaseStatementView", "Report", FormMethod.Get, new { id = "AccountingMovementformId", @class = "formValidator", @target = "_blank", @enctype = "multipart/form-data" }))
            {
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box-danger">

                        <!-- /.box-header -->
                        <div class="box-body">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.CompanyId, new { @id = "CompanyId" })
                            @Html.HiddenFor(model => model.ReportName)
                            @*<div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <table> Account Head</table>
                                    @Html.EditorFor(model => model.AccName, new { htmlAttributes = new { @class = "form-control", @name = "txtHeadGLId", @id = "txtHeadGLId" } })
                                    @Html.ValidationMessageFor(model => model.HeadGLId, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(x => x.HeadGLId, new { @id = "hidHeadGLId" })                                   
                                    @Html.HiddenFor(x => x.LayerNo, new { @id = "hidLayerNo" })
                                </div>
                                <div class="col-md-1"></div>
                            </div>*@
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>From Date</label>
                                        @Html.EditorFor(model => model.StrFromDate, new { htmlAttributes = new { @class = "datepicker form-control", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label>To Date</label>
                                        @Html.EditorFor(model => model.StrToDate, new { htmlAttributes = new { @class = "datepicker form-control", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                            </div>

                        </div>
                        <div class="box-footer">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-4">
                                <select class="pull-right" style="color:#ffffff; background-color:#dd4b39;height:34px;font-size:15px;width:100%;" name="ReportType" id="ReportType">
                                    <option value="PDF">PDF</option>
                                    <option value="EXCEL">EXCEL</option>
                                    <option value="WORD">WORD</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="submit" name="EXPORT" value="EXPORT" class="btn btn-success pull-right" style="width:100%" formtarget="_blank" />
                            </div>
                            <div class="col-md-1">
                            </div>
                        </div>

                    </div>
                </div>
            }


        </div>

    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")



<script>
    $(function () {


        //$("#txtHeadGLId").autocomplete({
        //    source: function (request, response) {
        //        $.ajax({
        //            url: '/HeadGLs/AutoCompleteAllAccountsHead/',
        //            //data: "{ 'prefix': '" + request.term + "'}",
        //            data: '{"prefix":"' + request.term + '"}',
        //            dataType: "json",
        //            type: "POST",
        //            cache: true,
        //            contentType: "application/json; charset=utf-8",
        //            success: function (data) {
        //                response($.map(data, function (item) {
        //                    return item;
        //                }))
        //            },
        //            error: function (response) {
        //                //alert(response.responseText);
        //            },
        //            failure: function (response) {
        //                //alert(response.responseText);
        //            }
        //        });
        //    },
        //    select: function (e, i) {

        //        $("#hidHeadGLId").val(i.item.val);                
        //        $("#hidLayerNo").val(i.item.LayerNo);
                
        //    },
        //    minLength: 1,
        //    cache: true

        //}).focus(function () {
        //    $(this).autocomplete("search");
        //});




            $("#ddlHead4Id").change(function () {
                var head4IdReceSeed = $("#ddlHead4Id").val();
                $.ajax({

                    type: "GET",
                    url: "@Url.Action("Head5Get", "Vouchers")",
                    datatype: "Json",
                    data: { companyId: "@Model.CompanyId", parentId: head4IdReceSeed},
                         success: function (data) {
                         var items = "";
                            if (data) {
                                $("#ddlHead5Id").empty();
                                $("#ddlHead5Id").append("<option value=''>==Select Head 5==</option>");

                            $(data).each(function (index, item) {
                                $("#ddlHead5Id").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                                });

                            }
                         }
                });


            })

            $("#ddlHead5Id").change(function () {
                var head5IdReceSeed = $("#ddlHead5Id").val();
                $.ajax({

                    type: "GET",
                    url: "@Url.Action("HeadGLGet", "Vouchers")",
                    datatype: "Json",
                    data: { companyId: "@Model.CompanyId", parentId: head5IdReceSeed},
                         success: function (data) {
                         var items = "";
                            if (data) {
                                $("#ddlHeadGLId").empty();
                                $("#ddlHeadGLId").append("<option value=''>==Select Head GL==</option>");

                            $(data).each(function (index, item) {
                                $("#ddlHeadGLId").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                                });

                            }
                         }
                });


            })

        });

</script>
}





