@model KGERP.Service.ServiceModel.LCCreateModel
@using System.Web

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string LCDIVClass = Model.LC.LCType == 446 ? "" : "hide";

}
<style>
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 2px 0px 2px 0px;
    }

    .hide {
        display: none;
    }
</style>

@using (Html.BeginForm("CreateOrEdit", "LC", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.CompanyId)
    @Html.HiddenFor(x => x.LC.LCId)
    @Html.HiddenFor(x => x.LC.CreatedBy)
    @Html.HiddenFor(x => x.LC.CreatedDate)
    @Html.HiddenFor(x => x.LC.ModifiedBy)
    @Html.HiddenFor(x => x.LC.ModifiedDate)
    @Html.HiddenFor(x => x.LC.IsActive)
    @Html.HiddenFor(x => x.LC.IsSubmit)
    @Html.HiddenFor(x => x.LC.POCreated)
    @Html.HiddenFor(x => x.LC.CompanyId)

    <div class="form-horizontal">
        <span style="font-size:20px;font-weight:bold">LC Information</span>
        <hr style="border-color:#ff0000; padding:0px;margin-top: 10px;margin-bottom: 10px; border-width: 2px;" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("LC No:", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.LC.LCNo, new { htmlAttributes = new { @id = "txtLCNo", @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.LC.LCNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("LC Date:", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.LC.LCDate, new { @Value = Model.LC.LCDate.ToString("dd/MM/yyyy"), @class = "datepicker", @style = "width: 240px;", @id = "txtLC.LCDate", @required = "required", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.LC.LCDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("LC Type:", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.LC.LCType, new SelectList(Model.POtypeLst, "Value", "Text"), "---Select---", new { id = "ddlLCType", @reuired = "required", @class = "dropdownsize form-control" })
                        @Html.ValidationMessageFor(model => model.LC.LCType, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Supplier:", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.LC.SupplierId, new SelectList(Model.LstSupplier, "Value", "Text"), "---Select---", new { id = "ddlLCSupplier", @reuired = "required", @class = "dropdownsize searchingDropdown form-control" })
                        @Html.ValidationMessageFor(model => model.LC.SupplierId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-12 @LCDIVClass" id="idForeign">

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("PI No:", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.LC.PINo, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Country Of Origin:", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.LC.OriginCountryId, new SelectList(Model.Countries, "Value", "Text"), "---Select---", new { @id = "ddlLCOrigin", @class = "dropdownsize form-control" })
                        @Html.ValidationMessageFor(model => model.LC.OriginCountryId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-12">

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Product Origin Country:", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.LC.ProductOriginId, new SelectList(Model.Countries, "Value", "Text"), "---Select---", new { @id = "ddlLCOrigin", @class = "dropdownsize form-control" })
                        @Html.ValidationMessageFor(model => model.LC.ProductOriginId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("LC Value:", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.LC.LCValue, new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.LC.LCValue, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Freighter Charge:", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.LC.FreighterCharge, new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.LC.FreighterCharge, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Other Charge:", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.LC.OtherCharge, new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.LC.OtherCharge, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">

            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Insurance No:", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.LC.InsuranceNo, new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.LC.InsuranceNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("Premium Value:", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.LC.PremiumValue, new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.LC.PremiumValue, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

    </div><div class="col-md-12">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="row col-md-6">
                <div class="col-md-3"></div>
                @if (Model.LC.IsSubmit == false && Model.LC.POCreated == false)
                {
                    if (Model.LC.LCId > 0)
                    {
                        <input type="submit" value="Update" onclick="return confirmSubmit()" class="btn btn-success col-md-2" style="margin-right:10px" />
                    }
                    else
                    {
                        <input type="submit" value="Submit" onclick="return confirmSubmit()" class="btn btn-success col-md-2" style="margin-right:10px" />
                    }
                }
                <a class="col-md-2 btn btn-warning" style="padding-left:5px;" href="@Url.Action("Index","LC",new {CompanyId=Model.CompanyId })">Back</a>
            </div>

        </div>

    </div>
}


<script src="~/Scripts/ApplicationScripts/Inventory_Feed/PurchaseOrder/PurchaseOrder.js"></script>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">


        $("#ddlLCType").on('change', function () {
            var value = $("#ddlLCType").val();
      
            if (value == '446') {
                $("#idForeign").removeClass('hide')
            }
            else {
                $("#idForeign").addClass('hide');
            }
        });

        function confirmSubmit() {
            if (window.confirm('are you sure?')) {
                return true;

            }
            else { return false; }
        }


    </script>
}
