@model KGERP.Service.Implementation.Configuration.VMCommonSupplier
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .content-header {
        padding: 10px 0.5rem;
    }

        .content-header .breadcrumb {
            background-color: white;
            line-height: 1.8rem;
            margin-bottom: 0;
            padding: 5px;
        }

    content-header .breadcrumb {
        line-height: 1.5rem;
    }

    .shadow {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    }

    .align-items-center {
        -webkit-align-items: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    .justify-content-between {
        -webkit-justify-content: space-between !important;
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }

    .d-flex {
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .breadcrumb {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0.75rem 1rem;
        margin-bottom: 1rem;
        list-style: none;
        background-color: #e9ecef;
        border-radius: 0.25rem;
    }

    .mt-2 {
        margin-top: 15px
    }

    .mt-3 {
        margin-top: 20px
    }

    element.style {
        max-width: 100%;
    }

    .form-control:not(select) {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .form-control:not(select) {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .form-control {
        border-radius: 0;
        box-shadow: none;
        border-color: #d2d6de;
    }

        .form-control.intro {
            border: 1px solid #db1a1a !important;
        }

    .ui-datepicker-trigger .fa {
        padding: 10px;
        background: #ff9800;
        color: #fff;
    }

    .ui-datepicker-trigger {
        background: #ff9800;
        border: none;
    }

    .bg-div {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: #3f51b51f;
        border-bottom: 0 solid rgba(0,0,0,.125);
    }

    .error {
        color: orangered;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 5px;
        line-height: 1.42857143;
        vertical-align: baseline !important;
        border-top: 1px solid #ddd;
    }

    .card {
        box-shadow: none;
    }

    .ui-datepicker-trigger .fa {
        padding: 9px;
        background: #ff9800;
        color: #fff;
    }
</style>
<section class="content-header">
    <h1>
        <b> @Model.CompanyName   </b>
    </h1>
    <ol class="breadcrumb mb-0 p-0">
        <li class="breadcrumb-item active">Mapping Account Head and Customer </li>
    </ol>
</section>


@using (Html.BeginForm("Index", "KGRECustomerMapHeadGl", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.CompanyFK, new { @id = "CompanyFK" })

    <div class="card card-body" style="margin-top:50px">
    <div class="row">
        <div class="col-md-10">
            <div class="form-group mt-2">
                <label class="control-label col-md-3"> Customer <b style="color:red"> *</b> </label>
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.ID, new SelectList(Model.CList, "Value", "Text"), "---Select Customer---", new { id = "ddlCommon_CustomerId", @class = "searchingDropdown  customStyle", @style = "width: 100%;" })
                    @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-10">
            <div class="form-group mt-2">
                <label class="control-label col-md-3"> Account-Head <b style="color:red"> *</b> </label>
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.HeadGLId, new SelectList(Model.HeadList, "Value", "Text"), "---Select Account Head---", new { id = "ddlCommon_HeadGLId", @class = "searchingDropdown  customStyle", @style = "width: 100%;" })
                    @Html.ValidationMessageFor(model => model.HeadGLId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>


    <div class="row" style="margin-top:30px">
        <div class="col-sm-6 " style="text-align:center">
            <input type="submit"  data-confirm="Are you sure to submit?" value="Processing" class="btn btn-success pull-right"/> 
        </div>
    </div>
    </div>


}
