@model KGERP.Data.CustomModel.CrmVm
@{
    ViewBag.Title = "Add New Client";
    Layout = "~/Views/Shared/_LayoutCrm.cshtml";
}
@Html.Partial("_ErrorMessage")
<section class="content">
    <div class="box">

        <form action="" method="post">
            <div class="box-body">
                <strong>
                    <i>Client - Personal Information</i>
                </strong>
                <div class="row mb-0">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input type="text" asp-for="Name" name="Name" class="form-control" placeholder="Client Name" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Gender</label>
                            <select class="form-control" name="GenderId" asp-for="GenderId">
                                <option value="">--select Gender--</option>
                                @foreach (var g in Model.GenderList)
                                {
                                    <option value="@g.Id">@g.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Religion</label>
                            <select class="form-control" name="ReligionId" asp-for="GenderId">
                                <option value="">--select Religion--</option>
                                @foreach (var g in Model.ReligionList)
                                {
                                    <option value="@g.Id">@g.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Date of Birth</label>
                            <div style="display:flex;">
                                <input id="datepicker" name="DateofBirth" asp-for="DateofBirth" class="datepicker form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-0">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Mobile</label>
                            <input type="text" required name="MobileNo" asp-for="MobileNo"
                                   class="form-control" placeholder="Mobile" autocomplete="off" id="mobileNo" />
                            <span id="mobileMessage"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Mobile(2)</label>
                            <input type="text" name="MobileNo2" asp-for="MobileNo2" class="form-control" placeholder="Mobile" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input type="email" name="Email" asp-for="Email" class="form-control" placeholder="Email" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Email(2)</label>
                            <input type="email" name="Email2" asp-for="Email1" class="form-control" placeholder="Email" autocomplete="off" />
                        </div>
                    </div>
                </div>
                <div class="row mb-0">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Job Title</label>
                            <input type="text" name="JobTitle" asp-for="JobTitle" class="form-control" placeholder="Job Title" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Organization</label>
                            <input type="text" name="Organization" asp-for="Organization" class="form-control" placeholder="Organization Name" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Present Address</label>
                        <textarea class="form-control" name="PresentAddress" asp-for="PresentAddress">

                        </textarea>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Permanent Address</label>
                            <textarea class="form-control" name="PermanentAddress" asp-for="PermanentAddress">

                            </textarea>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <strong class="control-label">Remarks</strong>
                            <textarea class="form-control" name="Remarks" asp-for="Remarks">
                            </textarea>
                        </div>
                    </div>
                </div>
                <hr />
                <strong><i>Service Information</i></strong>
                <div class="row mb-0">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Dealing Officer</label>
                            @if (Model.IsLeader || Model.isManagwe)
                            {
                                <select class="form-control" name="ResponsibleOfficerId" asp-for="ResponsibleOfficerId">
                                    <option value="">--select Dealing Officer--</option>
                                    @foreach (var g in Model.DealingOfficerList)
                                    {
                                        <option value="@g.Id">@g.Name</option>
                                    }
                                </select>
                            }
                            else
                            {
                                <span>&nbsp;</span>
                            }
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Project</label>
                            <select class="form-control" name="ProjectId" asp-for="ProjectId">
                                <option value="">--select Project--</option>
                                @foreach (var g in Model.ProjectList)
                                {
                                    <option value="@g.Id">@g.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">Type of Interest</label>
                <select class="form-control chosen-select" name="TypeofInterestId"  asp-for="TypeofInterestId">
                    <option value="">--select Interest --</option>
                    @foreach (var g in Model.TypeofInterestList)
                    {
                        <option value="@g.Id">@g.Name</option>
                    }
                </select>
            </div>
        </div>


                    @*<div class="col-md-3">
                        <div class="select2-purple">
                            <label for="Against" class="col-form-label"> Select Against</label>
                            <select id="AgainstId" name="Against" class="form-control " multiple="multiple" data-placeholder="Select Item" data-dropdown-css-class="select2-purple" required style="max-width: 100%;">
                                <option value="">--select Interest --</option>
                                @foreach (var g in Model.TypeofInterestList)
                                {
                                    <option value="@g.Id">@g.Name</option>
                                }
                            </select>
                        </div>
                    </div>*@

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Service Status</label>
                            <select class="form-control" name="StatusId" asp-for="StatusId">
                                <option value="">--select Choice of Area--</option>
                                @foreach (var g in Model.ServiceStatusList)
                                {
                                    <option value="@g.Id">@g.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">First Contact Date</label>
                            <div style="display:flex;">
                                <input name="DateOfContact" asp-for="DateOfContact" class="datepicker form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <strong><i>Marketing Information</i></strong>
                <div class="row mb-0">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Source of Media</label>
                            <select class="form-control" name="SourceofMediaId" asp-for="SourceofMediaId">
                                <option value="">--select Source of Media--</option>
                                @foreach (var g in Model.SourceofMediaList)
                                {
                                    <option value="@g.Id">@g.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Promotional Offer</label>
                            <select class="form-control" name="OfferId" asp-for="OfferId">
                                <option value="">--select Promotional Offer--</option>
                                @foreach (var g in Model.PromotionalOfferList)
                                {
                                    <option value="@g.Id">@g.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Choice of Area</label>
                            <select class="form-control" name="ChoiceAreaId" asp-for="ChoiceAreaId">
                                <option value="">--select Choice of Area--</option>
                                @foreach (var g in Model.ChoiceofAreaList)
                                {
                                    <option value="@g.Id">@g.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Campaign Name</label>
                            <input type="text" name="CampaignText" asp-for="CampaignText" class="form-control" placeholder="Campaign Name" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Referred By</label>
                            <input type="text" name="ReferredBy" asp-for="ReferredBy" class="form-control" placeholder="Referred By Name" autocomplete="off" />
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-offset-9">
                        &nbsp;
                    </div>
                    <div class="col-md-3">
                        <input type="submit" id="addClientSaveBtnId" class="btn btn-primary form-control" value="Save" />
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-warning" href="@Model.ReturnUrl">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

@section scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });


    $('#mobileNo').blur(function () {

        var mobileNo = $('#mobileNo').val();

           $.ajax({
               type: "GET",
                    url: "@Url.Action("CheckMobileNo", "KGRECRM")",
                    datatype: "Json",
                    data: {
                        mobileNo: mobileNo,
                        companyId:'@Model.CompanyId'
                    },
                   success: function (data) {
                  
                   if (data === null) {
                     //  $("#addClientSaveBtnId").removeAttr("disabled", true);
                   }
                   else {
                       alert(data);
                     //  $("#addClientSaveBtnId").attr("disabled",true);
                   }

                 //  $("#mobileMessage").innerHTML = data;

               }
            });

    });


        //$(document).ready(function () {
        ////    $('.chosen-select').chosen();
        ////});
        ////$('#AgainstId').chosen({
        ////    allow_single_deselect: true
        ////    //, width: "95%"
        ////});

    
    </script>

}
