@model KGERP.Data.CustomModel.ChoiceAreaListVm
@{
    ViewBag.Title = "Choice Area";
    Layout = "~/Views/Shared/_LayoutCrm.cshtml";
    int sl = 0;
}
<div class="row">
    <div class=" col-8">
        <h5 class="bg-gray">Promotional Offer List</h5>
        <table class="table">
            <thead>
                <tr>
                    <th class="p-1">S.L</th>
                    <th class="p-1">Choice Area Name</th>
                    <th class="p-1">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model.DataList)
                {
                    sl = sl + 1;
                    <tr>
                        <td class="p-1">@{ @sl}</td>
                        <td class="p-1">@i.ChoiceAreaText</td>
                        <td class="p-1">
                            <button class="btn btn-sm btn-primary"><i class="fa fa-pen"></i></button>
                            <button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-4">
        <h5 class="p-3">Choice Area</h5>
        <div class="mb-3 col-12">
            <input type="hidden" id="txtchoiceAreaId" value="0" />
            <label for="offerName" class="form-label">Name</label>
            <input type="text" class="form-control" name="" id="txtChoiceAreaText" placeholder="Choice Area Name">
        </div>
        
        <div class="mb-3 col-12">
            <button onclick="saveChoiceArea()" type="submit" class="btn btn-primary col-12">Save</button>
        </div>
    </div>


</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <script>


    function saveChoiceArea() {
        var v = {
            'ChoiceAreaText': $('#txtChoiceAreaText').val(),
            'ChoiceAreaId': $('#txtchoiceAreaId').val(),
            'CompanyId':'@Model.CompanyId'
        };

        $.ajax({

                type: "POST",
                url: "@Url.Action("ChoiceArea", "Crms")",
                datatype: "Json",
                data: { model: v },
                success: function (data) {
                   
                }
            });

    }

    </script>

}

