@model KGERP.Data.CustomModel.CrmScheduleListVm
@{
    ViewData["Title"] = "Krishibid Realstate";
    Layout = "~/Views/Shared/_LayoutCrm.cshtml";
}


<section>
    <table>
        <tr>
            <td>
                <button class="btn btn-sm btn-secondary hvr-rectangle-out text-dark" onclick="refreshWindow()">
                    <i class="fa fa-sync"></i> &nbsp; Refresh
                </button>
            </td>
            <td>
                <a class="btn btn-sm hvr-sweep-to-bottom text-dark border " href="@Url.Action("AddNewClient","Crms", new {companyId=Model.CompanyId})"><i class="fa-plus"></i> &nbsp; New Client</a>
            </td>
            <td>
                <button class="btn btn-sm hvr-sweep-to-top text-dark border" data-toggle="modal" data-target="#searchClientModal"><i class="fa fa-search"></i> &nbsp; Client Search </button>
            </td>
            <td>
                <a class="btn btn-sm hvr-sweep-to-bottom text-dark border "
                   href="@Url.Action("PendingScheduleList","Crms", new {companyId=Model.CompanyId})"><i class="fa fa-sync"></i> &nbsp; Pending Schedule</a>
            </td>
            <td>
                <a class="btn btn-sm hvr-sweep-to-bottom text-dark border "
                   href="@Url.Action("CompletedScheduleList","Crms", new {companyId=Model.CompanyId})"><i class="fa fa-sync"></i> &nbsp; Completed Schedule</a>
            </td>
        </tr>
    </table>
</section>
<div class="row">
    <center><h4>Pending Task List</h4></center>
    <div class="col-md-12 " id="schedule">
        <table id="dTable" class="table table-sm font-weight-normal table-striped" style="font-size: 14px; ">
            <thead style="background-color: #dcefe5;">
                <tr>
                    <td><b>Client Name</b></td>
                    <td><b>Phone</b></td>
                    <td><b>Date</b></td>
                    <td><b>Time</b></td>
                    <td><b>Schedule Type</b></td>
                    <td><b>Status</b></td>
                    <td><b>Note</b></td>
                    <td><br /></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Client Name</b></td>
                    <td><b>Phone</b></td>
                    <td><b>Date</b></td>
                    <td><b>Time</b></td>
                    <td><b>Schedule Type</b></td>
                    <td><b>Status</b></td>
                    <td><b>Note</b></td>
                    <td><br /></td>
                </tr>
                @foreach (var ts in Model.DataList)
                {
                    <tr>
                        <td>@ts.ClientName</td>
                        <td>@ts.ClientMobileNo</td>
                        <td>@ts.ScheduleDate</td>
                        <td>@ts.ScheduleTime</td>
                        <td>@ts.ScheduleType</td>
                        <td>

                            <div style="display:flex;">
                                @if (ts.IsComplete)
                                {
                                    <a style="color: green; cursor: pointer;" id="unassign_@ts.ScheduleId" onclick="scheduleTask(@ts.ScheduleId, false);"
                                       data-placement="top">
                                        <i class="fa fa-check" aria-hidden="true"></i><b>Complete</b>
                                    </a>
                                    <a style="color: orange; display: none; cursor: pointer;" id="assign_@ts.ScheduleId" onclick="scheduleTask(@ts.ScheduleId,true);"
                                       data-placement="top">
                                        <i class="fa fa-times" aria-hidden="true"></i><b>Pending</b>
                                    </a>
                                }
                                else
                                {
                                    <a style="color: orange; cursor: pointer;" id="assign_@ts.ScheduleId" onclick="scheduleTask(@ts.ScheduleId,true);" title="Assign"
                                       data-placement="top">
                                        <i class="fa fa-times" aria-hidden="true"></i><b>Pending</b>
                                    </a>
                                    <a style="color: green; display: none; cursor: pointer;" id="unassign_@ts.ScheduleId" onclick="scheduleTask(@ts.ScheduleId,false);"
                                       data-placement="top">
                                        <i class="fa fa-check" aria-hidden="true"></i><b>Complete</b>
                                    </a>
                                }

                            </div>


                        </td>

                        <td>@ts.Note</td>
                        <td>
                            <a href="@Url.Action("GetClientDetailsById", "Crms", new {clientId= ts.ClientId, companyId=ts.CompanyId})"> Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

<div class="modal fade" id="searchClientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Search Client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="">
                    <div class="row">
                        <div class="col-12">
                            <label for="textSearchClientByName" class="form-label">Client Name</label>

                            <input type="text" class="form-control" id="textSearchClientByName" autocomplete="on" placeholder="Search Client Name ...">
                            <input type="hidden" id="txtClientId" />
                        </div>
                        <div class="row">
                        </div>
                        <div class="col-12">
                            <label for="textSearchClientByMobile" class="form-label">Mobile No</label>
                            <input type="text" class="form-control" id="textSearchClientByMobile" placeholder="Search Client Mobile ...">
                            <input type="hidden" id="txtClientId" />
                        </div>
                    </div>
                    <div>
                        <p id="txtClientId"></p>
                        <p id="textSearchClientByName"></p>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a onclick="clientDetails()" class="btn btn-primary">Client Details</a>
            </div>
        </div>
    </div>
</div>

@section scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dTable').DataTable({
                "language":
                {
                    "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
                },
                "processing": true,
            });
        });


    $('#scheduleListId').click(function () {
        $("#schedule").removeClass("d-none");
        $("#schedule1").removeClass("d-none");
        $("#crd").addClass("d-none");
    });

        function show(id, v) {
            $("#schedule").addClass("d-none");
            $("#schedule1").addClass("d-none");
            $("#crd").removeClass("d-none");
            $('#ClientList tbody').empty();
            document.getElementById("txt").innerHTML = v+" Client List";

            $.ajax({
                type: "Get",
                url: "@Url.Action("GetServiceByClientList", "Crms")",
                datatype: "Json",
                data: { StatusId: id, companyId:@Model.CompanyId },
                success: function (data) {
                   // console.log(data);
                    $("#ClientList").show();
                    var z = 1;
                    let rows = "";
                    for (var i = 0; i < data.DataList.length; i++) {
                        rows += "<tr><td>" + z + "</td><td style='text-align: left; padding:3px !important;'>" + data.DataList[i].Name + "</td> <td> " + data.DataList[i].MobileNo + "</td ><td>" + data.DataList[i].ProjectText + "</td><td>" + data.DataList[i].StatusText + "</td><td><a href="+data.DataList[i].ActionLink+" class='btn btn-sm btn-secondary'>Details</a></td></tr > ";
                        z++;
                    }

                    $("#ClientList tbody").append(rows);




                }
            });


        }

        $("#textSearchClientByName").autocomplete({

            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetAutoCompleteClientName", "Crms")",
                    data: { prefix: request.term },
                    dataType: "json",
                    type: "get",
                    cache: true,
                    contentType: "application/json; charset=utf-8",

                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }));
                    }
                });
            },
            select: function (e, i) {
                $("#txtClientId").val(i.item.val);
                $("#textSearchClientByName").val(i.item.label);

            },
            minLength: 3,
            cache: true
        }).focus(function () {
            $(this).autocomplete("search");
        });

        $("#textSearchClientByMobile").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetAutoCompleteClientMobile", "Crms")",
                    data: { prefix: request.term },
                    dataType: "json",
                    type: "get",
                    cache: true,
                    contentType: "application/json; charset=utf-8",

                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }));
                    }
                });
            },
            select: function (e, i) {
                $("#txtClientId").val(i.item.val);
                $("#textSearchClientByName").val(i.item.label);

            },
            minLength: 3,
            cache: true
        }).focus(function () {
            $(this).autocomplete("search");
        });
    $('#searchClientModal').on('hidden.bs.modal', function () {
        $(this).find('form').trigger('reset');
    });

    function clientDetails() {
        var c = $('#txtClientId').val();
        window.location = '/Crms/GetClientDetailsById?clientId=' + c + '&companyId=' +@Model.CompanyId;
        }
function scheduleTask(id) {


    var companyId = @Model.CompanyId;

            $.ajax({
                type: "post",
                url: "@Url.Action("SaveTask","Crms")",
                data: { ScheduleId: id, SelectedCompanyId: companyId },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    console.log(data);
                    if (data.IsCompleted) {
                        $('#assign_' + data.ScheduleId).hide();
                        $('#unassign_' + data.ScheduleId).show();

                    } else {
                        $('#assign_' + data.ScheduleId).show();
                        $('#unassign_' + data.ScheduleId).hide();
                    }
                }
            });
        }




    </script>

}