@model KGERP.Service.ServiceModel.OfficerAssignModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="border-bottom:5px solid red;">
    <h3>Marketing Officer Assign</h3>
</div>


<form method="Post">
    <div class="col-md-12 " style="margin-top:30px;">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Zone</label>

                    <select id="zonevalue" class="form-control" name="ZoneId" asp-for="ZoneId">
                    <option  value="">--select Zone--</option>
                    @foreach (var g in Model.ZoneList)
                    {
                        <option value="@g.Value">@g.Text</option>
                    }
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">SubZone</label>
                        <select id="Subzonevalue" class="form-control" name="subZoneId" asp-for="subZoneId">
                            <option value="">--select SubZone--</option>
                           
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-12 " style="margin-top:30px;">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Marketing Person</label>
                    <div class="col-sm-10">
                        <input type="text" autocomplete="on" asp-for="EmpId" name="EmpId" class="form-control" id="employee" placeholder="Marketing Person">
                        <input hidden id="employeeId" />
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Remarks</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="Remarks" asp-for="Remarks" id="rmks" placeholder="Remarks">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-12 " style="margin-top:30px;">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Start Date</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" asp-for="StartDate" name="StartDate" id="inputEmail3" >
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="inputEmail3"  class="col-sm-2 col-form-label">End Date</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" name="EndDate" asp-for="EndDate" id="inputEmail3" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <input type="submit" class="btn btn-primary" value="save" />


</form> 



















@section Scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
<script type="text/javascript">



        $(function () {
            $("#employee").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Employee/EmployeeAutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: '{"prefix":"' + request.term + '", "productType":"F"}',
                        dataType: "json",
                        type: "POST",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#employeeId").val(i.item.val);
                },
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });
        });

        $("#zonevalue").change(function () {
            var ZoneinfoId = $('#zonevalue').find(":selected").val();
            $.ajax({
                type: "Get",
                url: "@Url.Action("GetSubZone", "OfficerAssign")",
                datatype: "Json",
                data: { Id: ZoneinfoId },
                success: function (data) {
                   
                    var select = $("#Subzonevalue");
                    select.children().remove();
                    select.append($("<option>").val('').text('Select SubZone'));
                    $(data.SubZoneList).each(function (index, item) {
                        select.append($("<option data-toggle='tooltip' title='" + item.Value + "'>").val(item.Value).text(item.Text));
                    });
                    return false;
                    }
                });


        });






</script>

    }