@model KGERP.Service.ServiceModel.OfficerAssignModel

<div class="box">

    <div class="box-danger">
        <div class="box-header">
            <h4>Terrytory List</h4>
        </div>
       
        <!-- /.box-header -->
        <div class="box-body">
            <div class="text-right">
                <a href="@Url.Action("Create",new { CompanyId=Model.CompanyId })" class="btn btn-primary offset-md-5">
                    <span class="glyphicon glyphicon-plus-sign"></span> Add Marketing Officer
                </a>
            </div>
            <div class="table-responsive col-md-12">
                <table id="KgErpDataTable" style="background-color:#ddd; width:100%;" class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width:5%;">SL</th>
                            <th style="width:20%;">Zone</th>
                            <th style="width:15%;">SubZone Name</th>
                            <th style="width:10%;">Employee</th>
                            <th style="width:10%;">StartDate</th>
                            <th style="width:10%;">EndDate</th>
                            <th style="width:15%;">Remarks</th>
                            <th style="width:15%;">Action</th>
                        </tr>
                    </thead>
                    @{int sl = 0;
                    }
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {

                            <tr>
                                <td>@(++sl)</td>

                                <td>@item.ZoneName</td>
                                <td>@item.SubzoneName</td>
                                <td>@item.EmployeeName</td>
                                <td>@item.StartDate</td>
                                <td>@item.EndDate</td>
                                <td>@item.Remarks</td>
                                <td>
                                    <a>Edit</a>
                                    <a>Delete</a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
        <div class="box-footer">
        </div>
    </div>
</div>