@model KGERP.Service.ServiceModel.MessageModel

    <div class="row">
        <div class="col-md-12" style="background-color:lightblue">
            @Html.Label("Messaage", new { @style = "font-size:20px" })
        </div>
    </div>
    <br />
    @using (Html.BeginForm("SendMessage", "Message", FormMethod.Get, new { @id = "idForm" }))
    {

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CompanyId)
        <div class="row">

            <input  type="submit" value="Send Message"/>

        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/cssjqryUi")

        <script>
            $(document).ready(function () {
                $('.datepicker').datepicker({
                    dateFormat: "mm/dd/yy",
                    showOn: 'both',
                    buttonText: "<i class='fa fa-calendar'></i>",
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "2001:+50"
                });
            });
        </script>
    }





