@model KGERP.Service.Implementation.HrDesignationService.DesignationViewModel

@{
    ViewBag.Title = "Add_Designation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sl = 0;
}

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }

    .btn-primary {
        color: #fff !important;
        background-color: #3c8dbc !important;
        border-color: #3c8dbc !important;
    }

    .bg-primary {
        color: #fff !important;
        background-color: #3c8dbc !important;
        border-color: #3c8dbc !important;
    }

    .bg-warning {
        color: #fff;
        background-color: #f39c12;
        border-color: #f39c12;
    }

    .bg-info {
        color: #000;
        background-color: #31d2f2;
        border-color: #25cff2;
    }

    .bg-success {
        color: #fff;
        background-color: #00a65a;
        border-color: #00a65a;
    }

    .bg-danger {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }

    .btn-danger {
        color: #fff;
        background-color: #d9534f;
        border-color: #d43f3a;
    }

    .badge1 {
        display: inline-block;
        min-width: 10px;
        padding: 3px 7px;
        font-size: 12px;
        font-weight: bold;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        border-radius: 10px;
    }
</style>
<div class="row">
    <div class="col-md-4">
        <h3 class="text-info">Add Designation  </h3>
    </div>
    <div class="col-md-4">
        <h3 class="text-info">  </h3>
    </div>
</div>

<hr />

@using (Html.BeginForm("Add_Designation", "Designation", FormMethod.Post))
{
    <div style="background-color:aliceblue;padding:23px;margin-bottom:20px">
        @Html.HiddenFor(model => model.CompanyId)
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    @Html.Label("Designation Name", htmlAttributes: new { @class = "control-label" })
                    <br />
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @style = "max-width:100%", @Id = "nameId", @class = "form-control", required = "required" } })

                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <button type="submit" class="btn btn-primary" onclick="javascript: return SubmitForm();" style="margin-left: 20px;"> Submit </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
}





<div class="table-responsive col-md-12  text-nowrap">

    <table id="KgErpDataTable" class="table table-striped">
        <thead>
            <tr>
                <th style="padding:5px;text-align:center;">SL</th>
                <th style="padding:5px">Name</th>
                <th style="padding:5px;text-align:center;">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DataList)
            {
                <tr>
                    <td style="padding:5px;text-align:center;">@(++sl)</td>
                    <td style="padding:5px">@item.Name</td>
                    <td>
                    <td class="text-right">
                        @*<button type="button" class="btn btn-sm btn-primary" onclick="makeEdit(@item)" style="background-color: #ffc107;border-color: #ffc107;">Change</button>*@
                    </td>
                </tr>
            }
        <tbody>
    </table>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    @*<script type="text/javascript">

        function makeEdit(rowId) {
            $('#nameId').val(rowId.name);
            $('#desId').val(rowId);
        }


    </script>*@
}
