@model KGERP.Service.ServiceModel.SaleReturnModel
@using KGERP.Utility;
@{
    var message = TempData["successMessage"];
    ViewBag.Title = "Sale Return List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Sale Return List
    </h1>


    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li>
            <a href="@Url.Action("Create", new { id = 0,companyId=Request.QueryString["companyId"],productType=Request.QueryString["productType"] })" class="btn btn-primary pull-right">
                <span class="fa fa-plus"></span> New Return
            </a>
        </li>
    </ol>
</section>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-danger">
                    <div class="box-body">

                        @using (Html.BeginForm("Index", "SaleReturn", FormMethod.Post, new { @class = "formValidator" }))
                        {
                            @Html.HiddenFor(model => model.CompanyId, new { id = "CompanyId" })
                            <div class="row">
                                <div class="col-md-3">



                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.Label("From Date", htmlAttributes: new { @class = "control-label" })
                                        <br />
                                        @Html.EditorFor(model => model.StrFromDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.StrFromDate, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.Label("To Date", htmlAttributes: new { @class = "control-label" })
                                        <br />
                                        @Html.EditorFor(model => model.StrToDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                        @Html.ValidationMessageFor(model => model.StrToDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3" style="padding: 0px 2px 0px 8px;">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block">Show</button>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="table-responsive">
                            <table id="KgErpDataTable" style="width:100%; background-color:#ddd;" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Return No</th>
                                        <th>Return Date</th>
                                        <th>Delivery Invoice</th>
                                        <th>Customer</th>
                                        <th>Received By</th>
                                        <th>Status</th>
                                        <th>Details</th>
                                        <th>Report</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td>@(++sl)</td>
                                            <td id="tdUnitName_@item.SaleReturnNo">@item.SaleReturnNo</td>
                                            <td id="tdRequisitionDate_@item.SaleReturnNo">@item.ReturnDate</td>
                                            <td id="tdRequisitionBy_@item.SaleReturnNo">@item.InvoiceNo</td>
                                            <td id="tdDescription_@item.SaleReturnNo">@item.CustomerName</td>
                                            <td id="tdDescription_@item.SaleReturnNo">@item.ReceiverName</td>
                                            <td>
                                                @if (item.IsFinalized)
                                                {
                                                    <span>Submited</span>
                                                }
                                                else
                                                {
                                                    <span>Draft</span>

                                                }
                                            </td>

                                            <td>
                                                @if (item.OrderDeliverId != null)
                                                {
                                                    
                                                    <a href="~/SaleReturn/Create?saleReturnId=@item.SaleReturnId&companyId=@item.CompanyId&productType=@item.ProductType" title="Details"><i class="glyphicon glyphicon-new-window"></i></a>

                                                }
                                                else
                                                {
                                                    <a></a>
                                                }

                                            </td>
                                            <td>
                                                <a href="@Url.Action("GetSalesReturnReport","Report", new {saleReturnId=item.SaleReturnId,reportName="SalesReturn"})" target="_blank" class="btn btn-success btn-xs">
                                                    Export
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $('.datepicker').datepicker({
            dateFormat: "dd/mm/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });
        var message = '@message';
    if(message){
        alert(message);
    }

    </script>

}













