@model  List<KGERP.Service.ServiceModel.UpazilaAssignModel>

<ul>
    <li style="list-style-type:none;font-size:20px;color:green">
        <input type="checkbox" id="checkAll" style="color:green" />  Check All

    </li>
    @for (int i = 0; i < Model.Count(); i++)
    {

        <li style="list-style-type:none;font-size:20px">
            @Html.Hidden("upazilaAssigns.Index", (@i))
            @Html.Hidden("upazilaAssigns[" + i + "].UpazilaAssignId", Model[i].UpazilaAssignId)
            @Html.Hidden("upazilaAssigns[" + i + "].EmployeeId", Model[i].EmployeeId)
            @Html.Hidden("upazilaAssigns[" + i + "].DistrictId", Model[i].DistrictId)
            @Html.Hidden("upazilaAssigns[" + i + "].UpazilaId", Model[i].UpazilaId)
            @Html.CheckBox("upazilaAssigns[" + i + "].IsActive", Model[i].IsActive, new { @class = "check" }) @Model[i].Name

        </li>}
    @*@foreach (var item in Model)
        {
        <li>
            <input type="checkbox" name="chk@i" class="check" />
            <input type="checkbox" name="chk@i" class="check" />   @item.Name

            <div class="checkbox">
                @Html.EditorFor(model => item.IsActive) @item.Name
            </div>
        </li>
        }*@
</ul>

<script>

    $("#checkAll").click(function () {
        if ($('#checkAll').is(':checked')) {
            $('.check').prop('checked', true);
        }
        if (!$('#checkAll').is(':checked')) {
            $('.check').prop('checked', false);
        }
    })
</script>