@model KGERP.ViewModel.UpazilaAssignViewModel
@{
    ViewBag.Title = "Create";
}
<div class="row">
    <div class="col-md-6" style="font-size:25px">
        Assign Area to Marketing Officer
    </div>
    @if (TempData["message"] != null)
    {
        <div class="col-md-6">
            <div class="alert alert-success alert-dismissible">
                <button class="close" data-dismiss="alert" aria-label="close">&times;</button>
                <strong>Success!</strong> @TempData["message"].
            </div>
        </div>

    }
</div>





@using (Html.BeginForm("CreateOrEdit", "UpazilaAssign", FormMethod.Post, new { enctype = "multipart/form-data" }))
{@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.AntiForgeryToken()
<div class="form-horizontal">
    <hr style="border-color:#ff0000; padding:0px;margin-top: 5px;margin-bottom: 10px; border-width: 2px;" />
    <div class="col-md-5">
        <div class="form-group">
            @Html.LabelFor(model => model.UpazilaAssign.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UpazilaAssign.Employee.Name, new { htmlAttributes = new { @class = "form-control", @name = "employee", @id = "employee" } })
                @Html.HiddenFor(x => x.UpazilaAssign.EmployeeId, new { @id = "employeeId", @name = "employeeId" })
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="form-group">
            @Html.LabelFor(model => model.UpazilaAssign.DistrictId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.UpazilaAssign.DistrictId, new SelectList(Model.Districts, "Value", "Text"), "--Select--", htmlAttributes: new { @class = "dropdownsize form-control", @id = "ddlDistrict" })
                @Html.ValidationMessageFor(model => model.UpazilaAssign.DistrictId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input type="submit" value="Save" id="apply" class="btn btn-primary pull-right" />
        </div>
    </div>
    <div id="upazila">

    </div>

</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

        $('#ddlDistrict').change(function () {

            var districtId = $('#ddlDistrict').val();
            var employeeId = $('#employeeId').val();

            $.ajax({
                type: "GET",
                url: "/UpazilaAssign/GetUpazilaListByDistrict?districtId=" + districtId + "&employeeId=" + employeeId,
                data: { districtId: $('#ddlDistrict').val() },
                traditional: true,
                success: function (data) {
                  
                    $('#upazila').html(data);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
        $(function () {
            $("#employee").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Employee/EmployeeAutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: '{"prefix":"' + request.term + '", "productType":"F"}',
                        dataType: "json",
                        type: "POST",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#employeeId").val(i.item.val);
                },
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });
        });


    </script>

}
