@model KGERP.Service.Implementation.Procurement.VmCustomerAgeing
@{
    ViewData["Title"] = "Customer Ageing";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>
<section class="content-header">
    <h1>
        <b>Customer Ageing</b> 
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Customer Ageing</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("CustomerAgeingView", "Collection", FormMethod.Post, new { id = "balanceSheetReportformId", @class = "formValidator", @target = "_blank", @enctype = "multipart/form-data" }))
            {
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box-danger">
                        <!-- /.box-header -->
                        <div class="box-body">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.CompanyFK)

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Zone:</label>
                                        @Html.DropDownListFor(model => model.ZoneId, Model.ZoneListList as SelectList, "--Select Zone--", new { id = "ddlZoneId", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ZoneId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Territory:</label>
                                        @Html.DropDownListFor(model => model.SubZoneId, Model.TerritoryList as SelectList, "--Select Territory--", new { id = "ddlSubZoneId", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SubZoneId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">As On:</label> <br />
                                        <div style="display:flex">
                                            @Html.EditorFor(x => x.AsOnDate, new { htmlAttributes = new { id = "txtAsOnDate", @class = "datepicker form-control", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.AsOnDate, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                </div>

                                @*<div class="col-md-5">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Select Report:</label>
                                            <br />
                                            @Html.RadioButtonFor(m => m.ReportName, Model.ReportName) Balance Sheet
                                            @Html.RadioButtonFor(m => m.ReportName, Model.NoteReportName) Note
                                        </div>
                                    </div>
                                    <div class="col-md-1">

                                    </div>*@
                            </div>

                            <div class="row">
                                <div class="form-group">

                                    <div class="col-md-3">
                                        @*<select class="pull-right" style="color:#ffffff; background-color:#dd4b39;height:34px;font-size:15px;width:100%" name="ReportType" id="ReportType">
                                                <option value="PDF">PDF</option>
                                                <option value="EXCEL">EXCEL</option>
                                                <option value="WORD">WORD</option>
                                            </select>*@
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-success pull-right" type="submit" style="width:100%">Show Customer Ageing</button>
                                    </div>
                                    <div class="col-md-3"></div>

                                </div>
                            </div>

                        </div>
                        <div class="box-footer">
                        </div>

                    </div>
                </div>
            }


        </div>

    </div>
</section>















@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                dateFormat: "mm/dd/yy",
                showOn: 'both',
                buttonText: "<i class='fa fa-calendar'></i>",
                changeMonth: true,
                changeYear: true,
                yearRange: "2001:+50"
            });

      $("#ddlZoneId").change(function (e) {
            var zoneId = $("#ddlZoneId :selected").val();
                $.ajax({
                type: "GET",
                url: "@Url.Action("CommonSubZonesGet", "Configuration")",
                datatype: "Json",
                    data: { id: zoneId },
                    success: function (data) {
                    var items = "";
                        if (data) {
                            $("#ddlSubZoneId").empty();
                            $("#ddlSubZoneId").append("<option value=''>==Select Territory==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlSubZoneId").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                            });

                        }
                    }
                });
       });



        });


    </script>
}




