@model KGERP.Service.Implementation.Procurement.VmCustomerAgeing
@using KGERP.Utility;
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Customer Ageing Seed";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;
    double totalNetSaleAmount = 0;
    decimal totalSaleReturnAmount = 0;
    decimal totalNetRecover = 0;
    decimal totalNetBalance = 0;
    decimal totalZeroToThirtyDayes = 0;
    decimal totalThirtyToSixtyDayes = 0;
    decimal totalSixtyToNintyDayes = 0;
    decimal totalNintyTo120Dayes = 0;
    decimal totalOneH20To150Dayes = 0;
    decimal totalOneH50To180Dayes = 0;
    decimal totalOneH80To210Dayes = 0;
    decimal totalTwoH40To270Dayes = 0;
    decimal totalOver300Dayes = 0;
    decimal totalCurrentMonthCollection = 0;

    string strDataList = JsonConvert.SerializeObject(Model.DataList);
}
<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }


    .d-none {
        display: none;
    }
</style>
<section class="content-header">
    <h1>
        <span>
            Customer Business Ageing Seed (AS ON @Model.AsOnDate)
        </span>

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Customer Business Ageing Seed</li>
    </ol>
</section>
<div id="printdiv" class="d-none">

    <div class="container-fluid mt-5" id="hidden_div">


        <!-- Content here -->
        <style>
            /*.col-md-2 {
                -ms-flex: 0 0 16.666667%;
                flex: 0 0 16.666667%;
                max-width: 16.666667%;
                padding-left: 2px;
                padding-right: 2px;
            }*/

            .col-md-2 {
                -ms-flex: 0 0 14.2857142857%;
                flex: 0 0 14.2857142857%;
                max-width: 14.2857142857%;
                padding-left: 1px;
                padding-right: 1px;
            }

            .col-md-2s {
                -ms-flex: 0 0 19.0476190476%;
                flex: 0 0 19.0476190476%;
                max-width: 19.0476190476%;
                padding-left: 1px;
                padding-right: 1px;
            }

            .col-md-4 {
                -ms-flex: 0 0 25%;
                flex: 0 0 25%;
                max-width: 25%;
                padding-left: 2px;
                padding-right: 2px;
            }

            .item p {
                font-size: 12px;
                margin-bottom: 1px;
            }

            h4 {
                margin-bottom: 0px;
            }

            h6 {
                margin-bottom: 0px;
            }
        </style>
        <div class="card">
            <div class="card-header">
                <center>
                    <h4>Company: @Model.CompanyName</h4>
                    <h5>Customer Business Ageing</h5>
                    <h6>As on: @Model.AsOnDate</h6>
                </center>
                
            </div>
            <div class="card-body">
                @foreach (var item in Model.DataList)
                {
                    totalNetSaleAmount += item.NetSaleAmount;
                    totalSaleReturnAmount += item.SaleReturnAmount;
                    totalNetRecover += item.NetRecover;
                    totalNetBalance += Convert.ToDecimal(item.NetSaleAmount) - (item.SaleReturnAmount + item.NetRecover);
                    totalZeroToThirtyDayes += item.ZeroToThirtyDayes;
                    totalThirtyToSixtyDayes += item.ThirtyToSixtyDayes;
                    totalSixtyToNintyDayes += item.SixtyToNintyDayes;
                    totalNintyTo120Dayes += item.NintyTo120Dayes;
                    totalOneH20To150Dayes += item.OneH20To150Dayes;
                    totalOneH50To180Dayes += item.OneH50To180Dayes;
                    totalOneH80To210Dayes += item.OneH80To210Dayes;
                    totalTwoH40To270Dayes += item.TwoH40To270Dayes;
                    totalOver300Dayes += item.Over300Dayes;
                    totalCurrentMonthCollection += item.CurrentMonthCollection;
                    <div style="border-bottom:1px dotted">
                        <h4>@item.VendorName -@item.VendorCode </h4>

                        <div style="display: flex; padding: 1px; width: 100%; margin: 0px !important;">
                            <div class="col-md-2">
                                <div class="item shadow-sm">
                                    <h6>Zone:</h6>
                                    <p>@item.ZoneName</p>
                                </div>

                            </div>

                            <div class="col-md-2s">
                                <div class="item shadow-sm">
                                    <h6>Zone Incharge:</h6>
                                    <p>@item.ZoneIncharge</p>
                                </div>

                            </div>
                            <div class="col-md-2s">
                                <div class="item shadow-sm">
                                    <h6>Territory:</h6>
                                    <p>@item.SubZoneName</p>
                                </div>

                            </div>
                            <div class="col-md-2s">
                                <div class="item shadow-sm">
                                    <h6>Sales Officer:</h6>
                                    <p>@item.SalesOfficerName</p>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div class="item shadow-sm">
                                    <h6>Mode:</h6>
                                    <p>@item.CustomerMode</p>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div class="item shadow-sm">
                                    <h6>Sale:</h6>
                                    <p>@String.Format("{0:0.00}", item.NetSaleAmount)</p>
                                </div>

                            </div>

                        </div>
                        <div style="display: flex; padding: 1px; width: 100%; margin: 0px !important;">
                            <div class="col-md-2">
                                <div class="item shadow-sm">
                                    <h6>Retail:</h6>
                                    <p>@String.Format("{0:0.00}", item.SaleReturnAmount)</p>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div class="item shadow-sm">
                                    <h6>Recover:</h6>
                                    <p>@String.Format("{0:0.00}", item.NetRecover)</p>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div class="item shadow-sm">
                                    <h6>Balance:</h6>
                                    <p>@String.Format("{0:0.00}", Convert.ToDecimal(item.NetSaleAmount) - (item.SaleReturnAmount + item.NetRecover))</p>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div class="item shadow-sm">
                                    <h6>0 - 30:</h6>
                                    <p>@String.Format("{0:0.00}", item.ZeroToThirtyDayes)</p>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div class="item shadow-sm">
                                    <h6>31 - 60:</h6>
                                    <p>@String.Format("{0:0.00}", item.ThirtyToSixtyDayes)</p>
                                </div>

                            </div>

                            <div class="col-md-2">
                                <div class="item shadow-sm">
                                    <h6>61 - 90:</h6>
                                    <p>@String.Format("{0:0.00}", item.SixtyToNintyDayes)</p>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div class="item shadow-sm">
                                    <h6>91 - 120:</h6>
                                    <p>@String.Format("{0:0.00}", item.NintyTo120Dayes)</p>
                                </div>

                            </div>

                        </div>

                        <div style="display:flex;padding:1px; width:100%;margin:0px !important;">

                            <div class="col-md-2">
                                <div class="item shadow-sm">
                                    <h6>121 - 150:</h6>
                                    <p>@String.Format("{0:0.00}", item.OneH20To150Dayes)</p>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div class="item shadow-sm">
                                    <h6>151 - 180:</h6>
                                    <p>@String.Format("{0:0.00}", item.OneH50To180Dayes)</p>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div class="item shadow-sm">
                                    <h6>181 - 210:</h6>
                                    <p>@String.Format("{0:0.00}", item.OneH80To210Dayes)</p>
                                </div>

                            </div>

                            <div class="col-md-2">
                                <div class="item shadow-sm">
                                    <h6>211 - 240:</h6>
                                    <p>@String.Format("{0:0.00}", item.TwoH10To240Dayes)</p>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div class="item shadow-sm">
                                    <h6>241 - 300:</h6>
                                    <p>@String.Format("{0:0.00}", item.TwoH40To270Dayes)</p>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div class="item shadow-sm">
                                    <h6>Over 300:</h6>
                                    <p>@String.Format("{0:0.00}", item.Over300Dayes)</p>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div class="item shadow-sm">
                                    <h6>CMC:</h6>
                                    <p>@String.Format("{0:0.00}", item.CurrentMonthCollection)</p>
                                </div>

                            </div>

                        </div>


                    </div>

                }
            <div style="border-bottom:1px solid">
                <h4>Grand Total:</h4>
                <div style="display:flex;padding:1px; width:100%;margin:0px !important;">

                    <div class="col-md-2">
                        <div class="item shadow-sm">
                            <h6>Total Sale:</h6>
                            <p>@String.Format("{0:0.00}", totalNetSaleAmount)</p>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="item shadow-sm">
                            <h6>Total Return:</h6>
                            <p>@String.Format("{0:0.00}", totalSaleReturnAmount)</p>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="item shadow-sm">
                            <h6>Total Recoved:</h6>
                            <p>@String.Format("{0:0.00}", totalNetRecover)</p>
                        </div>

                    </div>

                    <div class="col-md-2">
                        <div class="item shadow-sm">
                            <h6>Total Balance:</h6>
                            <p>@String.Format("{0:0.00}", totalNetBalance)</p>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="item shadow-sm">
                            <h6>Total 1 - 30:</h6>
                            <p>@String.Format("{0:0.00}", totalZeroToThirtyDayes)</p>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="item shadow-sm">
                            <h6>Total 31 - 60:</h6>
                            <p>@String.Format("{0:0.00}", totalThirtyToSixtyDayes)</p>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="item shadow-sm">
                            <h6>Total 61 - 90:</h6>
                            <p>@String.Format("{0:0.00}", totalSixtyToNintyDayes)</p>
                        </div>

                    </div>

                </div>
                <div style="display:flex;padding:1px; width:100%;margin:0px !important;">

                    <div class="col-md-2">
                        <div class="item shadow-sm">
                            <h6>Total 91 - 120:</h6>
                            <p>@String.Format("{0:0.00}", totalNintyTo120Dayes)</p>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="item shadow-sm">
                            <h6>Total 121 - 150:</h6>
                            <p>@String.Format("{0:0.00}", totalOneH20To150Dayes)</p>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="item shadow-sm">
                            <h6>Total 151 - 180:</h6>
                            <p>@String.Format("{0:0.00}", totalOneH50To180Dayes)</p>
                        </div>

                    </div>

                    <div class="col-md-2">
                        <div class="item shadow-sm">
                            <h6>Total 181 - 240:</h6>
                            <p>@String.Format("{0:0.00}", totalOneH80To210Dayes)</p>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="item shadow-sm">
                            <h6>Total 241 - 300:</h6>
                            <p>@String.Format("{0:0.00}", totalTwoH40To270Dayes)</p>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="item shadow-sm">
                            <h6>Total Over 300:</h6>
                            <p>@String.Format("{0:0.00}", totalOver300Dayes)</p>
                        </div>

                    </div>
                    <div class="col-md-2">
                        <div class="item shadow-sm">
                            <h6>Total CMC:</h6>
                            <p>@String.Format("{0:0.00}", totalCurrentMonthCollection)</p>
                        </div>

                    </div>

                </div>
            </div>


            </div>
        </div>
    </div>

</div>
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header">

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    
                    <div class="table-responsive col-md-12  text-nowrap">
                   
                        <table id="AgeingDataTable" class="table table-striped text-nowrap table-bordered border-dark" width="100%">
                            <div><button class="btn btn-warning" onclick="PrintbtnClick()"><i class="fa fa-print"></i>PDF Print</button></div>
                            <thead>

                                <tr style="background-color:aqua;">
                                    <th style="text-align:center;">Details</th>
                                    <th>Customer</th>
                                    <th>Customer Code</th>
                                    <th>Zone</th>
                                    @*<th>Zone Code</th>*@
                                    <th>Zone Incharge</th>
                                    <th>Territory</th>
                                    @*<th>Territory Code</th>*@
                                    <th>Sales Officer</th>
                                    <th>Mode</th>
                                    <th style="text-align: right;">Sale</th>
                                    <th style="text-align: right;">Return</th>
                                    <th style="text-align: right;">Recover</th>
                                    <th style="text-align: right;">Balance</th>
                                    <th style="text-align: right;">0 - 30</th>
                                    <th style="text-align: right;">31 - 60</th>
                                    <th style="text-align: right;">61 - 90</th>
                                    <th style="text-align: right;">91 - 120</th>
                                    <th style="text-align: right;">121 - 150</th>
                                    <th style="text-align: right;">151 - 180</th>
                                    <th style="text-align: right;">181 - 240</th>
                                    <th style="text-align: right;">241 - 300</th>
                                    <th style="text-align: right;">Over 300</th>
                                    <th style="text-align: right;" title="Current Month Collection">CMC</th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {

                                    <tr>
                                        <th style="text-align:center;">
                                            <a title="PDF Format" target="_blank" href="~/Collection/GCCLCustomerAgeingDetails?CompanyId=@Model.CompanyFK&CustomerId=@item.VendorId&AsOnDate=@Model.AsOnDate&reportName=SeedCustomerAgeingDetailsReport&reportFormat=PDF"><span class="fa fa-file-pdf-o"></span></a>
                                            <a title="Excel Format" target="_blank" href="~/Collection/GCCLCustomerAgeingDetails?CompanyId=@Model.CompanyFK&CustomerId=@item.VendorId&AsOnDate=@Model.AsOnDate&reportName=SeedCustomerAgeingDetailsReport&reportFormat=EXCEL"><span class="fa fa-file-excel-o"></span></a>

                                        </th>
                                        <td>
                                            @item.VendorName


                                        </td>

                                        <td>
                                            @item.VendorCode


                                        </td>
                                        <td>@item.ZoneName</td>
                                        @*<td>@item.ZoneCode</td>*@
                                        <td>@item.ZoneIncharge</td>
                                        <td>@item.SubZoneName</td>
                                        @*<td>@item.SubZoneCode</td>*@
                                        <td>@item.SalesOfficerName</td>
                                        <td>@item.CustomerMode</td>
                                        <td style="text-align: right;">@String.Format("{0:0.00}", item.NetSaleAmount)</td>
                                        <td style="text-align: right;">@String.Format("{0:0.00}", item.SaleReturnAmount)</td>
                                        <td style="text-align: right;">@String.Format("{0:0.00}", item.NetRecover)</td>
                                        <td style="text-align: right;">@String.Format("{0:0.00}", Convert.ToDecimal(item.NetSaleAmount) - (item.SaleReturnAmount + item.NetRecover))</td>

                                        <td style="text-align: right;">@String.Format("{0:0.00}", item.ZeroToThirtyDayes)</td>
                                        <td style="text-align: right;">@String.Format("{0:0.00}", item.ThirtyToSixtyDayes)</td>
                                        <td style="text-align: right;">@String.Format("{0:0.00}", item.SixtyToNintyDayes)</td>
                                        <td style="text-align: right;">@String.Format("{0:0.00}", item.NintyTo120Dayes)</td>
                                        <td style="text-align: right;">@String.Format("{0:0.00}", item.OneH20To150Dayes)</td>
                                        <td style="text-align: right;">@String.Format("{0:0.00}", item.OneH50To180Dayes)</td>
                                        <td style="text-align: right;">@String.Format("{0:0.00}", item.OneH80To210Dayes)</td>
                                        <td style="text-align: right;">@String.Format("{0:0.00}", item.TwoH40To270Dayes)</td>
                                        <td style="text-align: right;">@String.Format("{0:0.00}", item.Over300Dayes)</td>
                                        <td style="text-align: right;"> @String.Format("{0:0.00}", item.CurrentMonthCollection)</td>

                                    </tr>
                                }

                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th colspan="7">
                                        TOTAL
                                    </th>

                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalNetSaleAmount)</th>
                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalSaleReturnAmount)</th>
                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalNetRecover)</th>
                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalNetBalance)</th>
                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalZeroToThirtyDayes)</th>
                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalThirtyToSixtyDayes)</th>

                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalSixtyToNintyDayes)</th>
                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalNintyTo120Dayes)</th>
                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalOneH20To150Dayes)</th>
                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalOneH50To180Dayes)</th>
                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalOneH80To210Dayes)</th>
                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalTwoH40To270Dayes)</th>
                                    <th style="text-align: right;">@String.Format("{0:0.00}", totalOver300Dayes)</th>
                                    <th style="text-align: right;"> @String.Format("{0:0.00}", totalCurrentMonthCollection)</th>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                    @*@if (Model.ID > 0)
                        {
                            <a target="_blank" href="~/Shipment/DeliveryChallanePrint/@Model.ID" class="btn btn-primary" style="width:100%">Print</a>
                        }*@
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {


            $("#AgeingDataTable").DataTable({
                "bDeferRender": true,
                sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                        orientation: 'landscape',
                        footer: true
                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                        orientation: 'landscape',
                        footer: true
                        //exportOptions: {
                        //    columns: [0, 1, 2, 3, 4, 5]
                        //}
                    },
                    //{
                    //    extend: 'print',
                    //    footer: true,
                    //    text: '<i class="fa fa-print"></i>&nbsp;Print',
                    //    customize: function (win) {
                    //        $(win.document.body).find('thead').prepend('<div class="header-print">' + $('#dt-header').val() + '</div>');
                    //    }
                    //}

                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i>&nbsp;Print',
                        orientation: 'landscape',
                        footer: true,
                        exportOptions: {
                            columns: [1, 3, 5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
                        }
                    }
                ]
            })



        })
        function PrintbtnClick() {

            var myPrintContent = document.getElementById('printdiv');
            var myPrintWindow = window.open(window.location, "Print");
            myPrintWindow.document.write(myPrintContent.innerHTML);
            myPrintWindow.document.getElementById('hidden_div').style.display = 'block'
            myPrintWindow.document.close();
            myPrintWindow.focus();
            myPrintWindow.print();
            myPrintWindow.close();
            return false;
        }
    </script>
}

