
@{
    ViewData["Title"] = "Invoice List";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model KGERP.Service.Implementation.VMPayment

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>
        Collection History of <span style="color:maroon">@Model.CommonCustomerCode-@Model.CommonCustomerName</span>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Dealer/ Customer</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("OrderMasterByID", "Collection", FormMethod.Post, new { id = "orderMasterByIDformId", @class = "formValidator", @enctype = "multipart/form-data" }))
            {
                <div class="box">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
                    @Html.HiddenFor(model => model.CompanyFK, new { id = "CompanyFK" })

                    @Html.HiddenFor(model => model.PaymentMasterId, new { id = "hidPaymentMasterId" })
                    @Html.HiddenFor(model => model.PaymentFromHeadGLId, new { id = "hidPaymentFromHeadGLId" })
                    @Html.HiddenFor(model => model.PaymentToHeadGLId, new { id = "hidPaymentToHeadGLId" })
                    @Html.HiddenFor(model => model.BankChargeHeadGLId, new { id = "hidBankChargeHeadGLId" })

                    <div class="box-danger">
                        <div class="box">


                            <div class="box-body">
                                @if (Model.PaymentMasterId > 0)
                                {


                                    <div class="col-md-1"> </div>
                                    <div class="col-md-10">
                                        <table class="table">

                                            <tr>
                                                <th style="width:18%">
                                                    Collection No
                                                </th>
                                                <th style="width:2%">:</th>
                                                <td style="width:30%">
                                                    <label class="col-form-label">@Model.PaymentNo</label>
                                                </td>
                                                <th style="width:18%">Collection Date</th>
                                                <th style="width:2%">:</th>
                                                <td style="width:30%">@Model.TransactionDate.ToString("dd-MM-yyyy")</td>
                                            </tr>
                                            <tr>
                                                <th style="width:18%">
                                                    Collection To
                                                </th>
                                                <th style="width:2%">:</th>

                                                <td style="width:30%" colspan="4">@Model.PaymentToHeadGLName</td>
                                            </tr>
                                            <tr>
                                                <th style="width:18%">
                                                    Reference
                                                </th>
                                                <th style="width:2%">:</th>
                                                <td style="width:30%">
                                                    <label class="col-form-label">@Model.ReferenceNo</label>
                                                </td>
                                                <th style="width:18%">Bank Charge</th>
                                                <th style="width:2%">:</th>
                                                <th style="width:30%">@Model.BankCharge</th>
                                            </tr>

                                        </table>
                                    </div>
                                    <div class="col-md-1"> </div>
                                }


                                @if (Model.PaymentMasterId == 0)
                                {
                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Collection Date:</label>
                                                <input name="TransactionDate" asp-for="TransactionDate" type="text" required="required" class="datePicker form-control" id="txtPaymentDate" placeholder="Payment Date" autocomplete="off">
                                                @Html.ValidationMessageFor(model => model.TransactionDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="txtBankCharge" class="col-form-label">Bank Charge:</label>

                                                @Html.TextBoxFor(model => model.BankCharge, new { id = "txtBankCharge", @class = "form-control", placeholder = "Bank Charge" })

                                                @Html.ValidationMessageFor(model => model.BankCharge, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Type:</label>
                                                @Html.DropDownListFor(model => model.Accounting_BankOrCashParantId, Model.BankOrCashParantList as SelectList, "==Select Type==", new { id = "ddlAccounting_BankOrCashParantId", @class = "form-control ddlReset", style = "width:100%" })
                                                @Html.ValidationMessageFor(model => model.Accounting_BankOrCashParantId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Bank/ Cash:</label>
                                                @Html.DropDownListFor(model => model.Accounting_BankOrCashId, Model.BankOrCashGLList as SelectList, new { id = "ddlAccounting_BankOrCashId", @class = "form-control searchingDropdown", style = "width:100%" })
                                                @Html.ValidationMessageFor(model => model.Accounting_BankOrCashId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>


                                }
                                @if (!Model.IsFinalized)
                                {
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="txtDescription" class="col-form-label">Money Receipt No:</label>
                                                <input name="MoneyReceiptNo" asp-for="MoneyReceiptNo" type="text" class="form-control">

                                                @Html.ValidationMessageFor(model => model.MoneyReceiptNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>MR Date:</label>
                                                <input name="MoneyReceiptDate" asp-for="MoneyReceiptDate" type="text" class="datePicker form-control" id="txtPaymentDate" placeholder="MR Date" autocomplete="off">
                                                @Html.ValidationMessageFor(model => model.MoneyReceiptDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Territory:</label>
                                                @Html.DropDownListFor(model => model.SubZoneFk, Model.SubZoneList as SelectList, "==Select Territory==", new { id = "ddlSubZoneFk", @class = "form-control searchingDropdown", style = "width:100%" })
                                                @Html.ValidationMessageFor(model => model.SubZoneFk, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Customer:</label>
                                                @Html.DropDownListFor(model => model.CustomerId, Model.CustomerList as SelectList, "==Select Customer==", new { id = "ddlCustomerId", @class = "form-control searchingDropdown", style = "width:100%" })
                                                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Invoice No:</label>
                                                @Html.DropDownListFor(model => model.OrderMasterId, Model.OrderMusterList as SelectList, "--Invoice No--", new { id = "ddOrderMasterId", @class = "searchingDropdown form-control" })
                                                @Html.ValidationMessageFor(model => model.OrderMasterId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>


                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="txtDescription" class="col-form-label">Receivable Amount:</label>
                                                <input name="PayableAmount" asp-for="PayableAmount" id="txtPayableAmount" readonly="readonly" type="text" class="form-control">

                                                @Html.ValidationMessageFor(model => model.PayableAmount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="txtPaidAmount" class="col-form-label">Collected Amount:</label>
                                                <input name="InAmount" asp-for="InAmount" type="text" class="form-control" id="txtPaidAmount" placeholder="Paid">
                                                @Html.ValidationMessageFor(model => model.InAmount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="txtDescription" class="col-form-label">Reference No:</label>
                                                @Html.TextAreaFor(model => model.ReferenceNo, new { id = "txtReferenceNo", placeholder = "Reference No", @class = "form-control", Rows = 1 })
                                                @Html.ValidationMessageFor(model => model.ReferenceNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>


                                    <div class="box-footer">
                                        <div class="row">
                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-lg-8 col-md-8">
                                                <button type="submit" id="poCreateBtn" class="btn btn-primary btn-block">
                                                    <i class='fa fa-plus'></i>
                                                    <span>Payment Received</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>


                            <div class="box-danger">
                                <div class="box-header">

                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table id="KgErpDataTable" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>SL</th>
                                                    <th>
                                                        Invoice No
                                                    </th>
                                                    <th>
                                                        Invoice Date
                                                    </th>
                                                    <th>
                                                        Customer Name
                                                    </th>
                                                    <th>
                                                        Particular
                                                    </th>
                                                    <th>
                                                        Money Receipt No
                                                    </th>
                                                    <th>
                                                        Money Receipt Date
                                                    </th>

                                                    <th style="text-align:right;">
                                                        Collected Amount
                                                    </th>

                                                </tr>
                                            </thead>
                                            @{int sl = 0;
                                                decimal paidTotal = 0;
                                            }
                                            <tbody>
                                                @foreach (var item in Model.DataList)
                                                {
                                                    paidTotal += item.InAmount;
                                                    <tr>
                                                        <td>@(++sl)</td>
                                                        <td>
                                                            @item.OrderNo
                                                        </td>
                                                        <td>
                                                            @item.OrderDate.ToString("dd-MM-yyyy")
                                                        </td>
                                                        <td>
                                                            @item.CommonCustomerName
                                                        </td>
                                                        <td>
                                                            @item.ReferenceNo
                                                        </td>
                                                        <td>
                                                            @item.MoneyReceiptNo
                                                        </td>
                                                        <td>
                                                            @item.TransactionDate.ToString("dd-MM-yyyy")
                                                        </td>
                                                        <td style="text-align:right;">
                                                            @item.InAmount
                                                        </td>

                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th></th>
                                                    <th colspan="6">
                                                        Total Amount
                                                    </th>

                                                    <th style="text-align:right;">
                                                        @paidTotal
                                                    </th>

                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <label>Expenses (If Applicable)</label>

                                    @if (!Model.IsFinalized)
                                    {
                                        <div class="row">

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Expenses Head</label>
                                                    @Html.DropDownListFor(model => model.ExpensesHeadGLId, Model.ExpensesHeadList as SelectList, "==Select Type==", new { id = "ddlExpensesHeadGLId", @class = "searchingDropdown form-control ddlReset", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.ExpensesHeadGLId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="txtExpensesAmount" class="col-form-label">Expenses Amount:</label>
                                                    <input name="ExpensesAmount" asp-for="ExpensesAmount" type="text" class="form-control" id="txtExpensesAmount" placeholder="Expenses Amount">
                                                    @Html.ValidationMessageFor(model => model.ExpensesAmount, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="txtDescription" class="col-form-label">Particular:</label>
                                                    @Html.TextAreaFor(model => model.ExpensessReference, new { id = "txtExpensessReference", placeholder = "Particular", @class = "form-control", Rows = 1 })
                                                    @Html.ValidationMessageFor(model => model.ExpensessReference, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>&nbsp;</label>
                                                    <button type="submit" id="poCreateBtn" class="btn btn-primary btn-block">
                                                        <i class='fa fa-plus'></i>
                                                        <span>Expanses</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    }


                                    <div class="table-responsive">
                                        <table id="" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>SL</th>
                                                    <th>
                                                        Expenses Head
                                                    </th>
                                                    <th>
                                                        Particular
                                                    </th>
                                                    <th style="text-align:right;">
                                                        Amount
                                                    </th>

                                                </tr>
                                            </thead>
                                            @{int sl2 = 0;
                                                decimal? paidTotal2 = 0;
                                            }
                                            <tbody>
                                                @foreach (var item in Model.DataListExpenses)
                                                {
                                                    paidTotal2 += item.ExpensesAmount;
                                                    <tr>
                                                        <td>@(++sl2)</td>
                                                        <td>
                                                            @item.ExpensesHeadGLName
                                                        </td>
                                                        <td>
                                                            @item.ExpensessReference
                                                        </td>
                                                        <td style="text-align:right;">
                                                            @item.ExpensesAmount
                                                        </td>

                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th></th>
                                                    <th colspan="2">
                                                        Total Amount
                                                    </th>

                                                    <th style="text-align:right;">
                                                        @paidTotal2
                                                    </th>

                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <label>Others Income (If Applicable)</label>

                                    @if (!Model.IsFinalized)
                                    {
                                        <div class="row">

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Others Income Head:</label>
                                                    @Html.DropDownListFor(model => model.OthersIncomeHeadGLId, Model.IncomeHeadList as SelectList, "==Select Type==", new { id = "ddlOthersIncomeHeadGLId", @class = "searchingDropdown form-control ddlReset", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.OthersIncomeHeadGLId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="txtOthersIncomeAmount" class="col-form-label">Others Income Amount:</label>
                                                    <input name="OthersIncomeAmount" asp-for="OthersIncomeAmount" type="text" class="form-control" id="txtOthersIncomeAmount" placeholder="Others Income Amount">
                                                    @Html.ValidationMessageFor(model => model.OthersIncomeAmount, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="txtDescription" class="col-form-label">Particular:</label>
                                                    @Html.TextAreaFor(model => model.IncomeReference, new { id = "txtIncomeReference", placeholder = "Particular", @class = "form-control", Rows = 1 })
                                                    @Html.ValidationMessageFor(model => model.IncomeReference, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>&nbsp;</label>
                                                    <button type="submit" id="poCreateBtn" class="btn btn-primary btn-block">
                                                        <i class='fa fa-plus'></i>
                                                        <span>Others Income</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    }


                                    <div class="table-responsive">
                                        <table id="" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>SL</th>
                                                    <th>
                                                        Income Head
                                                    </th>
                                                    <th>
                                                        Particular
                                                    </th>
                                                    <th style="text-align:right;">
                                                        Amount
                                                    </th>

                                                </tr>
                                            </thead>
                                            @{int sl3 = 0;
                                                decimal? paidTotal3 = 0;
                                            }
                                            <tbody>
                                                @foreach (var item in Model.DataListIncome)
                                                {
                                                    paidTotal3 += item.OthersIncomeAmount;
                                                    <tr>
                                                        <td>@(++sl3)</td>
                                                        <td>
                                                            @item.OthersIncomeHeadGLName
                                                        </td>
                                                        <td>
                                                            @item.IncomeReference
                                                        </td>
                                                        <td style="text-align:right;">
                                                            @item.OthersIncomeAmount
                                                        </td>

                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th></th>
                                                    <th colspan="2">
                                                        Total Amount
                                                    </th>

                                                    <th style="text-align:right;">
                                                        @paidTotal3
                                                    </th>

                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>

                                </div>
                                <div class="box-footer">
                                    <div class="row">
                                        <div class="col-md-2">

                                        </div>
                                        <div class="col-md-5">
                                            @*<a target="_blank" class="btn btn-warning btn-block" style="width:100%" href="~/Report/GCCLProductionReport?companyId=@Model.CompanyFK&prodReferenceId=@Model.PaymentMasterId&reportName=GCCLProductionReports">Collection Voucher of @Model.PaymentNo</a>*@

                                        </div>
                                        <div class="col-md-5">
                                            @if (!Model.IsFinalized)
                                            {
                                                <a onclick="makeProdReferenceSubmitable(@Model.PaymentMasterId);" class="btn btn-success btn-block" style="width:100%" data-toggle="modal" data-target="#submitPaymentMasterIdModal" title="Submit" data-placement="top"><i class="fa fa-fingerprint" aria-hidden="true"></i>Submit</a>

                                            }
                                            else
                                            {
                                                <button class="btn btn-success btn-block" style="width:100%" disabled="disabled">Submitted</button>

                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @using (Html.BeginForm("OrderMasterByID", "Collection", FormMethod.Post, new { id = "orderMasterByIDFormId", @class = "formValidator" }))
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal fade" id="submitPaymentMasterIdModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                    &times;
                                </button>
                                <h5 class="modal-title"><b>Submit</b></h5>
                            </div>
                            <div class="modal-body">

                                @Html.HiddenFor(model => model.CompanyFK, new { id = "submitCompanyFK" })
                                @Html.HiddenFor(model => model.PaymentMasterId, new { id = "submitPaymentMasterId" })
                                @Html.HiddenFor(model => model.ActionId, new { id = "submitActionId" })
                                @Html.HiddenFor(model => model.CustomerId, new { id = "submitCustomerId" })


                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div style="text-align:center">
                                    <h3>Are you sure to submit this?</h3>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                                </div>
                                <div class="col-md-9">
                                    <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp; Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }


        </div>

    </div>
</section>

@section scripts {

    <script type="text/javascript">
        function makeProdReferenceSubmitable(rowId) {
            $("#submitPaymentMasterId").val(rowId)
            $('#submitCompanyFK').val("@Model.CompanyFK");
            $('#submitCustomerId').val("@Model.CustomerId");
            $('#submitActionId').val(10);


        }

        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

            $("#ddlSubZoneFk").change(function () {
                var subZoneFk = $("#ddlSubZoneFk").val();
                $.ajax({
                type: "GET",
                url: "@Url.Action("CustomerLisBySubZonetGet", "Procurement")",
                datatype: "Json",
                    data: { subZoneId: subZoneFk},
                    success: function (data) {
                    var items = "";
                        if (data) {
                            $("#ddlCustomerId").empty();
                            $("#ddlCustomerId").append("<option value=''>==Select Customer==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCustomerId").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                            });
                        }
                    }
                });
            })

            $("#ddlCustomerId").change(function () {

                var customerId = $("#ddlCustomerId").val();
                $.ajax({
                type: "GET",
                url: "@Url.Action("SalesOrderLisByCustomerIdGet", "Procurement")",
                datatype: "Json",
                    data: { customerId: customerId},
                    success: function (data) {
                    var items = "";
                        if (data) {

                            $("#ddOrderMasterId").empty();
                            $("#ddOrderMasterId").append("<option value=''>--Invoice No--</option>");
                            $(data).each(function (index, item) {
                                $("#ddOrderMasterId").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                            });
                        }
                    }
                });
            })

            $("#ddOrderMasterId").change(function () {
                var orderMasterId = $('#ddOrderMasterId').val();
                $.ajax({
                       type: "GET",
                    url: "@Url.Action("GetOrderMasterPayableValue", "Procurement")",
                    datatype: "Json",
                    data: { companyId : "@Model.CompanyFK", orderMasterId: orderMasterId },
                    success: function (data) {
                        $('#txtPayableAmount').val(data);

                        $('#txtPaidAmount').val(data);

                    }
                });
            });

            $("#ddlAccounting_BankOrCashParantId").change(function () {
                var bankOrCashParantId = $("#ddlAccounting_BankOrCashParantId").val();


                $.ajax({

                    type: "GET",
                    url: "@Url.Action("HeadGLByHead5ParentIdGet", "Vouchers")",
                    datatype: "Json",
                         data: { companyId: "@Model.CompanyFK", parentId: bankOrCashParantId},
                         success: function (data) {
                         var items = "";
                            if (data) {
                            $("#ddlAccounting_BankOrCashId").empty();
                            $(data).each(function (index, item) {
                                $("#ddlAccounting_BankOrCashId").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                            });

                        }
                    }
                });

            })
        });

    </script>
}


