@model KGERP.Models.PasswordChangeModel
@{
    /**/

    ViewBag.Title = "Change Pawword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
   
<div style="padding: 10px;margin-left: 250px;width: 40%;background-color:#FFFFFF">
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        @*<div class="form-group">
            <div class="col-md-8">
                <h4 style="background-color:#009270;padding:10px;display:block;color:#FFFFFF;text-align:center">Change Password</h4>
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off",@placeholder="Old Password" } })
                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @placeholder = "New Password" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @placeholder = "Confirm Password" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <input type="submit"  value="Change Password" class="btn btn-success" style="width:100%"/>
            </div>
        </div>

        @if (ViewBag.successMessage != null)
        {
            <div class="alert alert-success text-center">
                <strong>Success!</strong>@(" "+ViewBag.successMessage)
            </div>
        }
        @if (ViewBag.errorMessage != null)
        {
            <div class="alert alert-danger text-center">
                <strong>Error!</strong>@(" " + ViewBag.errorMessage)
            </div>
        }

    </div>
</div>
}

