@using KGERP.Utility
@model KGERP.Data.Models.UserLogin
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link href=@CompanyInfo.ProjectIconUrl rel="shortcut icon" type="image/x-icon" />
    <title>@CompanyInfo.ProjectShortTitle</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Login.css" rel="stylesheet" />
    <link href="~/Content/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/login.jquery.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <style>
        * {
            box-sizng: border-box;
        }

        img {
            width: 50%;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .imgiss {
            width: 20px;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .form-control:focus {
            box-shadow: 1px 1px 20px #b6ff00;
            border-color: #ddd !important;
        }

        .form-control {
            border-color: #ddd !important;
        }
    </style>

</head>
@using (Html.BeginForm())
{<div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4 top-align">
                @Html.AntiForgeryToken()
                <img src=@CompanyInfo.CompanyLogoUrl alt="Company Logo">
                <form class="form-signin">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user" style="color:#333"></i></span>
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "User ID" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock" style="color:#333"></i></span>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>

                    <br />
                    <button class="btn btn-lg btn-success btn-block" value="Login" type="submit">SIGN IN</button>
                    @if (ViewBag.Message != "")
                    {
                        <div style="color:red" class="text-center">@ViewBag.Message</div>
                    }
                </form>
            </div>
        </div>
    </div>
}

@*@section Scripts{*@
@*<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js">
    </script>*@
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@*<script>
        var URL = 'http://192.168.0.7:90';

        pingURL();

        function pingURL() {
            alert(window.location.host);
            // The custom URL entered by user
            //var URL = 'http://192.168.0.7:90';
            //var settings = {

            //    // Defines the configurations
            //    // for the request
            //    cache: false,
            //    dataType: "jsonp",
            //    async: true,
            //    crossDomain: true,
            //    url: URL,
            //    method: "GET",
            //    headers: {
            //        accept: "application/json",
            //        "Access-Control-Allow-Origin": "*",
            //    },

            //    // Defines the response to be made
            //    // for certain status codes
            //    statusCode: {
            //        200: function (response) {
            //            window.location = URL;
            //        },
            //        400: function (response) {
            //            console.log("Status 400: Page is down.");
            //        },
            //        0: function (response) {
            //            console.log("Status 0: Page is down.");
            //        },
            //    },
            //};

            //// Sends the request and observes the response
            //$.ajax(settings).done(function (response) {
            //    console.log(response);
            //});
        }
    </script>*@

@*}*@
































