
@model KGERP.Service.ServiceModel.EmployeeVm

@{
    ViewBag.Title = "Employee Salary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    class {
        padding: 70px;
        border: 1px solid #4CAF50;
    }

    .div.dt-button, a.dt-button {
        margin-top: 50px;
    }
</style>

@using (Html.BeginForm("SavePayment", "Employee", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Month, new { id = "hidMonth" })
    @Html.HiddenFor(x => x.CompanyId, new { id = "hidCompanyId" })

    <div class="form-horizontal" style="padding-left:20px">
        <div class="row">
            <div class="header"><h4>Add Employee Salary</h4></div>
        </div>
    </div>
    <div class="panel-heading" style="background-color:#4CAF50;color:#FFFFFF"><b>Employee Salary Information</b></div>
    <div class="row" style="margin-left:15px; margin-top:30px; margin-bottom:50px;">
        <label for="bdaymonth " class="col-md-1">Month</label>
        <input class="form-control" type="month" id="bdaymonth" name="bdaymonth">
    </div>

    <table class="table table-bordered " id="KgErpDataTable" style="margin-top:60px;">

        <thead>
            <tr class="text-center">
                <th class="text-center" scope="col" width="2%">Serial</th>
                <th class="text-center" scope="col" width="2%">Employee Id</th>
                <th class="text-center" scope="col" width="5%">Employee Name   </th>
                <th class="text-center" scope="col" width="3%">Owed</th>
                <th class="text-center" scope="col" width="2%">Paid</th>
                <th class="text-center" scope="col" width="2%">Payble Ammount</th>
                <th class="text-center" scope="col" width="10%">Pay</th>
                @*<th class="text-center" scope="col" width="2%">Action</th>*@

            </tr>
        </thead>
        <tbody class="text-right">
        </tbody>
    </table>

    <div class="text-right">
      <button type="submit" class="btn btn-primary"> Save</button>
    </div>
}

@using (Html.BeginForm("EmployeeSalaryReport", "Report", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Month, new { id = "hidMonth1" })
    @Html.HiddenFor(x => x.CompanyId, new { id = "hidCompanyId1" })

    <div class="text-right" style="padding-top:5px;">
        <button type="submit" class="btn btn-success" formtarget="_blank"> Print</button>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">

    $("#bdaymonth").change(function () {
        var b = $("#bdaymonth").val();
        var companyId = $("#hidCompanyId").val();
        $("#hidMonth").val(b);
        $("#hidMonth1").val(b);
        $("#hidCompanyId1").val(companyId);

            $('#eduinfo tbody').empty();
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetSalaryAmount", "Employee")",
                datatype: "Json",
                data: { month: b },
                success: function (data) {

                    let tag = '';
                    $("#KgErpDataTable tbody").empty();
                    $.each(data.DataList, function (key, item) {
                        var paidammount = 0;
                        if (item.Samountpaid == null) {
                            paidammount = 0;
                        } else {
                            paidammount = item.Samountpaid;
                        }
                        var PayBle = item.SamountOwed - paidammount;
                        tag += '<tr id="' + key + '">';

                        tag += '<td> ' + (key + 1) + '</td>';
                        tag += '<td class="text-center"  ><input  type="hidden" id="' + key + item.Id + '" name="MappVm[' + key + '].Id" value="' + item.Id + '"/>' + item.EmployeeId + '</td>';

                        tag += '<td  class="text-center"> ' + item.EmployeeName + '</td>';
                        tag += '<td class="text-center" > <input   type="hidden" name="MappVm[' + key + '].SamountOwed" value="' + item.SamountOwed + '"/> ' + item.SamountOwed + '</td>';
                        tag += '<td class="text-center" > ' + paidammount + ' </td>';
                        tag += '<td class="text-center" > ' + PayBle + ' </td>';
                        tag += '<td class="text-center"  > <input class="form-control"  name="MappVm[' + key + '].Pay" value="' + item.Pay + '"/> </td>';
                        //tag += '<td class="text-center" ><i class="fa fa-pencil" > Edit</i> </td>';

                        tag += '</tr>';

                    });
                    $("#KgErpDataTable tbody").html(tag);
                }
            });
    });

    </script>

}