@model IList<KGERP.Service.ServiceModel.EmployeeModel>
@{
    ViewBag.Title = "Employee Advanced Search";
}
<link href="~/Content/CustomCss/search-form.css" rel="stylesheet" />

<div class="row" style="background-color:#b8c7ce;color:#000000">
    <span style="font-size:20px;padding:5px;font-weight:bold">Employee Advanced Search</span>
</div>
<br />
@using (Html.BeginForm("EmployeeAdvanceSearch", "Employee", FormMethod.Get, new { @class = "example" }))
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Company / Division / Department", htmlAttributes: new { @class = "control-label" })
                @Html.DropDownList("departmentId", (IEnumerable<SelectListItem>)ViewBag.departments, "--Select--", new { @class = "dropdownsize form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Designation", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownList("designationId", (IEnumerable<SelectListItem>)ViewBag.designations, "--Select--", new { @class = "dropdownsize form-control" })
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <br />
                @Html.Editor("searchText", new { htmlAttributes = new { @autocomplete = "off", value = "", @placeholder = "ID or Name ..." } })
                <button type="submit"><i class="fa fa-search "></i></button>
            </div>
        </div>
    </div>

}

<div class="row">
    <hr style="border-color:#ff0000; padding:0px;margin-top: 5px;margin-bottom: 5px; border-width: 2px;" />
    <table class="table table-striped table-condensed">
        <tr style="background-color:#4CAF50;color:#ffffff">
            <th>SL</th>
            <th>
                @Html.DisplayNameFor(model => model.First().DepartmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DesignationId)
            </th>
            <th>
                SR ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().JoiningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Remarks)
            </th>

        </tr>

        @foreach (var item in Model.Select((x, i) => new { Data = x, Index = i }))
        {
            <tr>
                <td>
                    @(item.Index + 1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.EDepartment)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Data.EDesignation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data.Name)
                </td>
                <td>
                    @if (item.Data.JoiningDate.HasValue)
                    {
                        @item.Data.JoiningDate.Value.ToString("dd MMM yyyy")

                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Data.Remarks)
                </td>
            </tr>
        }

    </table>

</div>

<script type="text/javascript">
</script>