@model KGERP.Service.ServiceModel.EmployeeOperationModel
@using KGERP.Utility;
@{
    ViewBag.Title = "Employee Search";
}

<style type="text/css">
    input, select, textarea {
        max-width: 100%;
    }

    .ui-datepicker-trigger {
        width: 36px !important;
        height: 33px !important;
        margin-left: 5px !important;
    }

    .dateCustom {
        width: 87% !important;
        border-radius: 1px !important;
        border: 1px solid #d2d6de !important;
        height: 33px !important;
    }
</style>

<section class="content-header">
    <div>
        <span style="font-size:20px;font-weight:bold">Employee Inventory</span>
    </div>
</section>
<hr />
@using (Html.BeginForm("CreateOrEdit", "EmployeeOperation", FormMethod.Post, new { Id = "EmployeeInventoryFormId", @class = "formValidator" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.OperationId)
    <section class="content">
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Notice For</label>
                        @Html.DropDownListFor(model => model.NoticeId, new SelectList(Enum.GetValues(typeof(EmployeeNoticeEnum))
                           .Cast<EmployeeNoticeEnum>().Select(c => new SelectListItem { Text = c.ToString(), Value = ((int)c).ToString() }), "Value", "Text"), "==Select Project First==", new
                            {
                                id = "ddlNoticeId",
                           @class = "form-control searchingDropdown",
                                style = "width:100%",
                                required = "true"
                            })

                    </div>
                </div>

                <div class="col-md-4" id="JoiningDateDev">
                    <label class="form-label">Joining Date<sup class="text-danger" title="Required">*</sup></label>

                    <div class="form-group">
                        <input name="JoiningDate" asp-for="JoiningDate" type="datetime" value="@DateTime.Now.ToString("dd/MM/yyyy")" required="required" class="datepicker w-100 dateCustom" placeholder="Operation Date" autocomplete="off" id="txtJoiningDate">
                        @Html.ValidationMessageFor(model => model.JoiningDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4" id="FromDateDev">
                    <label class="form-label">From Date<sup class="text-danger" title="Required">*</sup></label>

                    <div class="form-group">
                        <input name="FromDate" asp-for="FromDate" type="datetime" value="@DateTime.Now.ToString("dd/MM/yyyy")" required="required" class="datepicker w-100 dateCustom" placeholder="Operation Date" autocomplete="off" id="txtFromDate">
                        @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" id="EndDateDev">
                    <label class="form-label">End Date<sup class="text-danger" title="Required">*</sup></label>

                    <div class="form-group">
                        <input name="EndDate" asp-for="EndDate" type="datetime" value="@DateTime.Now.ToString("dd/MM/yyyy")" required="required" class="datepicker w-100 dateCustom" placeholder="Operation Date" autocomplete="off" id="txtEndDate">
                        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Employee </label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @name = "Name", @id = "ddlEmployeeName", @autocomplete = "on" } })
                        @Html.HiddenFor(model => model.EmployeeId, new { id = "ddlEmployeeIdFK" })
                    </div>


                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label">Reason</label>
                        @Html.TextBoxFor(model => model.Reason, new { id = "txtEstimateQty", @class = "form-control", @placeholder = "Message Title", required = "true", style = "width:100!Important" })

                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="txtDescription" class="form-label">Remarks/Particular</label>
                        @Html.TextAreaFor(model => model.Remarks, new { id = "txtitemDescription", placeholder = "Type remarks here", @class = "form-control", rows = 2 })
                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-6">
                            @*<input type="button" onclick="resetForm()" value="Reset Form" class="btn btn-secondary" data-dismiss="modal" style="width:100% !important" />*@
                        </div>
                        <div class="col-md-6">
                            <button type="submit" id="btnSave" class="btn btn-primary btn-block" style="width:100% !important"><i class='fa fa-edit'></i> Add </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    @*<link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />*@
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

    @section scripts{
        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/cssjqryUi")


        <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

        <script>
            let name = '';
            $("#ddlEmployeeName").autocomplete({
                
                    source: function (request, response) {
                        $.ajax({
                            url: "@Url.Action("EmployeeAutoComplete", "Employee")",
                            data: { prefix: request.term },
                            dataType: "json",
                            type: "get",
                            cache: true,
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                response($.map(data, function (item) {
                                   // console.log(item);
                                    return item;
                                }))
                            },
                            error: function (response) {
                                //alert(response.responseText);
                            },
                            failure: function (response) {
                                //alert(response.responseText);
                            }
                        });
                    },
                    
                    select: function (e, i) {
                        let str = i.item.label;
                        let result = str.split('[')[1].split(']')[0];
                        name = str.split('[')[0];

                        /*$("#ddlEmployeeName").focus();*/
                        $("#ddlEmployeeIdFK").val(result);
                        
                    },
                    minLength: 1,
            }).focus(function () {
               
                    $(this).autocomplete("search");
                    
                });

            function employeeNameFilter(nameData) {
                $("#ddlEmployeeName").empty();
                $("#ddlEmployeeName").val(nameData);
            }

            $("#ddlNoticeId").on('change', function () {

            });





        </script>
    }




























}

