@using PagedList.Mvc;
@model KGERP.Utility.ReportInfo
@using PagedList;
@{
    ViewBag.Title = "OfficeTypeWiseReport";
}

<div style="font-family: Arial">
    @using (Html.BeginForm("OfficeTypeWiseReport", "Employee", FormMethod.Get))
    {
        <div class="col-md-12">
            <table>
                <tr style="background-color: #E9EDBE; vertical-align: middle;">
                    <td class="tdRightAlign" width="10%" align="right" style="padding:6px">
                        Office Type
                    </td>
                    <td>
                        @Html.DropDownList("officeType", new SelectList(ViewBag.OfficeTypes, "Value", "Text"), "---Select---", new { @class = "dropdownsize form-control selectpicker", @style = "width: 250px;", @id = "ddlDepartment" })
                    </td>

                    <td style="padding:10px">
                        <button type="submit" class="btn btn-success">
                            <span style="padding:10px"><b>Search</b></span> &nbsp;<i class="fa fa-search"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col-md-11">
                <h4><b>Employee List</b></h4>
                <hr style="border-color:red; padding:0px;margin-top: 10px;margin-bottom: 20px; border-width: 2px;" />
            </div>
        </div>

        if (ViewBag.NoSelect != null)
        {
            <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.NoSelect");
            };
            </script>
        }

    }

    <div class="row">
        <iframe id="frmReport" src="@Model.ReportURL" width="900" height="900" frameborder="0" scrolling="yes">
        </iframe>
    </div>
</div>
<span class="checkbox">
    <a href="@Url.Action("ExportKGCaseToExcel", new {
                    Division = Request.QueryString["officeType"]
        })" title="">
    </a>
</span>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $(document).ready(function () {
            $('.selectpicker').selectpicker({
                liveSearch: true,
                width: 270,
                showSubtext: true
            });
        });
    </script>
}
