@model KGERP.Service.Implementation.Warehouse.VMSaleReturnDetailPartial

<div class="row">
    <div class="col-lg-12">
        @{
            int styleScheduleCount = Model.DataToList.Count();
            if (styleScheduleCount > 0)
            {
                <div class="table-responsive  text-nowrap">
                    <table class="table table-bordered">
                        <thead>
                                    <tr class="bg-success">
                                        <th>SL</th>

                                        <th class="center">
                                            Challan No
                                        </th>
                                        <th class="center">Product Name</th>

                                        <th class="center">Order Qty</th>

                                        <th class="center">
                                            Delivered Qty
                                        </th>
                                        <th class="center">Privious Return</th>
                                        <th class="center">Balance</th>

                                        <th>
                                            Get Return
                                        </th>

                                    </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.DataToList.Count(); i++)
                            {
                            <tr>
                                <th>
                                    @(i + 1)
                                </th>

                                <td>
                                    @Html.DisplayFor(model => model.DataToList[i].ChallanNo)
                                </td>

                                <td>
                                    @Html.DisplayFor(model => model.DataToList[i].ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.DataToList[i].OrderQty)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.DataToList[i].DeliveredQty)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.DataToList[i].PriviousReturnQuantity)
                                </td>
                                <td>
                                    @(Model.DataToList[i].DeliveredQty - (Model.DataToList[i].PriviousReturnQuantity != null ? Convert.ToDouble(Model.DataToList[i].PriviousReturnQuantity.Value) : 0))
                                </td>
                                <td>
                                    @Html.HiddenFor(model => model.DataToList[i].OrderDeliverDetailsId)
                                    @Html.HiddenFor(model => model.DataToList[i].ProductId)
                                    @Html.HiddenFor(model => model.DataToList[i].UnitPrice)
                                    @Html.HiddenFor(model => model.DataToList[i].COGSRate)



                                    @Html.TextBoxFor(model => model.DataToList[i].Qty, new { @class = "form-control" })






                                </td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-8">

                    </div>
                    <div class="col-lg-4 col-md-4">
                        <button type="submit" id="btnsave" class="btn btn-primary btn-block"><i class='fa fa-plus'></i> Return </button>
                    </div>

                </div>

            }
            else
            {
                <div class="col-md-12">
                    <div class="box box-success box-solid">

                        <!-- /.box-header -->
                        <div class="box-body">

                            <div class="form-group" style="text-align:center;">
                                <h3>
                                    There are no Delivered Quantity yet.
                                </h3>
                            </div>



                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            }
        }

    </div>
</div>


<script>
    $(document).ready(function () {


        $("#select_all").change(function () {  //"select all" change
            $(".checkToInstruction").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
        });

        //".checkbox" change
        $('.checkToInstruction').change(function () {
            //uncheck "select all", if one of the listed checkbox item is unchecked
            if (false == $(this).prop("checked")) { //if this item is unchecked
                $("#select_all").prop('checked', false); //change "select all" checked status to false
            }
            //check "select all" if all checkbox items are checked
            if ($('.checkToDownload:checked').length == $('.checkToDownload').length) {
                $("#select_all").prop('checked', false);
            }
        });
    });


</script>