
@{
    ViewData["Title"] = "Delivery Challan";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

@model KGERP.Service.Implementation.Warehouse.VMOrderDeliverDetail
<section class="content-header">
    <h1>
        @if (Model.OrderDeliverId > 0)
        {
            <span>
                Delivery Challan of Challan No <a target="_blank" href="~/Warehouse/WareHouseOrderDeliverDetailReport?companyId=@Model.CompanyFK&orderDeliverId=@Model.OrderDeliverId">@Model.ChallanNo</a>
            </span>
        }
        else
        {
            <span>
                Delivery Challan Information
            </span>
        }


    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Delivery Challan Information</li>
    </ol>
</section>
@using (Html.BeginForm("GCCLWarehouseOrderDeliverDetail", "Warehouse", FormMethod.Post, new { id = "wareHouseOrderDeliverDetailFromID", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(x => x.CompanyFK, new { id = "CompanyFK" })
                @Html.HiddenFor(x => x.OrderDate, new { id = "txtOrderDate" })
                @Html.HiddenFor(x => x.InvoiceDiscountAmount, new { id = "txtInvoiceDiscountAmount" })
                @Html.HiddenFor(x => x.InvoiceDiscountRate, new { id = "txtInvoiceDiscountRate" })
               

                <div class="box-danger">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @if (Model.OrderDeliverId > 0)
                        {
                            @Html.HiddenFor(x => x.CompanyFK, new { id = "CompanyFK" })


                            <div class="col-md-1"> </div>
                            <div class="col-md-10">
                                <table class="table">

                                    <tr>
                                        <td width="15%"><b>Challan No</b></td>
                                        <td width="1%">:</td>
                                        <th width="34%">@Model.ChallanNo</th>

                                        <td width="15%"><b>Delivery Date</b></td>
                                        <td width="1%">:</td>
                                        <td width="34%">@Model.DeliveryDate.Value.ToString("dd-MM-yyyy")</td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Invoice No
                                        </th>
                                        <th>:</th>
                                        <td>
                                            <label class="col-form-label">@Model.OrderNo</label>
                                        </td>
                                        <th> Date</th>
                                        <th>:</th>
                                        <td>@Model.OrderDate.ToShortDateString()</td>
                                    </tr>
                                    <tr>
                                        <th>Zone</th>
                                        <th>:</th>
                                        <td>@Model.ZoneName</td>

                                        <th>Incharge</th>
                                        <th>:</th>
                                        <td>@Model.ZoneIncharge</td>
                                    </tr>
                                    <tr>
                                        <th>Customer</th>
                                        <th>:</th>
                                        <td>@Model.CustomerName</td>
                                        <th>Phone</th>
                                        <th>:</th>
                                        <td>@Model.CustomerPhone</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <th>:</th>
                                        <td>@Model.CustomerEmail</td>
                                        <th>Address</th>
                                        <th>:</th>
                                        <td>@Model.CustomerAddress</td>
                                    </tr>
                                    <tr>
                                        <th>Contact Person</th>
                                        <th>:</th>
                                        <td>@Model.ContactPerson</td>
                                        <th>Created By</th>
                                        <th>:</th>
                                        <td>@Model.CreatedBy</td>
                                    </tr>

                                </table>
                            </div>
                            <div class="col-md-1"> </div>

                        }
                        else
                        {



                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Challan Date</label>

                                        <input name="DeliveryDate" asp-for="DeliveryDate" type="text" value="@DateTime.Today.ToString("yyyy-MM-dd")" required="required" class="datePicker form-control" id="txtDeliveryDate" placeholder="Challan Date" autocomplete="off">

                                        @Html.ValidationMessageFor(model => model.DeliveryDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group" style="padding:0px">
                                        <label>Order Number</label>
                                        @Html.EditorFor(model => model.OrderNo, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "Order No", @id = "txtOrderNo" } })

                                        @Html.HiddenFor(model => model.OrderMasterId, new { id = "ddlOrderMasterId" })
                                        @Html.ValidationMessageFor(model => model.OrderMasterId, "", new { @class = "text-danger" })

                                    </div>

                                    <table id="orderDetailsTable" class="table">
                                        <tr>
                                            <td>Customer</td>
                                            <td>
                                                <span id="txtCustomerName"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Order Date
                                            </td>
                                            <td><span id="txtOrderDate"></span></td>
                                        </tr>
                                        @*<tr>
                                                <td>
                                                    Delivery Address
                                                </td>
                                                <td><span id="txtDeliveryAddress"></span></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Delivery Date
                                                </td>
                                                <td><span id="txtDeliveryDate"></span></td>
                                            </tr>*@

                                    </table>
                                </div>
                                <div class="col-md-2"></div>
                            </div>

                            <br />
                            <div class="col-md-12">
                                <div class="box">

                                    <div class="box-footer">
                                        <div id="orderDetailsData"></div>
                                    </div>
                                </div>
                                <!-- /.box -->
                            </div>
                        }


                        <!--Body Will by Start Here-->



                        @{
                            if (Model.OrderDeliverId > 0)
                            {
                                <div class="box-header" style="clear:both">
                                    <h4><b>Item:</b> </h4>
                                </div>
                                <div class="table-responsive col-md-12 text-nowrap">
                                    <table id="KgErpDataTable" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th class="center">Product Name </th>
                                                <th class="center">Order Quantity</th>
                                                <th class="center">Delivered Quantity</th>
                                                <th class="center">Total Delivered</th>
                                            </tr>
                                        </thead>
                                        @{
                                            int sl = 0;
                                        }
                                        <tbody>
                                            @foreach (var item in Model.DataListDetail)
                                            {
                                                <tr>
                                                    <td>@(++sl)</td>
                                                    <td>@item.ProductSubCategory @item.ProductName</td>
                                                    <td>@item.OrderQty @item.UnitName</td>
                                                    <th>@item.DeliveredQty @item.UnitName</th>
                                                    <th>@item.TotalDelivered  @item.UnitName</th>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        }
                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-md-2">

                            </div>
                            <div class="col-md-5">
                                <a target="_blank" class="btn btn-warning btn-block" style="width:100%" href="~/Warehouse/WareHouseOrderDeliverDetailReport?companyId=@Model.CompanyFK&prodReferenceId=@Model.OrderDeliverId&reportName=GCCLProductionReports">Challan Report of @Model.ChallanNo</a>

                            </div>
                            <div class="col-md-5">
                                @if (Model.OrderDeliverId > 0)
                                {
                                    if (!Model.IsSubmitted )
                                    {
                                        <a onclick="makeOrderDeliverSubmitable(@Model.OrderDeliverId);" class="btn btn-success btn-block" style="width:100%" data-toggle="modal" data-target="#submitProdReferenceModal" title="Submit" data-placement="top"><i class="fa fa-fingerprint" aria-hidden="true"></i>Submit</a>

                                    }
                                    else
                                    {
                                        <button class="btn btn-success btn-block" style="width:100%" disabled="disabled">Submitted</button>

                                    }
                                }


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete Challan Item</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        @Html.HiddenFor(model => model.ID, new { Value = "", id = "challanSlaveId" })

                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;Delete</button>&nbsp;

                </div>
            </div>
        </div>
    </div>
}



@using (Html.BeginForm("GCCLWarehouseOrderDeliverDetail", "Warehouse", FormMethod.Post, new { id = "submitGCCLPOReceivingSlaveFormId", @class = "formValidator" }))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="submitProdReferenceModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Submit</b></h5>
                </div>
                <div class="modal-body">

                    @Html.HiddenFor(model => model.CompanyFK, new { id = "submitCompanyFK" })
                    @Html.HiddenFor(model => model.OrderDeliverId, new { id = "submitOrderDeliverId" })
                    @Html.HiddenFor(model => model.ActionId, new { id = "submitActionId" })

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to Submit this Delivery Challan?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetProcurementPurchaseRequisitionSlaveForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp; Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {

    <script type="text/javascript">

        function makeOrderDeliverSubmitable(rowId) {
            $("#submitOrderDeliverId").val(rowId)
            $('#submitCompanyFK').val("@Model.CompanyFK");
            $('#submitActionId').val(10);
        }


        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            //$("#poDetailsTable").hide();
            $("#chkIsDefineBin input:checkbox").change(function () {
                var ischecked = $(this).is(':checked');
                if (ischecked) {
                    alert('uncheckd ' + $(this).val());
                }
                else {
                    alert('uncheckd ' + $(this).val());

                }


            });

            $("#txtOrderNo").autocomplete({
                source: function (request, response) {

                    $.ajax({
                        url:"@Url.Action("AutoCompleteOrderMastersGet", "Warehouse")",// '/AccountHeads/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { companyId: "@Model.CompanyFK", prefix: request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },

                select: function (e, i) {
                    $("#ddlOrderMasterId").val(i.item.val);

                    $.ajax({
                    type: "POST",
                    url: "@Url.Action("OrderMastersGet", "Warehouse")",
                    datatype: "Json",
                        data: { id: i.item.val },
                     success: function (data) {
                       
                         $("#poDetailsTable").show();
                         $("#txtCustomerName").text(data.CustomerName);
                         $("#txtInvoiceDiscountRate").val(data.InvoiceDiscountRate);
                         $("#txtInvoiceDiscountAmount").val(data.InvoiceDiscountAmount);
                         var orderDate = DateCustom(data.OrderDate);
                         $('#txtOrderDate').text(orderDate);

                    }
                    });



                 $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetOrderDetailsDataPartial", "Warehouse")",
                    datatype: "Json",
                     data: { poId: i.item.val },
                     success: function (data) {
                 
                         $("#orderDetailsData").html(data);
                    }
                });

                },
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });


        });
        function DateCustom(orderDate) {
            var dateString = orderDate.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            if (month < 10) {
                month = "0" + month;
            }

            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = year + "-" + month + "-" + day;
            return date;
        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#challanSlaveId').val(id);
                $('#ActionId').val(3);

            }
        }
        function resetForm() {
            $('#deliveryChallanSlaveFormId')[0].reset();
            $('#ActionId').val(1);
        }

    </script>
}