@model KGERP.Service.Implementation.Warehouse.VMSaleReturnDetail
@using KGERP.Utility;


@{
    ViewData["Title"] = "Sales Return By Product";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int sl = 0;
    decimal totalRate = 0;
    decimal totalGrossRate = 0;

}

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>
        @if (Model.SaleReturnId > 0)
        {
            <span>
                Sales Return By Product: <a target="_blank" href="~/Procurement/ProcurementSalesOrderDetailsReport?companyId=@Model.CompanyFK&orderMasterId=@Model.OrderMasterId">@Model.OrderNo</a>
            </span>
        }
        else
        {
            <span>
                Sales Return By Product
            </span>
        }


    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Sales Return By Product</li>
    </ol>
</section>
@using (Html.BeginForm("GCCLWarehouseSalesReturnByProduct", "Warehouse", FormMethod.Post, new { id = "procurementSalesItemAdjustmentFormId", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.SaleReturnId, new { id = "hidSaleReturnId" })
                
                @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
                @Html.HiddenFor(model => model.CompanyFK, new { id = "CompanyFK" })

                <div class="box-danger">

                    <!-- /.box-header -->
                    <div class="box-body">
                        @if (Model.SaleReturnId > 0)
                        {
                            <div class="col-md-1"> </div>
                            <div class="col-md-10">
                                <table class="table">
                                    <tr>
                                        <td width="15%"><b>Sale Return No</b></td>
                                        <td width="1%">:</td>
                                        <th width="34%">@Model.SaleReturnNo</th>
                                        <td width="15%"><b>Return Date</b></td>
                                        <td width="1%">:</td>
                                        <td width="34%">@Model.ReturnDate.ToString("dd-MM-yyyy")</td>
                                    </tr>
                                    <tr>
                                        <th>Customer</th>
                                        <th>:</th>
                                        <td colspan="4">@Model.CustomerName</td>

                                    </tr>
                                    <tr>
                                        <th>Reason</th>
                                        <th>:</th>
                                        <td>@Model.Reason</td>
                                        <th>Created By</th>
                                        <th>:</th>
                                        <td>@Model.CreatedBy</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-1"> </div>
                        }
                        <div class="box-body">

                            @if (Model.SaleReturnId == 0)
                            {
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Return Date</label>
                                            <input name="ReturnDate" asp-for="ReturnDate" type="text" value="@DateTime.Today.ToString("yyyy-MM-dd")" required="required" class="datePicker form-control" id="txtReturnDate" placeholder="Return Date" autocomplete="off">
                                            @Html.ValidationMessageFor(model => model.ReturnDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Territory</label>
                                            @Html.DropDownListFor(model => model.SubZoneFk, Model.SubZoneList as SelectList, "==Select Territory==", new { id = "ddlSubZoneFk", @class = "form-control searchingDropdown", style = "width:100%", required = "required" })
                                            @Html.ValidationMessageFor(model => model.SubZoneFk, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Customer</label>
                                            @Html.DropDownListFor(model => model.CustomerId, Model.CustomerList as SelectList, "==Select Customer==", new { id = "ddlCustomerId", @class = "form-control searchingDropdown", style = "width:100%", required = "required" })
                                            @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Reason</label>
                                            @Html.TextAreaFor(model => model.Reason, new { id = "txtReason", @class = "form-control", @style = "width:100%;border:1px black solid" })
                                            @Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>
                            }
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group" style="padding:0px">
                                    <label for="message-text" class="col-form-label">Finish Item:</label>
                                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "Product Name", @id = "txtProductName" } })
                                    @Html.HiddenFor(model => model.ProductId, new { id = "ddlRProductFK" })
                                  
                                    @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Return Qty</label>
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Qty, new { id = "txtReturnQty", @class = "form-control", @style = "width:100%;border:1px black solid", placeholder = "Return Quantity" })
                                        @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })

                                        <div class="input-group-addon">
                                            <span class="txtUnitName"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>MRP Price</label>
                                    @Html.TextBoxFor(model => model.Rate, new { id = "txtUnitPrice", type = "number", step = "0.01", @class = "form-control", @style = "width:100%;border:1px black solid", placeholder = "MRP Price", required = "Required" })
                                    @Html.ValidationMessageFor(model => model.Rate, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Costing Price</label>
                                    @Html.TextBoxFor(model => model.COGSRate, new { id = "txtCostingPrice", type = "number", @class = "form-control", @style = "width:100%;border:1px black solid", placeholder = "Costing Price", required = "Required" })
                                    @Html.ValidationMessageFor(model => model.COGSRate, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-8">

                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <button type="submit" id="poCreateBtn" class="btn btn-primary btn-block">
                                        <i class='fa fa-plus'></i>
                                        <span>Return</span>

                                    </button>
                                </div>
                            </div>
                        </div>

                        <!--Body Will by Start Here-->
                        @{
                            if (Model.SaleReturnId > 0)
                            {


                                <div class="table-responsive col-md-12  text-nowrap">
                                    <table id="KgErpDataTable" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th class="center">Product Name </th>
                                                @if (Model.OrderDeliverId != null)
                                                {
                                                    <th class="center">Order Quantity</th>
                                                    <th class="center">Deliver Quantity</th>
                                                }
                                                <th class="center">Return Quantity</th>
                                                <th class="center">MRP</th>
                                                <th class="center">Total MRP</th>

                                                <th class="center">Costing</th>
                                                <th class="center">Total Costing</th>

                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var item in Model.DataListDetail)
                                            {
                                                totalRate += item.MRPPrice.Value;
                                                totalGrossRate += item.CostingPrice.Value;

                                                <tr>
                                                    <td>@(++sl)</td>
                                                    <td>@item.ProductName</td>
                                                    @if (Model.OrderDeliverId != null)
                                                    {
                                                        <td>@item.OrderQty</td>
                                                        <td>@item.DeliveredQty</td>
                                                    }
                                                    <td>@item.Qty</td>

                                                    <td>@item.Rate</td>
                                                    <td>@item.MRPPrice</td>

                                                    <td>@item.COGSRate</td>
                                                    <td>@item.CostingPrice</td>




                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>SL</th>

                                                @if (Model.OrderDeliverId != null)
                                                {
                                                    <th colspan="5">Total </th>
                                                }
                                                else
                                                {
                                                    <th colspan="3">Total </th>
                                                }

                                                <th class="center">@totalRate </th>
                                                <th></th>
                                                <th class="center">@totalGrossRate </th>


                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            }
                        }
                    </div>
                    @if (Model.SaleReturnId > 0)
                    {
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-5">
                                    <a target="_blank" class="btn btn-warning btn-block" style="width:100%" href="~/Warehouse/WareHousePOReceivingSlaveReport?companyId=@Model.CompanyFK&materialReceiveId=@Model.SaleReturnId">Challan Report of @Model.SaleReturnNo</a>

                                </div>
                                <div class="col-md-5">
                                    @if (!Model.IsFinalized)
                                    {
                                        <a onclick="makeSalesReturnSubmitable(@Model.SaleReturnId);" class="btn btn-success btn-block" style="width:100%" data-toggle="modal" data-target="#submitProdReferenceModal" title="Submit" data-placement="top"><i class="fa fa-fingerprint" aria-hidden="true"></i>Submit</a>

                                    }
                                    else
                                    {
                                        <button class="btn btn-success btn-block" style="width:100%" disabled="disabled">Submitted</button>

                                    }

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete Challan Item</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        @Html.HiddenFor(model => model.ID, new { Value = "", id = "challanSlaveId" })

                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;Delete</button>&nbsp;

                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("GCCLWarehouseSalesReturnByProduct", "Warehouse", FormMethod.Post, new { id = "submitGCCLPOReceivingSlaveFormId", @class = "formValidator" }))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="submitProdReferenceModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Submit</b></h5>
                </div>
                <div class="modal-body">

                    @Html.HiddenFor(model => model.CompanyFK, new { id = "submitCompanyFK" })
                    @Html.HiddenFor(model => model.SaleReturnId, new { id = "submitSaleReturnId" })
                    @Html.HiddenFor(model => model.ActionId, new { id = "submitActionId" })

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to Submit this Sales Return?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetProcurementPurchaseRequisitionSlaveForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp; Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">

         function makeSalesReturnSubmitable(rowId) {
             $("#submitSaleReturnId").val(rowId)
            $('#submitCompanyFK').val("@Model.CompanyFK");
            $('#submitActionId').val(10);
        }


        function makeDeletale(rowId) {
            $('#hidDeleteOrderDetailId').val(rowId);
            $('#deleteActionId').val(3);
                                                    }
        function resetProcurementPurchaseRequisitionSlaveForm() {
            $('#procurementSalesOrderSlaveFormId')[0].reset();
            $('#ActionId').val(1);
        }


        $(document).ready(function () {
            //$('.formValidator').bootstrapValidator();

            $('#datePickerById').datepicker({
                format: "yyyy-mm-dd",
                todayHighlight: true,
                autoclose: true,
                clearBtn: true
            }).on('changeDate', function (ev) {
                if ($(this).parents('form') && $(this).attr('required')) {
                    $(this).parents('form').bootstrapValidator('revalidateField', $(this));
                }
            });
         $("#ddlSubZoneFk").change(function () {
                var subZoneFk = $("#ddlSubZoneFk").val();
                $.ajax({
                type: "GET",
                url: "@Url.Action("CustomerLisBySubZonetGet", "Procurement")",
                datatype: "Json",
                    data: { subZoneId: subZoneFk},
                    success: function (data) {
                    var items = "";
                        if (data) {
                            $("#ddlCustomerId").empty();
                            $("#ddlCustomerId").append("<option value=''>==Select Customer==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCustomerId").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                            });

                        }
                    }
            });


            })

              $("#txtProductName").autocomplete({
                source: function (request, response) {

                    $.ajax({
                        url:"@Url.Action("AutoCompleteProductGet", "Configuration")",// '/AccountHeads/AutoComplete/',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        data: { companyId: "@Model.CompanyFK", prefix: request.term, productType : "F" },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                       
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },

            select: function (e, i) {
            
                    $("#ddlRProductFK").val(i.item.val);

                    $.ajax({
                        type: "GET",
                        url: "@Url.Action("CommonProductByID", "Configuration")",
                        datatype: "Json",
                        data: { id: i.item.val },
                        success: function (data) {
                        
                            var items = "";
                            if (data) {
                               
                                $('.txtUnitName').text(data.UnitName);
                                //$("#hidCOGSRate").val(data.CostingPrice);
                                $("#txtCostingPrice").val(data.CostingPrice);  
                                var customerTypeFK = $("#hidCustomerTypeFk").val();
                                if (customerTypeFK == "@((int)CustomerTypeEnum.Dealer)") {
                                    $("#txtUnitPrice").val(data.TPPrice);
                                    $("#txtCostingPrice").val(data.CostingPrice);  

                                }
                                if (customerTypeFK == "@((int)CustomerTypeEnum.Retail)") {
                                    $("#txtUnitPrice").val(data.MRPPrice);
                                   
                                }

                            }
                        }
                    });
                    $('#txtProductName').focus();

                },
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });





        });
            function makeEditble(rowId) {

            $.ajax({

                  type: "POST",
                  url: "@Url.Action("SingleOrderDetails", "Procurement")",
                  datatype: "Json",
                  data: { id: rowId },
                  success: function (data) {
                      $('#poCreateBtn').html("<i class='fa fa-edit'></i>&nbsp;Update");
                      $("#hidOrderMasterId").val(data.OrderMasterId);
                      $('#ActionId').val(2);
                      $("#CompanyFK").val(data.CompanyFK);
                      $("#txtProductName").val(data.ProductName);
                      $("#ddlRProductFK").val(data.FProductId);

                      $("#txtPurchaseQuantity").val(data.Qty);
                      $('#txtUnitPrice').val(data.UnitPrice);
                      $("#hidOrderDetailId").val(data.OrderDetailId)
                      $('.txtUnitName').text(data.UnitName);
                      window.scrollTo({ top: 0, behavior: 'smooth' });
                  }
                 });
            }


    </script>
}