@model  KGERP.Service.Implementation.Warehouse.VMWarehousePOReturnSlave

@{
    ViewData["Title"] = "Material Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string collapsedBox = "";
}

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>
        @if (Model.MaterialReceiveId > 0)
        {
            <span>
                Material Return History of Challan No <a target="_blank" href="~/WareHouse/WareHousePurchaseReturnSlaveReport?companyId=@Model.CompanyFK&materialReceiveId=@Model.MaterialReceiveId"> @Model.ChallanCID</a>
            </span>
        }
        else
        {
            <span>
                Material Return Information
            </span>
        }
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href="~/WareHouse/WareHousePOSalesReturnSlave">Material Return</a></li>
        <li class="active">Material Return Information</li>
    </ol>
</section>

@using (Html.BeginForm("WarehousePurchaseReturnSlave", "Warehouse", FormMethod.Post, new { id = "wareHousePOReceivingSlaveFromID", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(x => x.CompanyFK, new { id = "CompanyFK" })

                <div class="box-danger">
                    <div class="box-header">
                    </div>

                    <div class="box-body">

                        @if (Model.MaterialReceiveId > 0)
                        {
                            collapsedBox = "collapsed-box";

                            <div class="col-md-1"> </div>
                            <div class="col-md-10">
                                <table class="table">
                                    <tr>
                                        <td width="18%"><b>Supplier Challan</b></td>
                                        <td width="5%">:</td>
                                        <td width="27%">@Model.Challan</td>

                                        <td width="18%"><b>Challan Date</b></td>
                                        <td width="5%">:</td>
                                        <td width="27%">@Model.ChallanDate</td>
                                    </tr>

                                    <tr>
                                        <td><b>Work Order</b></td>
                                        <td>:</td>
                                        <td><a href="~/Procurement/ProcurementPurchaseOrderReport/@Model.Procurement_PurchaseOrderFk" target="_blank" title="See All Receiving History of This PO">@Model.POCID</a> </td>

                                        <td><b>WO Date</b></td>
                                        <td>:</td>
                                        <td>@Model.PODate.Value.ToString("dd/MM/yyyy")</td>
                                    </tr>

                                    <tr>
                                        <td><b>Supplier Name</b></td>
                                        <td>:</td>
                                        <td>@Model.SupplierName</td>

                                        <td><b>Delivery Address</b></td>
                                        <td>:</td>
                                        <td>@Model.DeliveryAddress</td>
                                    </tr>

                                    <tr>
                                        <td><b>Return Causes</b></td>
                                        <td>:</td>
                                        <td colspan="4">@Model.CausesOfReturn</td>


                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-1"> </div>

                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="box-body">

                                        <div class="form-group" style="padding:0px">
                                            <label>Select Supplier:</label>
                                            @Html.EditorFor(model => model.POCID, new { htmlAttributes = new { @autocomplete = "on", @class = "form-control", @name = "Requisition CID", @id = "txtPOCID" } })
                                            @Html.HiddenFor(model => model.Common_SupplierFK, new { id = "ddlSupplierFk" })
                                            @Html.ValidationMessageFor(model => model.Common_SupplierFK, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group" style="padding:0px">
                                            <label>Work Order No:</label>
                                            @Html.DropDownListFor(model => model.Procurement_PurchaseOrderFk, Model.ExistingChallanList as SelectList, "==Select Existing Work Order Number==", new { id = "ddlPo", @class = "searchingDropdown form-control ddlReset", required = "required", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.Procurement_PurchaseOrderFk, "", new { @class = "text-danger" })
                                        </div>

                                        <table class="table" id="poDetailsTable">
                                            <tr>
                                                <td>Supplier</td>
                                                <td>
                                                    @Html.HiddenFor(x => x.Common_SupplierFK, new { id = "hiddenCommonSupplierFK" })
                                                    <span id="txtSupplierNaame"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    WO Date
                                                </td>
                                                <td><span id="txtApprovedDate"></span></td>
                                            </tr>
                                            <tr>
                                                <td>Delivery Address</td>
                                                <td><span id="txtDeliveryAddress"></span></td>
                                            </tr>
                                            <tr>
                                                <td>Delivery Date</td>
                                                <td><span id="txtDeliveryDate"></span></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label>Challan No:</label>
                                            @Html.DropDownListFor(model => model.MaterialReceiveId, Model.ExistingChallanList as SelectList, "==Select Existing Challan==", new { id = "ddlChallan", @class = "searchingDropdown form-control ddlReset", required = "required", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.MaterialReceiveId, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            <label>Return Date:</label>
                                            <input name="ChallanDate" asp-for="ChallanDate" type="text" value="@Model.ChallanDate.Value.ToString("yyyy-MM-dd")" required="required" class="datePicker form-control" id="txtDate" placeholder="Return Date" autocomplete="off">
                                            @Html.ValidationMessageFor(model => model.ChallanDate, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            <label>Causes:</label>
                                            @Html.TextAreaFor(model => model.CausesOfReturn, new { @class = "form-control ", @placeholder = "Return causes" })
                                            @Html.ValidationMessageFor(model => model.CausesOfReturn, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        }

                        <div class="col-md-12">
                            <div class="box">
                                <div class="box-footer">
                                    <div id="procurementPOReturnSlaveData"></div>
                                </div>
                            </div>
                        </div>

                        @{
                            if (Model.MaterialReceiveId > 0)
                            {

                                <div class="table-responsive col-md-12  text-nowrap">
                                    <table id="KgErpDataTable" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th class="center">Material/Item Name </th>
                                                <th class="center">Return Quantity</th>
                                                <th class="center">Unit</th>
                                                <th class="center">Rate</th>
                                                <th class="center">Total Amount</th>
                                                @*<th class="center">Remaining Quantity</th>*@
                                                <th class="center" hidden="hidden">Id</th>
                                            </tr>
                                        </thead>
                                        @{
                                            int sl = 0;
                                        }
                                        <tbody>
                                            @foreach (var item in Model.DataListSlave)
                                            {
                                                <tr>
                                                    <td>@(++sl)</td>
                                                    <td>@item.ProductName</td>
                                                    <td>@item.ReturnQuantity</td>
                                                    <td>@item.UnitName</td>
                                                    <td>@item.Rate</td>
                                                    <td>@item.Total</td>
                                                    @*<td>@item.RemainingQuantity</td>
        <td>@item.StockLossQuantity</td>*@
                                                    <td hidden="hidden">@item.MaterialReceiveDetailId</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        }
                    </div>

                    @if (Model.PurchaseReturnId > 0)
                    {
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-5">
                                    @*<a target="_blank" class="btn btn-warning btn-block" style="width:100%" href="~/WareHouse/WareHousePOReceivingSlaveReport?companyId=@Model.CompanyFK&materialReceiveId=@Model.MaterialReceiveId">Challan Report of @Model.ChallanCID</a>*@
                                </div>
                                <div class="col-md-5">
                                    @if (!Model.IsSubmitted)
                                    {
                                        <a onclick="makesubmitPurchaseReturnSubmitable(@Model.PurchaseReturnId);" class="btn btn-success btn-block" style="width:100%" data-toggle="modal" data-target="#submitProdReferenceModal" title="Submit" data-placement="top"><i class="fa fa-fingerprint" aria-hidden="true"></i>Confirm</a>
                                    }
                                    else
                                    {
                                        <button class="btn btn-success btn-block" style="width:100%" disabled="disabled">Confirmed</button>
                                        <a class="btn btn-primary" href="@Url.Action("GetPurchaseReturnReport","Report",  new {CompanyId=@Model.CompanyFK,purchaseReturnId=@Model.PurchaseReturnId})" style="width:100%;margin-top:5px;">Print</a>
                                    }

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete Challan Material/Item</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        @Html.HiddenFor(model => model.ID, new { Value = "", id = "challanSlaveId" })
                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;Delete</button>&nbsp;

                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("WarehousePurchaseReturnSlave", "Warehouse", FormMethod.Post, new { id = "submitGCCLPOReceivingSlaveFormId", @class = "formValidator" }))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="submitProdReferenceModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Confirm</b></h5>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.CompanyFK, new { id = "submitCompanyFK" })
                    @Html.HiddenFor(model => model.PurchaseReturnId, new { id = "submitMaterialReturnId" })
                    @Html.HiddenFor(model => model.ActionId, new { id = "submitActionId" })
                    @Html.HiddenFor(model => model.DataListSlave, new { id = "dataListSlaveList" })

                    <div style="text-align:center">
                        <h3>Are you sure to Confirm this Materail/Item return?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp; Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {
    
    <script type="text/javascript">

        function makesubmitPurchaseReturnSubmitable(rowId) {
            $("#submitMaterialReturnId").val(rowId)
            $('#submitCompanyFK').val("@Model.CompanyFK");
            $('#submitActionId').val(10);
        };

       
        

        $(document).ready(function () {

            $("#poDetailsTable").hide();

            $("#txtPOCID").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url:"@Url.Action("GetSupplierAutoComplete", "WareHouse")",
                        data: { companyId: "@Model.CompanyFK", prefix: request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },

                select: function (e, i) {
                    $("#ddlSupplierFk").val(i.item.val);
                     $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetPO", "WareHouse")",
                    datatype: "Json",
                         data: { vendorId: i.item.val},
                    success: function (data) {
                        if (data) {
                            $("#ddlPo").empty();
                            $("#ddlPo").append("<option value=''>==Select Existing Work Order Number==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlPo").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                            });
                        }
                    }
                });
                },
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });

            $("#ddlPo").change(function () {
                var id = $('#ddlPo').find(":selected").val();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ProcurementPurchaseOrderDetails", "Warehouse")",
                    datatype: "Json",
                    data: { id: id },
                    success: function (data) {
                        $("#poDetailsTable").show();
                        $("#hiddenCommonSupplierFK").val(data.Common_SupplierFK);
                        $("#txtSupplierNaame").text(data.SupplierName);
                        var apprDate = DateCustom(data.PODate);
                        $('#txtApprovedDate').text(apprDate);
                        $("#txtDeliveryAddress").text(data.DeliveryAddress);
                        var deliveryDate = DateCustom(data.DeliveryDate);
                        $("#txtDeliveryDate").text(deliveryDate);
                    }
                });

                  $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetExistingChallanListByPO", "Warehouse")",
                      datatype: "Json",
                      data: { id: id },
                      success: function (Response) {

                          if (Response) {
                              $("#ddlChallan").empty();
                              $("#ddlChallan").append("<option value=''>==Select Existing Challan Number==</option>");
                              $(Response).each(function (index, item) {
                                $("#ddlChallan").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                            });
                        }
                    }
                });
            });

            function DateCustom(orderDate) {
                var dateString = orderDate.substr(6);
                var currentTime = new Date(parseInt(dateString));
                var month = currentTime.getMonth() + 1;
                if (month < 10) {
                    month = "0" + month;
                }

                var day = currentTime.getDate();
                var year = currentTime.getFullYear();
                var date = year + "-" + month + "-" + day;
                return date;
            }

            $("#ddlChallan").change(function (e) {
                var poReceivingId = $("#ddlChallan").val();

                 $.ajax({
                    type: "POST",
                    url: "@Url.Action("ProcurementPOReturnSlaveData", "Warehouse")",
                    datatype: "Json",
                     data: { poReceivingId: poReceivingId },
                     success: function (data) {
                         $("#procurementPOReturnSlaveData").html(data);
                    }
                });
                return false;
             });
        });

        function makeDeletable(id) {
            if (id !== null) {
                $('#challanSlaveId').val(id);
                $('#ActionId').val(3);
            }
        }

        function resetForm() {
            $('#deliveryChallanSlaveFormId')[0].reset();
            $('#ActionId').val(1);
        }

    </script>
}