@model KGERP.Service.Implementation.Warehouse.VMWarehousePOReceivingSlave

@{
    ViewData["Title"] = "Material Receive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">

    input, select, textarea {
        max-width: 100%;
    }
</style>

<section class="content-header">
    <h1>
        @if (Model.MaterialReceiveId > 0)
        {
            <span>
                Receiving History of Challan No
                <a target="_blank" href="~/Warehouse/WareHousePOReceivingSlaveReport?companyId=@Model.CompanyFK&materialReceiveId=@Model.MaterialReceiveId">@Model.ChallanCID</a>
                @if (Model.CompanyFK == 24)
                {
                    <a target="_blank" href="~/Report/GCCLPurchseInvoiceReport?companyId=@Model.CompanyFK&materialReceiveId=@Model.MaterialReceiveId&reportName=GCCLPurchaseInvoiceReports">Work Order Invoice</a>
                }
            </span>
        }
        else
        {
            <span>
                Material Receive Information
            </span>
        }
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href="~/Warehouse/WarehousePOReceivingSlave">Material Receive</a></li>
        <li class="active">Material Receive Information</li>
    </ol>
</section>

@using (Html.BeginForm("WarehousePOReceivingSlave", "Warehouse", FormMethod.Post, new { id = "wareHousePOReceivingSlaveFromID", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(x => x.CompanyFK, new { id = "CompanyFK" })

                <div class="box-danger">
                    <div class="box-header">
                    </div>
                    <div class="box-body">
                        @if (Model.MaterialReceiveId > 0)
                        {
                            @Html.HiddenFor(x => x.CompanyFK, new { id = "CompanyFK" })

                            <div class="col-md-1"> </div>
                            <div class="col-md-10">
                                <table class="table">
                                    <tr>
                                        <td><b>Challan</b></td>
                                        <td>:</td>
                                        <td colspan="4"><b>@Model.ChallanCID</b></td>

                                    </tr>
                                    <tr>
                                        <td width="18%"><b>Supplier Challan</b></td>
                                        <td width="5%">:</td>
                                        <td width="27%">@Model.Challan</td>

                                        <td width="18%"><b>Challan Date</b></td>
                                        <td width="5%">:</td>
                                        <td width="27%"></td>
                                    </tr>
                                    <tr>
                                        <td><b>Work Order</b></td>
                                        <td>:</td>
                                        <td><a href="~/Warehouse/WarehousePOSlaveReceivingDetailsByPO/@Model.Procurement_PurchaseOrderFk" target="_blank" title="See All Receiving History of This WO">@Model.POCID</a> </td>

                                        <td><b>WO Date</b></td>
                                        <td>:</td>
                                        <td>@Model.PODate.Value.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td><b>Supplier Name</b></td>
                                        <td>:</td>
                                        <td>@Model.SupplierName</td>

                                        <td><b>Delivery Address</b></td>
                                        <td>:</td>
                                        <td>@Model.DeliveryAddress</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-1"> </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="box-body">

                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Receive Date:</label>
                                            <input name="ReceivedDate" asp-for="ReceivedDate" type="datetime" value="@DateTime.Now.ToString("dd/MM/yyyy")" required="required" class="datepicker form-control " placeholder="MRR Date" autocomplete="off">
                                            @Html.ValidationMessageFor(model => model.ReceivedDate, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">WO Date:</label>
                                                <input name="PODate" asp-for="PODate" type="text" value="" required="required" class="datePicker form-control" id="txtDate" placeholder="WO Date" autocomplete="off">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Driver Name:</label>
                                                @Html.EditorFor(model => model.DriverName, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-form-label">Labour Bill:</label>
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(model => model.AllowLabourBill, "true", new { @id = "rbtnYes" })<b>Allow</b>
                                            </label>
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(model => model.AllowLabourBill, "false", new { @id = "rbtnNo" })<b>Not Allow</b>
                                            </label>
                                            @Html.EditorFor(model => model.LabourBill, new { htmlAttributes = new { @id = "txtLabourBill", @class = "form-control", @autocomplete = "off", @style = "width: 100%;" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Supplier:</label>
                                                @Html.EditorFor(model => model.SupplierName, new { htmlAttributes = new { @class = "form-control", @name = "supplier", @id = "supplier", @autocomplete = "on" } })
                                                @Html.HiddenFor(x => x.Common_SupplierFK, new { @id = "supplierId", @name = "supplierId" })
                                                @Html.ValidationMessageFor(model => model.SupplierName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Challan No:</label>
                                            @Html.TextBoxFor(model => model.Challan, new { @class = "form-control ", @placeholder = "Challan No", @required = "required", data_bv_message = "Challan no is required.", })
                                            @Html.ValidationMessageFor(model => model.Challan, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Truck Fare:</label>
                                            @Html.EditorFor(model => model.TruckFare, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            @Html.ValidationMessageFor(model => model.TruckFare, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Receive By:</label>
                                                @Html.EditorFor(model => model.EmployeeName, new { htmlAttributes = new { @class = "form-control", @name = "receiverName", @id = "receiverName" } })
                                                @Html.HiddenFor(x => x.ReceivedBy, new { @id = "receivedBy", @name = "receivedBy" })
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-4">

                                    <div class="box-body">

                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Work Order Number:</label>
                                            @Html.DropDownListFor(model => model.Procurement_PurchaseOrderFk, new SelectList(Model.PurchaseOrders, "Value", "Text"), "---Select---", new { @class = "dropdownsize form-control searchingDropdown", @id = "ddlPurchaseOrderNo" })
                                            @Html.ValidationMessageFor(model => model.Procurement_PurchaseOrderFk, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            <label>Challan Date:</label>
                                            <input name="ChallanDate" asp-for="ChallanDate" type="text" value="@DateTime.Now.ToString("yyyy-MM-dd")" required="required" class="datePicker form-control" id="txtDate" placeholder="Challan Date" autocomplete="off">
                                            @Html.ValidationMessageFor(model => model.ChallanDate, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Truck No:</label>
                                                @Html.EditorFor(model => model.TruckNo, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br />
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-footer">
                                        <div id="procurementPurchaseOrderSlaveData"></div>
                                    </div>
                                </div>
                            </div>
                        }


                        @{
                            if (Model.MaterialReceiveId > 0)
                            {
                                <div class="box-header" style="clear:both">
                                    <h4><b>Received Material/Item:</b> </h4>
                                </div>

                                <div class="table-responsive col-md-12 text-nowrap">
                                    <table id="KgErpDataTable" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th class="center">Material/Item Name </th>
                                                <th class="center">WO Quantity</th>
                                                <th class="center">Received Quantity</th>
                                                <th class="center">Total Received</th>
                                                <th>Return Quantity</th>
                                                <th class="center">Remaining Quantity</th>
                                                <th class="center">Unit Name</th>
                                            </tr>
                                        </thead>
                                        @{
                                            int sl = 0;
                                        }
                                        <tbody>
                                            @foreach (var item in Model.DataListSlave)
                                            {
                                                <tr>
                                                    <td>@(++sl)</td>
                                                    <td>@item.ProductSubCategory @item.ProductName</td>
                                                    <td>@item.POQuantity</td>
                                                    <th>@item.ReceivedQuantity</th>
                                                    <td>@item.PriviousReceivedQuantity</td>
                                                    <td>@item.ReturnQuantity</td>
                                                    <td>@item.RemainingQuantity</td>
                                                    <td>@item.UnitName</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        }
                    </div>

                    @if (Model.MaterialReceiveId > 0)
                    {
                        <div class="box-footer" id="sbmtbtn" @*style="display:none;"*@>
                            <div class="row">
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-5">
                                    <a target="_blank" class="btn btn-warning btn-block" style="width:100%" href="~/Warehouse/WareHousePOReceivingSlaveReport?companyId=@Model.CompanyFK&materialReceiveId=@Model.MaterialReceiveId">Challan Report of @Model.ChallanCID</a>
                                </div>
                                <div class="col-md-5">
                                    @if (!Model.IsSubmitted)
                                    {
                                        <a onclick="makeMaterialReceiveSubmitable(@Model.MaterialReceiveId);" class="btn btn-success btn-block" style="width:100%" data-toggle="modal" data-target="#submitProdReferenceModal" title="Submit" data-placement="top"><i class="fa fa-fingerprint" aria-hidden="true"></i>Submit</a>
                                    }
                                    else
                                    {
                                        <button class="btn btn-success btn-block" style="width:100%" disabled="disabled">Submitted</button>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete Challan Material/Item</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        @Html.HiddenFor(model => model.ID, new { Value = "", id = "challanSlaveId" })
                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;Delete</button>&nbsp;
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("WarehousePOReceivingSlave", "Warehouse", FormMethod.Post, new { id = "submitGCCLPOReceivingSlaveFormId", @class = "formValidator" }))
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal fade" id="submitProdReferenceModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Submit</b></h5>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.CompanyFK, new { id = "submitCompanyFK" })
                    @Html.HiddenFor(model => model.MaterialReceiveId, new { id = "submitMaterialReceiveId" })
                    @Html.HiddenFor(model => model.ActionId, new { id = "submitActionId" })

                    <div style="text-align:center">
                        <h3>Are you sure to Submit this Material Receive?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetProcurementPurchaseRequisitionSlaveForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp;Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">

        function makeMaterialReceiveSubmitable(rowId) {
            $("#submitMaterialReceiveId").val(rowId)
            $('#submitCompanyFK').val("@Model.CompanyFK");
            $('#submitActionId').val(10);
        }

        $(document).ready(function () {

            //$("#poDetailsTable").hide();
            $("#chkIsDefineBin input:checkbox").change(function () {
                var ischecked = $(this).is(':checked');
                if (ischecked) {
                    alert('uncheckd ' + $(this).val());
                }
                else {
                    alert('uncheckd ' + $(this).val());
                }
            });

            $("#supplier").autocomplete({
                source: function (request, response) {

                    var companyId = $("#CompanyFK").val();
                    $.ajax({
                       url:"@Url.Action("GetSupplierAutoComplete", "Warehouse")",
                        data: { companyId: companyId, prefix: request.term },
                        dataType: "json",
                        type: "get",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },

                select: function (e, i) {
                    $("#supplierId").val(i.item.val);

                },
                minLength: 1,
                change: function (event, ui) {
                    console.log(ui);
                    loadOpenedPurchaseaOrderDropDown(ui.item.val);
                },
                cache: true


            }).focus(function () {
                $(this).autocomplete("search");
            });

        });

        function loadOpenedPurchaseaOrderDropDown(vendorId) {
            $.ajax({
                type: "post",
                url: "/Warehouse/GetPO",
                data: { vendorId },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var PurchaseOrder = "<select>";
                    PurchaseOrder = PurchaseOrder + '<option value="">--Select--</option>';
                    for (var i = 0; i < data.length; i++) {
                        PurchaseOrder = PurchaseOrder + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }
                    PurchaseOrder = PurchaseOrder + '</select>';
                    $('#ddlPurchaseOrderNo').html(PurchaseOrder);
                }
            });
        }

        $("#ddlPurchaseOrderNo").change(function () {
            var b = $('#ddlPurchaseOrderNo').val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("ProcurementPurchaseOrderSlaveData", "Warehouse")",
                datatype: "Json",
                data: { poId: b },
                success: function (data) {
                    $("#procurementPurchaseOrderSlaveData").html(data);

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("ProcurementPurchaseOrderSlaveData2", "Warehouse")",
                        datatype: "Json",
                        data: { poId: b },
                        success: function (data) {
                            for (var i = 0; i < data.length; i++) {
                                var txtdate = DateCustom(data[i].PODate);
                                $("#txtDate").val(txtdate)
                                $("#sbmtbtn").css("display", "block")
                            }
                        }
                    });
                }
            });
        });

        $('#rbtnYes').click(function () {
            $("#txtLabourBill").show();
            $("#txtLabourBill").val(7);
        });

        $('#rbtnNo').click(function () {
            $("#txtLabourBill").hide();
            $("#txtLabourBill").val(0);

        });

        function DateCustom(orderDate) {
            var dateString = orderDate.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            if (month < 10) {
                month = "0" + month;
            }

            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = year + "-" + month + "-" + day;
            return date;
        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#challanSlaveId').val(id);
                $('#ActionId').val(3);

            }
        }

        function resetForm() {
            $('#deliveryChallanSlaveFormId')[0].reset();
            $('#ActionId').val(1);
        }

        $(function () {
            $("#receiverName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Employee/EmployeeAutoComplete/',
                        data: '{"prefix":"' + request.term + '", "productType":"F"}',
                        dataType: "json",
                        type: "POST",
                        cache: true,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            //alert(response.responseText);
                        },
                        failure: function (response) {
                            //alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#receivedBy").val(i.item.val);
                },
                minLength: 1,
                cache: true

            }).focus(function () {
                $(this).autocomplete("search");
            });
        });

        $(function () {

            $('#rbtnYes').prop('checked', true);
            if ($('#rbtnYes').is(':checked')) {
                $("#txtLabourBill").show();
                $("#txtLabourBill").val();
            }
        });

        function DateCustom(orderDate) {
            var dateString = orderDate.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            if (month < 10) {
                month = "0" + month;
            }
            var day = currentTime.getDate();
            var year = currentTime.getFullYear();
            var date = day + "/" + month + "/" + year;
            return date;
        }

    </script>
}