@model KGERP.Service.Implementation.Warehouse.VMWarehousePOReceivingSlave
@{
    ViewData["Title"] = "PO List";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<section class="content-header">
    <h1>
        Approved Purchase Order List

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>

        <li class="active">PO List</li>
    </ol>
</section>
@using (Html.BeginForm("WareHousePurchaseOrder", "Warehouse", FormMethod.Post, new { id = "wareHousePOReceivingSlaveFromID", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.CompanyId, new { id = "CompanyId" })
                <div class="box-danger">
                    <div class="box-header">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("From Date:", htmlAttributes: new { @class = "control-label" })
                                <br />
                                @Html.EditorFor(model => model.StrFromDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.StrFromDate, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.Label("To Date:", htmlAttributes: new { @class = "control-label" })
                                <br />
                                @Html.EditorFor(model => model.StrToDate, new { htmlAttributes = new { @class = "datepicker", @autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.StrToDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3" style="padding: 0px 2px 0px 8px;">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <button type="submit" id="btnSave" class="btn btn-primary btn-block">Show</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @{
                            <div class="table-responsive col-md-12  text-nowrap">
                                <table id="KgErpDataTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>SL</th>
                                            <th>PO ID</th>
                                            <th>PO Date</th>
                                            <th>Supplier</th>
                                            <th>Delivery Address</th>
                                            <th>Receiving History</th>
                                            <th>Return History</th>
                                        </tr>
                                    </thead>
                                    @{
                                        int sl = 0;
                                    }
                                    <tbody>
                                        @foreach (var item in Model.DataListSlave)
                                        {
                                            <tr>
                                                <td>@(++sl)</td>
                                                <td><a target="_blank" href="~/Procurement/ProcurementPurchaseOrderReport?companyId=@item.CompanyFK&purchaseOrderId=@item.Procurement_PurchaseOrderFk" title="Print PO">  <label class="col-form-label" style="cursor:pointer;"> @item.POCID </label></a></td>

                                                <td>@item.PODate.Value.ToString("dd/MM/yyyy")</td>
                                                <td>@item.SupplierName</td>
                                                <td>@item.DeliveryAddress</td>
                                                <td><a href="~/Warehouse/WareHousePOSlaveReceivingDetailsByPO/@item.Procurement_PurchaseOrderFk" target="_blank" title="See All Receiving History of This PO">Receiving History</a> </td>
                                                <td><a href="~/Warehouse/WareHousePOSalesReturnListByPO/@item.Procurement_PurchaseOrderFk" target="_blank" title="See All Return History of This PO">Return History</a> </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        }
                    </div>
                    <div class="box-footer">
                        @*@if (Model.ID > 0)
                            {
                                <a target="_blank" href="~/Shipment/DeliveryChallanePrint/@Model.ID" class="btn btn-primary" style="width:100%">Print</a>
                            }*@
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete Challan Item</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        @Html.HiddenFor(model => model.ID, new { Value = "", id = "challanSlaveId" })

                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;Delete</button>&nbsp;

                </div>
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/cssjqryUi")
@section scripts {

    <script type="text/javascript">


        $('.datepicker').datepicker({
            dateFormat: "mm/dd/yy",
            showOn: 'both',
            buttonText: "<i class='fa fa-calendar'></i>",
            changeMonth: true,
            changeYear: true,
            yearRange: "2001:+50"
        });

    </script>
}