
@model IEnumerable<KGERP.Service.ServiceModel.MemberBasePFSummaryModel>
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @using (Html.BeginForm("GetPFDataByEmployeeId", "MemberBasePFSummary", FormMethod.Get))
    {
        <div class="col-md-3">
            <h4><b>Employee ID</b></h4>
        </div>
        <div class="col-md-3">
            <div class="col-md-10">@Html.TextBox("employeeId", null, new { @autocomplete = "off", @class = "form-control pull-right", @placeholder = "Employee ID ..." })</div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">Search&nbsp;<i class="fa fa-search"></i></button>
            </div>
        </div>
    }
</div>

<hr style="border-color:#ff0000; padding:0px;margin-top: 5px;margin-bottom: 5px; border-width: 2px;" />
<div class="row">
    <div class="col-md-9">
        <p>
            <span style="font-size:25px">PF Summary Status</span> <span style="font-size:20px;color:green">
                @if (ViewBag.Employees != null)
                {@ViewBag.Employees}
            </span>
        </p>
    </div>

    <div class="col-md-3">
        <a href="@Url.Action("GetDetialsPFDataByEmployeeId",new { employeeId = Request.QueryString["employeeId"]})" title="PF Details" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-eye-open"></span> Go to PF Details
        </a>
    </div>
</div>

<div class="row">
    <hr style="border-color:#ff0000; padding:0px;margin-top: 5px;margin-bottom: 5px; border-width: 2px;" />
    <table class="table table-striped">
        <thead>
            <tr style="background-color:#4CAF50;color:#FFFFFF">
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.First().SelfContribution)
                </th>

                <th class="text-center">
                    @Html.DisplayNameFor(model => model.First().CompanyContribution)
                </th>

                <th class="text-center">
                    @Html.DisplayNameFor(model => model.First().SelfProfit)
                </th>

                <th class="text-center">
                    @Html.DisplayNameFor(model => model.First().OfficeProfit)
                </th>

                <th class="text-center">
                    @Html.DisplayNameFor(model => model.First().Total)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.SelfContribution)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.CompanyContribution)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.SelfProfit)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.OfficeProfit)
                    </td>
                    <td align="center">
                        <b>
                            @Html.DisplayFor(modelItem => item.Total)
                        </b>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" style="color:blue;text-align:center"><b>* Last updated on  @ViewBag.LastMonth</b></td>
            </tr>
        </tfoot>
    </table>
</div>