
@model IEnumerable<KGERP.Service.ServiceModel.MemberBasePFSummaryModel>
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<p>
    <span style="font-size:25px">PF Summary Status</span> <span style="font-size:20px;color:green">
        @if (ViewBag.Employee != null)
        {@ViewBag.Employee}
    </span>
</p>*@
 
<div class="row">
    <div class="col-md-9">
        <p>
            <span style="font-size:25px">PF Summary Status</span> <span style="font-size:20px;color:green">
                @if (ViewBag.Employee != null)
                {@ViewBag.Employee}
            </span>
        </p>
    </div>

    <div class="col-md-3">
        <a href="@Url.Action("GetPFDetialsByEmployeeId")" title="PF Details" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-eye-open"></span> Go to PF Details
        </a>
    </div>
</div>

<div class="row">
    <hr style="border-color:#ff0000; padding:0px;margin-top: 5px;margin-bottom: 5px; border-width: 2px;" />
    <table class="table table-striped">
        <thead>
            <tr style="background-color:#4CAF50;color:#FFFFFF">
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.First().SelfContribution)
                </th>

                <th class="text-center">
                    @Html.DisplayNameFor(model => model.First().CompanyContribution)
                </th>

                <th class="text-center">
                    @Html.DisplayNameFor(model => model.First().SelfProfit)
                </th>

                <th class="text-center">
                    @Html.DisplayNameFor(model => model.First().OfficeProfit)
                </th>

                <th class="text-center">
                    @Html.DisplayNameFor(model => model.First().Total)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.SelfContribution)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.CompanyContribution)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.SelfProfit)
                    </td>
                    <td align="center">
                        @Html.DisplayFor(modelItem => item.OfficeProfit)
                    </td>

                    <td align="center">
                        <b>
                            @Html.DisplayFor(modelItem => item.Total)
                        </b>
                    </td>


                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" style="color:blue;text-align:center"><b>* Last updated on  @ViewBag.LastMonth</b></td>

            </tr>

        </tfoot>

    </table>
    @*@if (Model.PageCount > 1)
        {
            <span class="btn btn-success">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </span>
            <span class="checkbox">
                @Html.PagedListPager(Model, Page_No => Url.Action("Index", "MemberBasePFSummary",
                              new { Page_No, Sorting_Order = Request.QueryString["Search"] }))
            </span>
        }*@

</div>